{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="homepage-top">
  <div class="ec-hero">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Find a course</h1>
          <p class="govuk-body-lead">Find a course to help you improve your current digital skills or study for your future.</p>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="homepage-LMI">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item">Explore careers</li>
      </ol>
    </div>
  </div>
--> 
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="govuk-grid-row  govuk-!-padding-top-6">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <h2 class="govuk-heading-l">The Skills Toolkit</h2>
            <p class="govuk-body">Learn new <a href="/careers-advice/how-digital-skills-can-help-you" class="govuk-link">digital</a> and numeracy skills at your own pace with a free online course using The Skills Toolkit.<br>
            </p>
            <p class="govuk-body">Pick from a range of digital topics and skill levels, available from introductory to advanced.</p>
            <p class="govuk-body">Digital and numeracy skills are valuable and sought after for all kinds of jobs. 82% of all job vacancies require digital skills.</p>
            <p class="govuk-body">A digital course could help you:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>exercise your mind during lockdown or <a href="https://www.gov.uk/government/publications/guidance-to-employers-and-businesses-about-covid-19/covid-19-guidance-for-employees#furloughed-workers" class="govuk-link">furlough</a> (temporary leave) </li>
              <li>progress your career</li>
              <li>explore new job prospects</li>
              <li>get started online</li>
            </ul>
            <p class="govuk-body">See our advice on <a href="/careers-advice/getting-the-most-out-of-online-learning/" class="govuk-link">getting the most out of online learning.</a></p>
            <p class="govuk-body"><a class="govuk-link govuk-button govuk-!-margin-bottom-0" href="https://nationalcareers.service.gov.uk/find-a-course/the-skills-toolkit">Explore free online courses</a></p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-l">Search other courses</h2>
            <p class="govuk-body">Search for courses from learning providers, including colleges and local authority providers which may offer work-related courses on a wide range of topics.</p>
            <p class="govuk-body"><a class="govuk-link govuk-button govuk-!-margin-bottom-0" href="find-a-course/search">Explore other courses</a></p>
          </div>
        </div>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="app-related-items">
              <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="106" data-gtm-vis-first-on-screen-8675592_194="106" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Support during Covid-19</h2>
              <ul class="govuk-list">
                <li><a class="govuk-link" href="/get-a-job/advice-for-furloughed-workers">Advice for furloughed workers</a></li>
                <li><a class="govuk-link" href="/get-a-job/advice-for-if-you-lose-your-job">Advice for if you lose your job</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="govuk-!-margin-top-7">
              <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="108" data-gtm-vis-first-on-screen-8675592_194="108" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Other opportunities</h2>
              <ul class="govuk-list">
                <li><a class="govuk-link" href="/find-a-course/search">Search other courses </a></li>
                <li><a class="govuk-link" href="/find-a-course/where-to-find-free-online-learning">Where to find other online learning</a></li>
                <li><a class="govuk-link" href="https://nationalcareers.service.gov.uk/careers-advice/ways-to-develop-skills/">Other ways to develop skills</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="govuk-!-margin-top-7">
              <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="109" data-gtm-vis-first-on-screen-8675592_194="109" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Skills assessment</h2>
              <p class="govuk-body"><a href="/skills-assessment" class="govuk-link">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
            </div>
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div>
              <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="109" data-gtm-vis-first-on-screen-8675592_194="109" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Want to speak to an adviser?</h2>
              <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat" rel="external" target="'_blank'">use webchat</a></p>
              <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
            </div>
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text"></div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} 