<div class="govuk-grid-row govuk-!-margin-top-5">
          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-l" id="get-your-report">Get your report</h3>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <span id="changed-name-hint" class="govuk-hint"> Choose your document type </span>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input checked="checked" class="govuk-radios__input" data-val="true" data-val-required="The DownloadType field is required." id="DownloadType" name="DownloadType" type="radio" value="Pdf">
                    <label class="govuk-label govuk-radios__label" for="DownloadType"> PDF </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="DownloadTypeWord" name="DownloadType" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="DownloadTypeWord"> Microsoft Word document </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">Download your report</button>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> Help with download report </span> </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">Download your report. This may take a few minutes.</p>
                <p class="govuk-body">This downloads a document to your device (up to 200kb) which may take a few minutes. Data plan charges may apply.</p>
                <p class="govuk-body">You'll be able to download your report once you've completed at least one assessment.</p>
              </div>
            </details>
          </div>
        </div>