<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/sfa.min.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container" style="border-bottom:0px">
    <div class="govuk-header__logo" style="width: 100%; margin-bottom: 0px;">
        <a href="/sprint47/homepage" class="govuk-header__link govuk-header__link--service-name">National Careers Service
        </a>
      <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav><ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation"><li class="govuk-header__navigation-item"><a href="/sprint50/explorecareers" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
       </li><li class="govuk-header__navigation-item"><a href="/sprint50/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
      </li><li class="govuk-header__navigation-item"><a href="find-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
       </li><li class="govuk-header__navigation-item"><a href="/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
       </li><li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
       </li><li class="govuk-header__navigation-item"><a href="careers-advice" id="nav-HTG" class="govuk-header__link" target="_self">Careers advice</a>
       </li></ul></nav>
    </div>
  </div>
  <div id="global-bar" class="global-bar global-bar--warning" role="region">
<div class="global-bar-message-container">
<div class="global-bar-message"><span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>
Exam Results Helpline
</strong>
<span class="ncs-toggle">
<span class="govuk-warning-text__text govuk-!-margin-top-1"> The National Careers Service can help you decide on your <a href="/careers-advice">post 16 and 18 options</a>.</span>
<span class="govuk-warning-text__text govuk-!-margin-top-1"> To speak to a careers adviser about your exam results call 0800 100 900, open 8am to 10pm, 7 days a week.</span></span>
<a id="custom-banner-hide-link" href="#" class="global-bar__dismiss global-bar__dismiss--show dismiss govuk-link dfc-link-black " role="button ">Hide message</a>
</div>
</div>
</div>
</header>
