<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/sfa.min.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo" style="width: 100%; margin-bottom: 0px;">
        <a href="homepage-banner" class="govuk-header__link govuk-header__link--service-name">National Careers Service
        </a>
      <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav><ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation"><li class="govuk-header__navigation-item"><a href="/sprint50/explorecareers" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
       </li><li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
      </li><li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/find-a-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
       </li><li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
       </li><li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/action-plans" id="nav-AU" class="govuk-header__link" target="_self">Action plans</a>
       </li><li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/careers-advice" id="nav-HTG" class="govuk-header__link" target="_self">Careers advice</a>
       </li></ul></nav>
    </div>
  </div>


</header>
<div id="global-bar" class="global-bar global-bar--warning" role="region">
<div class="global-bar-message-container" style="margin:0 auto;">
<div class="global-bar-message"><span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>
Exam Results Helpline
</strong><span class="ncs-banner__separator">|</span><span class="ncs-banner__text"><a class="govuk-link brand__color" href="exam-result-help">Get help making choices after your exams</a></span>

</div>
</div></div>
