<div class="app-sidebar app-resume-panel">
          <h2 class="govuk-heading-m">Next steps</h2>
          
		<ul class="govuk-list govuk-list--spaced">
			<li><a href="../../../sprint41/skills-assessment/skills-health-check/save-my-progress" class="govuk-link govuk-link--no-visited-state">Print your results</a></li>
			<li><a href="../../../sprint41/skills-assessment/skills-health-check/save-my-progress" class="govuk-link govuk-link--no-visited-state">Return to skills assessment</a></li>
		</ul>
</div>