<div class="app-sidebar app-resume-panel">
          <h2 class="govuk-heading-m">Return to this later</h2>
          <p class="govuk-body"><a href="../../../sprint41/skills-assessment/skills-health-check/save-my-progress" class="govuk-link govuk-link--no-visited-state">Save my progress</a></p>
		<p>Any work you carry out before saving your progress will be lost if:</p>
		<ul class="list list-bullet">
			<li>your internet connection is lost</li>
			<li>you leave your internet browser</li>
			<li>your session times out</li>
		</ul>
</div>