<div class="govuk-warning-text"> 
		<span class="govuk-warning-text__icon" aria-hidden="true">!</span> <strong class="govuk-warning-text__text"> <span class="govuk-warning-text__assistive">Warning</span>
		<p class="govuk-!-font-weight-bold"> We are removing the accounts feature from skills health check. If you have created an account and saved a previous assessment you can access it by signing in before 23 July 2020.</p>
		<p class="govuk-!-font-weight-bold">If you want to save your report you can:</p>
		  <ul>
			<li>sign in to your account to generate a unique reference code that will allow you 
			  to continue to see your saved assessments online</li>
			<li>download your saved assessment to store on your own device</li>
		  </ul>
  <p class="govuk-!-font-weight-bold">During this process you will be asked whether you want to generate a unique reference code, which will enable you to continue to access your skills health check reports even when your account access is removed.</p>
  </strong> 
</div>
