<div class="govuk-warning-text"> 
		<span class="govuk-warning-text__icon" aria-hidden="true">!</span> <strong class="govuk-warning-text__text"> <span class="govuk-warning-text__assistive">Warning</span>
		<p class="govuk-!-font-weight-bold"> You may have already done a skills health check and saved your report in an account. We’re no longer using accounts so you have until 23 July 2020 to sign in and save your previous report. You can download a copy, or we’ll give you a reference code to save and view it online, anytime.</p>
  </strong> 
</div>
