
<div class="banner-information-without-action govuk-!-margin-bottom-5">
    <h2  class="govuk-!-margin-bottom-5">Before you start:</h2>
	<p><a href="save-my-progress">Get a reference code</a> sent to you by email, by text or online so you can:</p>
	<ul class="list list-bullet govuk-!-margin-bottom-0">
                    <li> return and continue with your skills health check</li>
                    <li> view your skills health check report online at any time</li>
                    <li> download your report at anytime if you have finished the skills health check</li>
                </ul>
</div>
