{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
About us
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}


{% endblock %}
  {% block content %}
<div class="govuk-width-container">
  <div class="content-container">
    <div class="breadcrumbs govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item">About us</li>
      </ol>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <h1 class="govuk-heading-xl">About us</h1>
            <p class="govuk-body">We offer free and impartial information, advice and guidance to help you with your decisions about careers, courses and work.</p>
            <p class="govuk-body">This service is available to people who live in England and is supported by qualified careers advisers. Careers advice for <a href="#career-advice-other-parts" class="govuk-link">Scotland, Wales and Northern Ireland</a> are separate services.</p>
            <h2 class="govuk-heading-l" data-gtm-vis-recent-on-screen-8675592_247="99" data-gtm-vis-first-on-screen-8675592_247="99" data-gtm-vis-total-visible-time-8675592_247="100" data-gtm-vis-has-fired-8675592_247="1">Our career tools</h2>
            <p class="govuk-body">You can use the career tools on our website to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>learn more about the careers that interest you</li>
              <li>discover your strengths and skills</li>
              <li>find the right courses and training</li>
            </ul>
            <p class="govuk-body">Our tools can help you whether you’re changing career, looking to learn something new or just starting out.</p>
            <h2 class="govuk-heading-l" data-gtm-vis-has-fired-8675592_247="1">Explore careers</h2>
            <p class="govuk-body">We've got over <a href="/explore-careers">800 job descriptions</a> that tell you about:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the average pay for each role</li>
              <li>the type of courses you can do to get into a job</li>
              <li>the skills you’ll need</li>
              <li>what you'll do each day</li>
              <li>where the job can lead</li>
            </ul>
            <p class="govuk-body">You can browse through different industries by job category, or search for individual job descriptions if you've got a career in mind.</p>
            <h2 class="govuk-heading-l" data-gtm-vis-has-fired-8675592_247="1">Skills assessment</h2>
            <p class="govuk-body">Try one of our <a href="/skills-assessment">Skills assessments</a> to learn more about your career skills, strengths and motivations. There are 2 assessments to choose from: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://beta.nationalcareers.service.gov.uk/">Discover your skills and careers</a></li>
              <li><a href="/skills-assessment/skills-health-check/home">Skills health check</a></li>
            </ul>
            <p class="govuk-body">After working through an assessment, you’ll get a report summarising your results, including suggestions about the job categories and job roles that might suit you.</p>
            <h2 class="govuk-heading-l" data-gtm-vis-has-fired-8675592_247="1">Find a course</h2>
            <p class="govuk-body">Use <a href="/find-a-course">Find a course</a> to look for learning and training opportunities offered by providers contracted with the Education and Skills Funding Agency.</p>
            <p class="govuk-body">Opportunities include:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>college courses</li>
              <li>apprenticeships</li>
              <li>GCSEs and A levels</li>
              <li>hobby and leisure courses</li>
              <li>training for 16 to 19 year olds</li>
            </ul>
            <h2 class="govuk-heading-l" data-gtm-vis-has-fired-8675592_247="1">Advice in other languages</h2>
            <p class="govuk-body">You can speak to a careers adviser in your own language, using our translation service. Call 0800 100 900 and tell the adviser which language you would like to use.</p>
            <h2 class="govuk-heading-l" data-gtm-vis-has-fired-8675592_247="1">Media team</h2>
            <p class="govuk-body">Contact our <a href="https://www.gov.uk/government/organisations/department-for-education/about/media-enquiries">media team</a> if you have a press or media enquiry.</p>
            <h2 class="govuk-heading-l" id="career-advice-other-parts" data-gtm-vis-has-fired-8675592_247="1">Scotland, Wales and Northern Ireland</h2>
            <p class="govuk-body">For careers advice in other parts of the UK, please visit:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://www.myworldofwork.co.uk/">Skills Development Scotland - My World of Work</a></li>
              <li><a href="https://www.careerswales.com/en/">Careers Wales</a></li>
              <li><a href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="app-related-items">
              <h2 class="govuk-heading-m">Speak to an adviser</h2>
              <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
              <ul class="govuk-list">
                <li> 8am-8pm Monday-Friday </li>
                <li> 10am-5pm Saturday </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} 