{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}


{% endblock %}
  {% block content %}
<div class="govuk-width-container">
  <div class="content-container">
    <div class="breadcrumbs govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Careers advice</a></li>
        <li class="govuk-breadcrumbs__list-item">Post 16 options</li>
      </ol>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <h1 class="govuk-heading-xl">Post 16 options</h1>
            <!--INTRO TEXT-->
            <p class="govuk-body-m">You must stay in some type of education or training until you are 18. There are many options available when you turn 16, look at what option best suits you and your situation, strengths and interests. </p>
            <p class="govuk-body-m">You may be eligible for the <a class="govuk-link" href="https://www.gov.uk/1619-bursary-fund">16 to 19 Bursary Fund</a>, which can help with things like books, travel or equipment if you will struggle with education or training costs.</p>
            <p class="govuk-body-m">If you have an&nbsp;<a class="govuk-link" href="/careers-advice/options-with-education-health-and-care-plan">Education Health and Care (EHC) plan</a> there may be different and more suitable options available to you.</p>
            <h3 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="104" data-gtm-vis-first-on-screen-8675592_194="104" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-recent-on-screen-8675592_240="153" data-gtm-vis-first-on-screen-8675592_240="153" data-gtm-vis-total-visible-time-8675592_240="100" data-gtm-vis-has-fired-8675592_240="1">Continue your studies</h3>
            <p class="govuk-body">You could take a work-related course that will give you skills and work experience. Some courses keep your options open by giving you the chance to study different subjects. You may need specific qualifications for your career choice, so always do some
              research. </p>
            <!--ANCHORS-->
            <nav aria-label="skip to your documents" role="navigation">
              <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="#a-levels">A levels</a></li>
                <li><a class="govuk-link" href="#t-levels">T Levels</a></li>
                <li><a class="govuk-link" href="#technical-vocational-qualifications">Technical and vocational qualifications</a></li>
                <li><a class="govuk-link" href="#applied-qualifications">Applied qualifications</a></li>
                <li><a class="govuk-link" href="#exam-retakes">Exam retakes</a></li>
              </ul>
            </nav>
            <h3 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="118" data-gtm-vis-first-on-screen-8675592_194="118" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1">Combine work and study</h3>
            <p class="govuk-body-m">Improve your skills, get work experience and gain the qualifications that employers need.</p>
            <!--ANCHORS-->
            <nav aria-label="skip to your documents" role="navigation">
              <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="#traineeships">Traineeships</a></li>
                <li><a class="govuk-link" href="#supported-internships">Supported internships</a></li>
                <li><a class="govuk-link" href="#apprenticeships">Apprenticeships</a></li>
                <li><a class="govuk-link" href="#school-leavers">School leaver schemes</a></li>
              </ul>
            </nav>
            <!--CHOICES-->
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-l">Continue your studies</h2>
            <!--A LEVELS-->
            <section id="a-levels">
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">A levels</h2>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-3"><span class="govuk-secondary-colour">Description:&nbsp;</span>Study a subject you took at GCSE in greater depth or choose a new one like economics, law or psychology. You could take 3 broad subjects you are interested in to keep your career
                    options open or choose ones you need for a specific career.</li>
                  <li><span class="govuk-secondary-colour">Duration:&nbsp;</span>2 years</li>
                  <li><span class="govuk-secondary-colour">Assessment:&nbsp;</span>Mostly exams at the end of the course</li>
                  <li><span class="govuk-secondary-colour"><a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">Level of study:</a>&nbsp;</span>3</li>
                  <li><span class="govuk-secondary-colour">Entry requirements: </span>Course dependent, typically 5 GCSEs Grade 9-4 (usually including English and maths)</li>
                  <li><span class="govuk-secondary-colour">Work experience:&nbsp;</span>Usually 1 week during year 12</li>
                  <li><span class="govuk-secondary-colour">Leads to:&nbsp;</span>University/college, higher and degree apprenticeships, work</li>
                  <li><span class="govuk-secondary-colour">Find out more:</span> <a class="govuk-link" href="https://www.ucas.com/further-education/post-16-qualifications/qualifications-you-can-take/levels">UCAS Information about A levels</a></li>
                </ul>
              </div>
            </section>
            <!--T LEVELS-->
            <section id="t-levels">
              <hr class="govuk-section-break govuk-section-break--visible">
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">T Levels</h2>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-3"><span class="govuk-secondary-colour">Description:&nbsp;</span>Designed in partnership with employers to give you the skills and knowledge to get on in the workplace. Combines classroom learning with industry placements to prepare you for skilled
                    work or higher level study. 1 T Level is the equivalent of 3 A levels.</li>
                  <li><span class="govuk-secondary-colour">Duration:&nbsp;</span>2 years</li>
                  <li><span class="govuk-secondary-colour">Assessment:&nbsp;</span>Exams, projects and practical assignments</li>
                  <li><span class="govuk-secondary-colour"><a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">Level of study:</a>&nbsp;</span>3</li>
                  <li><span class="govuk-secondary-colour">Entry requirements:&nbsp;</span>Course dependent</li>
                  <li><span class="govuk-secondary-colour">Work experience:</span> At least 45 days on industry placement</li>
                  <li><span class="govuk-secondary-colour">Leads to:&nbsp;</span>University/college, higher and degree apprenticeships, work</li>
                  <li><span class="govuk-secondary-colour">Find out more:</span> <a class="govuk-link" href="https://www.tlevels.gov.uk/students">Gov.uk information about T Levels</a></li>
                </ul>
              </div>
            </section>
            <!--TECHNICAL / VOCATIONAL QUALIFICATIONS-->
            <section id="technical-vocational-qualifications">
              <hr class="govuk-section-break govuk-section-break--visible">
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">Technical and vocational qualifications</h2>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-3"><span class="govuk-secondary-colour">Description:&nbsp;</span>Qualifications which teach you how to do tasks specifically related to the industry and role you want to be involved in.</li>
                  <li><span class="govuk-secondary-colour">Duration:&nbsp;</span>Course dependent</li>
                  <li><span class="govuk-secondary-colour">Assessment:&nbsp;</span>Can include coursework, skills tests and exams</li>
                  <li><span class="govuk-secondary-colour"><a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">Level of study:</a>&nbsp;</span>1+</li>
                  <li><span class="govuk-secondary-colour">Entry requirements:&nbsp;</span>Course dependent</li>
                  <li><span class="govuk-secondary-colour">Work experience:&nbsp;</span>Course dependent</li>
                  <li><span class="govuk-secondary-colour">Leads to:&nbsp;</span>Apprenticeship, work, college or university</li>
                  <li><span class="govuk-secondary-colour">Find out more:</span> Speak to your local provider or talk to an adviser 
                    <!-- ring our Exam Results Helpline--> 
                  </li>
                </ul>
              </div>
            </section>
            <!--APPLIED QUALIFICATIONS-->
            <section id="applied-qualifications">
              <hr class="govuk-section-break govuk-section-break--visible">
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">Applied qualifications</h2>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-3"><span class="govuk-secondary-colour">Description:&nbsp;</span>Qualifications that give you a broad overview of working in a specific sector, like business, media, engineering, leisure or science and technology. A mix of classroom-based learning
                    with the chance to get some practical skills. </li>
                  <li><span class="govuk-secondary-colour">Duration:&nbsp;</span>Course dependent</li>
                  <li><span class="govuk-secondary-colour">Assessment:&nbsp;</span>Course dependent (coursework and exams)</li>
                  <li><span class="govuk-secondary-colour"><a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">Level of study:</a></span> 3</li>
                  <li><span class="govuk-secondary-colour">Entry requirements:&nbsp;</span>Yes</li>
                  <li><span class="govuk-secondary-colour">Work experience:&nbsp;</span>Course dependent</li>
                  <li><span class="govuk-secondary-colour">Leads to:&nbsp;</span>University/college, apprenticeship, work</li>
                  <li><span class="govuk-secondary-colour">Find out more:</span> <a class="govuk-link" href="https://www.aqa.org.uk/applied-general">Gov.uk information about applied qualifications</a></li>
                </ul>
              </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text"><!--RETAKES-->
            <section id="exam-retakes">
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">Exam retakes</h3>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-3"><span class="govuk-secondary-colour">Description:&nbsp;</span>If you didn't get the results you wanted, you can resit some of your courses or sign up for some new qualifications.</li>
                  <li><span class="govuk-secondary-colour">Location: </span>School sixth form, sixth form college or further education college</li>
                  <li><span class="govuk-secondary-colour">Duration:&nbsp;</span>1 year</li>
                  <li><span class="govuk-secondary-colour">Entry requirements:&nbsp;</span>16+</li>
                  <li><span class="govuk-secondary-colour">Qualifications: </span><a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">Level 2 and 3 qualifications</a> like GCSE, A level and BTEC</li>
                  <li><span class="govuk-secondary-colour">Leads to:&nbsp;</span>Higher level or degree apprenticeship, further education, higher education, work </li>
                  <li><span class="govuk-secondary-colour">Find out more: </span> Speak to your school or college careers leader or careers adviser or our careers advisers<!--by calling&nbsp;our Exam Results Helpline--></li>
                </ul>
              </div>
            </section>
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-l">Combine work and study</h2>
            <section id="traineeships"><!--TRAINEESHIP-->
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">Traineeships</h3>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-3"><span class="govuk-secondary-colour">Description:&nbsp;</span>A course that includes a work placement that will get you ready for an apprenticeship or a job. You’ll get work experience and some help to apply for your next steps. You
                    can also improve your maths and English skills. You’ll get work experience and some help to apply for whatever you do next.</li>
                  <li><span class="govuk-secondary-colour">Location:</span>&nbsp;You’ll spend a minimum of 70 hours in a work placement with the rest of your time in college or a training centre</li>
                  <li><span class="govuk-secondary-colour">Duration:&nbsp;</span>6 weeks to 1 year</li>
                  <li><span class="govuk-secondary-colour">Entry requirements:&nbsp;</span> You need to be aged between 16 to 24 or up to 25 with an <a class="govuk-link" href="https://www.gov.uk/children-with-special-educational-needs/extra-SEN-help">Education Health and Care Plan</a>&nbsp;with no higher than a <a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels#level-3"> level 3 qualification </a></li>
                  <li><span class="govuk-secondary-colour">Qualifications:&nbsp;</span>English, maths, digital and work-related qualifications</li>
                  <li><span class="govuk-secondary-colour">Leads to:&nbsp;</span>Apprenticeship, further education, work </li>
                  <li><span class="govuk-secondary-colour">Find out more:</span>
                    <ul>
                      <li>ask your local college or training provider</li>
                      <li>speak to your school careers adviser</li>
                      <li>speak to your Jobcentre Plus adviser if you receive benefits</li>
                      <li><a class="govuk-link" href="https://www.gov.uk/find-traineeship">find a traineeship</a> in your area</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </section>
            <!--SUPPORTED INTERNSHIP-->
            <section id="supported-internships">
              <hr class="govuk-section-break govuk-section-break--visible">
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">Supported internships</h3>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-3"><span class="govuk-secondary-colour">Description:&nbsp;</span>Supported internships are for young people with learning difficulties or learning disabilities, who need extra support to get a job. </li>
                  <li><span class="govuk-secondary-colour">Location:&nbsp;</span>You'll spend most of your time on placements with an employer, learning skills for work. You'll also get help from a tutor and a job coach in college or with a specialist provider.</li>
                  <li><span class="govuk-secondary-colour">Duration:</span> A minimum of 6 months</li>
                  <li><span class="govuk-secondary-colour">Entry requirements:&nbsp;</span>Aged 16-24 with an <a class="govuk-link" href="https://www.gov.uk/children-with-special-educational-needs/extra-SEN-help">Education Health and Care Plan</a></li>
                  <li><span class="govuk-secondary-colour">Qualifications:&nbsp;</span>GCSE English and maths</li>
                  <li><span class="govuk-secondary-colour">Leads to:&nbsp;</span>Work, traineeship, apprenticeship</li>
                  <li><span class="govuk-secondary-colour">Find out more:</span>
                    <ul>
                      <li>from your school or local college</li>
                      <li>speak to your social worker or a transition worker</li>
                      <li>speak to your Jobcentre Plus adviser</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </section>
            <!--APPRENTICESHIP-->
            <section id="apprenticeships">
              <hr class="govuk-section-break govuk-section-break--visible">
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">Apprenticeships</h3>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-3"><span class="govuk-secondary-colour">Description:&nbsp;</span>Intermediate, advanced higher and degree apprenticeships combine practical on-the-job skills training with off-the-job learning. You'll get training that is relevant to your job
                    and be paid a salary. Start at a level to suit you, with support if you have special needs or a disability.</li>
                  <li><span class="govuk-secondary-colour">Location:&nbsp;</span>You’ll spend 80% of your time in the workplace and 20% off-the-job with some study in a college, training centre or Institute of Technology (IoT)</li>
                  <li><span class="govuk-secondary-colour">Duration: A&nbsp;</span>minimum of 1 year</li>
                  <li><span class="govuk-secondary-colour">Entry requirements:&nbsp;</span> Will be dependent on the industry, job role and apprenticeship level</li>
                  <li><span class="govuk-secondary-colour">Qualifications: </span>apprenticeship certificate, diploma, degree and masters depending on level</li>
                  <li><span class="govuk-secondary-colour">Leads to: </span>Work, next level of apprenticeship, further education, higher education</li>
                  <li><span class="govuk-secondary-colour">Find out more:</span> <a class="govuk-link" href="https://www.apprenticeships.gov.uk">Gov.uk information about Apprenticeships</a></li>
                </ul>
              </div>
            </section>
            <!--SCHOOL-LEAVERS-SCHEMES-->
            <section id="school-leavers">
              <hr class="govuk-section-break govuk-section-break--visible">
              <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">School leaver schemes</h3>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-top-3"><span class="govuk-secondary-colour">Description:&nbsp;</span>A chance to learn and train with a large company while earning a wage. Offered in sectors like accountancy, engineering, finance, IT, law, leisure and retail. Similar to graduate
                    employment schemes run over a longer period of time.</li>
                  <li><span class="govuk-secondary-colour">Location:&nbsp;</span>You'll often rotate between different locations with the same company to get experience and it can include distance learning or time in college or university</li>
                  <li><span class="govuk-secondary-colour">Duration: </span>3 to 7 years</li>
                  <li><span class="govuk-secondary-colour">Entry requirements:&nbsp;</span>Usually high grade A levels or equivalent and a keen interest in the sector you want to work in</li>
                  <li><span class="govuk-secondary-colour">Qualifications: </span>A university degree and/or professional qualification</li>
                  <li><span class="govuk-secondary-colour">Leads to: </span>Professional employment</li>
                  <li><span class="govuk-secondary-colour">Find out more:</span> Directly from company websites </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="app-related-items">
              <h2 class="govuk-heading-m">Speak to an adviser</h2>
              <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
              <ul class="govuk-list">
                <li> 8am-8pm Monday-Friday </li>
                <li> 10am-5pm Saturday </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="app-related-items">
              <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="144" data-gtm-vis-first-on-screen-8675592_194="144" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1">Other opportunities</h2>
              <p class="govuk-body">You could look at what <a class="govuk-link" href="/careers-advice/career-choices-at-18">work and study options</a> will be available to you at 18.</p>
              <p class="govuk-body">You could also consider&nbsp;<a class="govuk-link" href="/careers-advice/advice-on-volunteering">volunteering</a> to strengthen your job and study opportunities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} 