{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Find a course | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
<div class="PROD_hero">
<div class="PROD_full-page-width-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Find a course</h1>
    <p class="govuk-body-lead">Find a course to help you improve your current digital skills or study for your future.</p>
  </div>
</div>
</header>
{% endblock %}

{% block content %}
<div class="govuk-width-container govuk-!-margin-top-5">
  <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <h2 class="govuk-heading-l" data-gtm-vis-recent-on-screen-8675592_247="110" data-gtm-vis-first-on-screen-8675592_247="110" data-gtm-vis-total-visible-time-8675592_247="100" data-gtm-vis-has-fired-8675592_247="1">The Skills Toolkit</h2>
            <p class="govuk-body">Free courses to help you learn new skills or change jobs. Including general skills that apply to all sectors and more specialised skills.</p>
            <p class="govuk-body">Learn about:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>practical maths</li>
              <li>computer essentials</li>
              <li>personal growth and wellbeing</li>
              <li>professional development</li>
              <li>business and finance</li>
              <li>digital design and marketing</li>
              <li>computer science</li>
              <li>coding </li>
            </ul>
            <p class="govuk-body">Our trusted course providers include The Open University, Google, Amazon and FutureLearn.</p>
            <p class="govuk-body"><a class="govuk-link govuk-button govuk-!-margin-bottom-0" href="/find-a-course/the-skills-toolkit">Explore free online courses</a></p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-l" data-gtm-vis-has-fired-8675592_247="1">Search other courses</h2>
            <p class="govuk-body">Search for courses from learning providers, including colleges and local authority providers which may offer work-related courses on a wide range of topics.</p>
            <p class="govuk-body"><a class="govuk-link govuk-button govuk-!-margin-bottom-0" href="/find-a-course/search">Explore other courses</a></p>
          </div>
        </div>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="app-related-items">
              <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="105" data-gtm-vis-first-on-screen-8675592_194="105" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-recent-on-screen-8675592_240="110" data-gtm-vis-first-on-screen-8675592_240="110" data-gtm-vis-total-visible-time-8675592_240="100" data-gtm-vis-has-fired-8675592_240="1">Support during Covid-19</h2>
              <ul class="govuk-list">
                <li><a class="govuk-link" href="/get-a-job/advice-for-if-you-lose-your-job">Advice for if you lose your job</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="govuk-!-margin-top-7">
              <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="107" data-gtm-vis-first-on-screen-8675592_194="107" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1">Other opportunities</h2>
              <ul class="govuk-list">
                <li><a class="govuk-link" href="/find-a-course/search">Search other courses </a></li>
                <li><a class="govuk-link" href="/find-a-course/where-to-find-free-online-learning">Where to find other online learning</a></li>
                <li><a class="govuk-link" href="https://nationalcareers.service.gov.uk/careers-advice/ways-to-develop-skills/">Other ways to develop skills</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="govuk-!-margin-top-7">
              <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="108" data-gtm-vis-first-on-screen-8675592_194="108" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1">Skills assessment</h2>
              <p class="govuk-body"><a href="/skills-assessment" class="govuk-link">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
            </div>
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="app-related-items">
              <h2 class="govuk-heading-m">Speak to an adviser</h2>
              <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
              <ul class="govuk-list">
                <li> 8am-8pm Monday-Friday </li>
                <li> 10am-5pm Saturday </li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div class="sfContentBlock sf-Long-text"></div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} 