{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
About us
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}


{% endblock %}
  {% block content %}
<div class="govuk-width-container">
  <div class="content-container">
    <div class="breadcrumbs govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Help</a></li>
        <li class="govuk-breadcrumbs__list-item">Terms and conditions</li>
      </ol>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <h1 class="govuk-heading-xl">Terms and conditions</h1>
            <p class="govuk-body">The Education and Skills Funding Agency operates the National Careers Service. This is the publicly funded careers service in England for adults, and young people aged 13 or over. The service includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the National Careers Service website</li>
              <li>services delivered through the website</li>
              <li>the National Contact Centre</li>
              <li>face-to-face careers advice providers</li>
            </ul>
            <p class="govuk-body">When using the National Career Service, you agree to the following terms and conditions. You will:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>respect any patents, copyrights and trademarks</li>
              <li>accept that all rights are owned by the Education and Skills Funding Agency</li>
              <li>use webchat services appropriately – we monitor these services and will take action against inappropriate use</li>
            </ul>
            <p class="govuk-body">The Education and Skills Funding Agency accepts no liability for:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>loss of access to the website due to excessive demands on the service</li>
              <li>loss of access due to routine or emergency maintenance on the system</li>
              <li>loss of data, including data sent and data held by you or on behalf of you</li>
              <li>delays or failure in receipt of data given by you or given to you</li>
              <li>damage caused while you're using the National Careers Service</li>
            </ul>
            <p class="govuk-body">You can learn more about how we use and protect your personal information by going to our <a class="govuk-link" href="/help/privacy-and-cookies">privacy policy</a>.</p>
            <p class="govuk-body">You can stop using the National Careers Service at any time, either through the website or by getting in touch with the National Contact Centre.</p>
            <p class="govuk-body">National Contact Centre:</p>
            <p class="govuk-body">Call the National Contact Centre on 0800 100 900, or speak to them by <a class="govuk-link" href="/webchat/chat/">webchat</a>, and tell the adviser that you want to close your account.</p>
            <p class="govuk-body">You can <a class="govuk-link" href="/contact-us">contact us</a> if you have any further questions about the National Careers Service, want to leave feedback or wish to report a problem.</p>
          </div>
        </div>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div class="app-related-items">
              <h2 class="govuk-heading-m">Speak to an adviser</h2>
              <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
              <ul class="govuk-list">
                <li> 8am-8pm Monday-Friday </li>
                <li> 10am-5pm Saturday </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} 