{% extends "layout_ncs_sprint56.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
<div class="sfPublicWrapper" id="PublicWrapper">
  <header class="job-profile-hero">
    <div data-sf-element="Row">
      <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
        <div class="govuk-width-container ">
          <div class="breadcrumbs govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="../explorecareers">Home: Explore careers</a></li>
              <li class="govuk-breadcrumbs__list-item">Accounting technician </li>
            </ol>
          </div>
        </div>
        <div class="govuk-width-container">
          <div class="grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1> Accounting technician</h1>

              <p>Accounting technicians handle day-to-day financial matters in all types of business.</p>
            </div>
          </div>
          <div class="grid-row">
            <div id="Salary" class="column-40 job-profile-heroblock">
              <h2> Average salary <span>(a year)</span> </h2>
              <div class="job-profile-salary job-profile-heroblock-content">
                <p class="dfc-code-jpsstarter">£18,000 <span>Starter</span></p>
                <i class="sr-hidden">to</i>
                <p class="dfc-code-jpsexperienced">£32,000 <span>Experienced</span></p>
              </div>
            </div>
            <div id="WorkingHours" class="column-30 job-profile-heroblock">
              <h2>Typical hours <span>(a week)</span></h2>
              <div class="job-profile-hours job-profile-heroblock-content">
                <p class="dfc-code-jphours"> 37 to 39 <span class="dfc-code-jpwhoursdetail">a week</span> </p>
              </div>
            </div>
            <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
              <h2> You could work </h2>
              <div class="job-profile-pattern job-profile-heroblock-content">
                <p class="dfc-code-jpwpattern"> between 8am and 6pm </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="govuk-width-container">
    <div id="MainContentTop_T41A29498003_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Full Width Container"> <script language="JavaScript">
        var vocCookie = "vocPersonalisation=admin-assistant; path=/";

        if (document.location.protocol === "https:") {
            vocCookie += "; Secure";
        }

        document.cookie = vocCookie;
    </script>
    </div>
  </div>
  <div class="govuk-width-container">
    <div class="grid-row" data-sf-element="Row">
      <div id="MainContent_T41A29498001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="howtobecome"> How to become </span> </h2>

            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="howtobecome">
              <div class="job-profile-sections">
                <section id="HowToBecome">
                  <p>You can get into this job through:</p>
                  <ul>
                    <li>a college course</li>
                    <li>an apprenticeship</li>
                    <li>working towards this role</li>
                    <li> applying directly</li>
                  </ul>
                  <section class="job-profile-subsection no-grey" id="College">
                    <h3>College</h3>
                    <div class="job-profile-subsection-content">
                      <p>There is no set entry route to become an accounting technician but it may be useful to do a relevant qualification like:</p>
                      <ul>
    <li>Level 2 Foundation Certificate in Accounting accredited by the <a href="http://www.aatqualificationsnavigator.org.uk/navigator.html">Association of Accounting Technicians</a> (AAT)</li>
    <li>Foundations in Accountancy accredited by the <a href="https://www.accaglobal.com/uk/en/qualifications/glance/foundation-level/foundations-professionalism.html">Association of Chartered Certified Accountants</a> (ACCA)</li>
</ul>
                      <h4>Entry requirements</h4>
                      <p>Entry requirements for these courses vary.</p>
                      <h4>More Information</h4>
                      <ul class="list-link">
                            <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                            <li><a class="htb-feature" href="/find-a-course">search for courses</a></li>
                          </ul>
                     </div>
                  </section>
                  <section class="job-profile-subsection no-grey" id="Apprenticeship">
                    <h3>Apprenticeship</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could get into this job through:</p>
                      <ul>
    <li> an advanced apprenticeship as an assistant accountant</li>
    <li>a higher apprenticeship as a professional accounting / taxation technician</li>
</ul>
                      <h4>Entry requirements</h4>
                      <p>There are no set entry requirements but it may help you to get in if you have:</p>
                      <ul class="list-reqs">
                            <li>5 GCSEs at grades 9 to 4 (A* to C), or equivalent, including English and maths, for an advanced apprenticeship</li>
                            <li>4 or 5 GCSEs at grades 9 to 4 (A* to C) and A levels, or equivalent, for a higher or degree apprenticeship</li>
                    </ul>
                      <h4>More information</h4>
                      <ul class="list-link">
                        <li><a class="htb-feature govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                        <li><a class="htb-feature govuk-link" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
                      </ul>
                      <!-- <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-2" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a> </div> -->
                  </section>
                  <section class="job-profile-subsection no-grey" id="work">
                    <h3>Work</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could start as an accounts clerk or bookkeeper while you study to become an accounting technician.</p>
                      <p>The <a href="https://www.aat.org.uk/">Association of Accounting Technicians</a> (AAT) and the <a href="http://www.accaglobal.com">Association of Chartered Certified Accountants</a> (ACCA) have information on accounting courses.</p>
                    </div>
                  </section>
                  <!-- <section class="job-profile-subsection no-grey" id="volunteer">
                    <h3>Volunteering</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could volunteer with a charity in an office based role to get some experience and skills that are useful for administration work.</p>
                      <div class="govuk-inset-text" style="border-left: 5px solid #b1b4b6;">
                        <p>Read our guidance about how to obtain <a class="govuk-link" href="#abc">work experience</a>, <a class="govuk-link" href="#abc">internships</a> and <a class="govuk-link" href="#abc">volunteer work</a> to get started.</p>
                      </div>
                    </div>
                  </section> -->
                  <section class="job-profile-subsection no-grey" id="directapplication">
                    <h3>Direct application</h3>
                    <div class="job-profile-subsection-content">
                      <p>You can apply directly to employers if you have some of the relevant skills and knowledge needed for this role.</p>
                      <p>Employers are likely to look for up to five GCSEs at grades 9 to 4 (A* to C), including English and maths. A level business studies, maths, economics, or equivalent qualifications, could also be useful.</p>
                      <p>Previous experience of office work or working in an accounts or finance department would be helpful. Experience of using accounting software or spreadsheets could also give you an advantage when looking for work.</p>
                      <!-- <ul>
                        <li> GCSEs at grades 9 to 4 (A* to C) or <a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent</a>, including English and maths</li>
                        <li>telephone, typing or IT skills</li>
                      </ul>
                      <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-2" href="https://findajob.dwp.gov.uk">Find jobs near you</a> </div> -->
                  </section>
                  <section class="job-profile-subsection no-grey" id="moreinfo">
        <h3>More Information</h3>
        <div class="job-profile-subsection-content">

                <h4>Further information</h4>
<p>You can find out more about careers in accountancy from the&nbsp;<a href="https://yourfuture.accaglobal.com/global/en/your-career/sectors-industries-roles.html/">Association of Chartered Certified Accountants</a>.</p>        </div>
    </section>
                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whatittakes"> What it takes </span> </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="whatittakes">
              <div class="job-profile-sections">
                <section id="WhatItTakes">
                  <section class="job-profile-subsection no-grey">
                    <h3>Skills and knowledge</h3>
                    <div class="job-profile-subsection-content">
                      <p>You'll need:</p>
                      <ul>
                        <li>
                            to be thorough and pay attention to detail
                        </li>
                        <li>
                            the ability to work well with others
                        </li>
                        <li>
                            administration skills
                        </li>
                        <li>
                            customer service skills
                        </li>
                        <li>
                            the ability to use your initiative
                        </li>
                        <li>
                            to be flexible and open to change
                        </li>
                        <li>
                            maths knowledge
                        </li>
                        <li>
                            excellent verbal communication skills
                        </li>
                    <li>to be able to use a computer and the main software packages confidently</li>
            </ul>
                    </div>
                    <!-- <div class="govuk-inset-text" style="border-left: 5px solid #b1b4b6;"> <span class="govuk-heading-s">Find out more about your skills</span>
                      <p>Learn more about your skills and the careers that might suit you.</p>
                      <a class="govuk-button" href="https://nationalcareers.service.gov.uk/skills-assessment">Take a skills assessment</a></div> -->
                  </section>
                </section>
              </div>
            </div>
          </div>
<!--
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="dayinthelife"> A day in the life of an admin assistant </span> </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="dayinthelife">
              <p>The National Careers Service spoke to Beth, an administrative assistant in a secondary school in Ely.</p>
              <h4 class="govuk-heading-s">What does a day in your life look like?</h4>
              <p><span class="govuk-!-font-weight-bold">8.00am:</span> Already people are waiting in the office that have critical needs. I speak to several parents with enquiries and several students with timetable queries. The phone rings every 5 minutes with simple requests that take my time until 10am.</p>
              <p>My boss calls and lets me know he has a meeting in another town — could I get a report off his desk, scan it and send it to his phone?</p>
              <p><span class="govuk-!-font-weight-bold">10.00am:</span> Finally I can check my email and review the stack of work left from yesterday.</p>
              <p><span class="govuk-!-font-weight-bold">10.15am:</span> I start on report for the school board, respond to a request for state reports on attendance and teacher time in classroom, and organize a new time schedule that meets state requirements and community requests.</p>
              <p><span class="govuk-!-font-weight-bold">11.00am:</span> Post information to the school website.</p>
              <p><span class="govuk-!-font-weight-bold">11.30pm:</span> My boss returns from his meeting—he needs me to contact several people for a meeting tomorrow. I call them and leave messages for the people who aren’t available.</p>
              <p><span class="govuk-!-font-weight-bold">12.00pm:</span> I eat lunch at my desk, while answering the phone and working on my to-do list.</p>
              <p><span class="govuk-!-font-weight-bold">2.30pm:</span> My co-worker asks me to help organize a retirement party for a supervisor — she really means will I arrange a time and place, make a list of invitees, prepare and mail invitations and get prices from the caterer. She will handle the program.</p>
              <p><span class="govuk-!-font-weight-bold">4.00pm:</span> Review my to-do list and see several projects that had to be completed today. I work until 5:30 to complete them and vow to be better organized tomorrow.</p>
            </div>
          </div>
-->
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whatyoulldo"> What you’ll do </span> </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="whatyoulldo">
              <div class="job-profile-sections">
                <section id="WhatYouWillDo">
                  <section class="job-profile-subsection no-grey">
                    <h3>Day-to-day tasks</h3>
                    <div class="job-profile-subsection-content">
                      <p>On a typical day you could:</p>
                      <ul>
    <li>process and pay invoices</li>
    <li>record receipts and payments</li>
    <li>prepare and check ledger balances and other monthly accounts</li>
    <li>complete and submit tax returns, VAT returns and National Insurance contributions</li>
    <li>handle company expenses</li>
    <li>update computerised accounting systems</li>
</ul>
                    </div>
                  </section>
                  <section class="job-profile-subsection no-grey" id="workingenvironment">
                    <h3>Working environment</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could work in an office. </p>
                    </div>
                  </section>
                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="careerpath"> Career path and progression </span> </h2>

            </div>
            <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="careerpath">
              <div class="job-profile-sections">
                <section id="CareerPathAndProgression">
                  <p> With experience, you could move into management or become self-employed and work on accounts for small businesses. You could also study to become a qualified accountant. </p>
                  <p>
<a href="https://www.aat.org.uk/">AAT</a> and <a href="http://www.accaglobal.com/uk/en.html">ACCA</a> qualifications are recognised across the world, so you could work overseas.
</p>

                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="currentopps"> Current opportunities </span> </h2>

            </div>
            <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="currentopps">
              <div class="job-profile-sections">
                <section id="CurrentOpportunities">
                  <div class="govuk-grid-row" id="appGeneric">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="1096719" data-gtm-vis-first-on-screen-8675592_194="1096719" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">
                Apprenticeships
                <span class="govuk-caption-m">In England</span>
            </h3>
        </div>
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1689687">Finance Apprentice</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £17,000.00 <span class="govuk-body-s govuk-secondary-colour">Annually</span></li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Manchester </li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1689611">Accountancy Apprentice</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £146.25 <span class="govuk-body-s govuk-secondary-colour">Weekly</span></li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Crewe </li>
                        </ul>
                    </div>
                </div>
            <div class="govuk-grid-column-full govuk-body-m dfc-code-jp-vacancyText">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
            </div>
    </div>
    <div class="govuk-grid-row dfc-code-jp-trainingCourse">
<div class="govuk-grid-column-full">
<h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="1096720" data-gtm-vis-first-on-screen-8675592_194="1096720" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">
  Courses
  <span class="govuk-caption-m">In England</span>
</h3>
</div>
  <div class="govuk-grid-column-one-half">
      <div class="opportunity-item">
          <h4 class="govuk-heading-s">
              <a href="/find-a-course/course-details?courseid=21fb3ec1-c610-4187-afe3-7d6ae019d5c9&amp;r=5ea0275b-b39b-4c7d-87cb-36d353129201">Accounting Software  Award 1</a>
          </h4>
          <ul class="govuk-list">
              <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> LTE GROUP</li>
              <li><span class="govuk-body govuk-!-font-weight-bold">Start date:</span> 29 March 2021</li>
              <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Manchester</li>
          </ul>
      </div>
  </div>
  <div class="govuk-grid-column-one-half">
      <div class="opportunity-item">
          <h4 class="govuk-heading-s">
              <a href="/find-a-course/course-details?courseid=31ef34cc-5156-4088-bc07-2cdc9b97088b&amp;r=a33edd00-9670-4a37-a8e2-20f0df16ddb3">Diploma in Accounting and Finance</a>
          </h4>
          <ul class="govuk-list">
              <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> NORTHAMPTONSHIRE HEALTHCARE NHS FOUNDATION TRUST</li>
              <li><span class="govuk-body govuk-!-font-weight-bold">Start date:</span> 07 July 2021</li>
              <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> </li>
          </ul>
      </div>
  </div>
<div class="govuk-grid-column-full govuk-body dfc-code-jp-TrainingCoursesText">
  <a href="/find-a-course/search">Find courses near you</a>
</div>
</div>
                  <!-- <div class="dfc-code-jp-TrainingCoursesText"> <a class="govuk-button" href="https://nationalcareers.service.gov.uk/find-a-course">Find courses near you</a> </div> -->
                  <div>
                    <h3 class="govuk-heading-m"> Jobs <span class="govuk-caption-m">In the United Kingdom</span> </h3>
                    <p>The <a href="https://findajob.dwp.gov.uk">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
                    <a class="govuk-button" href="http://findajob.dwp.gov.uk">Find jobs near you</a> </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="MainContent_T41A29498001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
        <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container">

          <!--
            <div class="job-profile-related">
              <h2 class="heading-medium">Jobs in this group</h2>
              <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
				<p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore job prospects for this group</a></p>
            </div>
-->
			<div>
            <div class="sf-Long-text">
              <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
            </div>
          </div>
          <div class="job-profile-search">
            <h3 class="heading-small">Search further careers</h3>
            <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
              <div class="job-profile-search-content">
                <label for="search-main"> Enter a job title</label>
                <div class="search-input-wrapper">
                  <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                </div>
                <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
              </div>
              <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
              <ul wiid="N81" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
              </ul>
            </form>
          </div>
          <div class="job-profile-related">
    <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-first-on-screen-8675592_194="780" data-gtm-vis-recent-on-screen-8675592_194="1270377" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Related careers</h3>
    <ul class="list list-big">
            <li><a href="/job-profiles/credit-manager">Credit manager</a></li>
            <li><a href="/job-profiles/bookkeeper">Bookkeeper</a></li>
            <li><a href="/job-profiles/farm-secretary">Farm secretary</a></li>
            <li><a href="/job-profiles/auditor">Auditor</a></li>
            <li><a href="/job-profiles/credit-controller">Credit controller</a></li>
    </ul>
</div>

        </aside>
        <div>
          <div class="sf-Long-text">
            <h2 class="heading-medium">Skills assessment</h2>
            <p><a href="/sprint43/homepage">Take an assessment</a>  to learn more about your skills and the careers that might suit you.</p>
          </div>
        </div>
        <div class="app-related-items">
    <h2 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-first-on-screen-8675592_194="3124" data-gtm-vis-recent-on-screen-8675592_194="1324527" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Speak to an adviser</h2>
    <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
    <ul class="govuk-list">
        <li> 8am - 8pm Monday - Friday </li>
        <li> 10am - 5pm Saturday </li>
    </ul>
</div>
      </div>
    </div>
  </div>
  <div class="job-profile-feedback govuk-width-container js-visible">
    <div class="job-profile-feedback-start">
      <p>Is this page useful?</p>
      <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
    <div class="job-profile-feedback-end-yes hidden">
      <p>Thank you for your feedback.</p>
    </div>
    <div class="job-profile-feedback-end-no hidden">
      <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
    </div>
  </div>
</div>
{% endblock %}
