{% extends "layout.html" %}

{% block pageTitle %}
Report a technical issue - National Careers Service
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://nationalcareersservice.direct.gov.uk/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="index">Contact us</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="select-option">Why would you like to contact us?</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                Report a technical issue
            </li>
        </ol>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Report a technical issue</h1>
            <p class="govuk-body-m">Give us as much detail as possible. For example, the web browser you were using when you had a problem, what you were trying to do, what happened and any error messages that were on the screen.</p>
            <form id="userform" method="post">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="more-detail">Include links to the problem page and any page headings. This will help us to fix the issue more quickly.</label>
                    <span id="more-detail-hint" class="govuk-hint">Do not include any personal or sign in information.</span>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                </div>
                <p class="govuk-body-s">Character limit is 1000.</p>
                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
        {% include "includes/side-contact-us.html" %}
    </div>
</main>
{% endblock %}
