{% extends "layout.html" %}

{% block pageTitle %}
Contact an adviser - National Careers Service
{% endblock %}

{% block content %}
<main id="content" role="main">
    {% include "includes/contact-breadcrumb.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#category-error">You must select a category for your query</a>
                        </li>
                        <li>
                            <a href="#more-detail-error">You must enter a query</a>
                        </li>
                    </ul>
                </div>
            </div>
            <form id="userform" method="post">
                <div class="govuk-form-group govuk-form-group--error">
                    <fieldset class="govuk-fieldset" aria-describedby="category-error">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h2 class="govuk-fieldset__heading">
                                What is your query about?
                            </h2>
                        </legend>
                        <span id="category-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Select a category for your query</span>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="careers" name="queryCategory" type="radio" value="careers">
                                <label class="govuk-label govuk-radios__label" for="careers">
                                    Careers
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="qualifications" name="queryCategory" type="radio" value="qualifications">
                                <label class="govuk-label govuk-radios__label" for="qualifications">
                                    Qualifications
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="findingacourse" name="queryCategory" type="radio" value="findingacourse">
                                <label class="govuk-label govuk-radios__label" for="findingacourse">
                                    Finding a course
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="generalfeedback" name="queryCategory" type="radio" value="generalfeedback">
                                <label class="govuk-label govuk-radios__label" for="generalfeedback">
                                    General feedback
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="funding" name="queryCategory" type="radio" value="funding">
                                <label class="govuk-label govuk-radios__label" for="funding">
                                    Funding
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group govuk-form-group--error">
                    <label class="govuk-label" for="more-detail">Enter your query for the adviser.
                    </label>
                    <span id="more-detail-hint" class="govuk-hint">Do not include any personal or sign in information.</span>
                    <span id="more-detail-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter a query
                    </span>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                </div>
                <p class="govuk-body-s">Character limit is 1000.</p>
                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
        {% include "includes/side-contact-us.html" %}
    </div>
</main>
{% endblock %}
