// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";
@import "components/colors";
@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours/palette.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/conditionals.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/grid_layout.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/typography.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_url-helpers.scss';

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/explore";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/jobprofile";
@import "components/filters";
@import "components/search";
@import "components/facet";
@import "components/pagination";

// EXPERIMENTAL - USER TESTING
@import "components/new-fac/_course-details.scss";
@import "components/homepage";
@import "components/currency-input";
@import "components/discoverywork";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

$site-width:960px;

// Change to header to change colour of blue border underneath header.
.govuk-header__container {
  border-bottom: 10px solid #207e77;
}

.govuk-header__container-beta {
  border-bottom: 0 solid;
}

nav {
  .govuk-tag {
    margin: 0 0 0 4px;
    top: -6px;
    font-size: 10px;
    position: relative;
    padding: 2px 5px;
  }
}

// Change to desktop header to fix margin/padding
.govuk-header__link--service-name {
  @include govuk-media-query(desktop) {
    margin-bottom: -1px;
  }
}

.govuk-header__navigation {
  @include govuk-media-query(desktop) {
    margin: 0px 0px 4px;
  }
}

.app-related-items {
  //border-top: 10px solid govuk-colour("blue");
  border-top: 10px solid #207e77;
  padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}

.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

/* -------------------------------------------------------------
	Hero
------------------------------------------------------------- */
.PROD_full-page-width-wrapper {
  max-width: $site-width;

  @include ie-lte(8) {
    width: $site-width;
  }

  margin: 0 $gutter-half;

  @include media(tablet) {
    margin: 0 $gutter;
  }

  @include media($min-width: ($site-width + $gutter * 2)) {
    margin: 0 auto;
  }
}

.PROD_hero_img {
  background: #8C1454;
  margin: 0 0 0em 0;
  @include media(tablet) {
    padding: 40px 0px 30px;
  }
  .govuk-heading-xl {
    margin: 0 0 30px 0;
    color: #FFFFFF;
  }
  p {
    color: #FFFFFF;
    a {
      font-weight: bold;
      color: #FFFFFF;
    }
  }
}

.PROD_hero {
  background: $careers-turquoise;
  margin: 0 0 0em 0;
  padding: 25px 0px 15px;
  color: #ffffff;
  @include media(tablet) {
    padding: 30px 0px 10px;
  }
  .govuk-heading-xl {
    margin: 0 0 30px 0;
    color: #FFFFFF;
  }
  p {
    color: #FFFFFF;
    a {
      font-weight: bold;
      color: #FFFFFF;
    }
  }
}

.PROD_hero_beta {
  background: $careers-turquoise;
  margin: 0 0 0em 0;
  padding: 5px 0px 0px;
  color: #ffffff;
  p {
    color: #FFFFFF;
    a {
      font-weight: bold;
      color: #FFFFFF;
    }
  }
}


//Changes to the hero when inside a full width container
.PROD_full-page-width-wrapper {
  .PROD_hero_pink {
    padding: 25px 0 15px;
    @include media(tablet) {
      padding: 40px 0 30px;
    }
  }
}

.PROD_hero .PROD_search {
  background: $white;
  margin-bottom: 15px;

  &:after { //Clearfix
    content: "";
    display: table;
    clear: both;
  }

  .PROD_search__input-container {
    float: left;
    width: 100%;
    padding: 0 41px 0 0;
    margin: 0 -41px 0 0;
    box-sizing: border-box;
    position: relative;
  }
  .PROD_search__input {
    position: relative;
    border: none;
    height: 40px;
    font-size: 19px;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    float:left;
    z-index: 10;
    font-size:16px;
    @include media(tablet){
      font-size:19px;
    }
  }
  .PROD_search__submit {
    float:left;
    text-indent: -1000em;
    position: relative;
    float:left;
    z-index: 1;
    border-radius: 0;
    background: $black;
    width: 41px;
    height: 40px;
    border: none;
    background: url(/public/images/search-button.png) $black no-repeat 4px 50%;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      z-index: 15;
      position: relative;
    }
  }
}

.ec-hero {
  background-color: #207e77;
  color: #ffffff;
  padding: 30px 0 10px;

  * {
    color: #ffffff;
  }

  input, select {
    border: none !important;
    color: black;
  }

  option {
    color: black;
  }

  button {
    background-color: black;

    &:hover {
      background-color: black;
      text-decoration: underline;
    }
  }
  .govuk-heading-xl {
    margin: 0 0 30px 0;
    color: #FFFFFF;
  }
  p {
    color: #FFFFFF;
    a {
      font-weight: bold;
      color: #FFFFFF;
    }
  }}



/* -------------------------------------------------------------
	Job Profile Search / Related
------------------------------------------------------------- */

.PROD_jobprofile_search {
  background-color: $careers-turquoise;
  color: $white;
  padding: 10px;
  margin-bottom: 30px;

  .heading-small {
    margin: 5px 0 10px 0 !important;
    padding: 0 !important;
  }

  .PROD_search {
    background: $white;

    &:after { //Clearfix
      content: "";
      display: table;
      clear: both;
    }

    .PROD_search__input-container {
      float: left;
      width: 100%;
      padding: 0 41px 0 0;
      margin: 0 -41px 0 0;
      box-sizing: border-box;
      position: relative;
    }

    .PROD_search__input {
      position: relative;
      border: none;
      height: 40px;
      font-size: 19px;
      padding: 6px;
      width: 100%;
      box-sizing: border-box;
      z-index: 2;
      float: left;
      z-index: 10;
      font-size: 16px;

      @include media(tablet) {
        font-size: 19px;
      }
    }

    .PROD_search__submit {
      float: left;
      text-indent: -1000em;
      position: relative;
      float: left;
      z-index: 1;
      border-radius: 0;
      width: 41px;
      height: 40px;
      border: none;
      background: url(/public/images/search-button.png) $black no-repeat 4px 50%;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        z-index: 15;
        position: relative;
      }
    }
  }
}

.PROD_jobprofile_search2 {
  background-color: $white !important;
  color: $black;
  padding: 0 !important;
  margin: 20px 0 0 0;

  .PROD_search__input {
    border: 1px solid #bbb !important;
  }

  .PROD_search__submit {
    background-color: $light-blue !important;
  }
}

.PROD_related-careers, .PROD_related-items-alt {
  li {

    @include core-19;

    a {
      display: block;
      padding: 5px 0;
      border-bottom: 1px solid #bfc1c3;
      text-decoration: none;

      @include media(tablet) {
        padding: 10px 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.PROD_govuk-related-items-search {
  border-top: none;
  margin-top: 30px;
  padding-top: 0px;

  @include media(tablet) {
    border-top: 6px solid $careers-turquoise;
    padding-top: 10px;
    margin-top: 34px;
  }
}

section.PROD_icon-buttons {
  border-top: 1px solid $grey-3;

  h3 {
    margin-top: 30px;
  }
  ul {
    li {
      float: left;
      width: auto;

      a {
        margin-right: 20px;
      }
    }
  }
}

.PROD_jobprofile_categories, .PROD_jobprofile_categoriesV2 {
  list-style: none;
  top: -35px;
  position: relative;

  @include media(mobile) {
    top: -15px;

    li {
      width: 100%;
      margin: 0 0 5px 0;
    }
  }

  li {
    margin: 0 5px 5px 0;
    display: inline-block;
    font-size: 15px;

    a {
      color: $white;
      display: inline-block;
      text-decoration: none;
      background-color: $careers-turquoise;
      padding: 10px 15px 8px 15px;

      &:hover {
        text-decoration: underline;
        background-color: darken($careers-turquoise, 5%);
      }
    }
  }
}

.PROD_jobprofile_categoriesV2 {
  top: 0 !important;

  li {
    width: 100%;

    a {
      font-size: 16px;

      &:after {
        content: ">";
        margin-left: 10px;
        font-weight: bold;

      }
    }
  }
}

.PROD_icon-buttons {
  ul {
    margin: 0;
    padding-left: 0
  }

  li:first-child {
    padding-left: 0;
  }

  li {
    list-style: none;
    margin-right: 10px;
    display: block;
    margin-bottom: 20px;
    width: 50%;

    a {
      padding-left: 25px;
      background-repeat: no-repeat;
      background-size: 21px 21px;
      font-size: 16px;
      line-height: 1.25;

      &.twitter {
        background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-twitter.svg);
      }

      &.facebook {
        background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-facebook.svg);
      }

      &.google {
        background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-google-plus.svg);
      }

      &.linkedin {
        background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-linkedin.svg);
      }

      &.email {
        background-image: url(https://insidegovuk.blog.gov.uk/wp-content/themes/gds-blogs/assets/img/icon-email.svg);
      }
    }
  }
}

.homepage-categories {

  li {
    padding-bottom: 0.526em;
    margin-bottom: 0 !important;
    display: inline-block;
    width: 100%;
  }

  @include media(tablet) {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
  }

  @include media(desktop) {
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    column-count: 3;
    column-gap: 30px;
    padding: 0px;
  }

  a {
    @include bold-19;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.category-list {
  margin-bottom: 5px;
  @include media(tablet){
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 0.526em;
  }
  a {
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.selected {
      font-weight: bold;
      color: $grey-1 !important;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.govuk-secondary-colour {
  color: $govuk-secondary-text-colour;
}
.app-related-items,.govuk-related-items {
    border-top: 10px solid #207e77;
    padding-top: 10px
}

// Extended Pattern

/* INSET TEXT */

.ncs-inset-info {
    border-color: #5694ca;
    background-color: #eef4fa
}

.ncs-inset-success {
    border-color: #28a197;
    background-color: #eaf6f5
}



//APP MASTER HEADING

.app-masthead {
  background-color: #207E77;
  color: #ffffff;
  padding: 10px 0 0 0; }
  .app-masthead .govuk-phase-bannertag,
  .app-masthead .govuk-phase-banner__content__tag {
    background-color: #ffffff;
    color: #005ea5; }
  .app-masthead .govuk-phase-banner {
    padding-top: 0; }
  .app-masthead a:link,
  .app-masthead a:visited,
  .app-masthead a:hover,
  .app-masthead a:active,
  .app-masthead a:focus,
  .app-masthead .govuk-body-l,
  .app-masthead .govuk-phase-banner__content,
  .app-masthead .govuk-breadcrumbs {
    color: #ffffff; }
  .app-masthead .govuk-back-link {
    border-color: #ffffff;
    margin-bottom: 0; }
  .app-masthead .govuk-body-l {
    margin-bottom: 0; }
  .app-masthead .govuk-grid-row {
    margin-top: 1.25rem; }
    @media (min-width: 48.0625em) {
      .app-masthead .govuk-grid-row {
        margin-top: 2.5rem; } }
  .app-masthead .govuk-breadcrumbs__list-item:before, .app-masthead .govuk-breadcrumbs__list-item:after {
    border-color: #ffffff; }

.app-masthead__title {
  color: #ffffff;
  margin-bottom: 1.25rem; }
  @media (min-width: 48.0625em) {
    .app-masthead__title {
      margin-bottom: 2.5rem; } }

//COOKIES

@import "patterns/cookies";