// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/explore";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import 'node_modules/govuk_frontend_toolkit/stylesheets/conditionals.scss';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/grid_layout.scss';
$site-width:960px;

// Change to header to change colour of blue border underneath header.
.govuk-header__container {
  border-bottom: 10px solid #207e77;
}

nav {
  .govuk-tag {
    margin: 0 0 0 4px;
    top: -6px;
    font-size: 10px;
    position: relative;
    padding: 2px 5px;
  }
}

// Change to desktop header to fix margin/padding
.govuk-header__link--service-name {
  @include govuk-media-query(desktop) {
    margin-bottom: -1px;
  }
}

.govuk-header__navigation {
  @include govuk-media-query(desktop) {
    margin: 0px 0px 4px;
  }
}

.app-related-items {
  //border-top: 10px solid govuk-colour("blue");
  border-top: 10px solid #207e77;
  padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}

.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

/* -------------------------------------------------------------
	Hero
------------------------------------------------------------- */
.PROD_full-page-width-wrapper {
  max-width: $site-width;

  @include ie-lte(8) {
    width: $site-width;
  }

  margin: 0 $gutter-half;

  @include media(tablet) {
    margin: 0 $gutter;
  }

  @include media($min-width: ($site-width + $gutter * 2)) {
    margin: 0 auto;
  }
}

.PROD_hero {
  background: #207e77;
  margin: 0 0 0em 0;
  padding: 25px 0px 15px;
  color: #ffffff;
  @include media(tablet) {
    padding: 40px 0px 30px;
  }
  .govuk-heading-xl {
    margin: 0 0 30px 0;
    color: #FFFFFF;
  }
  p {
    color: #FFFFFF;
    a {
      font-weight: bold;
      color: #FFFFFF;
    }
  }
}

//Changes to the hero when inside a full width container
.PROD_full-page-width-wrapper {
  .PROD_hero {
    padding: 25px 0 15px;
    @include media(tablet) {
      padding: 40px 0 30px;
    }
  }
}