// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/explore";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Change to header to change colour of blue border underneath header.
.govuk-header__container {
  border-bottom: 10px solid #207e77;
}

nav {
  .govuk-tag {
    margin: 0 0 0 4px;
    top: -6px;
    font-size: 10px;
    position: relative;
    padding: 2px 5px;
  }
}

// Change to desktop header to fix margin/padding
.govuk-header__link--service-name {
  @include govuk-media-query(desktop) {
    margin-bottom: -1px;
  }
}

.govuk-header__navigation {
  @include govuk-media-query(desktop) {
    margin: 0px 0px 4px;
  }
}

.app-related-items {
  //border-top: 10px solid govuk-colour("blue");
  border-top: 10px solid #207e77;
  padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}

.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}