{% extends "layout_ncs_erh.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="/">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page"><a name="BreadbrumbLink" class="govuk-breadcrumbs__link" href="exam-results">Exam results</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">A level</li>
      </ol>
    </div>
  </div>
  <div class="ec-hero">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third organisation_float_adjust"> <img src="/public/images/advice-for-a-level-main.png"/></div>
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Make choices after your A level, AS level or BTEC Level 3 results</h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class="brand--ncs brand__border-color organisation__section-wrap organisation__margin-bottom govuk-!-margin-top-6  govuk-!-margin-bottom-6" id="featured-documents">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <nav class="govuk-contents-list " aria-label="Contents" role="navigation" data-module="gem-track-click">
          <h2 class="govuk-contents-list__title">
            Contents
          </h2>
          <ol class="class="govuk-list govuk-list-list"">
              <li class="govuk-contents-list__list-item govuk-contents-list__list-item--dashed"><a class="govuk-contents-list__link govuk-link  govuk-link--no-underline" href="#explore-your-career-options-after-college">Explore your career options</a></li>
                  <li class="govuk-contents-list__list-item govuk-contents-list__list-item--dashed"><a class="govuk-contents-list__link govuk-link  govuk-link--no-underline" href="#if-you-did-not-get-the-grades-you-needed-for-university">If you did not get the grades you needed</a></li>
                <li class="govuk-contents-list__list-item govuk-contents-list__list-item--dashed"><a class="govuk-contents-list__link govuk-link  govuk-link--no-underline" href="#if-your-grades-were-higher-than-expected">If your grades were higher than expected</a></li>
                <li class="govuk-contents-list__list-item govuk-contents-list__list-item--dashed"><a class="govuk-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#admissions" data-track-options="{&quot;dimension29&quot;:&quot;Admissions&quot;}" href="#how-your-grades-were-calculated">How your grades were calculated</a>
              </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="secondary-hero" style="background-color: rgba(210, 226, 241, 0.3); ">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Understand your options</h2>
          <p class="govuk-body">It’s important to remember that you’re in the early stages of your journey, and there are many different work and study routes that you can choose from. It might be helpful to discuss some of these options with a teacher or careers adviser. </p>
        </div>
      </div>
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4" id="explore-your-career-options-after-college">Explore your career options</h2>
          <div class="govuk-grid-row card-group erh-card-group">
            <div class="govuk-grid-column-one-third">
              <a class="cards-link" href="https://nationalcareers.service.gov.uk/careers-advice/career-choices-at-18">
                <div class="card card-white">
                  <h3 class="govuk-heading-s" data-gtm-vis-recent-on-screen-8675592_422="445" data-gtm-vis-first-on-screen-8675592_422="445" data-gtm-vis-total-visible-time-8675592_422="100" data-gtm-vis-has-fired-8675592_422="1">Explore all your options at 18</h3>
                  <p class="govuk-body-m">Explore all the work and study options available from age 18 onwards.</p>
                </div>
              </a>
            </div>
            <div class="govuk-grid-column-one-third"><a class="cards-link" href="https://www.apprenticeships.gov.uk/apprentices">
             <div class="card card-white">
               <h3 class="govuk-heading-s" data-gtm-vis-recent-on-screen-8675592_422="442" data-gtm-vis-first-on-screen-8675592_422="442" data-gtm-vis-total-visible-time-8675592_422="100" data-gtm-vis-has-fired-8675592_422="1">Apprenticeships</h3>
               <p class="govuk-body-m">Learn about apprenticeships to understand whether they might be right for you.</p></div></a>
             </div>
             <div class="govuk-grid-column-one-third">
               <a class="cards-link" href="https://www.gov.uk/government/collections/traineeships--2">

             <div class="card card-white">
               <h3 class="govuk-heading-s" data-gtm-vis-recent-on-screen-8675592_422="443" data-gtm-vis-first-on-screen-8675592_422="443" data-gtm-vis-total-visible-time-8675592_422="100" data-gtm-vis-has-fired-8675592_422="1">Traineeships</h3>
               <p class="govuk-body-m">Traineeships can be a helpful way to build skills before starting an apprenticeship or finding a job.</p>
             </div>
           </a>
             </div>
             <div class="govuk-grid-column-one-third">
               <a class="cards-link" href="https://nationalcareers.service.gov.uk/careers-advice/advice-on-a-gap-year/">
                 <div class="card card-white">
                   <h3 class="govuk-heading-s" data-gtm-vis-recent-on-screen-8675592_422="445" data-gtm-vis-first-on-screen-8675592_422="445" data-gtm-vis-total-visible-time-8675592_422="100" data-gtm-vis-has-fired-8675592_422="1">Take a gap year</h3>
                   <p class="govuk-body-m">Advice on taking time out of education before continuing your studies.</p>
                 </div>
               </a>
             </div>
             <div class="govuk-grid-column-one-third">
               <a class="cards-link" href="https://nationalcareers.service.gov.uk/explore-careers">
                 <div class="card card-white">
                   <h3 class="govuk-heading-s" data-gtm-vis-recent-on-screen-8675592_422="445" data-gtm-vis-first-on-screen-8675592_422="445" data-gtm-vis-total-visible-time-8675592_422="100" data-gtm-vis-has-fired-8675592_422="1">Explore careers</h3>
                   <p class="govuk-body-m">Choose from over 800 career profiles to discover what each job involves.</p>
                 </div>
               </a>
             </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>

    <div class="govuk-width-container govuk-!-margin-top-6" id="if-you-did-not-get-the-grades-you-needed-for-university">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m">If you did not get the grades you needed</h2>
          <p class="govuk-body">If your grades were not what you were expecting, you still have plenty of options to choose from. <a href="https://nationalcareers.service.gov.uk/careers-advice/career-choices-at-18" class="govuk-link">Learn about all your options at 18.</a></p>
        </div>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-image-card erh-card-half-white">
            <div class="govuk-image-card__text-wrapper">
              <div class="govuk-image-card__header-and-context-wrapper govuk-!-padding-left-0">
                <h3 class="govuk-image-card__title govuk-heading-s  govuk-!-margin-bottom-1">
                  <a class="govuk-image-card__title-link govuk-link govuk-link--no-underline" href="https://www.ucas.com/undergraduate/results-confirmation-and-clearing/what-clearing#how-do-i-apply-using-clearing-">Apply to other universities through clearing (UCAS)</a> </h3>
              </div>
              <p class="govuk-body-m">Visit the UCAS website to see your clearing options.</p>
            </div>
            <figure class="govuk-image-card__image-wrapper"><img class="govuk-image-card__image" alt="Scales of Justice" src="/public/images/apply-through-another-university.png"></figure>
          </div>
        </div>
        <div class="govuk-grid-column-one-half ">
          <div class="govuk-image-card erh-card-half-white">
            <div class="govuk-image-card__text-wrapper">
              <div class="govuk-image-card__header-and-context-wrapper govuk-!-padding-left-0">
                <h3 class="govuk-image-card__title govuk-heading-s govuk-!-margin-bottom-1"> <a class="govuk-image-card__title-link govuk-link govuk-link--no-underline" href="resit">Resit your chosen subjects</a> </h3>
              </div>
              <p class="govuk-body-m">You can choose to resit some of your assessments in autumn 2021.</p>
            </div>
            <figure class="govuk-image-card__image-wrapper"><img class="govuk-image-card__image" alt="Scales of Justice" src="/public/images/resit-your-exam-1.png"></figure>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="govuk-width-container govuk-!-margin-top-5" id="if-your-grades-were-higher-than-expected">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m">If your grades were higher than expected</h2>
        </div>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-image-card erh-card-half-white">
            <div class="govuk-image-card__text-wrapper">
              <div class="govuk-image-card__header-and-context-wrapper govuk-!-padding-left-0">
                <h3 class="govuk-image-card__title govuk-heading-m  govuk-!-margin-bottom-1">
                  <a class="govuk-image-card__title-link govuk-link govuk-link--no-underline brand__color" href="https://www.ucas.com/ucas/undergraduate/apply-and-track/results/ucas-adjustment-if-youve-done-better-expected">Apply to a different course or university (UCAS)</a>
                </h3>
              </div>
              <p class="govuk-body-m">You may be able to apply for a different course or university through the UCAS adjustment service.</p>
            </div>
            <figure class="govuk-image-card__image-wrapper"><img class="govuk-image-card__image" alt="Scales of Justice" src="/public/images/done-better-than-expected.png"></figure>
          </div>
        </div>

        </div>
      </div>
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-thirds">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Discuss your options with your school or college
        </strong>
        <p class="govuk-!-margin-left-8">If you need to rethink your next steps, you still have lots of different options to choose from. <span class="govuk-!-font-weight-bold">You can speak to your school or college</span> to decide your next step or visit GOV.UK to <a class="govuk-link" href="https://www.gov.uk/appeal-qualification-result">appeal against an exam result.</a></p>

      </div></div></div>

    </div>

</section>
<section>
  <div class="secondary-hero hero-banner-full-width">
    <div class="govuk-width-container">
      <div class="govuk-grid-row  govuk-!-margin-left-0  govuk-!-margin-right-0">
        <div class="govuk-grid-column-two-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Speak to an adviser</h2>
          <p class="govuk-body">If you need help or advice around your exam results and next steps, you can call us on <span class="govuk-!-font-weight-bold">0800 100 900</span> or <a href="https://webchat.nationalcareersservice.org.uk:8082/ERH.html" class="govuk-link">use webchat.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="brand--ncs brand__border-color organisation__section-wrap organisation__margin-bottom govuk-!-margin-top-6 " id="how-your-grades-were-calculated">
  <div class="govuk-width-container" class="govuk-!-padding-bottom-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-0">How your grades were calculated</h2>
        <p>This year, teachers received detailed guidance from exam boards to support them with calculating students’ grades. This means that your teacher was able to calculate your grade using a number of different types of evidence, including mock exams, coursework, essays or in-class tests. </p>
        <p>If you want to know more about how assessment grades work, you can read the Department for Education’s article on   <a class="govuk-link" href="https://educationhub.blog.gov.uk/2021/02/25/what-you-need-to-know-about-grades-in-2021/">what you need to know about grades in 2021.</a></p>
      </div>

    </div>
  </div>
</section>

{% endblock %}
