{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
  <div class="sfPublicWrapper" id="PublicWrapper">
    <header class="job-profile-hero">
      <div data-sf-element="Row">
        <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
          <div class="govuk-width-container ">
            <div class="breadcrumbs govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
                <li class="govuk-breadcrumbs__list-item">Youth worker </li>
              </ol>
            </div>
          </div>
          <div class="govuk-width-container">
            <div class="grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h1 class="heading-xlarge"> Youth worker</h1>
                <p>Youth workers guide and support young people aged 11 to 25. They organise activities to help with personal and social development.</p>
              </div>
            </div>
            <div class="grid-row">
              <div id="Salary" class="column-40 job-profile-heroblock">
                <h2> Average salary <span>(a year)</span> </h2>
                <div class="job-profile-salary job-profile-heroblock-content">
                  <p class="dfc-code-jpsstarter">£23,250 <span>Starter</span></p>
                  <i class="sr-hidden">to</i>
                  <p class="dfc-code-jpsexperienced">£37,500 <span>Experienced</span></p>
                </div>
              </div>
              <div id="WorkingHours" class="column-30 job-profile-heroblock">
                <h2>Typical hours <span>(a week)</span></h2>
                <div class="job-profile-hours job-profile-heroblock-content">
                  <p class="dfc-code-jphours"> 37 to 39 <span class="dfc-code-jpwhoursdetail">a week</span> </p>
                </div>
              </div>
              <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
                <h2> You could work </h2>
                <div class="job-profile-pattern job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern"> evenings / weekends<span class="dfc-code-jpwhoursdetail">on a rota</span> </p>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-60 job-profile-heroblock govuk-grid-column-two-thirds">
                <h2> Find out more about jobs in this group</h2>
                <div class="job-profile-group job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern">See which sectors you’ll find this job in, what qualifications you need to work in this area and if these types of jobs are going up or going down. This information can help you make good career decisions.</p>
                <p class="dfc-code-jpwpattern govuk-!-padding-top-5"> <a href="job-group-lmi-v2" class="govuk-link">Explore job trends for this group</a>.</p>
                </div>
				  
				  
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="govuk-width-container">
      <div id="MainContentTop_T41A29498003_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Full Width Container"> <script language="JavaScript">
        var vocCookie = "vocPersonalisation=admin-assistant; path=/";

        if (document.location.protocol === "https:") {
            vocCookie += "; Secure";
        }

        document.cookie = vocCookie;
    </script> 
      </div>
    </div>
    <div class="govuk-width-container">
      <div class="grid-row" data-sf-element="Row">
        <div id="MainContent_T41A29498001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
          <div id="MainContent_T41A29498005_Col00" class="sf_colsIn job-profile-sections" data-sf-element="Container" data-placeholder-label="Job Profile Sections Container">
            <nav aria-label="skip to your documents" class="jump-links" role="navigation">
              <ol class="list list-number job-profile-anchorlinks">
                <li> <a href="#HowToBecome">How to become</a> </li>
                <li> <a href="#Skills">What it takes</a> </li>
                <li> <a href="#WhatYouWillDo">What you'll do</a> </li>
                <li> <a href="#CareerPathAndProgression">Career path and progression</a> </li>
                <li> <a href="#current-opportunities">Training opportunities</a> </li>
              </ol>
            </nav>
            <section id="HowToBecome">
              <h2 class="heading-large job-profile-heading">How to become a youth worker</h2>
              <p>You can get into this job through:</p>
              <ul wiid="C174">
                <li wiid="C175">a university course </li>
                <li wiid="C176">a college course</li>
                <li wiid="C177">an apprenticeship</li>
                <li wiid="C178">working towards this role</li>
                <li wiid="C179">volunteering</li>
                <li wiid="C180">applying directly</li>
              </ul>
              <section class="job-profile-subsection" id="University" wiid="C181">
                <h3 wiid="C182">University</h3>
                <div class="job-profile-subsection-content" wiid="C183">
                  <p wiid="C184">You can do a professional youth work qualification, like a degree that is recognised by the <a href="https://nya.org.uk/resource/current-youth-work-courses/" wiid="C185">National Youth Agency</a>.</p>
                  <p wiid="C186">Subjects include:</p>
                  <ul wiid="C187">
                    <li wiid="C188">youth and community</li>
                    <li wiid="C189">community and youth studies</li>
                    <li wiid="C190">youth and theology</li>
                    <li wiid="C191">informal and community education</li>
                  </ul>
                  <p wiid="C192">If you have a degree in another subject, you can take a postgraduate qualification to give you professional youth worker status.</p>
                  <p wiid="C193">You'll also need relevant experience to get on to a degree or postgraduate course.</p>
                  <h4 wiid="C194">Entry requirements</h4>
                  <p wiid="C195">You'll usually need:</p>
                  <ul class="list-reqs" wiid="C196">
                    <li wiid="C197">2 to 3 A levels, or equivalent, for a degree</li>
                    <li wiid="C198">a degree in any subject for a postgraduate course</li>
                  </ul>
                  <h4 wiid="C199">More Information</h4>
                  <ul class="list-link" wiid="C200">
                    <li wiid="C201"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C202">equivalent entry requirements</a></li>
                    <li wiid="C203"><a class="htb-feature" href="https://www.gov.uk/student-finance" wiid="C204">student finance for fees and living costs</a></li>
                    <li wiid="C205"><a class="htb-feature" href="https://www.gov.uk/funding-for-postgraduate-study" wiid="C206">finance for postgraduate courses</a></li>
                    <li wiid="C207"><a class="htb-feature" href="https://www.ucas.com/" wiid="C208">university courses and entry requirements</a></li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="College" wiid="C209">
                <h3 wiid="C210">College</h3>
                <div class="job-profile-subsection-content" wiid="C211">
                  <p wiid="C212">You could do a course like a Level 2 or 3 Diploma in Youth Work Practice. This would give you an advantage when you apply for a job as a youth support worker. You would then take further training on the job.</p>
                  <h4 wiid="C213">Entry requirements</h4>
                  <p wiid="C214">You'll usually need:</p>
                  <ul class="list-reqs" wiid="C215">
                    <li wiid="C216">4 or 5 GCSEs at grades 9 to 4 (A* to C), or equivalent, and work experience</li>
                  </ul>
                  <h4 wiid="C217">More Information</h4>
                  <ul class="list-link" wiid="C218">
                    <li wiid="C219"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C220">equivalent entry requirements</a></li>
                    <li wiid="C221"><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help" wiid="C222">funding advice</a></li>
                    <li wiid="C223"><a class="htb-feature" href="/find-a-course" wiid="C224">search for courses</a></li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="Apprenticeship" wiid="C225">
                <h3 wiid="C226">Apprenticeship</h3>
                <div class="job-profile-subsection-content" wiid="C227">
                  <p wiid="C228">You can complete an intermediate and advanced apprenticeship in youth work.</p>
                  <h4 wiid="C229">Entry requirements</h4>
                  <p wiid="C230">You'll usually need:</p>
                  <ul class="list-reqs" wiid="C231">
                    <li wiid="C232">5 GCSEs at grades 9 to 4 (A* to C), or equivalent, including English and maths, for an advanced apprenticeship</li>
                    <li wiid="C233">some GCSEs, usually including English and maths, or equivalent, for an intermediate apprenticeship</li>
                  </ul>
                  <h4 wiid="C234">More Information</h4>
                  <ul class="list-link" wiid="C235">
                    <li wiid="C236"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C237">equivalent entry requirements</a></li>
                    <li wiid="C238"><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide" wiid="C239">guide to apprenticeships</a></li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="work" wiid="C240">
                <h3 wiid="C241">Work</h3>
                <div class="job-profile-subsection-content" wiid="C242">
                  <p wiid="C243">You could start as a part-time or volunteer youth support worker and complete on-the-job training to use as entry on to a degree course to get professionally qualified.</p>
                </div>
              </section>
              <section class="job-profile-subsection" id="volunteering" wiid="C244">
                <h3 wiid="C245">Volunteering</h3>
                <div class="job-profile-subsection-content" wiid="C246">
                  <p wiid="C247">It's important that you get experience of paid or unpaid work with young people. You'll often need at least 1 year's experience to apply for professional youth work courses and jobs.</p>
                  <p wiid="C248"> Find out about local opportunities for voluntary or part-time youth work through the <a href="https://www.ncvo.org.uk/ncvo-volunteering" wiid="C249">National Council for Voluntary Organisations</a> or by contacting your local authority youth service. </p>
                </div>
              </section>
              <section class="job-profile-subsection" id="directapplication" wiid="C250">
                <h3 wiid="C251">Direct Application</h3>
                <div class="job-profile-subsection-content" wiid="C252">
                  <p wiid="C253">You can apply for youth work jobs if you've got relevant experience and qualifications, for example in teaching, careers guidance, probation or community development.</p>
                  <p wiid="C254">You'll be expected to complete a postgraduate award in youth work while you're working.</p>
                </div>
              </section>
              <section class="job-profile-subsection" id="moreinfo" wiid="C255">
                <h3 wiid="C256">More Information</h3>
                <div class="job-profile-subsection-content" wiid="C257">
                  <h4 wiid="C258">Further information</h4>
                  <p wiid="C259">You can get more advice on careers and training in youth work from the <a href="https://nya.org.uk/careers-youth-work/" wiid="C260">National Youth Agency</a>.</p>
                </div>
              </section>
            </section>
            <section id="WhatItTakes" wiid="C261" data-gtm-vis-recent-on-screen-8675592_55="714650" data-gtm-vis-first-on-screen-8675592_55="714650" data-gtm-vis-total-visible-time-8675592_55="100" data-gtm-vis-has-fired-8675592_55="1">
              <h2 class="job-profile-headings" wiid="C262">What it takes</h2>
              <section class="job-profile-subsection" wiid="C263">
                <h3 wiid="C264">Skills and knowledge</h3>
                <div class="job-profile-subsection-content" wiid="C265">
                  <p wiid="C266">You'll need:</p>
                  <ul wiid="C267">
                    <li wiid="C268"> excellent verbal communication skills </li>
                    <li wiid="C269"> sensitivity and understanding </li>
                    <li wiid="C270"> the ability to work well with others </li>
                    <li wiid="C271"> customer service skills </li>
                    <li wiid="C272"> patience and the ability to remain calm in stressful situations </li>
                    <li wiid="C273"> to be thorough and pay attention to detail </li>
                    <li wiid="C274"> counselling skills including active listening and a non-judgemental approach </li>
                    <li wiid="C275"> knowledge of psychology </li>
                    <li wiid="C276">to be able to carry out basic tasks on a computer or hand-held device</li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="restrictions" wiid="C277">
                <h3 wiid="C278">Restrictions and Requirements</h3>
                <div class="job-profile-subsection-content" wiid="C279">
                  <p wiid="C280">You'll need to:</p>
                  <ul wiid="C281">
                    <li wiid="C282">pass <a href="https://www.gov.uk/criminal-record-checks-apply-role" wiid="C283">enhanced background checks</a></li>
                  </ul>
                </div>
              </section>
            </section>
            <section id="WhatYouWillDo" wiid="C284">
              <h2 class="job-profile-heading" wiid="C285">What you'll do</h2>
              <section class="job-profile-subsection" wiid="C286">
                <h3 wiid="C287">Day-to-day tasks</h3>
                <div class="job-profile-subsection-content" wiid="C288">
                  <p wiid="C289">Your day-to-day tasks will include:</p>
                  <ul wiid="C290">
                    <li wiid="C291">organising sports, arts, education and drama activities</li>
                    <li wiid="C292">counselling, coaching and mentoring</li>
                    <li wiid="C293">working with young carers or those at risk of offending</li>
                    <li wiid="C294">assessing needs and running projects that deal with issues like health, bullying, crime or drugs</li>
                    <li wiid="C295">managing volunteers and part-time workers</li>
                    <li wiid="C296">keeping confidential records </li>
                    <li wiid="C297">controlling budgets and applying for grants and funding </li>
                    <li wiid="C298">working with social workers, teachers, probation officers and the police</li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="workingenvironment" wiid="C299">
                <h3 wiid="C300">Working environment</h3>
                <div class="job-profile-subsection-content" wiid="C301">
                  <p wiid="C302"> You could work in the community, at an outreach centre, at a college, in an office or at a school. </p>
                  <p wiid="C303"> Your working environment may be physically and emotionally demanding and outdoors some of the time. </p>
                </div>
              </section>
            </section>
            <section id="CareerPathAndProgression">
              <h2 class="heading-large">Career path and progression</h2>
              <p> With experience, you could progress from admin assistant to supervisor or office manager. You could also move into other departments such as IT or accounting. </p>
              <p>With further training, you could specialise in an area like legal, financial or medical administration.</p>
            </section>
            <section id="CurrentOpportunities" wiid="C308" data-gtm-vis-recent-on-screen-8675592_58="813508" data-gtm-vis-first-on-screen-8675592_58="813508" data-gtm-vis-total-visible-time-8675592_58="100" data-gtm-vis-has-fired-8675592_58="1">
              <h2 class="job-profile-headings" wiid="C309">Current opportunities</h2>
              <div class="govuk-grid-row" id="appGeneric" wiid="C310">
                <div class="govuk-grid-column-full" wiid="C311">
                  <h3 class="govuk-heading-m" wiid="C312" data-gtm-vis-recent-on-screen-8675592_194="812544" data-gtm-vis-first-on-screen-8675592_194="812544" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1"> Apprenticeships <span class="govuk-caption-m" wiid="C313">In England</span> </h3>
                </div>
                <div class="govuk-grid-column-full govuk-body dfc-code-jp-novacancyText" wiid="C314">
                  <p wiid="C315">We can't find any apprenticeship vacancies in England for a youth worker right now.</p>
                  <p wiid="C316">The <a href="https://www.gov.uk/apply-apprenticeship" wiid="C317">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
                </div>
              </div>
              <div class="govuk-grid-row dfc-code-jp-trainingCourse" wiid="C318">
                <div class="govuk-grid-column-full" wiid="C319">
                  <h3 class="govuk-heading-m" wiid="C320" data-gtm-vis-recent-on-screen-8675592_194="813494" data-gtm-vis-first-on-screen-8675592_194="813494" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1"> Courses <span class="govuk-caption-m" wiid="C321">In England</span> </h3>
                </div>
                <div class="govuk-grid-column-full dfc-code-jp-NoTrainingCoursesText" wiid="C322">
                  <p wiid="C323">Are you interested in becoming a youth worker?</p>
                  <p wiid="C324">Search for <a href="/find-a-course/search" wiid="C325">training courses near you</a>.</p>
                </div>
              </div>
              <div wiid="C326">
                <h3 class="govuk-heading-m" wiid="C327" data-gtm-vis-recent-on-screen-8675592_194="814491" data-gtm-vis-first-on-screen-8675592_194="814491" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1"> Jobs <span class="govuk-caption-m" wiid="C328">In the United Kingdom</span> </h3>
                <p wiid="C329">The <a href="https://findajob.dwp.gov.uk" wiid="C330">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
              </div>
            </section>
          </div>
        </div>
        <div id="MainContent_T41A29498001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
          <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container"> 
            
            <!--
            <div class="job-profile-related">
              <h2 class="heading-medium">Jobs in this group</h2>
              <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
				<p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore job prospects for this group</a></p>
            </div>
-->
            <div class="job-profile-related">
              <h2 class="heading-medium">Related careers</h2>
              <ul class="list list-big">
                <li wiid="C346"><a href="community-development-worker" wiid="C347">Community development worker</a></li>
                <li wiid="C348"><a href="community-arts-worker" wiid="C349">Community arts worker</a></li>
                <li wiid="C350"><a href="education-welfare-officer" wiid="C351">Education welfare officer</a></li>
              </ul>
            </div>
            <div>
              <div class="sf-Long-text">
                <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
              </div>
            </div>
            <div class="job-profile-search">
              <h3 class="heading-small">Search further careers</h3>
              <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
                <div class="job-profile-search-content">
                  <label for="search-main"> Enter a job title</label>
                  <div class="search-input-wrapper">
                    <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                  </div>
                  <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
                </div>
                <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
                <ul wiid="N81" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
                </ul>
              </form>
            </div>
          </aside>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Skills assessment</h2>
              <p><a href="/sprint43/homepage">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
            </div>
          </div>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Get help using this service</h2>
              <p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="https://nationalcareers.service.gov.uk/webchat/chat/" target="'_blank'">use webchat</a></p>
              <p class="grey font-xsmall">8am to 10pm, 7 days a week<br>
              </p>
              <p>More ways to <a href="/contact-us">contact us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-profile-feedback govuk-width-container js-visible">
      <div class="job-profile-feedback-start">
        <p>Is this page useful?</p>
        <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
      <div class="job-profile-feedback-end-yes hidden">
        <p>Thank you for your feedback.</p>
      </div>
      <div class="job-profile-feedback-end-no hidden">
        <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
      </div>
    </div>
  </div>
{% endblock %} 