{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Send by email
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}


{% endblock %}
  {% block content %}
<div class="govuk-width-container">
  <div class="govuk-width-container">
    <div class="app-breadcrumb-panel"> <a href="../../../../sprint41/skills-assessment/skills-health-check/save-my-progress" class="govuk-back-link">Back</a> </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds" wiid="C294">
        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group" wiid="C295">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" wiid="C296">
          <h1 class="govuk-fieldset__heading" wiid="C297">Email address</h1>
          </legend>
          <span class="govuk-hint" wiid="C298">We will only use this to send you a link to return to your assessment</span>
          <div class="govuk-body" wiid="C299">
            <form action="../../../../sprint41/skills-assessment/skills-health-check/save-my-progress/email-sent" method="post" class="govuk-grid-row" wiid="C300">
              <div class="govuk-grid-column-two-thirds-from-desktop" wiid="C301">
                <div wiid="C302">
                  <div class="govuk-form-group" wiid="C303">
                    <label class="govuk-label" for="email" wiid="C304"> Email </label>
                    <input class="govuk-input" id="email" name="email" type="text" wiid="C305" name="email" value="{{ data['email'] }}">
                  </div>
                </div>
                <button type="submit" class="govuk-button" wiid="C306"> Send </button>
              </div>
            </form>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
{% endblock %} 