{% extends "layout_ncs_sprint3.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <div class="govuk-header__navigation--end">
              <div class="account-nav">
              <span>  Sam Johnson  <a href="" class="govuk-!-margin-left-1 govuk-!-margin-right-3">Sign out</a><a href="#">Your account</a></span>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="govuk-width-container"> <a href="#" class="govuk-back-link">Home</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-two-thirds ">


<h1 class="govuk-heading-xl">When would you like to complete this action by?</h1>
            <form id="view-goalFormForm" action="update-confirmation" class="govuk-form-group" method="post">
                <input id="ActionPlanId" name="ActionPlanId" type="hidden" value="d56d9b7e-0a50-449e-922d-de4bdcf2ae75">
                <input id="InteractionId" name="InteractionId" type="hidden" value="c21fac38-b214-45c7-af48-c84a7de91c27">
                <input id="Action_ActionId" name="Action.ActionId" type="hidden" value="6ec9d7a1-d21c-49ae-87a6-0e18238dbc78">
                <input id="CustomerId" name="CustomerId" type="hidden" value="0f57c826-9e7b-416d-867f-40a61717d403">
                <input id="Action_ActionStatus" name="Action.ActionStatus" type="hidden" value="NotStarted">
                <div class="govuk-form-group ">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint" id="dobFieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                    <span id="date-of-birth-hint" class="govuk-hint">For example, 31 3 1980</span>
                    </legend>

                    <div class="govuk-date-input" id="date-of-birth">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="dobDay">Day</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobDay" name="dobDay" type="number" pattern="[0-9]*" inputmode="numeric" novalidate="">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="dobMonth">Month</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobMonth" name="dobMonth" type="number" pattern="[0-9]*" inputmode="numeric" novalidate="">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="dobYear">Year</label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dobYear" name="dobYear" type="number" pattern="[0-9]*" inputmode="numeric" novalidate="">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <br>
                <p>We will update your adviser's records with this change.</p>

<button id="view-goalGovukSecondaryButtonContinue;"  class="govuk-button  " data-module="govuk-button">
    Continue
</button>

            </form>
        </div>

      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
                <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="206" data-gtm-vis-first-on-screen-8675592_194="206" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1">Speak to an adviser</h2><p class="govuk-body-m"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat" rel="external" target="'_blank'">use webchat</a></p><ul class="govuk-list"><li>8am - 8pm Monday - Friday</li><li>10am - 5pm Saturday</li></ul>
            </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
