{% extends "layout_ncs_sprint3.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="action-plans">Action plans</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Sign in
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Sign in</h1>
        <form id="customForm" novalidate="">
          <div>
            <div class="govuk-form-group ">
              <label class="govuk-label" for="emailCustom">Email address</label>
              <input class="govuk-input govuk-!-width-one-half" id="emailCustom" name="email" type="email" spellcheck="false" autocomplete="email" novalidate="">
            </div>
            <div class="govuk-form-group ">
              <label class="govuk-label" for="passwordCustom">Password</label>
              <input class="govuk-input govuk-!-width-one-half" id="passwordCustom" name="password" type="password" novalidate="">
            </div>

          </div>
          <a href="your-account" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Sign in</a>
        </form>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Problems signing in?
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="list-bullet">
                  <li><a id="" href="find-your-email">Forgotten your email address?</a></li>
                  <li><a id="" href="forgot-password">Forgotten your password?</a></li>
                </ul>
          </div>
        </details>


        <!-- <p class="govuk-body"><a href="access-your-account" id="resetPasswordLink" class="govuk-link"> Can't access your account?</a></p> -->
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
                <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="206" data-gtm-vis-first-on-screen-8675592_194="206" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1">Speak to an adviser</h2><p class="govuk-body-m"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat" rel="external" target="'_blank'">use webchat</a></p><ul class="govuk-list"><li>8am - 8pm Monday - Friday</li><li>10am - 5pm Saturday</li></ul>
            </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
