{% extends "layout_ncs_sprint3.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <div class="govuk-header__navigation--end">
              <div class="account-nav">
              <span>  Sam Johnson  <a href="" class="govuk-!-margin-left-1 govuk-!-margin-right-3">Sign out</a><a href="#">Your account</a></span>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="action-plans-signed-out">Action plans</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Your account
    </li>
  </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl ">Your account</h1>

            <p>You can use your account to: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>manage your action plan online</li>
                <li>update your personal details and password</li>
            </ul>

<h3 class="govuk-heading-m govuk-!-margin-top-6" data-gtm-vis-recent-on-screen-8675592_240="86" data-gtm-vis-first-on-screen-8675592_240="86" data-gtm-vis-total-visible-time-8675592_240="100" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="88" data-gtm-vis-first-on-screen-8675592_194="88" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Your career action plans</h3>

            <p>
                View and update the career actions and goals that you agreed with your careers adviser.
            </p>
            <table class="govuk-table" aria-describedby="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Action plan</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table-cell">Created 10 May 2020 08:30</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a id="homeGovUkLinkAction-plan-d56d9b7e-0a50-449e-922d-de4bdcf2ae75" href="your-action-plan" tabindex="0" class=" ">View</a>
                                    </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table-cell">Created 10 May 2020 08:30</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a id="homeGovUkLinkAction-plan-cae5516d-e9ed-4840-b56a-6ebaa02a9088" href="your-action-plan" tabindex="0" class=" ">View</a>
                                    </td>
                            </tr>
                </tbody>
            </table>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-related-items">

<h3 class="govuk-heading-m " data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="89" data-gtm-vis-first-on-screen-8675592_194="89" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Manage your account</h3>

                <ul class="govuk-list">
                    <li>
                        <a id="homeGovUkLinkYour-details" href="your-details" tabindex="0" class="govuk-!-font-size-16 ">Your details</a>
                    </li>
                    <li>
                        <a id="homeGovUkLinkRest-password" href="reset-password" tabindex="0" class="govuk-!-font-size-16 ">Reset your password</a>
                    </li>
                    <li>
                        <a id="homeGovUkLinkClose-account" href="close-your-account" tabindex="0" class="govuk-!-font-size-16 ">Close your account</a>
                    </li>
                </ul>
            </div>
            <div class="app-related-items">
    <div>
    <div class="sfContentBlock sf-Long-text"><h2 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="90" data-gtm-vis-first-on-screen-8675592_194="90" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Speak to an adviser</h2>
<p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
<ul class="govuk-list">
    <li>8am - 8pm Monday - Friday </li>
    <li>10am - 5pm Saturday </li>
</ul></div>
</div>
</div>
        </div>
    </div>
  </main>
</div>
{% endblock %}
