{% extends "layout_ncs_sprint3.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <div class="govuk-header__navigation--end">
              <div class="account-nav">
              <span>  Sam Johnson  <a href="" class="govuk-!-margin-left-1 govuk-!-margin-right-3">Sign out</a><a href="your-account">Your account</a></span>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="action-plans">Action plans</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="your-account">Your account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Your details
    </li>
  </ol>
  </div>


  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl ">Your details</h1>


<h2 class="govuk-heading-m ">Your personal details</h2>

                <div class="govuk-form-group">
                    <form action="edit-your-details" class="form-group" method="get">

                            <table class="check-your-answers" role="presentation">
                                <tbody>


<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_Title">
    Title
</label>
    </td>
    <td class="govuk-!-width-two-third">Mrs</td>
</tr>



<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_First name">
    First name
</label>
    </td>
    <td class="govuk-!-width-two-third">Kadir</td>
</tr>



<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_Last name">
    Last name
</label>
    </td>
    <td class="govuk-!-width-two-third">Hima</td>
</tr>



<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_Date of birth">
    Date of birth
</label>
    </td>
    <td class="govuk-!-width-two-third">20 April 1983</td>
</tr>



<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_Gender">
    Gender
</label>
    </td>
    <td class="govuk-!-width-two-third">Male</td>
</tr>

                                </tbody>
                            </table>
                            <h2 class="govuk-heading-m govuk-!-margin-top-9">Your contact details</h2>
                            <table class="check-your-answers" role="presentation">
                                <tbody>



<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_Email address">
    Email address
</label>
    </td>
    <td class="govuk-!-width-two-third"><a href="mailto:ncs@automation.com">ncs@automation.com</a></td>
</tr>



<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_Home number">
    Home number
</label>
    </td>
    <td class="govuk-!-width-two-third">07380713394</td>
</tr>



<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_Mobile number">
    Mobile number
</label>
    </td>
    <td class="govuk-!-width-two-third">07713267676</td>
</tr>



<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_Alternative phone number">
    Alternative phone number
</label>
    </td>
    <td class="govuk-!-width-two-third"></td>
</tr>



<tr class="govuk-table__row">
    <td class="govuk-!-width-one-third">

<label class="govuk-label " for="Identity_PersonalDetails_Preferred contact method">
    Preferred contact method
</label>
    </td>
    <td class="govuk-!-width-two-third">Text</td>
</tr>

                                </tbody>
                            </table>
                            <h2 class="heading-medium">Your marketing preferences</h2>
                            <p>I agree to the following:</p>

                            <legend class="govuk-visually-hidden">
                                Your marketing preferences
                            </legend>
                            <div class="form-group govuk-checkboxes govuk-checkboxes--small ">

                                <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="your-detailsGovukCheckBoxMarketing-opt-out" name="your-detailsGovukCheckBoxMarketing-opt-out" type="checkbox" disabled="">
    <label class="govuk-label govuk-checkboxes__label" for="your-detailsGovukCheckBoxMarketing-opt-out">
        To receive marketing from the National Careers Service’s trusted partners
    </label>
</div>

                                <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="your-detailsGovukCheckBoxMarket-research" name="your-detailsGovukCheckBoxMarket-research" type="checkbox" checked="" disabled="">
    <label class="govuk-label govuk-checkboxes__label" for="your-detailsGovukCheckBoxMarket-research">
        The National Careers Service can contact me for market research
    </label>
</div>
                            </div>

                        <div>

<button id="your-detailsGovukButtonEdit" class="govuk-button  " data-module="govuk-button">
    Edit your details
</button>
                        </div>
                    </form>
                </div>
            </div>

      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-first-on-screen-8675592_194="111630">Speak to an adviser?&nbsp;</h2>
          <p class="govuk-body-m"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat" rel="external" target="'_blank'">use webchat</a></p>
          <p class="govuk-caption-m">8am - 8pm Monday - Friday</p>
          <p class="govuk-caption-m">10am - 5pm Saturday</p>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
