{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
  <div class="sfPublicWrapper" id="PublicWrapper">
    <header class="job-profile-hero">
      <div data-sf-element="Row">
        <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
          <div class="govuk-width-container ">
            <div class="breadcrumbs govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
                <li class="govuk-breadcrumbs__list-item">Family support worker
 </li>
              </ol>
            </div>
          </div>
          <div class="govuk-width-container">
            <div class="grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h1 class="heading-xlarge">Family support worker</h1>
                <p>Family support workers help and advise families with long or short-term difficulties.



</p>
              </div>
            </div>
            <div class="grid-row">
              <div id="Salary" class="column-40 job-profile-heroblock">
                <h2> Average salary <span>(a year)</span> </h2>
                <div class="job-profile-salary job-profile-heroblock-content">
                  <p class="dfc-code-jpsstarter">£18,000
<span>Starter</span></p>
                  <i class="sr-hidden">to</i>
                  <p class="dfc-code-jpsexperienced">£35,000
 <span>Experienced</span></p>
                </div>
              </div>
              <div id="WorkingHours" class="column-30 job-profile-heroblock">
                <h2>Typical hours <span>(a week)</span></h2>
                <div class="job-profile-hours job-profile-heroblock-content">
                  <p class="dfc-code-jphours"> 36 to 38 <span class="dfc-code-jpwhoursdetail">a week</span> </p>
                </div>
              </div>
              <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
                <h2> You could work </h2>
                <div class="job-profile-pattern job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern"> evenings / weekends / bank holidays
<span class="dfc-code-jpwhoursdetail">away from home
</span> </p>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-60 job-profile-heroblock govuk-grid-column-two-thirds">
                <h2> Find out more about jobs in this group</h2>
                <div class="job-profile-group job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern">See which sectors you’ll find this job in, what qualifications you need to work in this area and if these types of jobs are going up or going down. This information can help you make good career decisions.</p>
                <p class="dfc-code-jpwpattern govuk-!-padding-top-5"> <a href="job-group-lmi" class="govuk-link">Explore job trends for this group</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="govuk-width-container">
      <div id="MainContentTop_T41A29498003_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Full Width Container"> <script language="JavaScript">
        var vocCookie = "vocPersonalisation=admin-assistant; path=/";

        if (document.location.protocol === "https:") {
            vocCookie += "; Secure";
        }

        document.cookie = vocCookie;
    </script> 
      </div>
    </div>
    <div class="govuk-width-container">
      <div class="grid-row" data-sf-element="Row">
        <div class="govuk-grid-column-two-thirds" wiid="C212">
        <div class="job-profile-sections" wiid="C213">
            <nav class="jump-links" role="navigation" aria-label="skip to your documents" wiid="C214">
    <ol class="list list-number" wiid="C215">
        <li wiid="C216">
            <a href="#HowToBecome" wiid="C217">How to become</a>
        </li>
        <li wiid="C218">
            <a href="#WhatItTakes" wiid="C219">What it takes</a>
        </li>
        <li wiid="C220">
            <a href="#WhatYouWillDo" wiid="C221">What you'll do</a>
        </li>
        <li wiid="C222">
            <a href="#CareerPathAndProgression" wiid="C223">Career path and progression</a>
        </li>
        <li wiid="C224">
            <a href="#CurrentOpportunities" wiid="C225">Current opportunities</a>
        </li>
    </ol>
</nav>
            

<section id="HowToBecome" wiid="C226" data-gtm-vis-recent-on-screen-8675592_54="96" data-gtm-vis-first-on-screen-8675592_54="96" data-gtm-vis-total-visible-time-8675592_54="100" data-gtm-vis-has-fired-8675592_54="1">
    <h2 class="job-profile-heading" wiid="C227">How to become a family support worker</h2>

    <p wiid="C228">You can get into this job through:</p>
<ul wiid="C229">
    <li wiid="C230">a college course</li>
    <li wiid="C231">an apprenticeship</li>
    <li wiid="C232">volunteering</li>
    <li wiid="C233">applying directly</li>
</ul>

        
                <section class="job-profile-subsection" id="College" wiid="C234">
            <h3 wiid="C235">College</h3>
            <div class="job-profile-subsection-content" wiid="C236">

                <p wiid="C237">You could do a:</p>
<ul wiid="C238">
    <li wiid="C239">Level 3 Diploma in Health and Social Care</li>
    <li wiid="C240">Level 3 Diploma for the Children and Young People's Workforce</li>
</ul>

                

                    <h4 wiid="C241">Entry requirements</h4>
                    <p wiid="C242">You'll usually need:</p>
                    <ul class="list-reqs" wiid="C243">
                            <li wiid="C244">4 or 5 GCSEs at grades 9 to 4 (A* to C), or equivalent, for a level 3 course</li>
                    </ul>

                    <h4 wiid="C245">More Information</h4>
                    <ul class="list-link" wiid="C246">
                            <li wiid="C247"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C248">equivalent entry requirements</a></li>
                            <li wiid="C249"><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help" wiid="C250">funding advice</a></li>
                            <li wiid="C251"><a class="htb-feature" href="/find-a-course" wiid="C252">search for courses</a></li>
                    </ul>
            </div>
        </section>

                <section class="job-profile-subsection" id="Apprenticeship" wiid="C253">
            <h3 wiid="C254">Apprenticeship</h3>
            <div class="job-profile-subsection-content" wiid="C255">

                <p wiid="C256">You could complete a children, young people and families practitioner higher apprenticeship.</p>

                

                    <h4 wiid="C257">Entry requirements</h4>
                    <p wiid="C258">You'll usually need:</p>
                    <ul class="list-reqs" wiid="C259">
                            <li wiid="C260">4 or 5 GCSEs at grades 9 to 4 (A* to C) and A levels, or equivalent, for a higher or degree apprenticeship</li>
                    </ul>

                    <h4 wiid="C261">More Information</h4>
                    <ul class="list-link" wiid="C262">
                            <li wiid="C263"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C264">equivalent entry requirements</a></li>
                            <li wiid="C265"><a class="htb-feature" href="https://www.gov.uk/government/publications/higher-and-degree-apprenticeships" wiid="C266">higher and degree apprenticeships</a></li>
                    </ul>
            </div>
        </section>

    
    <section class="job-profile-subsection" id="volunteering" wiid="C267">
        <h3 wiid="C268">Volunteering</h3>
        <div class="job-profile-subsection-content" wiid="C269">
            <p wiid="C270">Experience is essential when applying for training or jobs. You can get this through paid or voluntary work in:</p>
<ul wiid="C271">
    <li wiid="C272">children's homes</li>
    <li wiid="C273">nurseries</li>
    <li wiid="C274">family refuge centres</li>
    <li wiid="C275"> probation services</li>
    <li wiid="C276">family community centres</li>
    <li wiid="C277">mental health services</li>
    <li wiid="C278">youth projects</li>
</ul>
        </div>
    </section>

    <section class="job-profile-subsection" id="directapplication" wiid="C279">
        <h3 wiid="C280">Direct Application</h3>
        <div class="job-profile-subsection-content" wiid="C281">
            <p wiid="C282">Employers will expect you to have:</p>
<ul wiid="C283">
    <li wiid="C284">experience in working with children, young people and their families</li>
    <li wiid="C285">a minimum of a level 3 qualification in childcare, social work, social care, counselling, youth work or education</li>
</ul>
        </div>
    </section>


        <section class="job-profile-subsection" id="moreinfo" wiid="C286">
        <h3 wiid="C287">More Information</h3>
        <div class="job-profile-subsection-content" wiid="C288">

                <h4 wiid="C289">Further information</h4>
<p wiid="C290">You can find out more about careers in support work from <a href="https://www.skillsforcare.org.uk/Careers-in-care/Think-Care-Careers.aspx" wiid="C291">Think Care Careers</a>.</p>        </div>
    </section>

</section>
            
<section id="WhatItTakes" wiid="C292">
    <h2 class="job-profile-headings" wiid="C293">What it takes</h2>

        <section class="job-profile-subsection" wiid="C294">
        <h3 wiid="C295">Skills and knowledge</h3>
        <div class="job-profile-subsection-content" wiid="C296">
            <p wiid="C297">You'll need:</p>
            <ul wiid="C298">
                        <li wiid="C299">
                            counselling skills including active listening and a non-judgemental approach
                        </li>
                        <li wiid="C300">
                            excellent verbal communication skills
                        </li>
                        <li wiid="C301">
                            sensitivity and understanding
                        </li>
                        <li wiid="C302">
                            patience and the ability to remain calm in stressful situations
                        </li>
                        <li wiid="C303">
                            to be flexible and open to change
                        </li>
                        <li wiid="C304">
                            the ability to work well with others
                        </li>
                        <li wiid="C305">
                            the ability to accept criticism and work well under pressure
                        </li>
                        <li wiid="C306">
                            the ability to understand people’s reactions
                        </li>
                    <li wiid="C307">to be able to carry out basic tasks on a computer or hand-held device</li>
            </ul>
        </div>
    </section>

        <section class="job-profile-subsection" id="restrictions" wiid="C308">
        <h3 wiid="C309">Restrictions and Requirements</h3>
        <div class="job-profile-subsection-content" wiid="C310">
                <p wiid="C311">You'll need to:</p>
                <ul wiid="C312">
                        <li wiid="C313">pass <a href="https://www.gov.uk/criminal-record-checks-apply-role" wiid="C314">enhanced background checks</a></li>
                </ul>
            <p wiid="C315">For many roles you may be expected to have a full, clean driving licence.</p>
        </div>
    </section>


</section>
            
<section id="WhatYouWillDo" wiid="C316">
    <h2 class="job-profile-heading" wiid="C317">What you'll do</h2>
    <section class="job-profile-subsection" wiid="C318">
        <h3 wiid="C319">Day-to-day tasks</h3>
        <div class="job-profile-subsection-content" wiid="C320">
            <p wiid="C321">In this role you could:</p>
<ul wiid="C322">
    <li wiid="C323">work with people who have drug or alcohol addiction</li>
    <li wiid="C324">support a parent who is in hospital or prison</li>
    <li wiid="C325">support clients who have marital or financial difficulties</li>
    <li wiid="C326">support a child or parent with a disability</li>
    <li wiid="C327">attend court sessions that deal with care orders for children</li>
    <li wiid="C328">work with social workers to assess a family's needs when a child returns home after being in care</li>
    <li wiid="C329">support people with language barriers who are struggling to access services</li>
    <li wiid="C330">help clients to develop parenting and home management skills</li>
</ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment" wiid="C331">
        <h3 wiid="C332">Working environment</h3>
        <div class="job-profile-subsection-content" wiid="C333">

                <p wiid="C334">
                    You could work in an office, at a client's home or in a court.
                </p>

                <p wiid="C335">
                    Your working environment may be emotionally demanding.
                </p>

        </div>
    </section>
</section>
            
    <section id="CareerPathAndProgression" wiid="C336">
        <h2 class="job-profile-heading" wiid="C337">Career path and progression</h2>
        <p wiid="C338">With experience and qualifications you could focus on a particular area, like working with people with disabilities.</p>
<p wiid="C339">You could also become a team leader, managing a group of support workers, or apply to be an assistant manager of a family centre or refuge.</p>
<p wiid="C340">Experience in family support may help if you want to move into social work.</p>
    </section>
 
            
<section id="CurrentOpportunities" wiid="C341">
    <h2 class="job-profile-headings" wiid="C342">Current opportunities</h2>
    <div class="govuk-grid-row" id="appGeneric" wiid="C343">
        <div class="govuk-grid-column-full" wiid="C344">
            <h3 class="govuk-heading-m" wiid="C345">
                Apprenticeships
                <span class="govuk-caption-m" wiid="C346">In England</span>
            </h3>
        </div>
                <div class="govuk-grid-column-one-half" wiid="C347">
                    <div class="opportunity-item" wiid="C348">
                        <h4 class="govuk-heading-s" wiid="C349">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1649303" wiid="C350">Apprentice Support Assistant (Adult Care)</a>
                        </h4>
                        <ul class="govuk-list" wiid="C351">
                            <li wiid="C352"><span class="govuk-body govuk-!-font-weight-bold" wiid="C353">Wage: </span> £15,726.00 <span class="govuk-body-s govuk-secondary-colour" wiid="C354">Annually</span></li>
                            <li wiid="C355"><span class="govuk-body govuk-!-font-weight-bold" wiid="C356">Location:</span> Alton </li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half" wiid="C357">
                    <div class="opportunity-item" wiid="C358">
                        <h4 class="govuk-heading-s" wiid="C359">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1649074" wiid="C360">Support Worker Apprenticeship</a>
                        </h4>
                        <ul class="govuk-list" wiid="C361">
                            <li wiid="C362"><span class="govuk-body govuk-!-font-weight-bold" wiid="C363">Wage: </span> £117.00 <span class="govuk-body-s govuk-secondary-colour" wiid="C364">Weekly</span></li>
                            <li wiid="C365"><span class="govuk-body govuk-!-font-weight-bold" wiid="C366">Location:</span> Durham </li>
                        </ul>
                    </div>
                </div>
            <div class="govuk-grid-column-full govuk-body-m dfc-code-jp-vacancyText" wiid="C367">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" wiid="C368">Find apprenticeships near you</a>
            </div>
    </div>
    <div class="govuk-grid-row dfc-code-jp-trainingCourse" wiid="C369">
        <div class="govuk-grid-column-full" wiid="C370">
            <h3 class="govuk-heading-m" wiid="C371">
                Courses
                <span class="govuk-caption-m" wiid="C372">In England</span>
            </h3>
        </div>
                <div class="govuk-grid-column-one-half" wiid="C373">
                    <div class="opportunity-item" wiid="C374">
                        <h4 class="govuk-heading-s" wiid="C375">
                            <a href="/find-a-course/course-details?courseid=1ba04b25-8d9c-48b3-94af-b37868827ce6&amp;r=45ee0cd2-20d5-409a-aefc-a6a018fe757e" wiid="C376">Diploma in H&amp;SC and C&amp;YP services Level 5</a>
                        </h4>
                        <ul class="govuk-list" wiid="C377">
                            <li wiid="C378"><span class="govuk-body govuk-!-font-weight-bold" wiid="C379">Provider:</span> VOCATIONAL TRAINING SERVICES CARE SECTOR LIMITED</li>
                            <li wiid="C380"><span class="govuk-body govuk-!-font-weight-bold" wiid="C381">Start date:</span> 01 October 2020</li>
                            <li wiid="C382"><span class="govuk-body govuk-!-font-weight-bold" wiid="C383">Location:</span> </li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half" wiid="C384">
                    <div class="opportunity-item" wiid="C385">
                        <h4 class="govuk-heading-s" wiid="C386">
                            <a href="/find-a-course/course-details?courseid=df8c3e84-a018-4b9e-ae0c-8aa191746db0&amp;r=25835f19-9695-4ea4-b301-6a482ca0fbe2" wiid="C387">Health and Social Care Diploma Level 1</a>
                        </h4>
                        <ul class="govuk-list" wiid="C388">
                            <li wiid="C389"><span class="govuk-body govuk-!-font-weight-bold" wiid="C390">Provider:</span> LTE GROUP</li>
                            <li wiid="C391"><span class="govuk-body govuk-!-font-weight-bold" wiid="C392">Start date:</span> 11 January 2021</li>
                            <li wiid="C393"><span class="govuk-body govuk-!-font-weight-bold" wiid="C394">Location:</span> Manchester</li>
                        </ul>
                    </div>
                </div>
            <div class="govuk-grid-column-full govuk-body dfc-code-jp-TrainingCoursesText" wiid="C395">
                <a href="/find-a-course/search" wiid="C396">Find courses near you</a>
            </div>
    </div>
    <div wiid="C397">
        <h3 class="govuk-heading-m" wiid="C398">
            Jobs
            <span class="govuk-caption-m" wiid="C399">In the United Kingdom</span>
        </h3>
        <p wiid="C400">The <a href="https://findajob.dwp.gov.uk" wiid="C401">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
    </div>
</section>
        </div>
    </div>
        <div id="MainContent_T41A29498001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
          <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container"> 
            
            <!--
            <div class="job-profile-related">
              <h2 class="heading-medium">Jobs in this group</h2>
              <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
				<p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore job prospects for this group</a></p>
            </div>
-->
            <div class="job-profile-related">
              <h2 class="heading-medium">Related careers</h2>
              <ul class="list list-big">
                <li wiid="C346"><a href="community-development-worker" wiid="C347">Community development worker</a></li>
                <li wiid="C348"><a href="community-arts-worker" wiid="C349">Community arts worker</a></li>
                <li wiid="C350"><a href="education-welfare-officer" wiid="C351">Education welfare officer</a></li>
              </ul>
            </div>
            <div>
              <div class="sf-Long-text">
                <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
              </div>
            </div>
            <div class="job-profile-search">
              <h3 class="heading-small">Search further careers</h3>
              <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
                <div class="job-profile-search-content">
                  <label for="search-main"> Enter a job title</label>
                  <div class="search-input-wrapper">
                    <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                  </div>
                  <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
                </div>
                <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
                <ul wiid="N81" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
                </ul>
              </form>
            </div>
          </aside>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Skills assessment</h2>
              <p><a href="/sprint43/homepage">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
            </div>
          </div>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Get help using this service</h2>
              <p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="https://nationalcareers.service.gov.uk/webchat/chat/" target="'_blank'">use webchat</a></p>
              <p class="grey font-xsmall">8am to 10pm, 7 days a week<br>
              </p>
              <p>More ways to <a href="/contact-us">contact us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-profile-feedback govuk-width-container js-visible">
      <div class="job-profile-feedback-start">
        <p>Is this page useful?</p>
        <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
      <div class="job-profile-feedback-end-yes hidden">
        <p>Thank you for your feedback.</p>
      </div>
      <div class="job-profile-feedback-end-no hidden">
        <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
      </div>
    </div>
  </div>
{% endblock %} 