{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="homepage-LMI">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="careers-advice">Careers advice</a> </li>
        <li class="govuk-breadcrumbs__list-item">Make informed career decisions</li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <h1 class="govuk-heading-xl">Make informed career decisions </h1>
          <p class="govuk-body">When you make a career decision you may want to think about:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the sort of person you are</li>
            <li>what <a href="https://beta.nationalcareers.service.gov.uk/" class="govuk-link">work you're a good fit for</a></li>
            <li>what you’re good at and <a href="https://nationalcareers.service.gov.uk/skills-assessment/skills-health-check/home" class="govuk-link">what skills you have</a></li>
          </ul>
          <p class="govuk-body">It's also useful to consider:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>what jobs exist, in what sectors and who does them </li>
            <li>which regions have the most jobs in a specific sector</li>
            <li>which jobs are growing in demand, and which are declining</li>
            <li>what skills and qualifications employers need</li>
            <li>whether the job you do is likely to exist in the future</li>
            <li>how much people earn and how long they work for</li>
            <li>where and how people work</li>
          </ul>
          <h3 class="govuk-heading-m">Career decisions in the real world</h3>
          <p class="govuk-body">Labour market information (LMI) is everything we can measure about the world of work. LMI can help you make realistic and informed career decisions.</p>
          <p class="govuk-body">LMI comes from lots of different sources. These include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>government and industry surveys </li>
            <li>reports from professional bodies</li>
            <li>reports that focus on specific groups of people. These may be graduates, women, older workers or people with disabilities</li>
          </ul>
          <p class="govuk-body">The facts and figures can sometimes be difficult to understand. Careers advisers interpret and simplify complex labour market information. Advisers help you make career decisions based on your individual circumstances and goals.</p>
          <h3 class="govuk-heading-m">Labour market information in real life</h3>
          <p class="govuk-body">Labour market information can help when you’re thinking about questions like:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>how easy is this job to get into?</li>
            <li>if I take this course will I get a job at the end?</li>
            <li>how much will I get paid when I’ve done this job for a few years? </li>
            <li>will I need to move area to do this career?</li>
            <li>will this job still be around in 10 years’ time?</li>
          </ul>
          <p class="govuk-body">It's important to have accurate and up to date information about the world of work. This will help you to make realistic and informed choices.</p>
          <p class="govuk-body">It can help you to see what you’ll need to be able to start or get on in your chosen career, whether it's:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>skills</li>
            <li>qualifications</li>
            <li>experience </li>
          </ul>
          <p class="govuk-body">This will help you make a plan and give you a clear sense of direction.</p>
          <h3 class="govuk-heading-m">Labour market information on our site</h3>
          <p class="govuk-body">To help you in your career journey, labour market information makes up a part of everything we do. You might find it useful to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>find out salaries, working hours and patterns for a range of jobs in <a href="explorecareers" class="govuk-link">explore careers</a></li>
            <li>compare salary, working hours and employment outlook between jobs using the <a href="careerometer" class="govuk-link">Careerometer</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="">
          <div class="app-related-items">
            <div class="gem-c-related-navigation">
              <h2 class="govuk-heading-m"> Related content </h2>
              <ul class="govuk-list">
                <li> <a href="understanding-world-of-work" class="govuk-link">How job trends can inform your career decisions</a></li>
                <li> <a href="covid-19-disruption" class="govuk-link">Understanding the working world during COVID-19</a></li>
              </ul>
            </div>
            <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="287" data-gtm-vis-first-on-screen-8675592_194="287" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Want to speak to an adviser?</h2>
            <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 </p>
            <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 