{% extends "layout_ncs_sprint47.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
<div class="sfPublicWrapper" id="PublicWrapper">
  <header class="job-profile-hero">
    <div data-sf-element="Row">
      <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
        <div class="govuk-width-container ">
          <div class="breadcrumbs govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="../explorecareers">Home: Explore careers</a></li>
              <li class="govuk-breadcrumbs__list-item">Accounting technician </li>
            </ol>
          </div>
        </div>
        <div class="govuk-width-container">
          <div class="grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1> Accounting technician</h1>

              <p>Accounting technicians handle day-to-day financial matters in all types of business.</p>
            </div>
          </div>
          <div class="grid-row">
            <div id="Salary" class="column-40 job-profile-heroblock">
              <h2> Average salary <span>(a year)</span> </h2>
              <div class="job-profile-salary job-profile-heroblock-content">
                <p class="dfc-code-jpsstarter">£18,000 <span>Starter</span></p>
                <i class="sr-hidden">to</i>
                <p class="dfc-code-jpsexperienced">£32,000 <span>Experienced</span></p>
              </div>
            </div>
            <div id="WorkingHours" class="column-30 job-profile-heroblock">
              <h2>Typical hours <span>(a week)</span></h2>
              <div class="job-profile-hours job-profile-heroblock-content">
                <p class="dfc-code-jphours"> 38 to 40 <span class="dfc-code-jpwhoursdetail">a week</span> </p>
              </div>
            </div>
            <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
              <h2> You could work </h2>
              <div class="job-profile-pattern job-profile-heroblock-content">
                <p class="dfc-code-jpwpattern"> between 8am and 6pm </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="govuk-width-container">
    <div id="MainContentTop_T41A29498003_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Full Width Container"> <script language="JavaScript">
        var vocCookie = "vocPersonalisation=admin-assistant; path=/";

        if (document.location.protocol === "https:") {
            vocCookie += "; Secure";
        }

        document.cookie = vocCookie;
    </script> 
    </div>
  </div>
  <div class="govuk-width-container">
    <div class="grid-row" data-sf-element="Row">
      <div id="MainContent_T41A29498001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="howtobecome"> Routes to become an accounting technician </span> </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="howtobecome">
              <div class="job-profile-sections">
                <section id="HowToBecome">
                  <p>You can get into this job through:</p>
                  <ul>
                    <li>a college course</li>
                    <li>an apprenticeship</li>
                    <li>working towards this role</li>
                    <li> applying directly</li>
                  </ul>
                  <section class="job-profile-subsection no-grey" id="College">
                    <h3>College</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could do a college course, which would teach you some of the skills and knowledge you need in this job. Relevant subjects include a Level 2 or 3 Diploma in Business and Administration.</p>
                      <h4>Entry requirements</h4>
                      <p>You'll usually need:</p>
                      <ul class="list-reqs">
                        <li>2 or more GCSEs at grades 9 to 3 (A* to D) for a level 2 course</li>
                        <li>4 or 5 GCSEs at grades 9 to 4 (A* to C) for a level 3 course</li>
                      </ul>
                      <h4>More Information</h4>
                      <ul class="list-link">
                        <li><a class="htb-feature govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                        <li><a class="htb-feature govuk-lin" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                        <li><a class="htb-feature" href="/find-a-course/home">search for courses</a></li>
                      </ul>
                      <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-2" href="https://nationalcareers.service.gov.uk/find-a-course">Find courses near you</a> </div>
                  </section>
                  <section class="job-profile-subsection no-grey" id="Apprenticeship">
                    <h3>Apprenticeship</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could get into this job through an intermediate apprenticeship in business administration, or a business administrator advanced apprenticeship.</p>
                      <h4>Entry requirements</h4>
                      <p>You'll usually need:</p>
                      <ul class="list-reqs">
                        <li>some GCSEs, usually including English and maths, for an intermediate apprenticeship</li>
                        <li>5 GCSEs at grades 9 to 4 (A* to C), or equivalent, including English and maths, for an advanced apprenticeship</li>
                      </ul>
                      <h4>More information</h4>
                      <ul class="list-link">
                        <li><a class="htb-feature govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                        <li><a class="htb-feature govuk-link" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
                      </ul>
                      <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-2" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a> </div>
                  </section>
                  <section class="job-profile-subsection no-grey" id="work">
                    <h3>Work</h3>
                    <div class="job-profile-subsection-content">
                      <p>You might be able to start on a temporary contract through a recruitment agency. Sometimes this can lead to a permanent job. Qualifications in business administration may also help.</p>
                    </div>
                  </section>
                  <section class="job-profile-subsection no-grey" id="volunteer">
                    <h3>Volunteering</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could volunteer with a charity in an office based role to get some experience and skills that are useful for administration work.</p>
                      <div class="govuk-inset-text" style="border-left: 5px solid #b1b4b6;">
                        <p>Read our guidance about how to obtain <a class="govuk-link" href="#abc">work experience</a>, <a class="govuk-link" href="#abc">internships</a> and <a class="govuk-link" href="#abc">volunteer work</a> to get started.</p>
                      </div>
                    </div>
                  </section>
                  <section class="job-profile-subsection no-grey" id="directapplication">
                    <h3>Direct application</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could apply directly to become an admin assistant.</p>
                      <p>Some employers may expect you to have:</p>
                      <ul>
                        <li> GCSEs at grades 9 to 4 (A* to C) or <a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent</a>, including English and maths</li>
                        <li>telephone, typing or IT skills</li>
                      </ul>
                      <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-2" href="https://findajob.dwp.gov.uk">Find jobs near you</a> </div>
                  </section>
                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whatittakes"> What skills you will need </span> </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="whatittakes">
              <div class="job-profile-sections">
                <section id="WhatItTakes">
                  <section class="job-profile-subsection no-grey">
                    <h3>Skills and knowledge</h3>
                    <div class="job-profile-subsection-content">
                      <p>You'll need:</p>
                      <ul>
                        <li> administration skills </li>
                        <li> to be thorough and pay attention to detail </li>
                        <li> the ability to work well with others </li>
                        <li> the ability to work on your own </li>
                        <li> sensitivity and understanding </li>
                        <li> to be flexible and open to change </li>
                        <li> excellent verbal communication skills </li>
                        <li>to be able to use a computer and the main software packages competently</li>
                      </ul>
                    </div>
                    <div class="govuk-inset-text" style="border-left: 5px solid #b1b4b6;"> <span class="govuk-heading-s">Find out more about your skills</span>
                      <p>Learn more about your skills and the careers that might suit you.</p>
                      <a class="govuk-button" href="https://nationalcareers.service.gov.uk/skills-assessment">Take a skills assessment</a></div>
                  </section>
                </section>
              </div>
            </div>
          </div>
<!--
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="dayinthelife"> A day in the life of an admin assistant </span> </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="dayinthelife">
              <p>The National Careers Service spoke to Beth, an administrative assistant in a secondary school in Ely.</p>
              <h4 class="govuk-heading-s">What does a day in your life look like?</h4>
              <p><span class="govuk-!-font-weight-bold">8.00am:</span> Already people are waiting in the office that have critical needs. I speak to several parents with enquiries and several students with timetable queries. The phone rings every 5 minutes with simple requests that take my time until 10am.</p>
              <p>My boss calls and lets me know he has a meeting in another town — could I get a report off his desk, scan it and send it to his phone?</p>
              <p><span class="govuk-!-font-weight-bold">10.00am:</span> Finally I can check my email and review the stack of work left from yesterday.</p>
              <p><span class="govuk-!-font-weight-bold">10.15am:</span> I start on report for the school board, respond to a request for state reports on attendance and teacher time in classroom, and organize a new time schedule that meets state requirements and community requests.</p>
              <p><span class="govuk-!-font-weight-bold">11.00am:</span> Post information to the school website.</p>
              <p><span class="govuk-!-font-weight-bold">11.30pm:</span> My boss returns from his meeting—he needs me to contact several people for a meeting tomorrow. I call them and leave messages for the people who aren’t available.</p>
              <p><span class="govuk-!-font-weight-bold">12.00pm:</span> I eat lunch at my desk, while answering the phone and working on my to-do list.</p>
              <p><span class="govuk-!-font-weight-bold">2.30pm:</span> My co-worker asks me to help organize a retirement party for a supervisor — she really means will I arrange a time and place, make a list of invitees, prepare and mail invitations and get prices from the caterer. She will handle the program.</p>
              <p><span class="govuk-!-font-weight-bold">4.00pm:</span> Review my to-do list and see several projects that had to be completed today. I work until 5:30 to complete them and vow to be better organized tomorrow.</p>
            </div>
          </div>
-->
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whatyoulldo"> What you will do as an accounting technician </span> </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="whatyoulldo">
              <div class="job-profile-sections">
                <section id="WhatYouWillDo">
                  <section class="job-profile-subsection no-grey">
                    <h3>Day-to-day tasks</h3>
                    <div class="job-profile-subsection-content">
                      <p>In this role you could be:</p>
                      <ul>
                        <li>dealing with queries on the phone, by email and social media </li>
                        <li>greeting visitors at reception </li>
                        <li>typing letters and reports </li>
                        <li>updating computer records </li>
                        <li>printing and photocopying </li>
                        <li>ordering supplies </li>
                        <li>setting up meetings and taking notes during them </li>
                        <li>making travel arrangements for staff </li>
                      </ul>
                    </div>
                  </section>
                  <section class="job-profile-subsection no-grey" id="workingenvironment">
                    <h3>Working environment</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could work in an office. </p>
                    </div>
                  </section>
                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="careerpath"> Career path and progression </span> </h2>
            </div>
            <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="careerpath">
              <div class="job-profile-sections">
                <section id="CareerPathAndProgression">
                  <p> With experience, you could progress from admin assistant to supervisor or office manager. You could also move into other departments, like IT, payroll or accounting. </p>
                  <p>With further training, you could specialise in an area like:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>legal administration</li>
                    <li>financial administration</li>
                    <li>medical administration</li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="currentopps"> Current opportunities </span> </h2>
            </div>
            <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="currentopps">
              <div class="job-profile-sections">
                <section id="CurrentOpportunities">
                  <div class="govuk-grid-row" id="appGeneric">
                    <div class="govuk-grid-column-full">
                      <h3 class="govuk-heading-m"> Apprenticeships <span class="govuk-caption-m">In England</span> </h3>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <div class="opportunity-item">
                        <h4 class="govuk-heading-s"> <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/91131042">Business Administrator Apprenticeship</a> </h4>
                        <ul class="govuk-list">
                          <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £224.91 <span class="govuk-body-s govuk-secondary-colour">Weekly</span></li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Nottingham </li>
                        </ul>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <div class="opportunity-item">
                        <h4 class="govuk-heading-s"> <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/91130826">Customer Connect Department Apprentice</a> </h4>
                        <ul class="govuk-list">
                          <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £144.30 <span class="govuk-body-s govuk-secondary-colour">Weekly</span></li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Sheffield </li>
                        </ul>
                      </div>
                    </div>
                    <div class="govuk-grid-column-full govuk-body-m dfc-code-jp-vacancyText"> <a class="govuk-button" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a> </div>
                  </div>
                  <div class="govuk-grid-row dfc-code-jp-trainingCourse">
                    <div class="govuk-grid-column-full">
                      <h3 class="govuk-heading-m"> Courses <span class="govuk-hint">In England</span> </h3>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <div class="panel panel-border-narrow opportunity-item">
                        <h3 class="govuk-heading-s"> <a href="https://nationalcareers.service.gov.uk/find-a-course/course-details?courseid=e7b0adc7-ea3d-4ba2-8ebc-ca7f6ecb9a66&r=9fcdf326-c603-4f85-9e54-3112959a6559">Diploma in Business Administration</a> </h3>
                        <ul class="list">
                          <li><span class="bold-small">Provider:</span> PENDERSONS LTD</li>
                          <li><span class="bold-small">Start date:</span> 01 May 2020</li>
                        </ul>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <div class="panel panel-border-narrow opportunity-item">
                        <h3 class="govuk-heading-s"> <a href="https://nationalcareers.service.gov.uk/find-a-course/course-details?courseid=c3505ea9-39e4-440e-a852-7762b641dc3d&r=4844ccc4-fe6f-4a8c-b036-815240804467">Business Administration</a> </h3>
                        <ul class="list">
                          <li><span class="bold-small">Provider:</span> RWP TRAINING LIMITED</li>
                          <li><span class="bold-small">Start date:</span> 01 June 2020</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="dfc-code-jp-TrainingCoursesText"> <a class="govuk-button" href="https://nationalcareers.service.gov.uk/find-a-course">Find courses near you</a> </div>
                  <div>
                    <h3 class="govuk-heading-m"> Jobs <span class="govuk-caption-m">In the United Kingdom</span> </h3>
                    <p>The Find a job service can help you with your search for jobs and send alerts when new jobs become available.</p>
                    <a class="govuk-button" href="http://findajob.dwp.gov.uk">Find jobs near you</a> </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="MainContent_T41A29498001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
        <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container"> 
          
          <!--
            <div class="job-profile-related">
              <h2 class="heading-medium">Jobs in this group</h2>
              <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
				<p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore job prospects for this group</a></p>
            </div>
-->
			<div>
            <div class="sf-Long-text">
              <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
            </div>
          </div>
          <div class="job-profile-search">
            <h3 class="heading-small">Search further careers</h3>
            <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
              <div class="job-profile-search-content">
                <label for="search-main"> Enter a job title</label>
                <div class="search-input-wrapper">
                  <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                </div>
                <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
              </div>
              <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
              <ul wiid="N81" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
              </ul>
            </form>
          </div>
          <div class="job-profile-related">
    <h3 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="50" data-gtm-vis-first-on-screen-8675592_194="50" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Related careers</h3>
    <ul class="list list-big">
            <li><a href="/job-profiles/local-government-administrative-assistant">Local government administrative assistant</a></li>
            <li><a href="/job-profiles/civil-service-administrative-officer">Civil Service administrative officer</a></li>
            <li><a href="/job-profiles/data-entry-clerk">Data entry clerk</a></li>
            <li><a href="/job-profiles/personal-assistant">Personal assistant</a></li>
            <li><a href="/job-profiles/health-records-clerk">Health records clerk</a></li>
    </ul>
</div>
          
        </aside>
        <div>
          <div class="sf-Long-text">
            <h2 class="heading-medium">Skills assessment</h2>
            <p><a href="/sprint43/homepage">Take an assessment</a>  to learn more about your skills and the careers that might suit you.</p>
          </div>
        </div>
        <div>
          <div class="sf-Long-text">
            <h2 class="heading-medium">Get help using this service</h2>
            <p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="https://nationalcareers.service.gov.uk/webchat/chat/" target="'_blank'">use webchat</a></p>
            <p class="grey font-xsmall">8am to 10pm, 7 days a week<br>
            </p>
            <p>More ways to <a href="/contact-us">contact us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="job-profile-feedback govuk-width-container js-visible">
    <div class="job-profile-feedback-start">
      <p>Is this page useful?</p>
      <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
    <div class="job-profile-feedback-end-yes hidden">
      <p>Thank you for your feedback.</p>
    </div>
    <div class="job-profile-feedback-end-no hidden">
      <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
    </div>
  </div>
</div>
{% endblock %} 