{% extends "layout_ncs_sprint56.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="course-details-hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row" style="padding-bottom: 30px">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top:0.5em;">English Level 2 (Functional Skills)</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container govuk-!-padding-top-6">
  <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m" id="CourseDetailsLabel" data-gtm-vis-recent-on-screen-8675592_194="119" data-gtm-vis-first-on-screen-8675592_194="119" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Course details</h2>
        <table class="govuk-table k-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
              <td class="govuk-table__cell" scope="col">Functional Skills Qualification in English</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Qualification level</th>
              <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Awarding organisation</th>
              <td class="govuk-table__cell"> 	City & Guilds of London Institute</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Location</th>
              <td class="govuk-table__cell">
                <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">East Midlands</span>
                                    </summary>
                                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 location-block">
                                            <li>Derby</li>
                                            <li>Derbyshire</li>
                                            <li>Leicester</li>
                                            <li>Leicestershire</li>
                                            <li>Nottingham</li>
                                            <li>Nottinghamshire</li>
                                    </ul>
                                </details>
                                <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">North West</span>
                                    </summary>
                                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 location-block">
                                            <li>Blackburn with Darwen</li>
                                            <li>Blackpool</li>
                                            <li>Cheshire East</li>
                                            <li>Cheshire West and Chester</li>
                                            <li>Halton</li>
                                            <li>Knowsley</li>
                                            <li>Lancashire</li>
                                            <li>Liverpool</li>
                                            <li>Sefton</li>
                                            <li>St Helens</li>
                                            <li>Warrington</li>
                                            <li>Wirral</li>
                                    </ul>
                                </details>
                                <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">West Midlands</span>
                                    </summary>
                                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 location-block">
                                            <li>Herefordshire</li>
                                            <li>Staffordshire</li>
                                            <li>Stoke-on-Trent</li>
                                            <li>Worcestershire</li>
                                    </ul>
                                </details>
                                <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">Yorkshire and The Humber</span>
                                    </summary>
                                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 location-block">
                                            <li>Barnsley</li>
                                            <li>Bradford</li>
                                            <li>Calderdale</li>
                                            <li>Doncaster</li>
                                            <li>East Riding of Yorkshire</li>
                                            <li>Kirklees</li>
                                            <li>Leeds</li>
                                            <li>Rotherham</li>
                                            <li>Sheffield</li>
                                            <li>Wakefield</li>
                                            <li>York</li>
                                    </ul>
                                </details></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course type</th>
              <td class="govuk-table__cell">Work based</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Course start date</th>
              <td class="govuk-table__cell">Flexible</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cost description</th>
              <td class="govuk-table__cell">Free - funded by the adult education budget (AEB)</td>
            </tr>
          </tbody>
        </table>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whofor"> Who this course is for </span> </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1"> Discover the learning experience and opportunities you can expect from this course. </div>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class='govuk-body'>This free course will help you to enhance your skills in reading, writing and communicating with others. Whether you want to brush up on your skills, are looking at a future career or further learning or just want to be able to help your children with their homework better, this course will give you the practical skills to support you to achieve your goal. You’ll also gain a nationally recognised qualification that employers want to see on CVs by completing this course.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="entry"> Entry requirements </span> </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1"> Find out what qualifications and skills you will need for this course </div>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <p class='govuk-body'>You need to be aged 19 and over and will be assessed at the start of the course to determine the right level of support and learning.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whatlearn"> What you'll learn </span> </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1"> Understand the key features of this course </div>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>By the end of the course you’ll have learnt new skills such as understanding how to effectively communicate, using complex sentences and the art of persuasion with the written word and style etc.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="howlearn"> How you'll learn </span> </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1"> Explore how the course will be delivered </div>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>You’ll be supported by our professional and skilled specialist English Trainers with personalised training that will help you tackle and overcome any topic areas that you may struggle with. We use an online tool to assess and support learners to complete the course, targeting skills that need additional support. Training takes place either in the workplace, in a community venue, at one of our own centres or remotely. We have the flexibility to support you and work around your needs.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="need"> What you'll need to bring </span> </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>No specific equipment.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="assessed"> How you'll be assessed </span> </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1"> Find out how your will be assessed on the course. </div>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>Three components make up the assessment method: 1. Reading exam 2. Writing exam 3. Speaking, Listening & Communicating recorded conversations as part of a group including informal and formal discussion as well as a short talk.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="next"> What you can do next </span> </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1"> Look at the further opportunities available. </div>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>Whether you want the qualification to be a springboard to help you secure employment or move into further learning such as an apprenticeship, achieving an English Level 2 qualification can really help you open doors and unlock opportunities for your future career goals.</p>
            </div>
          </div>
          <!-- <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="next">Venue </span> </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <table class="govuk-table">
                <caption class="govuk-visually-hidden">
                Table with course venue details
                </caption>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Name</th>
                    <td class="govuk-table__cell"><span id="venue-name">King's Lynn</span></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Address</th>
                    <td class="govuk-table__cell"><span id="address-line1">Tennyson Avenue</span><br>
                      <span id="address-toen">King's Lynn</span><br>
                      <span id="address-county">Norfolk</span><br>
                      <span id="address-postcode">PE30 2QW</span><br>
                      <a id="address-map" href="https://www.google.com/maps/place/52.75634,0.410575">Find on Google maps</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Email</th>
                    <td class="govuk-table__cell"><a id="email-address" href="mailto:admissions@col-westanglia.ac.uk">admissions@col-westanglia.ac.uk</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Phone</th>
                    <td class="govuk-table__cell"><span id="phone-number">01553 761144</span></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Website</th>
                    <td class="govuk-table__cell"><a id="website" href="http://www.cwa.ac.uk">http://www.cwa.ac.uk</a></td>
                  </tr>
                </tbody>
              </table>
              <h2 class="govuk-heading-m" id="othervenuesdates">Other venues and dates</h2>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header">Venue</th>
                    <th class="govuk-table__header">Start date</th>
                    <th class="govuk-table__header">Options</th>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><span id="venue-name">King's Lynn</span></td>
                    <td class="govuk-table__cell"><span id="startdate">7th September 2020</span></td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="http://www.cwa.ac.uk" id="website">View course</a></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div> -->
        </div>
        <button href="https://www.sthelens.ac.uk/courses/computing/382-itq/825-level-1-itq-certificate-in-it-user-skills" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Go to course provider
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                    </svg>
                </button>

        <!-- <a href="https://www.sthelens.ac.uk/courses/computing/382-itq/825-level-1-itq-certificate-in-it-user-skills" target="_blank" role="button" draggable="false" class="govuk-button govuk-button--start"> Go to course provider </a> <br> -->
        <p><a href="course-search-result" class="govuk-back-link">Back to results</a></p> </div>




      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
          <h2 class="govuk-heading-m govuk-!-margin-top-2">Course provider</h2>
          <p class="govuk-body-lead">REALISE LEARNING AND EMPLOYMENT LIMITED</p>
          <ul class="govuk-list govuk-!-font-size-16">
            <!-- <li> <span class="govuk-!-font-weight-bold">Address:</span> Water St, Saint Helens WA10 1PP </li> -->
            <li> <span class="govuk-!-font-weight-bold">Website:</span> <a class="govuk-link" href="#">https://www.sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="#">enquire@sthelens.ac.uk/</a> </li>
            <li> <span class="govuk-!-font-weight-bold">Phone:</span> 01142 519210 </li>
          </ul>
          <h2 class="govuk-heading-m" data-gtm-vis-first-on-screen-8675592_194="115" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="557371" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Provider performance information</h2>
                  <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">8.4</p>
                  <p class="govuk-body-s govuk-!-font-weight-bold">out of 10 for learner satisfaction</p>
                  <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">7.8</p>
                  <p class="govuk-body-s govuk-!-font-weight-bold">out of 10 for employer satisfaction</p>
          <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9503.559613567959!2d-2.740917!3d53.4525543!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x838120ea3b7053d5!2sSt+Helens+College!5e0!3m2!1sen!2suk!4v1563970523558!5m2!1sen!2suk" frameborder="0" style="border:0; margin-bottom: 20px;" allowfullscreen></iframe>-->

          <hr class="govuk-section-break govuk-section-break--visible" />
        </div>
        <div class="app-related-items">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
