{% extends "layout_ncs_sprint56.html" %}



{% block pageTitle %}
National Careers Service
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}

{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="secondary-hero govuk-!-margin-bottom-0">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">T Level in Education and Childcare</h1>
            </div>
        </div>
    </div>
</div>
<div class="govuk-width-container">
    {% endblock %}

    {% block content %}
    <main class="govuk-main-wrapper govuk-!-margin-top-7" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m">Course details</h2>
          <table class="govuk-table k-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification name</th>
                  <td class="govuk-table__cell" scope="col">T Level in Education and Childcare</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Qualification level</th>
                  <td class="govuk-table__cell">Level 3</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Awarding organisation</th>
                  <td class="govuk-table__cell">City and Guilds</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Course type</th>
                  <td class="govuk-table__cell">Classroom based</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Course hours</th>
                  <td class="govuk-table__cell">Full-time</td>
                </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Course start date</th>
                <td class="govuk-table__cell">1st September 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Duration</th>
                <td class="govuk-table__cell">2 years</td>
              </tr>

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Cost</th>
                <td class="govuk-table__cell">£0.00</td>
              <!-- </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Industry placement</th>
                <td class="govuk-table__cell">9 weeks minimum</td>
              </tr> -->
            </tr>
            <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row">Cost description</th>
                                    <td class="govuk-table__cell"><span id="additonal-price">Please see the college website for fee details</span></td>
                                </tr>
                                <tr class="govuk-table__row">
                                                        <th class="govuk-table__header" scope="row">Attendance pattern</th>
                                                        <td class="govuk-table__cell"><span id="additonal-price">Daytime</span></td>
                                                    </tr>

          </tbody>
          </table>

          <h2 class="govuk-heading-m">Who this course is for</h2>
          <p class="govuk-body">This T Level is suitable for anyone wanting a career in early years education, childcare or assisting teaching.
          </p><p class="govuk-body">The T Level is a two-year programme and will include a 9 week (minimum) industry placement and a Technical Qualification, where you will also choose an specialist subject.</p>

          <h2 class="govuk-heading-m">Entry requirements</h2>
          <p class="govuk-body">You will need either 5 GCSEs (at grade 4 or above), including English, maths and science, or a pass in a relevant level 2 qualification.
          </p><p class="govuk-body">If you do not have the recommended entry qualifications you may still be considered if you have relevant experience or show a natural ability for the subject.</p>

          <h2 class="govuk-heading-m">What you'll learn</h2>
          <p class="govuk-body">You will develop an understanding of: <br><br>The education and childcare sector from ages 0 to 19<br>Child development<br>How to support children and young people’s education<br>Safeguarding, health and safety and wellbeing<br>Understanding and managing behaviour<br>Observing and assessing children and young people<br>Equality and diversity<br>Special educational needs and disability<br>English as an additional language<br>Working with parents, carers and wider families, <br>Working with agencies and services that support children, families and carers<br>Reflective practice and other forms of professional development.

          </p><p class="govuk-body">In addition to the core content, you will choose one of the following as a specialist subject:

          <br>
          <br>Early years education and childcare
          <br>Assisting teaching
          <br>Supporting and mentoring students in further and higher education (available from September 2021)

          </p><h2 class="govuk-heading-m">How you'll learn</h2>
          <p class="govuk-body">Your learning will combine classroom theory and practical learning and include 9 weeks (minimum) of industry placement.  The placement will provide you with real experience of the workplace.</p>

          <h2 class="govuk-heading-m">How you'll be assessed</h2>
          <p class="govuk-body">Your Technical Qualification is split into two components.  Your tutor will work with you to decide whether you’re ready to sit the Core Component assessment.</p>

          <p class="govuk-body">The Core Component, has two exams and an Employer Set Project.  The project consists of tasks, each task will be completed over a few weeks, before you start you’ll have some time to do research and prepare.</p>

          <p class="govuk-body">The Specialist Component is made up of a project about your chosen subject.</p>

          <h2 class="govuk-heading-m">Next steps</h2>
          <p class="govuk-body">This T Level has been developed in collaboration with employers and businesses so the content will meet the needs of the industry and prepare you for work, providing you the knowledge and experience needed to open the door to highly skilled employment, an Apprenticeship or higher-level study.</p>
          <p class="govuk-body">You can progress into roles such as:<br><br>Nursery worker<br>Special educational needs (SEN) teaching assistant<br>Teaching assistant<br>Learning mentor.</p>

          <h2 class="govuk-heading-m">Venue</h2>
          <table class="govuk-table">
          <caption class="govuk-visually-hidden">Table with course venue details</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Name</th>
                <td class="govuk-table__cell"><span id="venue-name">King's Lynn</span></td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Address</th>
                <td class="govuk-table__cell">
                        <span id="address-line1">Tennyson Avenue</span><br>
                        <span id="address-toen">King's Lynn</span><br>
                        <span id="address-county">Norfolk</span><br>
                        <span id="address-postcode">PE30 2QW</span><br>
                        <a id="address-map" href="https://www.google.com/maps/place/52.75634,0.410575">Find on Google maps</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Email</th>
                <td class="govuk-table__cell"><a id="email-address" href="mailto:admissions@col-westanglia.ac.uk">admissions@col-westanglia.ac.uk</a></td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Phone</th>
                <td class="govuk-table__cell"><span id="phone-number">01553 761144</span></td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Website</th>
                <td class="govuk-table__cell"><a id="website" href="http://www.cwa.ac.uk">http://www.cwa.ac.uk</a></td>
            </tr>
          </tbody>
          </table>
          <form action="http://www.cwa.ac.uk" id="venue-form">
                  <button href="http://www.cwa.ac.uk" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                      Go to course
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                      </svg>
                  </button>
              </form>
                <p><a href="course-search-result" class="govuk-back-link">Back to results</a></p>
          <h2 class="govuk-heading-m">Other venues and dates</h2>

          <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Venue</th>
              <th scope="col" class="govuk-table__header">Start date</th>
              <th scope="col" class="govuk-table__header">Options</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Medway Campus</td>
              <td class="govuk-table__cell">1st September 2021</td>
              <td class="govuk-table__cell"><a href="course-details-tlevels-multiple">View course</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Birmingham Campus</td>
              <td class="govuk-table__cell">1st September 2021</td>
              <td class="govuk-table__cell"><a href="course-details-tlevels-multiple">View course</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">London Campus</td>
              <td class="govuk-table__cell">1st September 2021</td>
              <td class="govuk-table__cell"><a href="course-details-tlevels-multiple">View course</a></td>
            </tr>
          </tbody>
        </table>





        </div>


        <div class="govuk-grid-column-one-third">
        <div class="app-related-items">

            <h2 class="govuk-heading-m govuk-!-margin-top-2">Course provider</h2>
                            <p class="govuk-body-lead">St Helens College</p>

                            <ul class="govuk-list govuk-!-font-size-16">
                              <li> <span class="govuk-!-font-weight-bold">Address:</span> Tonbridge Road, Maidstone, Kent, ME16 8AQ</li>
                                <li>
                                    <span class="govuk-!-font-weight-bold">Website:</span>
                                    <a class="govuk-link" href="#">https://www.sthelens.ac.uk/</a>
                                </li>
                                <li>
                                    <span class="govuk-!-font-weight-bold">Email:</span>
                                    <a class="govuk-link" href="#">enquire@sthelens.ac.uk/</a>
                                </li>
                                <li>
                                    <span class="govuk-!-font-weight-bold">Phone:</span> 0800 996699
                                </li>
                            </ul>

                            <h2 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="108" data-gtm-vis-first-on-screen-8675592_194="108" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Provider performance information</h2>
                                    <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">8.7</p>
                                    <p class="govuk-body-s govuk-!-font-weight-bold">out of 10 for learner satisfaction</p>
                                    <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">8.1</p>
                                    <p class="govuk-body-s govuk-!-font-weight-bold">out of 10 for employer satisfaction</p>

                                </div>

            <div class="app-related-items">
                <h2 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-first-on-screen-8675592_194="111630">Speak to an adviser?&nbsp;</h2>
                <p class="govuk-body-m"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat" rel="external" target="'_blank'">use webchat</a></p><p class="govuk-caption-m">8am - 8pm Monday - Friday</p><p class="govuk-caption-m">10am - 5pm Saturday</p>
            </div>
        </div>

    </div>
    </main>
    {% endblock %}
