{% extends "layout_ncs_sprint50-psfmvp.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <a href="skills" class="govuk-back-link">Back</a>
    </div>
  </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row  govuk-!-margin-top-5">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text"> <span class="govuk-caption-xl">Step 3 of 5</span>
          <h1 class="govuk-heading-xl">Select the job sectors you are interested in</h1>
          <p class="govuk-body">Select all of the job sectors you are interested in having a career in. </p>
<!--          <p class="govuk-body">If you do not want to filter by job sectors, please <a href="restrictions">skip this step</a> </p>-->
          <div class="banner-message">
            <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">We have found 19 career matches based on your selection. <!--<a href="matched-results">View</a>--> </p>
          </div>
          <form action="restrictions" class="js-live-search-form" id="psf-skills" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                <div id="nationality-hint" class="govuk-hint"> Select all that apply. </div>
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Administration, business and finance </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Beauty and wellbeing </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Computing, tech and digital </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Construction and trades </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Creative and media </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Emergency and uniformed services </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Engineering, manufacturing and maintenance </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Environment and agriculture </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Health and social care </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Public and property services </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Hospitality and food </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Legal services </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Retail and sales </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Science and research </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Sports and leisure </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Teaching and education </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Transport, delivery and storage </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Administration" name="Administration" type="checkbox" value="british" aria-describedby="administration-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="Administration"> Travel and tourism </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
<!--			  <a href="restrictions" class="govuk-link govuk-!-margin-left-5">Skip this step</a>-->
          </form>
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sf-Long-text">
          <div class="app-related-items">
            <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="287" data-gtm-vis-first-on-screen-8675592_194="287" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Want to speak to an adviser?</h2>
            <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 </p>
            <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 