{% extends "layout_ncs_sprint50-psfmvp.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="homepage">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="explorecareers">Explore careers</a> </li>
        <li class="govuk-breadcrumbs__list-item">Filter your potential careers</li>
      </ol>
    </div>
  </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row  govuk-!-margin-top-5">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text"> <span class="govuk-caption-xl">Step 1 of 5</span>
          <h1 class="govuk-heading-xl">Select qualification level</h1>
          <p class="govuk-body">Filter your jobs by entry <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank" class="govuk-link"> qualification level</a>.  If you want to see jobs you can get into at any level, <a href="skills" class="govuk-link">skip this step</a>.  </p>
<!--			<p class="govuk-body">If you do not want to filter by job level, please <a href="skills">skip this step</a>  </p>-->
          
          <form action="skills" class="js-live-search-form" id="psf-skills" method="post">
			  <div class="govuk-form-group govuk-!-margin-top-9">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <div id="nationality-hint" class="govuk-hint">
      Select all that apply.
    </div>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="no-formal-qualifications" name="no-formal-qualifications" type="checkbox" value="british" aria-describedby="no-formal-qualifications-hint">
        <label class="govuk-label govuk-checkboxes__label" for="no-formal-qualifications">
          No formal qualifications
        </label>
        <div id="no-formal-qualifications-hint" class="govuk-hint govuk-checkboxes__hint">
          Work experience and skills learnt on the job
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="upto-level-2" name="upto-level-2" type="checkbox" value="upto-level-2" aria-describedby="upto-level-2-hint">
        <label class="govuk-label govuk-checkboxes__label" for="upto-level-2">
          Up to Level 2

        </label>
		  <div id="upto-level-2-hint" class="govuk-hint govuk-checkboxes__hint">
          Achieved up to GCSEs, BTECs or equivalent
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="levels-3-to-4" name="levels-3-to-4" type="checkbox" value="levels-3-to-4" aria-describedby="levels-3-to-4-hint">
        <label class="govuk-label govuk-checkboxes__label" for="levels-3-to-4">
          Levels 3 to 4

        </label>
		  <div id="levels-3-to-4-hint" class="govuk-hint govuk-checkboxes__hint">
          Achieved A levels or equivalent to Higher National Diploma or equivalent
        </div>
      </div>
		<div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="levels-5-to-6" name="levels-5-to-6" type="checkbox" value="levels-5-to-6" aria-describedby="levels-5-to-6-hint">
        <label class="govuk-label govuk-checkboxes__label" for="levels-5-to-6">
         Levels 5 to 6


        </label>
		  <div id="levels-5-to-6-hint" class="govuk-hint govuk-checkboxes__hint">
          Achieved an undergraduate degree or equivalent
        </div>
      </div>
		<div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="levels-7-to-8" name="levels-7-to-8" type="checkbox" value="levels-7-to-8" aria-describedby="levels-7-to-8-hint">
        <label class="govuk-label govuk-checkboxes__label" for="levels-7-to-8">
          Levels 7 to 8
        </label>
		  <div id="levels-7-to-8-hint" class="govuk-hint govuk-checkboxes__hint">
          Achieved a postgraduate degree, professional qualification or equivalent
        </div>
      </div>
    </div>

  </fieldset>
</div>
			
			<button class="govuk-button" data-module="govuk-button">Continue</button>
			  <!--<button class="govuk-button govuk-button--secondary govuk-!-margin-left-3" data-module="govuk-button">Skip this step</button>
			  <a href="skills" class="govuk-link govuk-!-margin-left-5">Skip this step</a>-->
			</form>
			
			
<!--
			<table class="govuk-table previous-answers-table">
    <caption class="govuk-table__caption">
        <h2 class="govuk-heading-m">Your answers</h2>

      <p class="govuk-body">
      <a class="govuk-link" data-module="track-click" data-track-action="Start again" data-track-category="StartAgain" data-track-label="What’s the employment status of the mother’s partner?" href="/pay-leave-for-parents">Start again</a>
      </p>
    </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Question</th>
          <th scope="col" class="govuk-table__header">Answer</th>
          <th scope="col" class="govuk-table__header">Change answer</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell govuk-!-width-one-half">Will the mother care for the child with a partner?</td>
  <td class="govuk-table__cell">
      Yes
  </td>
  <td class="govuk-table__cell">
    <a class="govuk-link" data-module="track-click" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="Will the mother care for the child with a partner? / Yes" href="/pay-leave-for-parents/y?previous_response=yes">
      Change<span class="govuk-visually-hidden"> answer to "Will the mother care for the child with a partner?"</span>
</a>  </td>
</tr>

          <tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell govuk-!-width-one-half">When is the baby due?</td>
  <td class="govuk-table__cell">
      31 December 2020
  </td>
  <td class="govuk-table__cell">
    <a class="govuk-link" data-module="track-click" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="When is the baby due? / 31 December 2020" href="/pay-leave-for-parents/y/yes?previous_response=2020-12-31">
      Change<span class="govuk-visually-hidden"> answer to "When is the baby due?"</span>
</a>  </td>
</tr>

          <tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell govuk-!-width-one-half">What’s the employment status of the mother?</td>
  <td class="govuk-table__cell">
      Employee
  </td>
  <td class="govuk-table__cell">
    <a class="govuk-link" data-module="track-click" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="What’s the employment status of the mother? / Employee" href="/pay-leave-for-parents/y/yes/2020-12-31?previous_response=employee">
      Change<span class="govuk-visually-hidden"> answer to "What’s the employment status of the mother?"</span>
</a>  </td>
</tr>

      </tbody>
  </table>
-->
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sf-Long-text">
          <div class="app-related-items">
            
            <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="287" data-gtm-vis-first-on-screen-8675592_194="287" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Want to speak to an adviser?</h2>
            <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 </p>
            <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 