{% extends "layout_ncs_sprint3.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<!-- <div class="govuk-width-container">
        <div>
            <div class="govuk-header__navigation--end">

                    <a class="account-link" href="/your-account/home" id="signin-link">Sign in</a>

            </div>
        </div>
    </div> -->

<header class="homepage-top">
  <div class="ec-hero">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Action plans</h1>
          <p class="govuk-body-lead">Taking the next step in your career can sometimes feel overwhelming. It’s helpful to break down a big decision into small steps that you can do one at a time. Use your action plan to keep track of the goals and actions you and your adviser set during your appointment.</p>

        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <!-- <a href="#" class="govuk-back-link">Back</a> -->

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You will only have an action plan if you’ve had an appointment with a careers adviser and they have set one up for you. If you would like to speak to an adviser, <a href="https://nationalcareers.service.gov.uk/contact-us" class="govuk-link">contact us</a> for an appointment.
  </strong>
</div>
        <h2 class="govuk-heading-l govuk-!-margin-bottom-5">Access your action plan</h2>

        <p class="govuk-body">To review and update your action plan, first you need to log in to your account.</p>
        <!-- <a id="homeGovukButtonLinkGoToActionPlans" href="/your-account" tabindex="0" class="govuk-button">Go to your action plans</a> -->
        <a href="sign-in" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-button--start" data-module="govuk-button">
          Go to your action plan
          </a>

          <h3 class="govuk-heading-m">If you do not have an action plan</h3>
          <p class="govuk-body">If you don’t have an action plan, don’t worry. There are lots of things you can do to take control of your career, like:</p>
          <ul class="govuk-list govuk-list--bullet">
  <li>take a <a href="https://nationalcareers.service.gov.uk/skills-assessment" class="govuk-link">skills assessment</a> to find out more about your skills and motivations
</li>
  <li>explore different <a href="https://nationalcareers.service.gov.uk/job-profiles" class="govuk-link">job profiles</a> or <a href="https://nationalcareers.service.gov.uk/find-a-course" class="govuk-link">find a course</a> and see what might be a good fit for you
</li>
  <li>read <a href="https://nationalcareers.service.gov.uk/careers-advice" class="govuk-link">careers advice articles</a> for help making career decisions

</li>
</ul>
<p class="govuk-body">If you would still like to speak to an adviser and make an action plan, <a href="https://nationalcareers.service.gov.uk/contact-us" class="govuk-link">contact us</a> for an appointment.</p>



      </div>

      <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
                <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="206" data-gtm-vis-first-on-screen-8675592_194="206" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1">Speak to an adviser</h2><p class="govuk-body-m"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat" rel="external" target="'_blank'">use webchat</a></p><ul class="govuk-list"><li>8am - 8pm Monday - Friday</li><li>10am - 5pm Saturday</li></ul>
            </div>
      </div>
    </div>

  </main>
</div>
{% endblock %}
