{% extends "layout_ncs_sprint3.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <div class="govuk-header__navigation--end">
              <div class="account-nav">
              <span>  Sam Johnson  <a href="" class="govuk-!-margin-left-1 govuk-!-margin-right-3">Sign out</a><a href="#">Your account</a></span>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="action-plans-signed-in">Action plans</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="your-account">Your account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="your-action-plan">Your action plan</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Your action
    </li>
  </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-top-7">
      <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Action</span>

<h1 class="govuk-heading-xl govuk-heading-xl">View or update action</h1>


<h2 class="govuk-heading-l govuk-heading-s" data-gtm-vis-recent-on-screen-8675592_247="102" data-gtm-vis-first-on-screen-8675592_247="102" data-gtm-vis-total-visible-time-8675592_247="100" data-gtm-vis-has-fired-8675592_247="1">Action type</h2>

            <p class="">Interview Skills Workshop</p>

<h2 class="govuk-heading-l govuk-heading-s govuk-!-margin-top-3" data-gtm-vis-has-fired-8675592_247="1">Description</h2>

            <p>
                Action plan test
            </p>

<h2 class="govuk-heading-l govuk-heading-s" data-gtm-vis-has-fired-8675592_247="1">Links to help you with this action</h2>

            <p>ASIST Team (Apprenticeships)</p>
            <p class=" govuk-!-margin-top-6"><strong>Last updated: </strong>16 February 2021</p>

            <section>
                <h2 class="govuk-heading-m govuk-!-margin-top-6" data-gtm-vis-has-fired-8675592_240="1">Update this action</h2>
                <table class="govuk-table" aria-describedby="updateGoal">

                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <strong>Due on:</strong>
                            </td>
                            <td class="govuk-table__cell">
                                <span> 01 May 2019</span>
                            </td>
                            <td class="govuk-table__cell">
                                <a id="view-actionGovUkLinkChange-due-date" href="change-action-due-date" tabindex="0" class=" ">Change due date</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <strong>Status:</strong>
                            </td>
                            <td class="govuk-table__cell">
                                <span class="">Not Started</span>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="" href="change-action-status">Update status</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <div class="action-plan-secondary-content govuk-grid-column-one-third  ">

<div class="app-related-items" id="speaktoadvisor">
    <section>

<h2 class="govuk-heading-l govuk-heading-m" data-gtm-vis-first-on-screen-8675592_194="111" data-gtm-vis-recent-on-screen-8675592_240="115" data-gtm-vis-first-on-screen-8675592_240="115" data-gtm-vis-total-visible-time-8675592_240="100" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-has-fired-8675592_247="1" data-gtm-vis-recent-on-screen-8675592_194="3661" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Your careers adviser</h2>

        <p>
            <span><strong>Name: </strong>Bill Dallas</span><br>
            <span>
                <strong>Email: </strong><a href="mailto:lgqbhkj4@uhqn.vqe">Bill-Dallas@nationalcareers.service.gov.uk/</a>
            </span><br>
            <span><strong>Telephone:</strong> 06513 5433976</span>
        </p>
        <p>
            Bill Dallas will respond to you within 3 working days
        </p>
    </section>
</div>
<div class="app-related-items">
        <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="206" data-gtm-vis-first-on-screen-8675592_194="206" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1">Speak to an adviser</h2><p class="govuk-body-m"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat" rel="external" target="'_blank'">use webchat</a></p><ul class="govuk-list"><li>8am - 8pm Monday - Friday</li><li>10am - 5pm Saturday</li></ul>
    </div>

        </div>
    </div>
  </main>
</div>
{% endblock %}
