{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Furloughed workers landing page
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online courses for furlough workers</h1>
        <p class="govuk-body-lead">Furlough workers in England can improve existing or explore new skills.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header>
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Learning and training for furlough</h2>
      <p class="govuk-body">If your employer puts you on temporary leave (<a href="https://www.gov.uk/government/publications/guidance-to-employers-and-businesses-about-covid-19/covid-19-guidance-for-employees#furloughed-workers" class="govuk-link">furlough</a>) because of coronavirus, you could be paid 80% of your wages while you’re off work. <a href="https://www.gov.uk/guidance/check-if-you-could-be-covered-by-the-coronavirus-job-retention-scheme" class="govuk-link">HM Revenue and Customs’ guidance</a> can help you understand if you’re eligible.</p>
      <p class="govuk-body">The Education and Skills Funding Agency (ESFA) are offering free online learning courses with their providers to give furlough workers in England the opportunity to improve existing skills or explore new ones.</p>

      <p class="govuk-body">Whether you are looking to progress your career or looking for a good use of your time during furlough, there are many benefits to learning online. An online course can help you develop a skill or interest you have. </p>

      <p class="govuk-body">The online courses range in topic and from <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link">levels 1 to 5 qualifications</a>, see our qualification
        guidance if you’re unsure what course is best suited to you.</p>

      <a href="topics"><button class="govuk-button" data-module="govuk-button">
          Continue to courses
        </button></a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items">
        <div class="">
          <h2 class="govuk-heading-m">For advice, see:</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Choosing an online course</a></li>
            <li><a class="govuk-link" href="https://www.careerswales.com/">The benefits to learning online</a></li>
          </ul>
        </div>
      </aside>

      <aside class="app-related-items">
        <div class="">
          <h2 class="govuk-heading-m">Skills assessment</h2>
          <p><a href="/skills-assessment">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
        </div>
      </aside>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
        <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
        <p class="govuk-hint">8am to 10pm, 7 days a week</p>
      </aside>

      <aside class="app-related-items" role="complementary">
        <p class="govuk-body-m">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - <br>My World of Work</a></li>
          <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li>
          <li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
        </ul>
      </aside>

    </div>

  </div>
  {% endblock %}
