{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Furloughed workers topics
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

<!-- breadcrumbs start -->

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="landing">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Topics</li>
  </ol>
</div>

<!-- breadcrumbs end -->
</div>

<!-- <header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online learning courses for furlough workers</h1>
        <p class="govuk-body-lead">Mollit dolore sit sit mollit culpa esse esse voluptate nulla ad.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header> -->
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Title of this page</h1>


      <ul class="job-categories_items">
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/accounting-technician">Accounting technician</a></h2>
                <p class="dfc-code-search-jpOverview">Accounting technicians handle day-to-day financial matters in all types of business.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/admin-assistant">Admin assistant</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Office administrator, clerical assistant, administrative assistant</h3>
                <p class="dfc-code-search-jpOverview">Admin assistants give support to offices by organising meetings, typing documents and updating computer records.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/arts-administrator">Arts administrator</a></h2>
                <p class="dfc-code-search-jpOverview">Arts administrators help to organise events and exhibitions, manage staff, and look after buildings like theatres or museums.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/bilingual-secretary">Bilingual secretary</a></h2>
                <p class="dfc-code-search-jpOverview">Bilingual secretaries provide administrative services in English and one or more foreign languages.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/estates-officer">Estates officer</a></h2>
                <p class="dfc-code-search-jpOverview">Estates officers are responsible for the management and upkeep of land and property belonging to local councils and public bodies.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/european-union-official">European Union official</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">EU official</h3>
                <p class="dfc-code-search-jpOverview">European Union (EU) officials work for institutions like the European Commission or the European Parliament.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/farm-secretary">Farm secretary</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Agricultural business administrator, rural business administrator</h3>
                <p class="dfc-code-search-jpOverview">Farm secretaries are responsible for the day-to-day running of the business side of farms.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/finance-officer">Finance officer</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Financial officer, finance clerk, treasurer</h3>
                <p class="dfc-code-search-jpOverview">Finance officers help to manage the finances of an organisation by keeping track of its income and controlling its spending.</p>
            </li>

            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/hotel-receptionist">Hotel receptionist</a></h2>
                <p class="dfc-code-search-jpOverview">Hotel receptionists make guests feel welcome, manage new room bookings and reservations, and deal with requests from guests.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/human-resources-assistant">Human resources assistant</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">HR assistant, personnel assistant</h3>
                <p class="dfc-code-search-jpOverview">Human resources (HR) assistants provide admin support to the HR team in a company or organisation.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/human-resources-manager">Human resources manager</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">HR manager, personnel manager, HR director</h3>
                <p class="dfc-code-search-jpOverview">Human resources (HR) managers develop, deliver and manage HR policies and plans.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/human-resources-officer">Human resources officer</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Personnel officer, HR officer</h3>
                <p class="dfc-code-search-jpOverview">Human resources (HR) officers hire employees and help develop their careers, and look after employee relations, benefits and welfare.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/immigration-officer">Immigration officer</a></h2>
                <p class="dfc-code-search-jpOverview">Immigration officers make decisions on whether people have the right to visit or stay in the UK.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/import-export-clerk">Import-export clerk</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Shipping agent, freight forwarder, import-export agent</h3>
                <p class="dfc-code-search-jpOverview">Import-export clerks ship goods to and from the UK by road, rail, air and sea.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="/job-profiles/insurance-broker">Insurance broker</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Insurance agent</h3>
                <p class="dfc-code-search-jpOverview">Insurance brokers use their knowledge of the insurance market to help find the right cover, at the best price, for their customers.</p>
            </li>
    </ul>


    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-related-items">
        <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
        <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
        <p class="govuk-hint">8am to 10pm, 7 days a week</p>
      </div>
    </div>

  </div>
  {% endblock %}
