{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Furloughed workers topics
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

<!-- breadcrumbs start -->

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="landing">Online courses</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Course subjects</li>
  </ol>
</div>

<!-- breadcrumbs end -->
</div>

<!-- <header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online learning courses for furlough workers</h1>
        <p class="govuk-body-lead">Mollit dolore sit sit mollit culpa esse esse voluptate nulla ad.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header> -->
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Explore online courses</h1>

    <p class="govuk-body">Aute ipsum in non tempor anim consectetur sint Lorem commodo ea velit do deserunt adipisicing non. Lorem quis sunt adipisicing irure ullamco sint et ea duis Lorem mollit velit cupidatat ut ut quis officia.</p>


    <ul class="govuk-list job-categories_items">
      <li class="job-categories_item">
        <h2 class="govuk-heading-m"><a class="dfc-code-search-jpTitle" href="courses">Marketing</a></h2>
        <p class="govuk-body dfc-code-search-jpOverview">Admin assistants give support to offices by organising meetings, typing documents and updating computer records.</p>
      </li>
      <li class="job-categories_item">
        <h2 class="govuk-heading-m"><a class="dfc-code-search-jpTitle" href="courses">Digital skills</a></h2>
        <p class="govuk-body dfc-code-search-jpOverview">Admin assistants give support to offices by organising meetings, typing documents and updating computer records.</p>
      </li>
      <li class="job-categories_item">
        <h2 class="govuk-heading-m"><a class="dfc-code-search-jpTitle" href="courses">Accounting</a></h2>
        <p class="govuk-body dfc-code-search-jpOverview">Admin assistants give support to offices by organising meetings, typing documents and updating computer records.</p>
      </li>
      <li class="job-categories_item">
        <h2 class="govuk-heading-m"><a class="dfc-code-search-jpTitle" href="courses">Business and finance</a></h2>
        <p class="govuk-body dfc-code-search-jpOverview">Admin assistants give support to offices by organising meetings, typing documents and updating computer records.</p>
      </li>
      <li class="job-categories_item">
        <h2 class="govuk-heading-m"><a class="dfc-code-search-jpTitle" href="courses">Administration</a></h2>
        <p class="govuk-body dfc-code-search-jpOverview">Admin assistants give support to offices by organising meetings, typing documents and updating computer records.</p>
      </li>
    </ul>


  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items">
      <div class="">
        <h2 class="govuk-heading-m">Advice on online learning</h2>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Choosing an online course</a></li>
          <li><a class="govuk-link" href="https://www.careerswales.com/">The benefits to learning online</a></li>
          <li><a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link">What qualification levels mean</a></li>
        </ul>
      </div>
    </aside>

    <aside class="app-related-items">
      <div class="">
        <h2 class="govuk-heading-m">Skills assessment</h2>
        <p><a href="/skills-assessment">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
      </div>
    </aside>

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
      <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
      <p class="govuk-hint">8am to 10pm, 7 days a week</p>
    </aside>

    <!-- <aside class="app-related-items" role="complementary">
      <p class="govuk-body-m">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - <br>My World of Work</a></li>
        <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li>
        <li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
      </ul>
    </aside> -->
  </div>

</div>
  {% endblock %}
