{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
  <div class="sfPublicWrapper" id="PublicWrapper">
    <header class="job-profile-hero">
      <div data-sf-element="Row">
        <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
          <div class="govuk-width-container ">
            <div class="breadcrumbs govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
                <li class="govuk-breadcrumbs__list-item">Community arts worker </li>
              </ol>
            </div>
          </div>
          <div class="govuk-width-container">
            <div class="grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h1 class="heading-xlarge">Community arts worker</h1>
                <p>Community arts workers help local communities plan and take part in activities like drama, dance, painting and photography.</p>
              </div>
            </div>
            <div class="grid-row">
              <div id="Salary" class="column-40 job-profile-heroblock">
                <h2> Average salary <span>(a year)</span> </h2>
                <div class="job-profile-salary job-profile-heroblock-content">
                  <p class="dfc-code-jpsstarter">£16,000 <span>Starter</span></p>
                  <i class="sr-hidden">to</i>
                  <p class="dfc-code-jpsexperienced">£28,000 <span>Experienced</span></p>
                </div>
              </div>
              <div id="WorkingHours" class="column-30 job-profile-heroblock">
                <h2>Typical hours <span>(a week)</span></h2>
                <div class="job-profile-hours job-profile-heroblock-content">
                  <p class="dfc-code-jphours"> 37 to 39 <span class="dfc-code-jpwhoursdetail">a week</span> </p>
                </div>
              </div>
              <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
                <h2> You could work </h2>
                <div class="job-profile-pattern job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern"> evenings / weekends<span class="dfc-code-jpwhoursdetail">attending events or appointments</span> </p>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-60 job-profile-heroblock govuk-grid-column-two-thirds">
                <h2> Find out more about jobs in this group</h2>
                <div class="job-profile-group job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern">See which sectors you’ll find this job in, what qualifications you need to work in this area and if these types of jobs are going up or going down. This information can help you make good career decisions.</p>
                <p class="dfc-code-jpwpattern govuk-!-padding-top-5"> <a href="job-group-lmi" class="govuk-link">Explore job trends for this group</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="govuk-width-container">
      <div id="MainContentTop_T41A29498003_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Full Width Container"> <script language="JavaScript">
        var vocCookie = "vocPersonalisation=admin-assistant; path=/";

        if (document.location.protocol === "https:") {
            vocCookie += "; Secure";
        }

        document.cookie = vocCookie;
    </script> 
      </div>
    </div>
    <div class="govuk-width-container">
      <div class="grid-row" data-sf-element="Row">
        <div class="govuk-grid-column-two-thirds" wiid="C144">
        <div class="job-profile-sections" wiid="C145">
            <nav class="jump-links" role="navigation" aria-label="skip to your documents" wiid="C146">
    <ol class="list list-number" wiid="C147">
        <li wiid="C148">
            <a href="#HowToBecome" wiid="C149">How to become</a>
        </li>
        <li wiid="C150">
            <a href="#WhatItTakes" wiid="C151">What it takes</a>
        </li>
        <li wiid="C152">
            <a href="#WhatYouWillDo" wiid="C153">What you'll do</a>
        </li>
        <li wiid="C154">
            <a href="#CareerPathAndProgression" wiid="C155">Career path and progression</a>
        </li>
        <li wiid="C156">
            <a href="#CurrentOpportunities" wiid="C157">Current opportunities</a>
        </li>
    </ol>
</nav>
            

<section id="HowToBecome" wiid="C158" data-gtm-vis-recent-on-screen-8675592_54="548" data-gtm-vis-first-on-screen-8675592_54="548" data-gtm-vis-total-visible-time-8675592_54="100" data-gtm-vis-has-fired-8675592_54="1">
    <h2 class="job-profile-heading" wiid="C159">How to become a community arts worker</h2>

    <p wiid="C160">You can get into this job through:</p>
<ul wiid="C161">
    <li wiid="C162">a university course </li>
    <li wiid="C163">a college course</li>
    <li wiid="C164">an apprenticeship</li>
    <li wiid="C165">volunteering</li>
</ul>

                <section class="job-profile-subsection" id="University" wiid="C166">
            <h3 wiid="C167">University</h3>
            <div class="job-profile-subsection-content" wiid="C168">

                <p wiid="C169">You could take a foundation degree, higher national diploma or degree in:</p>
<ul wiid="C170">
    <li wiid="C171">community arts</li>
    <li wiid="C172">creative expressive therapies</li>
    <li wiid="C173">art and design</li>
    <li wiid="C174">community education</li>
</ul>

                <p wiid="C175">You'll usually need to be qualified and experienced in a particular art form, for instance visual arts, dance, drama, music or creative writing.</p>

                    <h4 wiid="C176">Entry requirements</h4>
                    <p wiid="C177">You'll usually need:</p>
                    <ul class="list-reqs" wiid="C178">
                            <li wiid="C179">1 or 2 A levels, or equivalent, for a foundation degree or higher national diploma</li>
                            <li wiid="C180">2 to 3 A levels, or equivalent, for a degree</li>
                    </ul>

                    <h4 wiid="C181">More Information</h4>
                    <ul class="list-link" wiid="C182">
                            <li wiid="C183"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C184">equivalent entry requirements</a></li>
                            <li wiid="C185"><a class="htb-feature" href="https://www.gov.uk/student-finance" wiid="C186">student finance for fees and living costs</a></li>
                            <li wiid="C187"><a class="htb-feature" href="https://www.ucas.com/" wiid="C188">university courses and entry requirements</a></li>
                    </ul>
            </div>
        </section>

                <section class="job-profile-subsection" id="College" wiid="C189">
            <h3 wiid="C190">College</h3>
            <div class="job-profile-subsection-content" wiid="C191">

                <p wiid="C192">You may find a community arts qualification useful for getting a job as an assistant. Examples include:</p>
<ul wiid="C193">
    <li wiid="C194">Level 2 Certificate in Community Arts Administration</li>
    <li wiid="C195">Level 3 Certificate in Community Development</li>
</ul>

                

                    <h4 wiid="C196">Entry requirements</h4>
                    <p wiid="C197">You may need:</p>
                    <ul class="list-reqs" wiid="C198">
                            <li wiid="C199">2 or more GCSEs at grades 9 to 3 (A* to D), or equivalent, for a level 2 course</li>
                            <li wiid="C200">4 or 5 GCSEs at grades 9 to 4 (A* to C), or equivalent, for a level 3 course</li>
                    </ul>

                    <h4 wiid="C201">More Information</h4>
                    <ul class="list-link" wiid="C202">
                            <li wiid="C203"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C204">equivalent entry requirements</a></li>
                            <li wiid="C205"><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help" wiid="C206">funding advice</a></li>
                            <li wiid="C207"><a class="htb-feature" href="/find-a-course" wiid="C208">search for courses</a></li>
                    </ul>
            </div>
        </section>

                <section class="job-profile-subsection" id="Apprenticeship" wiid="C209">
            <h3 wiid="C210">Apprenticeship</h3>
            <div class="job-profile-subsection-content" wiid="C211">

                <p wiid="C212">You may be able to do a cultural learning and participation officer advanced apprenticeship.</p>

                

                    <h4 wiid="C213">Entry requirements</h4>
                    <p wiid="C214">You'll usually need:</p>
                    <ul class="list-reqs" wiid="C215">
                            <li wiid="C216">5 GCSEs at grades 9 to 4 (A* to C), or equivalent, including English and maths, for an advanced apprenticeship</li>
                    </ul>

                    <h4 wiid="C217">More Information</h4>
                    <ul class="list-link" wiid="C218">
                            <li wiid="C219"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C220">equivalent entry requirements</a></li>
                            <li wiid="C221"><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide" wiid="C222">guide to apprenticeships</a></li>
                    </ul>
            </div>
        </section>

    
    <section class="job-profile-subsection" id="volunteering" wiid="C223">
        <h3 wiid="C224">Volunteering</h3>
        <div class="job-profile-subsection-content" wiid="C225">
            <p wiid="C226">It's important to get relevant experience by volunteering. This can often lead into paid work.</p>
<p wiid="C227">You can find out about local community arts projects from the arts officer at your <a href="https://www.gov.uk/find-local-council" wiid="C228">local council</a>, or by checking:</p>
<ul wiid="C229">
    <li wiid="C230"><a href="http://www.voluntaryarts.org/" wiid="C231">Voluntary Arts</a></li>
    <li wiid="C232"><a href="http://www.artscouncil.org.uk/" wiid="C233">Arts Council England</a></li>
    <li wiid="C234"><a href="https://do-it.org/" wiid="C235">Do-it</a> </li>
</ul>
        </div>
    </section>

    <section class="job-profile-subsection" id="directapplication" wiid="C236">
        <h3 wiid="C237">Direct Application</h3>
        <div class="job-profile-subsection-content" wiid="C238">
            <p wiid="C239">You can apply directly for jobs if you've got paid or voluntary experience of working in the community. For example, in adult education, art teaching or youth work. Experience of working with disadvantaged or vulnerable groups will also be helpful.</p>
        </div>
    </section>


        <section class="job-profile-subsection" id="moreinfo" wiid="C240">
        <h3 wiid="C241">More Information</h3>
        <div class="job-profile-subsection-content" wiid="C242">

                <h4 wiid="C243">Career tips</h4>
<p wiid="C244">Experience is just as important for getting onto a community arts course as it is for finding paid work.</p>                <h4 wiid="C245">Further information</h4>
<p wiid="C246">You'll find more on working in community arts and creative careers from <a href="https://discovercreative.careers/#/" wiid="C247">Discover Creative Careers</a>.</p>        </div>
    </section>

</section>
            
<section id="WhatItTakes" wiid="C248">
    <h2 class="job-profile-headings" wiid="C249">What it takes</h2>

        <section class="job-profile-subsection" wiid="C250">
        <h3 wiid="C251">Skills and knowledge</h3>
        <div class="job-profile-subsection-content" wiid="C252">
            <p wiid="C253">You'll need:</p>
            <ul wiid="C254">
                        <li wiid="C255">
                            customer service skills
                        </li>
                        <li wiid="C256">
                            knowledge of psychology
                        </li>
                        <li wiid="C257">
                            counselling skills including active listening and a non-judgemental approach
                        </li>
                        <li wiid="C258">
                            sensitivity and understanding
                        </li>
                        <li wiid="C259">
                            the ability to work well with others
                        </li>
                        <li wiid="C260">
                            leadership skills
                        </li>
                        <li wiid="C261">
                            the ability to accept criticism and work well under pressure
                        </li>
                        <li wiid="C262">
                            knowledge of English language
                        </li>
                    <li wiid="C263">to be able to carry out basic tasks on a computer or hand-held device</li>
            </ul>
        </div>
    </section>

        <section class="job-profile-subsection" id="restrictions" wiid="C264">
        <h3 wiid="C265">Restrictions and Requirements</h3>
        <div class="job-profile-subsection-content" wiid="C266">
                <p wiid="C267">You'll need to:</p>
                <ul wiid="C268">
                        <li wiid="C269">pass <a href="https://www.gov.uk/criminal-record-checks-apply-role" wiid="C270">enhanced background checks</a></li>
                </ul>
            
        </div>
    </section>


</section>
            
<section id="WhatYouWillDo" wiid="C271">
    <h2 class="job-profile-heading" wiid="C272">What you'll do</h2>
    <section class="job-profile-subsection" wiid="C273">
        <h3 wiid="C274">Day-to-day tasks</h3>
        <div class="job-profile-subsection-content" wiid="C275">
            <p wiid="C276">
Your day-to-day duties may include:</p>
<ul wiid="C277">
    <li wiid="C278">working with local community groups to identify needs and concerns</li>
    <li wiid="C279">developing new groups and activities</li>
    <li wiid="C280">creating artwork and helping community members develop their own ideas</li>
    <li wiid="C281">promoting and organising input from other arts workers</li>
    <li wiid="C282">leading meetings and training activities</li>
    <li wiid="C283">advising on grants, sponsorship and other sources of funding</li>
    <li wiid="C284">writing funding bids and proposals, managing budgets and general administration</li>
    <li wiid="C285">publicising activities through the press, local radio, leaflets and social media</li>
    <li wiid="C286">managing and assessing projects</li>
</ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment" wiid="C287">
        <h3 wiid="C288">Working environment</h3>
        <div class="job-profile-subsection-content" wiid="C289">

                <p wiid="C290">
                    You could work in the community, at an adult care home, in a prison or at a school.
                </p>


        </div>
    </section>
</section>
            
    <section id="CareerPathAndProgression" wiid="C291">
        <h2 class="job-profile-heading" wiid="C292">Career path and progression</h2>
        <p wiid="C293">With experience, you could work freelance and run larger projects with bigger budgets.</p>
<p wiid="C294">In larger organisations, you could move into a more senior or management role.</p>
    </section>
 
            
<section id="CurrentOpportunities" wiid="C295">
    <h2 class="job-profile-headings" wiid="C296">Current opportunities</h2>
    <div class="govuk-grid-row" id="appGeneric" wiid="C297">
        <div class="govuk-grid-column-full" wiid="C298">
            <h3 class="govuk-heading-m" wiid="C299">
                Apprenticeships
                <span class="govuk-caption-m" wiid="C300">In England</span>
            </h3>
        </div>
            <div class="govuk-grid-column-full govuk-body dfc-code-jp-novacancyText" wiid="C301">
                <p wiid="C302">We can't find any apprenticeship vacancies in England for a community arts worker right now.</p>
                <p wiid="C303">The <a href="https://www.gov.uk/apply-apprenticeship" wiid="C304">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
            </div>
    </div>
    <div class="govuk-grid-row dfc-code-jp-trainingCourse" wiid="C305">
        <div class="govuk-grid-column-full" wiid="C306">
            <h3 class="govuk-heading-m" wiid="C307">
                Courses
                <span class="govuk-caption-m" wiid="C308">In England</span>
            </h3>
        </div>
            <div class="govuk-grid-column-full dfc-code-jp-NoTrainingCoursesText" wiid="C309">
                <p wiid="C310">Are you interested in becoming a community arts worker?</p>
                <p wiid="C311">Search for <a href="/find-a-course/search" wiid="C312">training courses near you</a>.</p>
            </div>
    </div>
    <div wiid="C313">
        <h3 class="govuk-heading-m" wiid="C314">
            Jobs
            <span class="govuk-caption-m" wiid="C315">In the United Kingdom</span>
        </h3>
        <p wiid="C316">The <a href="https://findajob.dwp.gov.uk" wiid="C317">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
    </div>
</section>
        </div>
    </div>
        <div id="MainContent_T41A29498001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
          <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container"> 
            
            <!--
            <div class="job-profile-related">
              <h2 class="heading-medium">Jobs in this group</h2>
              <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
				<p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore job prospects for this group</a></p>
            </div>
-->
            <div class="job-profile-related">
              <h2 class="heading-medium">Related careers</h2>
              <ul class="list list-big">
                <li wiid="C346"><a href="community-development-worker" wiid="C347">Community development worker</a></li>
                <li wiid="C348"><a href="community-arts-worker" wiid="C349">Community arts worker</a></li>
                <li wiid="C350"><a href="education-welfare-officer" wiid="C351">Education welfare officer</a></li>
              </ul>
            </div>
            <div>
              <div class="sf-Long-text">
                <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
              </div>
            </div>
            <div class="job-profile-search">
              <h3 class="heading-small">Search further careers</h3>
              <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
                <div class="job-profile-search-content">
                  <label for="search-main"> Enter a job title</label>
                  <div class="search-input-wrapper">
                    <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                  </div>
                  <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
                </div>
                <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
                <ul wiid="N81" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
                </ul>
              </form>
            </div>
          </aside>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Skills assessment</h2>
              <p><a href="/sprint43/homepage">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
            </div>
          </div>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Get help using this service</h2>
              <p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="https://nationalcareers.service.gov.uk/webchat/chat/" target="'_blank'">use webchat</a></p>
              <p class="grey font-xsmall">8am to 10pm, 7 days a week<br>
              </p>
              <p>More ways to <a href="/contact-us">contact us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-profile-feedback govuk-width-container js-visible">
      <div class="job-profile-feedback-start">
        <p>Is this page useful?</p>
        <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
      <div class="job-profile-feedback-end-yes hidden">
        <p>Thank you for your feedback.</p>
      </div>
      <div class="job-profile-feedback-end-no hidden">
        <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
      </div>
    </div>
  </div>
{% endblock %} 