{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
  <div class="sfPublicWrapper" id="PublicWrapper">
    <header class="job-profile-hero">
      <div data-sf-element="Row">
        <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
          <div class="govuk-width-container ">
            <div class="breadcrumbs govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
                <li class="govuk-breadcrumbs__list-item">Community development worker </li>
              </ol>
            </div>
          </div>
          <div class="govuk-width-container">
            <div class="grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h1 class="heading-xlarge">Community development worker</h1>
                <p>Community development workers help people to improve the quality of life in their local area.</p>
              </div>
            </div>
            <div class="grid-row">
              <div id="Salary" class="column-40 job-profile-heroblock">
                <h2> Average salary <span>(a year)</span> </h2>
                <div class="job-profile-salary job-profile-heroblock-content">
                  <p class="dfc-code-jpsstarter">£16,000 <span>Starter</span></p>
                  <i class="sr-hidden">to</i>
                  <p class="dfc-code-jpsexperienced">£36,000 <span>Experienced</span></p>
                </div>
              </div>
              <div id="WorkingHours" class="column-30 job-profile-heroblock">
                <h2>Typical hours <span>(a week)</span></h2>
                <div class="job-profile-hours job-profile-heroblock-content">
                  <p class="dfc-code-jphours"> 37 to 39 <span class="dfc-code-jpwhoursdetail">a week</span> </p>
                </div>
              </div>
              <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
                <h2> You could work </h2>
                <div class="job-profile-pattern job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern"> evenings / weekends<span class="dfc-code-jpwhoursdetail">flexibly</span> </p>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-60 job-profile-heroblock govuk-grid-column-two-thirds">
                <h2> Find out more about jobs in this group</h2>
                <div class="job-profile-group job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern">See which sectors you’ll find this job in, what qualifications you need to work in this area and if these types of jobs are going up or going down. This information can help you make good career decisions.</p>
                <p class="dfc-code-jpwpattern govuk-!-padding-top-5"> <a href="job-group-lmi" class="govuk-link">Explore job trends for this group</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="govuk-width-container">
      <div id="MainContentTop_T41A29498003_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Full Width Container"> <script language="JavaScript">
        var vocCookie = "vocPersonalisation=admin-assistant; path=/";

        if (document.location.protocol === "https:") {
            vocCookie += "; Secure";
        }

        document.cookie = vocCookie;
    </script> 
      </div>
    </div>
    <div class="govuk-width-container">
      <div class="grid-row" data-sf-element="Row">
        <div class="govuk-grid-column-two-thirds">
        <div class="job-profile-sections">
            <nav class="jump-links" role="navigation" aria-label="skip to your documents">
    <ol class="list list-number">
        <li>
            <a href="#HowToBecome">How to become</a>
        </li>
        <li>
            <a href="#WhatItTakes">What it takes</a>
        </li>
        <li>
            <a href="#WhatYouWillDo">What you'll do</a>
        </li>
        <li>
            <a href="#CareerPathAndProgression">Career path and progression</a>
        </li>
        <li>
            <a href="#CurrentOpportunities">Current opportunities</a>
        </li>
    </ol>
</nav>
            

<section id="HowToBecome" data-gtm-vis-recent-on-screen-8675592_54="3295" data-gtm-vis-first-on-screen-8675592_54="3295" data-gtm-vis-total-visible-time-8675592_54="100" data-gtm-vis-has-fired-8675592_54="1">
    <h2 class="job-profile-heading">How to become a community development worker</h2>

    <p>You can get into this job through:</p>
<ul>
    <li>a university course </li>
    <li>a college course</li>
    <li>an apprenticeship</li>
    <li>volunteering</li>
</ul>

                <section class="job-profile-subsection" id="University">
            <h3>University</h3>
            <div class="job-profile-subsection-content">

                <p>You could start by taking a foundation degree or degree in community development, community studies, youth work or social sciences.</p>

                <p>Most courses include work placements to help you build up your experience.</p>

                    <h4>Entry requirements</h4>
                    <p>You'll usually need:</p>
                    <ul class="list-reqs">
                            <li>at least 1 A level, or equivalent, for a foundation degree</li>
                            <li>2 to 3 A levels, or equivalent, for a degree</li>
                    </ul>

                    <h4>More Information</h4>
                    <ul class="list-link">
                            <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                            <li><a class="htb-feature" href="https://www.gov.uk/student-finance">student finance for fees and living costs</a></li>
                            <li><a class="htb-feature" href="https://www.ucas.com/">university courses and entry requirements</a></li>
                    </ul>
            </div>
        </section>

                <section class="job-profile-subsection" id="College">
            <h3>College</h3>
            <div class="job-profile-subsection-content">

                <p>You could take a college course, which may be useful when applying for a trainee development worker job. Courses include:</p>
<ul>
    <li>Level 2 and 3 Certificate in Community Development</li>
    <li>Level 4 Higher National Certificate in Social and Community Work</li>
</ul>

                

                    <h4>Entry requirements</h4>
                    <p>Entry requirements for these courses vary.</p>
                    <ul class="list-reqs">
                    </ul>

                    <h4>More Information</h4>
                    <ul class="list-link">
                            <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                            <li><a class="htb-feature" href="/find-a-course">search for courses</a></li>
                    </ul>
            </div>
        </section>

                <section class="job-profile-subsection" id="Apprenticeship">
            <h3>Apprenticeship</h3>
            <div class="job-profile-subsection-content">

                <p>If you want to specialise in helping the community with health and wellbeing issues, you may be able to do a public health practitioner degree apprenticeship.</p>

                <p>You could work for organisations like charities, the NHS or local authorities, helping people in communities to live long, healthy and happy lives.</p>

                    <h4>Entry requirements</h4>
                    <p>You'll usually need:</p>
                    <ul class="list-reqs">
                            <li>4 or 5 GCSEs at grades 9 to 4 (A* to C) and A levels, or equivalent, for a higher or degree apprenticeship</li>
                    </ul>

                    <h4>More Information</h4>
                    <ul class="list-link">
                            <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                            <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
                    </ul>
            </div>
        </section>

    
    <section class="job-profile-subsection" id="volunteering">
        <h3>Volunteering</h3>
        <div class="job-profile-subsection-content">
            <p>A common way in to this job is to volunteer for local projects. You'll usually receive some training on the job. You may also get the chance to take an introductory part-time college course in community work.</p>
<p>You'll need practical experience of working in the community. You can get this by:</p>
<ul>
    <li>volunteering with a local community group, tenants' association or charity</li>
    <li>working in a related career like housing, regeneration, social work or youth work</li>
</ul>
<p>Your experience and training as a volunteer could help you to find paid work.</p>
<p>You can find local opportunities through <a href="https://do-it.org/">Do-it</a> and <a href="https://mycommunity.org.uk/take-action/getting-started/">My Community</a>.</p>
        </div>
    </section>



        <section class="job-profile-subsection" id="moreinfo">
        <h3>More Information</h3>
        <div class="job-profile-subsection-content">

                <h4>Further information</h4>
<p>You can get more details about working in community development from your <a href="https://www.gov.uk/find-local-council">local council</a> and <a href="https://locality.org.uk/">locality</a>.</p>        </div>
    </section>

</section>
            
<section id="WhatItTakes">
    <h2 class="job-profile-headings">What it takes</h2>

        <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                        <li>
                            customer service skills
                        </li>
                        <li>
                            knowledge of psychology
                        </li>
                        <li>
                            counselling skills including active listening and a non-judgemental approach
                        </li>
                        <li>
                            sensitivity and understanding
                        </li>
                        <li>
                            the ability to work well with others
                        </li>
                        <li>
                            leadership skills
                        </li>
                        <li>
                            the ability to accept criticism and work well under pressure
                        </li>
                        <li>
                            knowledge of English language
                        </li>
                    <li>to be able to carry out basic tasks on a computer or hand-held device</li>
            </ul>
        </div>
    </section>

        <section class="job-profile-subsection" id="restrictions">
        <h3>Restrictions and Requirements</h3>
        <div class="job-profile-subsection-content">
                <p>You'll need to:</p>
                <ul>
                        <li>pass <a href="https://www.gov.uk/criminal-record-checks-apply-role">enhanced background checks</a></li>
                </ul>
            
        </div>
    </section>


</section>
            
<section id="WhatYouWillDo">
    <h2 class="job-profile-heading">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>Your day-to-day duties might include:</p>
<ul>
    <li>finding out about the community's needs, problems and barriers </li>
    <li>making sure local people take action and have their say </li>
    <li>developing new opportunities and monitoring existing projects </li>
    <li>helping to raise public awareness about community issues </li>
    <li>building links with other groups and agencies </li>
    <li>raising funds </li>
    <li>recruiting and training staff and volunteers </li>
    <li>planning meetings and events </li>
    <li>managing budgets </li>
    <li>helping groups to settle differences of opinion on local issues </li>
    <li>doing administrative work</li>
</ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">

                <p>
                    You could work in the community or in an office.
                </p>


        </div>
    </section>
</section>
            
    <section id="CareerPathAndProgression">
        <h2 class="job-profile-heading">Career path and progression</h2>
        You could specialise in a particular issue or broaden your experience and work with different issues or groups.<br>
<br>
You could move into management, policy making, or work as a freelance trainer or consultant.
    </section>
 
            
<section id="CurrentOpportunities">
    <h2 class="job-profile-headings">Current opportunities</h2>
    <div class="govuk-grid-row" id="appGeneric">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">
                Apprenticeships
                <span class="govuk-caption-m">In England</span>
            </h3>
        </div>
            <div class="govuk-grid-column-full govuk-body dfc-code-jp-novacancyText">
                <p>We can't find any apprenticeship vacancies in England for a community development worker right now.</p>
                <p>The <a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
            </div>
    </div>
    <div class="govuk-grid-row dfc-code-jp-trainingCourse">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">
                Courses
                <span class="govuk-caption-m">In England</span>
            </h3>
        </div>
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="/find-a-course/course-details?courseid=2d9e3d38-5fc0-40d8-a06c-b9ce13001d84&amp;r=67ffba52-2dc5-4e38-9e7c-100315f8a4bf">Level 2 Certificate in Community Development</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> HAVERING LONDON BOROUGH COUNCIL</li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Start date:</span> 21 October 2020</li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> ROMFORD</li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="/find-a-course/course-details?courseid=8c27c9d5-d40e-49b2-870d-6af3ab34e900&amp;r=9a55c1a1-7f55-44c6-ab6e-aee6045f1c1c">Teamwork &amp; Leadership in the Community Level 2 Certificate</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> BROCKENHURST COLLEGE</li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Start date:</span> 11 September 2020</li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> BROCKENHURST</li>
                        </ul>
                    </div>
                </div>
            <div class="govuk-grid-column-full govuk-body dfc-code-jp-TrainingCoursesText">
                <a href="/find-a-course/search">Find courses near you</a>
            </div>
    </div>
    <div>
        <h3 class="govuk-heading-m">
            Jobs
            <span class="govuk-caption-m">In the United Kingdom</span>
        </h3>
        <p>The <a href="https://findajob.dwp.gov.uk">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
    </div>
</section>
        </div>
    </div>
        <div id="MainContent_T41A29498001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
          <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container"> 
            
            <!--
            <div class="job-profile-related">
              <h2 class="heading-medium">Jobs in this group</h2>
              <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
				<p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore job prospects for this group</a></p>
            </div>
-->
            <div class="job-profile-related">
              <h2 class="heading-medium">Related careers</h2>
              <ul class="list list-big">
                <li wiid="C346"><a href="community-development-worker" wiid="C347">Community development worker</a></li>
                <li wiid="C348"><a href="community-arts-worker" wiid="C349">Community arts worker</a></li>
                <li wiid="C350"><a href="education-welfare-officer" wiid="C351">Education welfare officer</a></li>
              </ul>
            </div>
            <div>
              <div class="sf-Long-text">
                <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
              </div>
            </div>
            <div class="job-profile-search">
              <h3 class="heading-small">Search further careers</h3>
              <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
                <div class="job-profile-search-content">
                  <label for="search-main"> Enter a job title</label>
                  <div class="search-input-wrapper">
                    <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                  </div>
                  <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
                </div>
                <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
                <ul wiid="N81" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
                </ul>
              </form>
            </div>
          </aside>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Skills assessment</h2>
              <p><a href="/sprint43/homepage">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
            </div>
          </div>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Get help using this service</h2>
              <p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="https://nationalcareers.service.gov.uk/webchat/chat/" target="'_blank'">use webchat</a></p>
              <p class="grey font-xsmall">8am to 10pm, 7 days a week<br>
              </p>
              <p>More ways to <a href="/contact-us">contact us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-profile-feedback govuk-width-container js-visible">
      <div class="job-profile-feedback-start">
        <p>Is this page useful?</p>
        <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
      <div class="job-profile-feedback-end-yes hidden">
        <p>Thank you for your feedback.</p>
      </div>
      <div class="job-profile-feedback-end-no hidden">
        <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
      </div>
    </div>
  </div>
{% endblock %} 