{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="breadcrumbs govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="job-profile-2.html">Youth worker</a> </li>
		  <li class="govuk-breadcrumbs__list-item">Job group LMI</li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <h1 class="govuk-heading-xl">Job group: Youth and community workers </h1>
          <p class="govuk-body">Youth and community workers provide support to individuals or groups of individuals through a range of activities or services that aim to encourage participation in social and community life and promote personal and social development.</p>
			<h2 class="govuk-heading-m govuk-!-margin-top-5">How this information can help you</h2>
          <p class="govuk-body">If you know what is happening in the labour market, it can help you to make realistic decisions about:</p>
          <ul class="govuk-list govuvvk-list--bullet">
            <li>what you want to do in your career</li>
            <li>what industry you want to work in</li>
            <li>how much you need to earn</li>
            <li>where you want to work</li>
            <li>qualifications and training you’ll need to do your job </li>
          </ul>
          <p class="govuk-body">The information on this page will give you the facts you need to help you make those decisions.</p>
          <h2 class="govuk-heading-m govuk-!-margin-top-5">Future job growth</h2>
          <p class="govuk-body">This information tells you whether jobs in a sector are likely to go up or down in the future.</p>
          <img class="gem-c-image-card__image" alt="" src="/public/images/future-employment-projections.PNG" width="100%">
			<img class="gem-c-image-card__image" alt="" src="/public/images/job-growth.PNG" width="100%">
          <h3 class="govuk-heading-m govuk-!-margin-top-5">Top industries in this job group</h3>
          <p class="govuk-body">Find out which sectors or industries are the biggest employers of the job you are interested in. This can help you look for vacancies in the right places.</p>
          <img class="gem-c-image-card__image" alt="" src="/public/images/top_industries.PNG" width="100%">
          <h3 class="govuk-heading-m govuk-!-margin-top-5">Employment by region</h3>
          <p class="govuk-body">See which areas of the country have the most opportunities for the job you want to do. It can help you weigh up whether you're likely to get a job near home or if you could improve your chances by moving or travelling to another area.</p>
           <img class="gem-c-image-card__image" alt="" src="/public/images/regional_employment.PNG" width="100%">
          <h3 class="govuk-heading-m govuk-!-margin-top-5">Qualification level</h3>
          <p class="govuk-body">Explore the typical <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"> qualification level </a>held by people in this job group.  This can help you to see what sorts of skills and training you might need.</p>
			<img class="gem-c-image-card__image" alt="" src="/public/images/qualification-level.png" width="100%">
			<h3 class="govuk-heading-m govuk-!-margin-top-5">Unemployment rate</h3>
          <p class="govuk-body">A high unemployment rate can mean that there aren’t many jobs available and that it could be difficult for you to find work in this area. The lower the unemployment rate is, the easier it should be to find a job in this field.</p>
          <img class="gem-c-image-card__image" alt="" src="/public/images/unemployment-rate.PNG" width="100%">
          <h3 class="govuk-heading-m govuk-!-margin-top-5">Employment status</h3>
          <p class="govuk-body">This information can help you see what the most common work patterns are in this job group. You can get an idea of how likely it is that you could work full-time, part-time, employed or on a self-employed basis in your chosen sector.</p>
          <img class="gem-c-image-card__image" alt="" src="/public/images/employment-status.PNG" width="100%">
          <h3 class="govuk-heading-m govuk-!-margin-top-5">Gender breakdown</h3>
          <p class="govuk-body">Exploring the numbers of men and women in a particular sector can tell you about issues of equality and any barriers you might face at work. It may help you to think about how you will overcome them.</p>
          <img class="gem-c-image-card__image" alt="" src="/public/images/workforce-gender.PNG" width="100%">
          
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <div>
            <div class="job-profile-sidebar" wiid="C388">
              
              <div class="job-profile-related" wiid="C399">
                <h3 class="govuk-heading-m" wiid="C400" data-gtm-vis-first-on-screen-8675592_194="215" data-gtm-vis-recent-on-screen-8675592_194="1233216" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Job profiles  in this  job group</h3>
                <ul class="list list-big" wiid="C398">
                  <li wiid="C399"><a href="family-support-worker" wiid="C400">Family support worker</a></li>
                  <li wiid="C399"><a href="community-arts-worker" wiid="C400">Community arts worker</a></li>
                  <li wiid="C399"><a href="community-development-worker" wiid="C400">Community development worker</a></li>
                  <li wiid="C399"><a href="community-education-coordinator" wiid="C400">Community education coordinator</a></li>
                  <li wiid="C399"><a href="job-profile-2" wiid="C400">Youth worker</a></li>
                </ul>
              </div>
				<h3 id="job-profile-search govuk-!-margin-top-9" class="govuk-heading-m" wiid="C389" data-gtm-vis-first-on-screen-8675592_194="213" data-gtm-vis-recent-on-screen-8675592_194="1233215" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Not what you're looking for?</h3>
              <div class="job-profile-search" wiid="C390">
                <h4 wiid="C391">Search further careers</h4>
                <form action="career-search" class="js-live-search-form site-search ui-front" id="job-profile-search-box" method="get" wiid="C392">
                  <div class="job-profile-search-content" wiid="C393">
                    <label class="input-label js-search-label" for="search-main" wiid="C394"> Enter a job title</label>
                    <div class="search-input-wrapper" wiid="C395">
                      <input class="govuk-input search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off" wiid="C396">
                    </div>
                    <button class="submit" type="submit" value="Search" wiid="C397">Search</button>
                  </div>
                  <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="accounting-technician" wiid="C398">
                  <ul wiid="N15" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
                  </ul>
                </form>
              </div>
            </div>
            
            <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="287" data-gtm-vis-first-on-screen-8675592_194="287" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Get help using this service</h2>
            <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 </p>
            <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
            <p>More ways to <a href="/contact-us" wiid="C416">contact us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 