{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header> </header>
<div class="app-grey" wiid="C281">
  <div class="govuk-width-container">
    <div class="breadcrumbs govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="job-profile-2.html">Youth worker</a> </li>
        <li class="govuk-breadcrumbs__list-item">Job trends : Youth and community workers</li>
      </ol>
    </div>
  </div>
  <div class="govuk-main-wrapper govuk-width-container govuk-!-padding-top-7" wiid="C282">
    <div class="govuk-grid-row" wiid="C283">
      <div class="govuk-grid-column-two-thirds app-intro" wiid="C284">
        <h1 class="govuk-heading-l" wiid="C285">Job trends: Youth and community workers</h1>
        <div class="govuk-text" wiid="C286">
          <p class="govuk-body">Youth and community workers provide support to individuals or groups of individuals through a range of activities or services that aim to encourage participation in social and community life and promote personal and social development.</p>
          <h2 class="govuk-heading-m govuk-!-margin-top-5">How this information can help you</h2>
          <p class="govuk-body">If you know what is happening in the labour market, it can help you to make realistic decisions about your career. The information on this page will give you the facts you need to help you make those decisions.</p>
        </div>
      </div>
      <div class="govuk-grid-column-one-third" wiid="C294">
        <div class="app-sidebar app-resume-panel app-related-items" wiid="C301">
          <div class="app-sidebar app-resume-panel">
            <div class="job-profile-related" wiid="C399">
              <h3 class="govuk-heading-m" wiid="C400" data-gtm-vis-first-on-screen-8675592_194="215" data-gtm-vis-recent-on-screen-8675592_194="1233216" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Job profiles  in this  group</h3>
              <ul class="list list-big" wiid="C398">
                <li wiid="C399"><a href="family-support-worker" wiid="C400">Family support worker</a></li>
                <li wiid="C399"><a href="community-arts-worker" wiid="C400">Community arts worker</a></li>
                <li wiid="C399"><a href="community-development-worker" wiid="C400">Community development worker</a></li>
                <li wiid="C399"><a href="community-education-coordinator" wiid="C400">Community education coordinator</a></li>
                <li wiid="C399"><a href="job-profile-2" wiid="C400">Youth worker</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="app-sidebar app-advisor-panel " wiid="C300">
          <h3 class="govuk-heading-m" wiid="C301">Get help using this service</h3>
          <p class="govuk-body" wiid="C302"><b wiid="C303">Call</b> 0800 100 900 or <a href="https://nationalcareers.service.gov.uk/webchat/chat/" class="govuk-link govuk-link--no-visited-state" wiid="C304">use webchat</a></p>
          <p class="govuk-caption-m app-advisor-hours" wiid="C305">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="sf_colsIn govuk-grid-column-full-width" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <ul class="app-long-results govuk-list govuk-grid-row" id="app-results-list--long" wiid="C344">
          <li class="" wiid="C345">
            <div class="app-long-results__item">
              <h2 class="govuk-heading-l govuk-!-margin-top-5">Future job growth</h2>
              <p class="govuk-body">This information tells you whether jobs in a sector are likely to go up or down in the future.</p>
              <!--          <img class="gem-c-image-card__image" alt="" src="/public/images/future-employment-projections.PNG" width="100%">--> 
              <img class="gem-c-image-card__image" alt="" src="/public/images/job-growth.PNG" width="100%"> </div>
          </li>
          <li>
            <div class="app-long-results__item">
              <h3 class="govuk-heading-l govuk-!-margin-top-5">Unemployment rate</h3>
              <p class="govuk-body">The lower the unemployment rate is, the easier it should be to find a job in this field.</p>
              <img class="gem-c-image-card__image" alt="" src="/public/images/unemployment-rate.PNG" width="100%"></div>
          </li>
          <li class="" wiid="C376">
            <div class="app-long-results__item">
              <h3 class="govuk-heading-l govuk-!-margin-top-5">Top sectors in this group</h3>
              <p class="govuk-body">See where most people in this job group are employed.</p>
              <img class="gem-c-image-card__image" alt="" src="/public/images/top_industries.PNG" width="100%"></div>
          </li>
          <li>
            <div class="app-long-results__item">
              <h3 class="govuk-heading-l govuk-!-margin-top-5">Employment by region</h3>
              <p class="govuk-body">See which areas of the country have the most opportunities for the job you want to do. <br>
                <br>
              </p>
              <img class="gem-c-image-card__image" alt="" src="/public/images/regional_employment.PNG" width="100%"></div>
          </li>
          <li>
            <div class="app-long-results__item">
              <h3 class="govuk-heading-l govuk-!-margin-top-5">Qualification level</h3>
              <p class="govuk-body">See the <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"> level of qualification </a>held by most people in this job group.  Get an idea of what you may need to aim for.</p>
              <img class="gem-c-image-card__image" alt="" src="/public/images/qualification-level.png" width="100%"></div>
          </li>
          <li></li>
        </ul>
        <div class="sfContentBlock sf-Long-text"> </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 