{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="homepage-LMI">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="careers-advice">Careers advice</a> </li>
        <li class="govuk-breadcrumbs__list-item">Job trends inform careers</li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <h1 class="govuk-heading-xl">How job trends can inform your career decisions</h1>
          
          <!--
          <ul class="govuk-list govuk-list--bullet">
            <li>different ways of getting into a career</li>
            <li>how many job opportunities there are for specific jobs</li>
            <li>how many job opportunities there are likely to be in the future</li>
            <li>how easy it is to get promoted in a specific job role</li>
            <li>how much you can earn in a job</li>
            <li>what skills and qualifications you need to do a job</li>
          </ul>
-->
          <p class="govuk-body">Labour market information (LMI) tells us about trends in the job market, from how many vacancies there are to how much people earn. </p>
          <p class="govuk-body">You can use LMI to help you make realistic decisions at any stage of your career. Pick the career stage that best applies to you</p>
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-1"> Career starter </span> </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class="govuk-body">As a career starter, you've got a lot to think about.</p>
                <p class="govuk-body">Careers advisers often help students with questions about what subjects to choose. If you know the job areas that are going to grow, you can choose the right subjects at GCSE, college and university. It can also help you identify what skills you'll need to develop.</p>
                <p class="govuk-body">There are also decisions about <a href="https://nationalcareers.service.gov.uk/careers-advice/career-choices-at-16">what to do at 16</a> and <a href="https://nationalcareers.service.gov.uk/careers-advice/career-choices-at-18">what to do at 18</a> to think about. You can also use LMI to find out about:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>different routes into jobs </li>
                  <li>changes to available entry routes</li>
                </ul>
                <p class="govuk-body">At the start of your career, you have an opportunity to identify trends in the world of work like:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>which job sectors are growing and which are declining </li>
                  <li>what types of work are available near you</li>
                  <li>whether you'll need to move for your career</li>
                </ul>
                <p class="govuk-body">This information can help you choose a job with good longer-term prospects.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-2"> Career changer </span> </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class="govuk-body">There can be a lot to think about when you're considering moving career. One of the primary concerns of people changing career is whether you’re likely to find a job after investing in training.</p>
                <p class="govuk-body">LMI can help you work out what the risks are so you can feel confident in your decision. It can help you identify:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>the ages of people in entry-level roles in the jobs you're looking at</li>
                  <li>the employability rates in the sector or occupation you’re interested in</li>
                  <li>related jobs which use skills you already have</li>
                  <li>skills gaps you could train to fill</li>
                  <li>whether there are jobs in your new occupation in your local area </li>
                </ul>
                <p class="govuk-body">This information can help you identify different ways of changing career, and make sure that you’re able to make a decision that works for you and your circumstances.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-3"> Progress in your career </span> </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class="govuk-body">LMI can also be helpful when you’re looking at different ways to progress in your career. It is especially helpful when it comes to training and professional development in your workplace. It can help you to work out if your job or job sector is in decline so that you can take steps to protect yourself. You could: </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>see if there are skills shortages in related disciplines that you’d be interested in looking into</li>
                  <li>identify opportunities to upskill or learn a discipline that complements your existing role</li>
                  <li>discover jobs you could transfer to with your existing skillset, either within your organisation or with another organisation </li>
                </ul>
                <p class="govuk-body">The world of work is always changing so keeping up to date with labour market information can help you to identify trends and prepare for them.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-4"> Facing redundancy </span> </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class="govuk-body">Redundancy can come as a shock at the best of times, but the more you know, the better prepared you will be for taking your next steps. Using LMI, you can find out if you’ve been redundant because your job isn’t needed in the organisation any more, or if there’s a bigger trend that applies to your role in all business. Once you know this, you can:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>see if there are many jobs in your chosen role in your local area or if you need to move to continue working</li>
                  <li>identify related jobs you’d be able to do</li>
                  <li>retrain in a new skill, discipline or occupation</li>
                  <li>identify routes into a new career that suit your circumstances and financial needs</li>
                </ul>
                <p class="govuk-body">If you decide to retrain after being made redundant, it can feel intimidating to return to the world of work in an entry-level role. LMI can help you find out more about age trends within a given occupation or sector so you can identify sectors where age and professional experience is an asset, like:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>counselling and coaching</li>
                  <li>teaching</li>
                  <li>training and instruction</li>
                  <li>social work</li>
                </ul>
              </div>
            </div>
          </div>
          <h3 class="govuk-heading-m">Take your next steps</h3>
          <p class="govuk-body">Now that you've found out about how LMI can help you, you might want to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>take a <a href="https://nationalcareers.service.gov.uk/skills-assessment">skills assessment </a>and find out what jobs might suit you</li>
            <li><a href="explorecareers.html">explore careers</a> that interest you</li>
            <li>look for <a href="careers-advice.html">careers advice</a> to help you look for and apply for jobs</li>
          </ul>
          <p class="govuk-body">You can also <a href="https://nationalcareers.service.gov.uk/contact-us">speak to an adviser</a> about your next steps by phone, email or webchat if you want more support with your career decisions.</p>
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="app-related-items">
          <div class="gem-c-related-navigation">
            <h2 class="govuk-heading-m"> Related content </h2>
            <ul class="govuk-list">
              <li> <a href="informed-career-decisions" class="govuk-link">Make informed career decisions</a></li>
              <li> <a href="covid-19-disruption" class="govuk-link">Understanding the working world during COVID-19</a></li>
            </ul>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-6" data-gtm-vis-recent-on-screen-8675592_194="287" data-gtm-vis-first-on-screen-8675592_194="287" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Want to speak to an adviser?</h2>
          <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 </p>
          <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 