{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
  <div class="sfPublicWrapper" id="PublicWrapper">
    <header class="job-profile-hero">
      <div data-sf-element="Row">
        <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
          <div class="govuk-width-container ">
            <div class="breadcrumbs govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
                <li class="govuk-breadcrumbs__list-item">Community education co-ordinator

 </li>
              </ol>
            </div>
          </div>
          <div class="govuk-width-container">
            <div class="grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h1 class="heading-xlarge">Community education co-ordinator
</h1>
                <p>Community education co-ordinators make sure education, training and recreation courses meet the needs of the local community.





</p>
              </div>
            </div>
            <div class="grid-row">
              <div id="Salary" class="column-40 job-profile-heroblock">
                <h2> Average salary <span>(a year)</span> </h2>
                <div class="job-profile-salary job-profile-heroblock-content">
                  <p class="dfc-code-jpsstarter">£23,000
<span>Starter</span></p>
                  <i class="sr-hidden">to</i>
                  <p class="dfc-code-jpsexperienced">£32,000
 <span>Experienced</span></p>
                </div>
              </div>
              <div id="WorkingHours" class="column-30 job-profile-heroblock">
                <h2>Typical hours <span>(a week)</span></h2>
                <div class="job-profile-hours job-profile-heroblock-content">
                  <p class="dfc-code-jphours"> 36 to 38 <span class="dfc-code-jpwhoursdetail">a week</span> </p>
                </div>
              </div>
              <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
                <h2> You could work </h2>
                <div class="job-profile-pattern job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern"> evenings / weekends

<span class="dfc-code-jpwhoursdetail">flexibly
</span> </p>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-60 job-profile-heroblock govuk-grid-column-two-thirds">
                <h2> Find out more about jobs in this group</h2>
                <div class="job-profile-group job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern">See which sectors you’ll find this job in, what qualifications you need to work in this area and if these types of jobs are going up or going down. This information can help you make good career decisions.</p>
                <p class="dfc-code-jpwpattern govuk-!-padding-top-5"> <a href="job-group-lmi" class="govuk-link">Explore job trends for this group</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="govuk-width-container">
      <div id="MainContentTop_T41A29498003_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Full Width Container"> <script language="JavaScript">
        var vocCookie = "vocPersonalisation=admin-assistant; path=/";

        if (document.location.protocol === "https:") {
            vocCookie += "; Secure";
        }

        document.cookie = vocCookie;
    </script> 
      </div>
    </div>
    <div class="govuk-width-container">
      <div class="grid-row" data-sf-element="Row">
        <div class="govuk-grid-column-two-thirds" wiid="C144">
        <div class="job-profile-sections" wiid="C145">
            <nav class="jump-links" role="navigation" aria-label="skip to your documents" wiid="C146">
    <ol class="list list-number" wiid="C147">
        <li wiid="C148">
            <a href="#HowToBecome" wiid="C149">How to become</a>
        </li>
        <li wiid="C150">
            <a href="#WhatItTakes" wiid="C151">What it takes</a>
        </li>
        <li wiid="C152">
            <a href="#WhatYouWillDo" wiid="C153">What you'll do</a>
        </li>
        <li wiid="C154">
            <a href="#CareerPathAndProgression" wiid="C155">Career path and progression</a>
        </li>
        <li wiid="C156">
            <a href="#CurrentOpportunities" wiid="C157">Current opportunities</a>
        </li>
    </ol>
</nav>
            

<section id="HowToBecome" wiid="C158" data-gtm-vis-recent-on-screen-8675592_54="109" data-gtm-vis-first-on-screen-8675592_54="109" data-gtm-vis-total-visible-time-8675592_54="100" data-gtm-vis-has-fired-8675592_54="1">
    <h2 class="job-profile-heading" wiid="C159">How to become a community education co-ordinator</h2>

    <p wiid="C160">You can get into this job through:</p>
<ul wiid="C161">
    <li wiid="C162">a university course </li>
    <li wiid="C163">a college course</li>
    <li wiid="C164">an apprenticeship</li>
    <li wiid="C165">volunteering</li>
    <li wiid="C166">applying directly</li>
</ul>

                <section class="job-profile-subsection" id="University" wiid="C167">
            <h3 wiid="C168">University</h3>
            <div class="job-profile-subsection-content" wiid="C169">

                <p wiid="C170">You'll find it useful to have a foundation degree or degree in a subject like:</p>
<ul wiid="C171">
    <li wiid="C172">education</li>
    <li wiid="C173">sociology</li>
    <li wiid="C174">youth and community development</li>
</ul>

                

                    <h4 wiid="C175">Entry requirements</h4>
                    <p wiid="C176">You'll usually need:</p>
                    <ul class="list-reqs" wiid="C177">
                            <li wiid="C178">2 to 3 A levels, or equivalent, for a degree</li>
                    </ul>

                    <h4 wiid="C179">More Information</h4>
                    <ul class="list-link" wiid="C180">
                            <li wiid="C181"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C182">equivalent entry requirements</a></li>
                            <li wiid="C183"><a class="htb-feature" href="https://www.gov.uk/student-finance" wiid="C184">student finance for fees and living costs</a></li>
                            <li wiid="C185"><a class="htb-feature" href="https://www.ucas.com/" wiid="C186">university courses and entry requirements</a></li>
                    </ul>
            </div>
        </section>

                <section class="job-profile-subsection" id="College" wiid="C187">
            <h3 wiid="C188">College</h3>
            <div class="job-profile-subsection-content" wiid="C189">

                <p wiid="C190">You could take a college course, which may help when applying for a trainee job. Courses include:</p>
<ul wiid="C191">
    <li wiid="C192">Level 2 and 3 Certificate in Community Development</li>
    <li wiid="C193">Level 4 Higher National Certificate in Social and Community Work</li>
</ul>

                

                    <h4 wiid="C194">Entry requirements</h4>
                    <p wiid="C195">Entry requirements for these courses vary.</p>
                    <ul class="list-reqs" wiid="C196">
                    </ul>

                    <h4 wiid="C197">More Information</h4>
                    <ul class="list-link" wiid="C198">
                            <li wiid="C199"><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help" wiid="C200">funding advice</a></li>
                            <li wiid="C201"><a class="htb-feature" href="/find-a-course" wiid="C202">search for courses</a></li>
                    </ul>
            </div>
        </section>

                <section class="job-profile-subsection" id="Apprenticeship" wiid="C203">
            <h3 wiid="C204">Apprenticeship</h3>
            <div class="job-profile-subsection-content" wiid="C205">

                <p wiid="C206">You could start by doing an advanced apprenticeship in youth work, learning and development or community arts management.</p>

                

                    <h4 wiid="C207">Entry requirements</h4>
                    <p wiid="C208">You'll usually need:</p>
                    <ul class="list-reqs" wiid="C209">
                            <li wiid="C210">5 GCSEs at grades 9 to 4 (A* to C), or equivalent, including English and maths, for an advanced apprenticeship</li>
                    </ul>

                    <h4 wiid="C211">More Information</h4>
                    <ul class="list-link" wiid="C212">
                            <li wiid="C213"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C214">equivalent entry requirements</a></li>
                            <li wiid="C215"><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide" wiid="C216">guide to apprenticeships</a></li>
                    </ul>
            </div>
        </section>

    
    <section class="job-profile-subsection" id="volunteering" wiid="C217">
        <h3 wiid="C218">Volunteering</h3>
        <div class="job-profile-subsection-content" wiid="C219">
            <p wiid="C220">Volunteering is a good way to build up contacts and can help you to get work in community education or development. You can find volunteering opportunities through <a href="https://www.ncvo.org.uk/ncvo-volunteering" wiid="C221">The National Council for Voluntary Organisations</a> and <a href="https://do-it.org/" wiid="C222">Do-it</a>.</p>
        </div>
    </section>

    <section class="job-profile-subsection" id="directapplication" wiid="C223">
        <h3 wiid="C224">Direct Application</h3>
        <div class="job-profile-subsection-content" wiid="C225">
            <p wiid="C226">You can apply directly for jobs if you've got paid or voluntary experience of working in the community. For example, in adult education, teaching or youth work. Experience of working with disadvantaged or vulnerable groups will also be helpful.</p>
        </div>
    </section>


        <section class="job-profile-subsection" id="moreinfo" wiid="C227">
        <h3 wiid="C228">More Information</h3>
        <div class="job-profile-subsection-content" wiid="C229">

                <h4 wiid="C230">Further information</h4>
<p wiid="C231">You can get more details about working in the community from your <a href="https://www.gov.uk/find-local-council" wiid="C232">local council</a> and <a href="https://locality.org.uk/" wiid="C233">locality</a>.</p>        </div>
    </section>

</section>
            
<section id="WhatItTakes" wiid="C234">
    <h2 class="job-profile-headings" wiid="C235">What it takes</h2>

        <section class="job-profile-subsection" wiid="C236">
        <h3 wiid="C237">Skills and knowledge</h3>
        <div class="job-profile-subsection-content" wiid="C238">
            <p wiid="C239">You'll need:</p>
            <ul wiid="C240">
                        <li wiid="C241">
                            excellent verbal communication skills
                        </li>
                        <li wiid="C242">
                            the ability to understand people’s reactions
                        </li>
                        <li wiid="C243">
                            sensitivity and understanding
                        </li>
                        <li wiid="C244">
                            customer service skills
                        </li>
                        <li wiid="C245">
                            to be thorough and pay attention to detail
                        </li>
                        <li wiid="C246">
                            patience and the ability to remain calm in stressful situations
                        </li>
                        <li wiid="C247">
                            the ability to work well with others
                        </li>
                        <li wiid="C248">
                            knowledge of psychology
                        </li>
                    <li wiid="C249">to be able to carry out basic tasks on a computer or hand-held device</li>
            </ul>
        </div>
    </section>

        <section class="job-profile-subsection" id="restrictions" wiid="C250">
        <h3 wiid="C251">Restrictions and Requirements</h3>
        <div class="job-profile-subsection-content" wiid="C252">
                <p wiid="C253">You'll need to:</p>
                <ul wiid="C254">
                        <li wiid="C255">pass <a href="https://www.gov.uk/criminal-record-checks-apply-role" wiid="C256">enhanced background checks</a></li>
                </ul>
            
        </div>
    </section>


</section>
            
<section id="WhatYouWillDo" wiid="C257">
    <h2 class="job-profile-heading" wiid="C258">What you'll do</h2>
    <section class="job-profile-subsection" wiid="C259">
        <h3 wiid="C260">Day-to-day tasks</h3>
        <div class="job-profile-subsection-content" wiid="C261">
            <p wiid="C262">Your day-to-day duties may include:</p>
<ul wiid="C263">
    <li wiid="C264">working with local groups and finding out their needs and interests</li>
    <li wiid="C265">planning ways to meet needs</li>
    <li wiid="C266">encouraging course providers to develop new learning opportunities</li>
    <li wiid="C267">working with local schools, colleges and community centres to arrange places and times for courses</li>
    <li wiid="C268">preparing and giving out information to the community</li>
    <li wiid="C269">helping overcome barriers to learning</li>
    <li wiid="C270">helping recruit tutors</li>
    <li wiid="C271">organising training for volunteers</li>
    <li wiid="C272">making sure targets are met</li>
    <li wiid="C273">administrative work - you may have an assistant to help with this</li>
    <li wiid="C274">controlling budgets and bidding for funding (at a senior level)</li>
</ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment" wiid="C275">
        <h3 wiid="C276">Working environment</h3>
        <div class="job-profile-subsection-content" wiid="C277">

                <p wiid="C278">
                    You could work in an office, in the community, at a school or at a college.
                </p>


        </div>
    </section>
</section>
            
    <section id="CareerPathAndProgression" wiid="C279">
        <h2 class="job-profile-heading" wiid="C280">Career path and progression</h2>
        With experience you could move into management. <br wiid="C281">
<br wiid="C282">
You could specialise in working with particular groups, training, or move into consultancy work. <br wiid="C283">
<br wiid="C284">
You could also move into community development work.
    </section>
 
            
<section id="CurrentOpportunities" wiid="C285">
    <h2 class="job-profile-headings" wiid="C286">Current opportunities</h2>
    <div class="govuk-grid-row" id="appGeneric" wiid="C287">
        <div class="govuk-grid-column-full" wiid="C288">
            <h3 class="govuk-heading-m" wiid="C289">
                Apprenticeships
                <span class="govuk-caption-m" wiid="C290">In England</span>
            </h3>
        </div>
            <div class="govuk-grid-column-full govuk-body dfc-code-jp-novacancyText" wiid="C291">
                <p wiid="C292">We can't find any apprenticeship vacancies in England for a community education co-ordinator right now.</p>
                <p wiid="C293">The <a href="https://www.gov.uk/apply-apprenticeship" wiid="C294">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
            </div>
    </div>
    <div class="govuk-grid-row dfc-code-jp-trainingCourse" wiid="C295">
        <div class="govuk-grid-column-full" wiid="C296">
            <h3 class="govuk-heading-m" wiid="C297">
                Courses
                <span class="govuk-caption-m" wiid="C298">In England</span>
            </h3>
        </div>
                <div class="govuk-grid-column-one-half" wiid="C299">
                    <div class="opportunity-item" wiid="C300">
                        <h4 class="govuk-heading-s" wiid="C301">
                            <a href="/find-a-course/course-details?courseid=b4390d79-0523-48bc-8356-b1e29e75cd99&amp;r=74df4a63-d504-4c9d-ab17-48cd312d2815" wiid="C302">Lifelong Learning Certificate in Education (in service) University of Huddersfield</a>
                        </h4>
                        <ul class="govuk-list" wiid="C303">
                            <li wiid="C304"><span class="govuk-body govuk-!-font-weight-bold" wiid="C305">Provider:</span> TAMESIDE COLLEGE</li>
                            <li wiid="C306"><span class="govuk-body govuk-!-font-weight-bold" wiid="C307">Start date:</span> 17 September 2020</li>
                            <li wiid="C308"><span class="govuk-body govuk-!-font-weight-bold" wiid="C309">Location:</span> Ashton-Under-Lyne</li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half" wiid="C310">
                    <div class="opportunity-item" wiid="C311">
                        <h4 class="govuk-heading-s" wiid="C312">
                            <a href="/find-a-course/course-details?courseid=94f22e80-3d85-4695-886c-5b4576f3e3f7&amp;r=fae4d734-eac3-4ca0-8c75-5e3278fd9538" wiid="C313">Prof Graduate Cert in Education (Lifelong Learning) (Blended Jan Start) (Yr1/2) (UoG) (HEPGCEE)</a>
                        </h4>
                        <ul class="govuk-list" wiid="C314">
                            <li wiid="C315"><span class="govuk-body govuk-!-font-weight-bold" wiid="C316">Provider:</span> BROMLEY COLLEGE OF FURTHER AND HIGHER EDUCATION</li>
                            <li wiid="C317"><span class="govuk-body govuk-!-font-weight-bold" wiid="C318">Start date:</span> 04 January 2021</li>
                            <li wiid="C319"><span class="govuk-body govuk-!-font-weight-bold" wiid="C320">Location:</span> Bromley</li>
                        </ul>
                    </div>
                </div>
            <div class="govuk-grid-column-full govuk-body dfc-code-jp-TrainingCoursesText" wiid="C321">
                <a href="/find-a-course/search" wiid="C322">Find courses near you</a>
            </div>
    </div>
    <div wiid="C323">
        <h3 class="govuk-heading-m" wiid="C324">
            Jobs
            <span class="govuk-caption-m" wiid="C325">In the United Kingdom</span>
        </h3>
        <p wiid="C326">The <a href="https://findajob.dwp.gov.uk" wiid="C327">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
    </div>
</section>
        </div>
    </div>
        <div id="MainContent_T41A29498001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
          <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container"> 
            
            <!--
            <div class="job-profile-related">
              <h2 class="heading-medium">Jobs in this group</h2>
              <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
				<p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore job prospects for this group</a></p>
            </div>
-->
            <div class="job-profile-related">
              <h2 class="heading-medium">Related careers</h2>
              <ul class="list list-big">
                <li wiid="C346"><a href="community-development-worker" wiid="C347">Community development worker</a></li>
                <li wiid="C348"><a href="community-arts-worker" wiid="C349">Community arts worker</a></li>
                <li wiid="C350"><a href="education-welfare-officer" wiid="C351">Education welfare officer</a></li>
              </ul>
            </div>
            <div>
              <div class="sf-Long-text">
                <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
              </div>
            </div>
            <div class="job-profile-search">
              <h3 class="heading-small">Search further careers</h3>
              <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
                <div class="job-profile-search-content">
                  <label for="search-main"> Enter a job title</label>
                  <div class="search-input-wrapper">
                    <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                  </div>
                  <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
                </div>
                <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
                <ul wiid="N81" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
                </ul>
              </form>
            </div>
          </aside>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Skills assessment</h2>
              <p><a href="/sprint43/homepage">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
            </div>
          </div>
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium">Get help using this service</h2>
              <p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="https://nationalcareers.service.gov.uk/webchat/chat/" target="'_blank'">use webchat</a></p>
              <p class="grey font-xsmall">8am to 10pm, 7 days a week<br>
              </p>
              <p>More ways to <a href="/contact-us">contact us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-profile-feedback govuk-width-container js-visible">
      <div class="job-profile-feedback-start">
        <p>Is this page useful?</p>
        <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
      <div class="job-profile-feedback-end-yes hidden">
        <p>Thank you for your feedback.</p>
      </div>
      <div class="job-profile-feedback-end-no hidden">
        <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
      </div>
    </div>
  </div>
{% endblock %} 