{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="homepage-LMI">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="careers-advice">Careers advice</a> </li>
        <li class="govuk-breadcrumbs__list-item">Employment trends in your region</li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <h1 class="govuk-heading-xl">Employment trends in your region</h1>
          <p class="govuk-body">It is helpful to know what is happening in the world of work in your local area. This information can help you understand:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>how employment rates compare to the rest of the country</li>
            <li>how much people get paid in your area compared to the rest of the country</li>
            <li>which  sectors most jobs near you are in</li>
            <li>which job sectors in your area are growing</li>
            <li>how many hours people in your area work</li>
          </ul>
			<p class="govuk-body">Being aware of this information can help you make realistic career choices based on what’s happening in the world of work.</p>
			<p class="govuk-body">This information is available by region or by <a href="https://www.lepnetwork.net/about-leps/location-map/" class="govuk-link">Local Enterprise Partnership</a> (LEP). Regions are bigger and let you see what is happening in your area and surrounding areas. LEPs show smaller areas and this information is more specific to your local area.
</p>
          
          <h2 class="govuk-heading-m">Find out what’s happening in your region</h2>
			<p class="govuk-body">Find out information from your region. Choose an area from the drop-down list to view a PDF document.</p>
          <div class="govuk-form-group">
            <select class="govuk-select" id="regional" name="sort">
              <option value="east-midlands" selected>East Midlands & Northamptonshire</option>
              <option value="buckinghamshire" >East of England & Buckinghamshire</option>
              <option value="london">London</option>
              <option value="north-east">North East</option>
              <option value="north-west">North West</option>
              <option value="south-east">South East</option>
              <option value="south-west">South West & Oxfordshire</option>
              <option value="uk-overview">UK Overview</option>
              <option value="west-midlands">West Midlands & Staffordshire</option>
              <option value="yorkshire">Yorkshire and the Humber</option>
            </select>
          </div>
          <section class="attachment regional embedded" id="east-midlands">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/East Mildands & Northamptonshire LMI.pdf"><img alt="" src="/public/images/thumbnail-east-mildands-northamptonshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/East Mildands & Northamptonshire LMI.pdf">Regional LMI - East Midlands & Northamptonshire</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">206KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment regional embedded" id="buckinghamshire" style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/East of England & Buckinghamshire LMI.pdf"><img alt="" src="/public/images/thumbnail-Buckinghamshire--LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/East of England & Buckinghamshire LMI.pdf">Regional LMI  - East of England & Buckinghamshire LMI</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">171KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment regional embedded" id="london" style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/London LMI.pdf"><img alt="" src="/public/images/thumbnail-London-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/London LMI.pdf">Regional LMI - London LMI</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">161KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment regional embedded" id="north-east" style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/North East LMI.pdf"><img alt="" src="/public/images/thumbnail-North-East-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/North East LMI.pdf">Regional LMI  - North East LMI</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">198KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment regional embedded" id="north-west" style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/North West LMI.pdf"><img alt="" src="/public/images/thumbnail-North-West-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/North West LMI.pdf">Regional LMI  - North west</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">205KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment regional embedded" id="south-east" style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/South East LMI.pdf"><img alt="" src="/public/images/thumbnail-South-East-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/South East LMI.pdf">Regional LMI  - South East</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">153KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment regional embedded" id="south-west" style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/South West & Oxfordshire LMI.pdf"><img alt="" src="/public/images/thumbnail-South-West-Oxfordshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/South West & Oxfordshire LMI.pdf">Regional LMI  - South West & Oxfordshire</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">157KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment regional embedded" id="uk-overview" style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/UK Overview LMI.pdf"><img alt="" src="/public/images/thumbnail-UK-Overview-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/UK Overview LMI.pdf">Regional LMI  - UK Overview</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">222KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment regional embedded" id="west-midlands" style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/West Midlands & Staffordshire LMI.pdf"><img alt="" src="/public/images/thumbnail-West-Midlands-Staffordshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/West Midlands & Staffordshire LMI.pdf">Regional LMI  - West Midlands & Staffordshire</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">199KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment regional embedded" id="yorkshire" style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Yorkshire and the Humber LMI.pdf"><img alt="" src="/public/images/thumbnail-Yorkshire-and-Humber-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Yorkshire and the Humber LMI.pdf">Regional LMI  - Yorkshire and the Humber</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">205KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <h2 class="govuk-heading-m">Find out what’s happening in your LEP</h2>
		  <p class="govuk-body">Find out information from your Local Enterprise Partnership. Choose an area from the drop-down list to view a PDF document.</p>
          <div class="govuk-form-group">
            <select class="govuk-select" id="subregional" name="subregional">
              <option value="hertfordshire" selected>Hertfordshire</option>
              <option value="cambridgeshire-peterborough" >Cambridgeshire & Peterborough</option>
              <option value="stoke-on-Trent-staffordshire">Stoke-on-Trent & Staffordshire</option>
              <option value="greater-birmingham">Greater Birmingham & Solihull</option>
              <option value="coventry-warwickshire">Coventry & Warwickshire</option>
              <option value="heart-south-west">Heart of the South West</option>
              <option value="cornwall-isles-scilly">Cornwall & Isles of Scilly</option>
              <option value="sheffield-city">Sheffield City Region</option>
              <option value="leeds-city">Leeds City Region</option>
            </select>
          </div>
          <section class="attachment sub-regional embedded" id="hertfordshire">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Hertfordshire - LMI.pdf"  target="_blank"><img alt="" src="/public/images/thumbnail-Hertfordshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Hertfordshire - LMI.pdf"  target="_blank">Local Enterprise Partnership LMI - Hertfordshire</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">686KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment sub-regional embedded" id="cambridgeshire-peterborough"  style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Cambridgeshire & Peterborough - LMI.pdf"  target="_blank"><img alt="" src="/public/images/thumbnail-cambridgeshire_Peterborough-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Cambridgeshire & Peterborough - LMI.pdf"  target="_blank">Local Enterprise Partnership LMI - Cambridgeshire & Peterborough</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">506KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
          <section class="attachment sub-regional embedded" id="stoke-on-Trent-staffordshire"  style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Stoke-on-Trent & Staffordshire - LMI.pdf"  target="_blank"><img alt="" src="/public/images/thumbnail-stoke-on-trent-staffordshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Stoke-on-Trent & Staffordshire - LMI.pdf"  target="_blank">Local Enterprise Partnership LMI - Stoke-on-Trent & Staffordshire</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">602KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
		  <section class="attachment sub-regional embedded" id="greater-birmingham"  style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Greater Birmingham & Solihull - LMI.pdf"  target="_blank"><img alt="" src="/public/images/Greater-Birmingham-Solihull.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Greater Birmingham & Solihull - LMI.pdf"  target="_blank">Local Enterprise Partnership LMI - Greater Birmingham & Solihull</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">562KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
		  <section class="attachment sub-regional embedded" id="coventry-warwickshire"  style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Coventry & Warwickshire - LMI.pdf"  target="_blank"><img alt="" src="/public/images/thumbnail-Coventry-Warwickshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Coventry & Warwickshire - LMI.pdf"  target="_blank">Local Enterprise Partnership LMI - Coventry & Warwickshire</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">772KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
		  <section class="attachment sub-regional embedded" id="heart-south-west"  style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Heart of the South West - LMI.pdf" target="_blank"><img alt="" src="/public/images/thumbnail-stoke-on-trent-staffordshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Heart of the South West - LMI.pdf"  target="_blank">Local Enterprise Partnership LMI - Heart of the South West</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">778KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
		  <section class="attachment sub-regional embedded" id="cornwall-isles-scilly"  style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Cornwall & Isles of Scilly - LMI.pdf"  target="_blank"><img alt="" src="/public/images/thumbnail-stoke-on-trent-staffordshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Cornwall & Isles of Scilly - LMI.pdf">Local Enterprise Partnership LMI - Cornwall & Isles of Scilly</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">2.39MB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
		  <section class="attachment sub-regional embedded" id="sheffield-city"  style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Sheffield City Region - LMI.pdf"  target="_blank"><img alt="" src="/public/images/thumbnail-stoke-on-trent-staffordshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Sheffield City Region - LMI.pdf"  target="_blank">Local Enterprise Partnership LMI - Sheffield City Region</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">627KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>
		  <section class="attachment sub-regional embedded" id="leeds-city"  style="display: none">
            <div class="attachment-thumb"> <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/pdf/Leeds City Region - LMI.pdf"  target="_blank"><img alt="" src="/public/images/thumbnail-stoke-on-trent-staffordshire-LMI.png"></a> </div>
            <div class="attachment-details">
              <h2 class="title"><a href="/public/images/pdf/Leeds City Region - LMI.pdf"  target="_blank">Local Enterprise Partnership LMI - Leeds City Region</a></h2>
              <p class="metadata"> <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">588KB</span>, <span class="page-length">1 page</span> </p>
            </div>
          </section>	
			
			
			<p class="govuk-body">If you need any additional support understanding what’s happening in the world of work in your area, you can <a href="https://nationalcareers.service.gov.uk/contact-us" class="govuk-link">contact us</a>. We are here to help you through your career journey.</p>
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div>
          <div class="app-related-items">
			  <div class="gem-c-related-navigation">
              <h2 class="govuk-heading-m"> Related content </h2>
              <ul class="govuk-list">
                <li> <a href="careerometer" class="govuk-link">Compare different jobs</a></li>
                <li><a href="skillsometer" class="govuk-link">Take a skills quiz</a></li>
              </ul>
            </div>
            <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="287" data-gtm-vis-first-on-screen-8675592_194="287" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Want to speak to an adviser?</h2>
            
            <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 </p>
            <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 