{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header> </header>
<div class="app-grey" wiid="C281">
  <div class="govuk-width-container">
    <div class="breadcrumbs govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="job-profile-2.html">Youth worker</a> </li>
        <li class="govuk-breadcrumbs__list-item">Job trends : Youth and community workers</li>
      </ol>
    </div>
  </div>
  <div class="govuk-main-wrapper govuk-width-container govuk-!-padding-top-7" wiid="C282">
    <div class="govuk-grid-row" wiid="C283">
      <div class="govuk-grid-column-two-thirds app-intro" wiid="C284">
        <h1 class="govuk-heading-xl">Job group: Youth and community workers </h1>
        <div class="govuk-text" wiid="C286">
          <p class="govuk-body">Youth and community workers provide support to individuals or groups of individuals through a range of activities or services that aim to encourage participation in social and community life and promote personal and social development.</p>
          <h2 class="govuk-heading-m govuk-!-margin-top-5">How this information can help you</h2>
          <p class="govuk-body">If you know what is happening in the labour market, it can help you to make realistic decisions about your career. The information on this page will give you the facts you need to help you make those decisions.</p>
        </div>
      </div>
      <div class="govuk-grid-column-one-third" wiid="C294">
        <div class="job-profile-sidebar app-resume-panel" wiid="C301">
          <div class="job-profile-related" wiid="C399">
            <h3 class="govuk-heading-m" wiid="C400" data-gtm-vis-first-on-screen-8675592_194="215" data-gtm-vis-recent-on-screen-8675592_194="1233216" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Job profiles  in this  group</h3>
            <ul class="list list-big" wiid="C398">
              <li wiid="C399"><a href="family-support-worker" wiid="C400">Family support worker</a></li>
              <li wiid="C399"><a href="community-arts-worker" wiid="C400">Community arts worker</a></li>
              <li wiid="C399"><a href="community-development-worker" wiid="C400">Community development worker</a></li>
              <li wiid="C399"><a href="community-education-coordinator" wiid="C400">Community education coordinator</a></li>
              <li wiid="C399"><a href="job-profile-2" wiid="C400">Youth worker</a></li>
            </ul>
          </div>
        </div>
        <div class="" wiid="C300">
          <h3 class="govuk-heading-m" wiid="C301">Get help using this service</h3>
          <p class="govuk-body" wiid="C302"><b wiid="C303">Call</b> 0800 100 900 or <a href="https://nationalcareers.service.gov.uk/webchat/chat/" class="govuk-link govuk-link--no-visited-state" wiid="C304">use webchat</a></p>
          <p class="govuk-caption-m app-advisor-hours" wiid="C305">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="sf_colsIn govuk-grid-column-full-width" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <ul class="app-long-results govuk-list govuk-grid-row" id="app-results-list--long" wiid="C344">
          <li class="govuk-!-padding-top-5">
            <div class="app-long-results__item">
              <h2 class="govuk-heading-m govuk-!-margin-top-5">Future job growth</h2>
              <p class="govuk-body">This information tells you whether jobs in a sector are likely to go up or down in the future.</p>
              <!--          <img class="gem-c-image-card__image" alt="" src="/public/images/future-employment-projections.PNG" width="100%">--> 
              <!--              <img class="gem-c-image-card__image" alt="" src="/public/images/job-growth.PNG" width="100%"> -->
              
              <div style="border:3px solid #207e77">
                <div style="background-color: #207e77;color: white;font-size: 250%;overflow: hidden;position: relative;height: 100px;margin-top: -1px;">
                  <div style="width: 20%;height:100px;float:left;padding-top: 20px;padding-left: 10px;"><img src="/public/images/chart-line-solid3.svg" alt=""/></div>
                  <div style="width:40%; position:absolute; right:0">+10.7% <span style="font-size: 16px; display: block">Job growth</span></div>
                </div>
                <div style="padding:10px">
                  <p class="govuk-body-m govuk-!-margin-bottom-1"><strong>Leading to</strong>: 9393 new jobs by 2026</p>
                  <p class="govuk-body-m  govuk-!-margin-bottom-1"  style="margin-top: 2px !important"><strong>Source</strong>: Working futures 2019</p>
                </div>
              </div>
            </div>
          </li>
          <li class="govuk-!-padding-top-5">
            <div class="app-long-results__item">
              <h3 class="govuk-heading-m govuk-!-margin-top-5">Unemployment rate</h3>
              <p class="govuk-body">The lower the unemployment rate is, the easier it should be to find a job in this field.</p>
              <!--              <img class="gem-c-image-card__image" alt="" src="/public/images/unemployment-rate.PNG" width="100%">-->
              
              <div style="border:3px solid #207e77">
                <div style="background-color: #207e77;color: white;font-size: 250%;overflow: hidden;position: relative;height: 100px;margin: -1px;">
                  <div style="width: 20%;height:100px;float:left;padding-top: 20px;padding-left: 10px;"><img src="/public/images/user-friends-solid.svg" alt=""/></div>
                  <div style="width:50%; position:absolute; right:0">4.12% <span style="font-size: 16px; display: block">National unemployment rate</span></div>
                </div>
                <div style="padding:10px">
                  <p class="govuk-body-m govuk-!-margin-bottom-1">Unemployment rate UK</p>
                  <p class="govuk-body-m  govuk-!-margin-bottom-1"  style="margin-top: 2px !important"><strong>Source</strong>: Labour Force Survey 2018</p>
                </div>
              </div>
            </div>
          </li>
          <li class="" wiid="C376">
            <div class="app-long-results__item">
              <h3 class="govuk-heading-m govuk-!-margin-top-5">Top sectors in this group</h3>
              <p class="govuk-body">See where most people in this job group are employed.</p>
              <img class="gem-c-image-card__image" alt="" src="/public/images/top_industries.PNG" width="100%">
              <p class="govuk-body"><br>
                <br>
                <br>
                Source : Working futures 2019</p>
            </div>
          </li>
          <li>
            <div class="app-long-results__item">
              <h3 class="govuk-heading-m govuk-!-margin-top-5">Employment by region</h3>
              <p class="govuk-body">See which areas of the country have the most opportunities for the job you want to do. <br>
              </p>
              <img class="gem-c-image-card__image" alt="" src="/public/images/regional_employment.PNG" width="100%">
              <p class="govuk-body"><br>
                <br>
                Source : Working futures 2019</p>
            </div>
          </li>
          <li>
            <div class="app-long-results__item">
              <h3 class="govuk-heading-m govuk-!-margin-top-5">Qualification level</h3>
              <p class="govuk-body">See the <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"> level of qualification </a>held by most people in this job group.  See what you may need to aim for.</p>
              <!--              <img class="gem-c-image-card__image" alt="" src="/public/images/qualification-level.png" width="100%">-->
              
              <div style="border:3px solid #207e77">
                <div style="background-color: #207e77;color: white;font-size: 250%;overflow: hidden;position: relative;height: 70px;margin-top: -1px;">
                  <div style="width:50%; position:absolute; left:10px"><span style="font-size:20px">Level </span>6 </div>
                </div>
                <div style="padding:10px">
                  <p class="govuk-body-m govuk-!-margin-bottom-1">The majority of those employed in this role will hold a BA/BSc degree with honours, degree apprenticeship, graduate diploma, Level 6 NVQ</p>
                </div>
              </div>
              <p class="govuk-body-s"><br>
                Source : Working futures 2019</p>
            </div>
          </li>
          <li></li>
        </ul>
        <div class="sfContentBlock sf-Long-text"> </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 