.course-details-hero {
  background-color: $grey-4;
  width: 100%;
  padding: 0;
  @extend %contain-floats;
  margin-bottom: 50px;

  h1 {
    font-size: 38px;
    margin: 1em 0 0 0;
    padding: 0;
  }

  h2 {
    @include core-24;
    color: $grey-1;
  }

  p {
    @include core-19;
    margin: 10px 0 30px 0;
  }

  .column {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    float: left;

    @include media(tablet) {
      width: 100%;
    }
  }

  .column-40 {
    @extend .column;

    @media (min-width: 750px) {
      width: 40%;
    }
  }

  .column-30 {
    @extend .column;

    @media (min-width: 750px) {
      width: 30%;
    }
  }
}

.course-details-heroblock {
  h2 {
    width: 100%;
    border-bottom: 1px solid $grey-3;
    color: $careers-turquoise;
    @include core-19;
    line-height: 22px;
    margin-bottom: 10px;
    @extend %contain-floats;


    @media (max-width: 749px) {
      font-weight: bold;
    }

    @include media(desktop) {
      padding: 5px 0;
    }

    span {
      @include core-14;
      margin-left: 5px;
      display: inline-block;
    }

    a {
      font-size: 12px;
      color: $careers-turquoise;
      float: right;
      top: 5px;
      position: relative;
      margin-bottom: 5px;

      @media (max-width: 749px) {
        float: left !important;
        font-weight: normal !important;
      }
    }
  }


  .course-details-heroblock-content {
    padding: 10px 0;
    float: right;
    width: 100%;
    position: relative;

    &:before {
      content: "";
      float: left;
      width: 40px;
      height: 40px;
      position: relative;
      margin-right: 20px;
    }


    p {
      font-size: 20px;
      line-height: 1.25;
      letter-spacing: -0.25px;
      margin: 0;

      span {
        @include core-14;
        color: $careers-turquoise;
        width: 100%;
        display: block;
      }
    }

    @media (max-width: 749px) {

      &:after {
        display: none;
      }

      &:before {
        display: none;
      }

      p {
        text-align: right;
      }
    }
  }

  .course-details-building {
    &:before {
      background: govuk-image-url("../../public/images/building.svg") no-repeat center;
    }

    p {
      margin-left: 60px;
    }
  }

  .course-details-hours {
    &:before {
      background: govuk-image-url("../../public/images/clock.svg") no-repeat center;
    }

    p {
      margin-left: 60px;
    }
  }

  .course-details-pattern {
    &:before {
      background: govuk-image-url("../../public/images/calendar-alt.svg") no-repeat center;
    }

    p {
      margin-left: 60px;
    }
  }

  @media (max-width: 749px) {
    &:nth-child(odd) {
      background-color: darken($grey-4, 5%);
    }

    h2 {
      width: 50%;
      float: left;
      border: none;
      min-width: 150px;

      span {
        width: 100%;
        margin: 0;
      }
    }

    .course-details-heroblock-content {
      float: right;
      width: auto;
      padding: 0;
    }
  }
}

.course-search-submit {
  @include box-sizing(border-box);
  height: 40px;
  width: 40px;
  cursor: pointer;
  overflow: hidden;
  text-indent: 50000px;
  background: #000000;
  background-image: govuk-image-url("../../public/images/icon-search-2x.png");
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: 24px;
  padding: 6px;
  border: 0;
  color: $white;
  z-index: 900;
  position: relative;
  margin-left: -4px;
  margin-top: 2px;
};