.course-search-hero {
  background-color: $grey-4;
  width: 100%;
  padding-bottom: 1em;

  h1 {
    font-size: 38px;
    margin: 1em 0 0 0;
    padding: 0;
  }

  h2 {
    @include core-24;
    color: $grey-1;
  }

  p {
    @include core-19;
    margin: 10px 0 30px 0;
  }

}

.course-search-input {
  margin-bottom: 1em;
  width: 80%;
}

.course-search-label {
  padding-top: 1em;
}

.course-details-hero {
  background-color: $grey-4;
  width: 100%;
  padding: 0;
  @extend %contain-floats;
  margin-bottom: 0;

  h1 {
    font-size: 38px;
    margin: 1em 0 0 0;
    padding: 0;
  }

  h2 {
    @include core-24;
    color: $grey-1;
  }

  p {
    @include core-19;
    margin: 10px 0 30px 0;
  }

}

.course-details-padding {
  padding-bottom: 2.6315789473684212em;
}

.course-jump-links {
  border-bottom: none;
  padding-bottom: 2.6315789473684212em;

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-weight: 700;
      margin: 0;
      font-size: 16px;
      display: inline-block;
      width: 100%;
      @extend %contain-floats;

      a {
        color: $black;
        width: 100%;
        padding: 8px 10px;
        text-decoration: none;
        float: left;
        box-sizing: border-box;
        background-color: $grey-3;
        border-radius: 3px;

        &:hover {
          background-color: $govuk-blue;
          color: $white;

          &:after {
            border: solid $white;
            border-width: 0 3px 3px 0;
          }
        }

        &:after {
          content: "";
          border: solid $govuk-blue;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          margin: 6px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          float: right;
        }
      }
    }

    @include media(tablet) {
      -moz-column-count: 2;
      -moz-column-gap: 25px;
      -webkit-column-count: 2;
      -webkit-column-gap: 25px;
      column-count: 2;
      column-gap: 25px;
      margin-top: -5px;
    }
  }
}


.course-search-submit {
  @include box-sizing(border-box);
  height: 40px;
  width: 40px;
  cursor: pointer;
  overflow: hidden;
  text-indent: 50000px;
  background: #000000;
  background-image: govuk-image-url("../../public/images/icon-search-2x.png");
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: 24px;
  padding: 6px;
  border: 0;
  color: $white;
  z-index: 900;
  position: relative;
  margin-left: -4px;
  margin-top: 2px;
};

.course-search-icon {
  background: #FFFFFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E") no-repeat -5px -3px;
  padding-left: 30px;
}