{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="homepage-LMI">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item">Careers advice</li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-full-width govuk-!-padding-left-3 govuk-!-padding-right-3" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <h1 class="govuk-heading-xl">Careers advice</h1>
          <p class="govuk-body-m">The National Careers Service can help you make career decisions throughout your life. From deciding your education route, planning a career change at any age or getting the job that is right for you.</p>
          <div class="govuk-tabs govuk-!-margin-top-7" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title"> Contents </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"> <a class="govuk-tabs__tab" href="#making-career-choices"> Making career choices </a> </li>
              <li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#getting-a-job"> Getting a job </a> </li>
              <li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#progressing-your-career"> Progressing your career </a> </li>
            </ul>
            <div class="govuk-tabs__panel" id="making-career-choices">
              <h2 class="govuk-heading-l">Making career choices</h2>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/career-choices-at-16">Post 16 options</a></h3>
              <p class="govuk-body-m">Think about what your next step in education or training will be at 16.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/career-choices-at-18">Post 18 options</a></h3>
              <p class="govuk-body-m">From 17 to 19, explore the education, work and study options available to you.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/options-with-education-health-and-care-plan/">Options with an Education Health and Care (EHC) plan</a></h3>
              <p class="govuk-body-m">Find the right learning or training option available to you with an EHC plan.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/advice-on-a-gap-year/">Advice on a gap year</a></h3>
              <p class="govuk-body-m">Advice on taking time out of education before continuing your studies.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/advice-for-if-you-lose-your-job">Advice for if you lose your job</a></h3>
              <p class="govuk-body-m">Find useful advice and resources for if you have recently been made redundant or become unemployed.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/advice-for-furloughed-workers">Advice for furloughed workers</a></h3>
              <p class="govuk-body-m">Find out about your rights and get help when becoming furloughed.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/the-world-of-work-is-changing">Understanding the working world during COVID-19</a></h3>
              <p class="govuk-body-m">See how Covid-19 is changing the way you find and get a job.<br>
              </p>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="getting-a-job">
              <h2 class="govuk-heading-l">Getting a job</h2>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/advertised-job-vacancies">How to find job vacancies</a></h3>
              <p class="govuk-body-m">Find out where to look for vacancies from recruitment agencies to social media sites.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/networking">Find a job by networking</a></h3>
              <p class="govuk-body-m">Discover jobs through people you know.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/cv-sections">How to write a CV</a></h3>
              <p class="govuk-body-m">Check our CV advice on what to include and how to make it stand out.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/covering-letter">How to write a cover letter</a></h3>
              <p class="govuk-body-m">Learn more about cover letters, why they're important and how to use them.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/application-forms">How to fill in an application form</a></h3>
              <p class="govuk-body-m">Get help to complete paper and online application forms.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/interview-advice">Interview advice</a></h3>
              <p class="govuk-body-m">Find out about the different types of interviews and how to do well in them.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/top-10-interview-questions">How to answer common interview questions</a></h3>
              <p class="govuk-body-m">Learn how to answer interview questions confidently and make a good impression.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/how-to-do-well-in-telephone-interviews/">How to do well in telephone interviews</a></h3>
              <p class="govuk-body-m">Follow our advice on how to prepare and succeed in telephone interviews.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/how-to-do-well-in-video-interviews/">How to do well in video interviews </a></h3>
              <p class="govuk-body-m">Follow our advice on how to well in a live or pre-recorded video interviews.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/create-a-linkedin-profile/">How to create a Linkedin profile</a></h3>
              <p class="govuk-body-m">Develop your job search and network by creating an online Linkedin profile.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/how-to-find-graduate-schemes/">How to find graduate schemes </a></h3>
              <p class="govuk-body-m">Develop your talent on a graduate scheme.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/how-to-find-a-virtual-internships/">How to find a virtual internship</a></h3>
              <p class="govuk-body-m">Get remote work experience with companies in the UK or abroad.</p>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="progressing-your-career">
              <h2 class="govuk-heading-l">Progressing your career</h2>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/how-to-develop-your-soft-skills">Develop your soft skills</a></h3>
              <p class="govuk-body-m">Learn to develop your soft skills, like communication and leadership skills.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/advice-on-volunteering/">Advice on volunteering</a></h3>
              <p class="govuk-body-m">Advice on how to choose volunteering positions for your future career choices.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/ways-to-develop-skills/">Ways to develop skills</a></h3>
              <p class="govuk-body-m">You could develop the soft skills you need for your future jobs and career.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/how-digital-skills-can-help-you/">How digital skills can help you</a></h3>
              <p class="govuk-body-m">Learn digital skills to improve your confidence in using technology for work, learning and daily life.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/choosing-online-learning">Choosing online learning</a></h3>
              <p class="govuk-body-m">Online learning is a way to improve your skills without leaving your home.</p>
              <h3 class="govuk-heading-s"><a class="govuk-link" href="/careers-advice/getting-the-most-out-of-online-learning">Getting the most out of online learning</a></h3>
              <p class="govuk-body-m">Make online learning a fun and rewarding experience.</p>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year"> </div>
          </div>
          
          <!--
		  <h3 class="govuk-heading-s"><a class="govuk-link" href="jobs-have-the-most-expected-growth">What jobs have the most expected growth</a></h3>
          <p class="govuk-body-m">See which jobs areas are growing</p>
          
		  <h3 class="govuk-heading-s"><a class="govuk-link" href="job-groups-have-lowest-unemployment-rate">Which job groups have the lowest unemployment rate?</a></h3>
          <p class="govuk-body-m"></p>
--> 
        </div>
      </div>
    </div>
    <!--
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <div class="app-related-items">
            <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="287" data-gtm-vis-first-on-screen-8675592_194="287" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Want to speak to an adviser?</h2>
            <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 </p>
            <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
          </div>
        </div>
      </div>
    </div>
--> 
  </div>
</div>
{% endblock %} 