{% extends "layout_ncs_new-shc.html" %}

<link href="/public/stylesheets/sfa.min.css" media="all" rel="stylesheet" type="text/css" />

{% block header %}

{% endblock %}

{% block pageTitle %}
Skills health check
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="govuk-width-container">
  <div class="breadcrumbs" wiid="C298">
    <ol wiid="C299">
      <li wiid="C300"><a href="../../../" wiid="C301">Home</a></li>
      <li wiid="C300"><a href="../../homepage" wiid="C301">Skills assessment</a></li>
      <li wiid="C300">Skills health check</li>
    </ol>
  </div>
</div>
{% endblock %}
  {% block content %}
<div class="govuk-width-container" id="shc">
  <div class="govuk-width-container" wiid="C321">
    <div class="govuk-grid-row" wiid="C323">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div wiid="C322">
              <div class="sfContentBlock sf-Long-text" wiid="C323">
                <h1 class="heading-xlarge govuk-!-margin-top-0 govuk-!-margin-bottom-5"> Skills health check<span class="heading-secondary">Started 12 June 2020 16:33</span> </h1>
                <div class="govuk-warning-text"> <span class="govuk-warning-text__icon" aria-hidden="true">!</span> <strong class="govuk-warning-text__text"> <span class="govuk-warning-text__assistive">Warning</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong> </div>
                <p class="govuk-body">The skills health check is a set of quizzes and activities designed to help you explore your skills, interests and motivations.</p>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-9">
              <div class="govuk-grid-column-one-quarter">
                <section class="margin-bottom">
                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                    <circle class="circle-chart__background" stroke="#ccc" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
                    <circle id="first" class="circle-chart__circle" stroke-width="4" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
                    <!-- was stroke="#efefef" -->
                    <g class="circle-chart__info">
                      <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="firstDonut" data-count="">0</text>
                      <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">completed</text>
                    </g>
                  </svg>
                </section>
              </div>
              <div class="govuk-grid-column-three-quarters govuk-!-padding-left-5">
                <h2 class="govuk-heading-l">You have completed 5 out of 10 assessments!</h2>
                <ul class="list list-bullet">
                  <li>Skills</li>
                  <li>Personal style</li>
                  <li>Verbal reasoning</li>
                  <li>Solving mechanical problems</li>
                  <li>Solving abstract problems</li>
                </ul>
                <button class="govuk-button" data-module="govuk-button">Get your personalised report</button>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-0">
          <h3 class="govuk-heading-m ">Personal skills</h3>
          <p>Work through the personal skills assessments to help you understand your skills, interests and motivations in the workplace. Explore what you’re good at, your preferred working style and what you want to get from work. </p>
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-1"> Your personal skills assessment </span> </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class="govuk-body">This is the content for personal skills assessment.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-2"> Your interest assessment </span> </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class="govuk-body">This is the content for interest assessment .</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-3"> Your working style assessment </span> </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class="govuk-body">This is the content for working style assessment.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-4"> Your motion assessment </span> </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class="govuk-body">This is the content for motion assessment.</p>
              </div>
            </div>
          </div>
          <h3 class="govuk-heading-m ">Work-based skills </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default1">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-1"> Your numerical assessment </span> </h2>
              </div>
              <div id="accordion-default1-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class="govuk-body">This is the content for personal skills assessment.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-2"> Your verbal reasoning assessment </span> </h2>
              </div>
              <div id="accordion-default1-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class="govuk-body">This is the content for interest assessment .</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-3"> Your clerical assessment </span> </h2>
              </div>
              <div id="accordion-default1-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class="govuk-body">This is the content for working style assessment.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-4"> Your mechanical assessment </span> </h2>
              </div>
              <div id="accordion-default1-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class="govuk-body">This is the content for motion assessment.</p>
              </div>
            </div>
			<div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-4"> Your spatial assessment </span> </h2>
              </div>
              <div id="accordion-default1-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class="govuk-body">This is the content for spatial assessment.</p>
              </div>
            </div>
			<div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-4"> Your abstract assessment </span> </h2>
              </div>
              <div id="accordion-default1-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class="govuk-body">This is the content for abstract assessment.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row">
          <h3 class="govuk-heading-m">Next steps</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container" wiid="C339">
        <div class="app-sidebar app-resume-panel app-related-items" wiid="C301"> {% include "includes/next-steps.html" %}{% include "includes/save-my-assessments.html" %}
          {% include "includes/return-to-assessment.html" %}  {% include "includes/speak-to-an-advisor.html" %}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 