{% extends "layout_ncs_new-shc.html" %}

<link href="/public/stylesheets/sfa.min.css" media="all" rel="stylesheet" type="text/css" />

{% block header %}

{% endblock %}

{% block pageTitle %}
Skills health check
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="govuk-width-container">
  <div class="breadcrumbs" wiid="C298">
    <ol wiid="C299">
      <li wiid="C300"><a href="../../../" wiid="C301">Home</a></li>
      <li wiid="C300"><a href="../../homepage" wiid="C301">Skills assessment</a></li>
      <li wiid="C300">Skills health check</li>
    </ol>
  </div>
</div>
{% endblock %}
  {% block content %}
<div class="govuk-width-container" id="shc">
  <div class="govuk-width-container" wiid="C321">
    <div class="govuk-grid-row" wiid="C323">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div wiid="C322">
              <div class="sfContentBlock sf-Long-text" wiid="C323">
                <h1 class="heading-xlarge govuk-!-margin-top-0 govuk-!-margin-bottom-5"> Skills health check<span class="heading-secondary">Started 12 June 2020 16:33</span> </h1>
                <div class="govuk-warning-text"> <span class="govuk-warning-text__icon" aria-hidden="true">!</span> <strong class="govuk-warning-text__text"> <span class="govuk-warning-text__assistive">Warning</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong> </div>
                <p class="govuk-body">The skills health check is a set of quizzes and activities designed to help you explore your skills, interests and motivations.</p>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-9">
              <div class="govuk-grid-column-one-quarter">
                <section class="margin-bottom">
                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                    <circle class="circle-chart__background" stroke="#ccc" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
                    <circle id="first" class="circle-chart__circle" stroke-width="4" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
                    <!-- was stroke="#efefef" -->
                    <g class="circle-chart__info">
                      <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="firstDonut" data-count="">0</text>
                      <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">completed</text>
                    </g>
                  </svg>
                </section>
              </div>
              <div class="govuk-grid-column-three-quarters govuk-!-padding-left-5">
                <h2 class="govuk-heading-l">You have completed 5 out of 10 assessments!</h2>
                <ul class="list list-bullet">
                  <li>Skills</li>
                  <li>Personal style</li>
                  <li>Verbal reasoning</li>
                  <li>Solving mechanical problems</li>
                  <li>Solving abstract problems</li>
                </ul>
                <button class="govuk-button" data-module="govuk-button">Get your personalised report</button>
              </div>
            </div>
          </div>
		<div class="govuk-grid-row govuk-!-margin-top-0">
      <h3 class="govuk-heading-m ">Your personal skills</h3>
      <p>Work through the personal skills assessments to help you understand your skills, interests and motivations in the workplace. Explore what you’re good at, your preferred working style and what you want to get from work. </p>
		<div class="govuk-!-margin-bottom-9">
			<table class="govuk-table">
			  <thead class="govuk-table__head">
				<tr class="govuk-table__row">
				  <th scope="col" class="govuk-table__header">Assessment</th>
				  <th scope="col" class="govuk-table__header">Duration</th>
				  <th scope="col" class="govuk-table__header">Status</th>
				</tr>
			  </thead>
			  <tbody class="govuk-table__body">
				<tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header">Find out what you are naturally good at</th>
				  <td class="govuk-table__cell">15 to 30 mins</td>
				<td class="govuk-table__cell"><a href="#" class="govuk-link">Start skills assessment</a></td>
				</tr>
				<tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header">See how your interests could shape your career</th>
				  <td class="govuk-table__cell">15 to 30 mins</td>
				<td class="govuk-table__cell"><a href="#" class="govuk-link">In progress</a></td>
				</tr>
				<tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header">Find out what working environments might suit you</th>
				  <td class="govuk-table__cell">15 to 30 mins</td>
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Get your report</a></td>
				</tr>
				<tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header">Discover what motivates you and what careers reflect your values</th>
				  <td class="govuk-table__cell">15 to 30 mins</td>
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Get your report</a></td>
				</tr>
			  </tbody>
			</table>
			
			
			
		</div>
		<h3 class="govuk-heading-m ">Your work-based skills</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		
		<div class="govuk-!-margin-bottom-9">
			<table class="govuk-table">
			  <thead class="govuk-table__head">
				<tr class="govuk-table__row">
				  <th scope="col" class="govuk-table__header">Assessment</th>
				  <th scope="col" class="govuk-table__header">Duration</th>
				  <th scope="col" class="govuk-table__header">Status</th>
				</tr>
			  </thead>
			  <tbody class="govuk-table__body">
				<tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header">Solve problems using numbers 15 to 30 mins</th>
				  <td class="govuk-table__cell">15 to 30 mins</td>
				<td class="govuk-table__cell"><a href="#" class="govuk-link">Start skills assessment</a></td>
				</tr>
				<tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header">Reason and solve problems using spoken and written language</th>
				  <td class="govuk-table__cell">15 to 30 mins</td>
				<td class="govuk-table__cell"><a href="#" class="govuk-link">In progress</a></td>
				</tr>
				<tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header">Check your ability to check details</th>
				  <td class="govuk-table__cell">15 to 30 mins</td>
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Get your report</a></td>
				</tr>
				<tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header">Solve problems using mechanical skills</th>
				  <td class="govuk-table__cell">15 to 30 mins</td>
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Get your report</a></td>
				</tr>
				 <tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header">Solve problems related to shapes and space</th>
				  <td class="govuk-table__cell">15 to 30 mins</td>
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Get your report</a></td>
				</tr>
			  </tbody>
			</table>
			
			
			
		</div>
		
		<div >
        <h3 class="govuk-heading-m">Your next steps</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
    </div>
        </div>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container" wiid="C339">
        <div class="app-sidebar app-resume-panel app-related-items" wiid="C301"> {% include "includes/next-steps.html" %}{% include "includes/save-my-assessments.html" %}
          {% include "includes/return-to-assessment.html" %}  {% include "includes/speak-to-an-advisor.html" %}</div>
      </div>
    </div>
    
  </div>
</div>
{% endblock %} 