{% extends "layout_ncs_new-shc.html" %}
<link href="/public/stylesheets/sfa.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="/public/javascripts/tt.js"></script>
{% block header %}

{% endblock %}

{% block pageTitle %}
Skills health check
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="govuk-width-container">
  <div class="breadcrumbs" wiid="C298">
    <ol wiid="C299">
      <li wiid="C300"><a href="../../../" wiid="C301">Home</a></li>
      <li wiid="C300"><a href="../../homepage" wiid="C301">Skills assessment</a></li>
      <li wiid="C300">Skills health check</li>
    </ol>
  </div>
</div>
{% endblock %}
  {% block content %}
<div class="govuk-width-container" id="shc">
  <div class="govuk-width-container" wiid="C321">
    <div class="govuk-grid-row" wiid="C323">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
        <div>
          <div class="sfContentBlock sf-Long-text">
            <div wiid="C322">
              <div class="sfContentBlock sf-Long-text" wiid="C323">
                <h1 class="heading-xlarge govuk-!-margin-top-0 govuk-!-margin-bottom-5"> Skills health check<span class="heading-secondary">Started 12 June 2020 16:33</span> </h1>
                <div class="govuk-warning-text"> <span class="govuk-warning-text__icon" aria-hidden="true">!</span> <strong class="govuk-warning-text__text"> <span class="govuk-warning-text__assistive">Warning</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </strong> </div>
                <p class="govuk-body">The skills health check is a set of quizzes and activities designed to help you explore your skills, interests and motivations.</p>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-9">
              <div class="govuk-grid-column-one-quarter">
                <section class="margin-bottom">
                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                    <circle class="circle-chart__background" stroke="#ccc" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
                    <circle id="first" class="circle-chart__circle" stroke-width="4" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
                    <!-- was stroke="#efefef" -->
                    <g class="circle-chart__info">
                      <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="firstDonut" data-count="">0</text>
                      <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">completed</text>
                    </g>
                  </svg>
                </section>
              </div>
              <div class="govuk-grid-column-three-quarters govuk-!-padding-left-5">
                <h2 class="govuk-heading-l">You have completed 5 out of 10 assessments!</h2>
                <ul class="list list-bullet">
                  <li>Skills</li>
                  <li>Personal style</li>
                  <li>Verbal reasoning</li>
                  <li>Solving mechanical problems</li>
                  <li>Solving abstract problems</li>
                </ul>
                <button class="govuk-button" data-module="govuk-button">Get your personalised report</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container" wiid="C339">
        <div class="app-sidebar app-resume-panel app-related-items" wiid="C301"> {% include "includes/next-steps.html" %}{% include "includes/save-my-assessments.html" %}
          {% include "includes/return-to-assessment.html" %}  {% include "includes/speak-to-an-advisor.html" %}</div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-0">
      <h3 class="govuk-heading-m ">Personal skills</h3>
      <p>Work through the personal skills assessments to help you understand your skills, interests and motivations in the workplace. Explore what you’re good at, your preferred working style and what you want to get from work. </p>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title"> Contents </h4>
		  
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"> <a class="govuk-tabs__tab" href="#personal-skills"> Personal skills </a> </li>
          <li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#interest"> Interests </a> </li>
          <li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#working-style"> Working style </a> </li>
          <li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#motivations"> Motivations </a> </li>
        </ul>
        <div class="govuk-tabs__panel" id="personal-skills">
          <h4 class="govuk-heading-s">Personal skills</h4>
			<p>This assessment is about how you see yourself and it can help you explore the skills you have. </p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">0</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">0</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">0</td>
              </tr>
            </tbody>
          </table>
          <button class="govuk-button" data-module="govuk-button"> Start personal assessment</button>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="interest">
          <h4 class="govuk-heading-s">Interest</h4>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">24</td>
                <td class="govuk-table__cell">18</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">16</td>
                <td class="govuk-table__cell">20</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">24</td>
                <td class="govuk-table__cell">27</td>
              </tr>
            </tbody>
          </table>
          <button class="govuk-button" data-module="govuk-button"> Resume interests assessment</button>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="working-style">
          <h4 class="govuk-heading-s">Working style</h4>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">98</td>
                <td class="govuk-table__cell">95</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">122</td>
                <td class="govuk-table__cell">131</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">126</td>
                <td class="govuk-table__cell">142</td>
              </tr>
            </tbody>
          </table>
          <button class="govuk-button" data-module="govuk-button"> View report of working style assessment</button>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="motivations">
          <h4 class="govuk-heading-s">Motivations</h4>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">1380</td>
                <td class="govuk-table__cell">1472</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">1129</td>
                <td class="govuk-table__cell">1083</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">1539</td>
                <td class="govuk-table__cell">1265</td>
              </tr>
            </tbody>
          </table>
          <button class="govuk-button" data-module="govuk-button"> Start motivation assessment</button>
        </div>
      </div>
	      
		<h3 class="govuk-heading-m ">Work-based skills </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		<div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title"> Contents </h4>
		  
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"> <a class="govuk-tabs__tab" href="#numerical">  Numerical  </a> </li>
          <li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#verbal-reasoning">  Verbal reasoning  </a> </li>
          <li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#clerical"> Clerical </a> </li>
          <li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#mechanical"> Mechanical </a> </li>
						<li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#spatial"> Spatial </a> </li>
<li class="govuk-tabs__list-item"> <a class="govuk-tabs__tab" href="#abstract"> Abstract </a> </li>
        </ul>
        <div class="govuk-tabs__panel" id="numerical">
          <h4 class="govuk-heading-s">Numerical</h4>
			<p>This assessment is about how you see yourself and it can help you explore the skills you have. </p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">0</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">0</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">0</td>
              </tr>
            </tbody>
          </table>
          <button class="govuk-button" data-module="govuk-button"> Start numerical assessment</button>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="verbal-reasoning">
          <h4 class="govuk-heading-s">Verbal reasoning </h4>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">24</td>
                <td class="govuk-table__cell">18</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">16</td>
                <td class="govuk-table__cell">20</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">24</td>
                <td class="govuk-table__cell">27</td>
              </tr>
            </tbody>
          </table>
          <button class="govuk-button" data-module="govuk-button"> Resume interests assessment</button>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="clerical">
          <h4 class="govuk-heading-s">Clerical</h4>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">98</td>
                <td class="govuk-table__cell">95</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">122</td>
                <td class="govuk-table__cell">131</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">126</td>
                <td class="govuk-table__cell">142</td>
              </tr>
            </tbody>
          </table>
          <button class="govuk-button" data-module="govuk-button"> View report of working style assessment</button>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mechanical">
          <h4 class="govuk-heading-s">Mechanical</h4>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">1380</td>
                <td class="govuk-table__cell">1472</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">1129</td>
                <td class="govuk-table__cell">1083</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">1539</td>
                <td class="govuk-table__cell">1265</td>
              </tr>
            </tbody>
          </table>
          <button class="govuk-button" data-module="govuk-button"> Start motivation assessment</button>
        </div>
	  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="spatial">
  <h4 class="govuk-heading-s">Spatial</h4>
  <table class="govuk-table">
	<thead class="govuk-table__head">
	  <tr class="govuk-table__row">
		<th scope="col" class="govuk-table__header">Case manager</th>
		<th scope="col" class="govuk-table__header">Cases opened</th>
		<th scope="col" class="govuk-table__header">Cases closed</th>
	  </tr>
	</thead>
	<tbody class="govuk-table__body">
	  <tr class="govuk-table__row">
		<td class="govuk-table__cell">David Francis</td>
		<td class="govuk-table__cell">1380</td>
		<td class="govuk-table__cell">1472</td>
	  </tr>
	  <tr class="govuk-table__row">
		<td class="govuk-table__cell">Paul Farmer</td>
		<td class="govuk-table__cell">1129</td>
		<td class="govuk-table__cell">1083</td>
	  </tr>
	  <tr class="govuk-table__row">
		<td class="govuk-table__cell">Rita Patel</td>
		<td class="govuk-table__cell">1539</td>
		<td class="govuk-table__cell">1265</td>
	  </tr>
	</tbody>
  </table>
  <button class="govuk-button" data-module="govuk-button"> Start motivation assessment</button>
</div>
			  
			  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="abstract">
  <h4 class="govuk-heading-s">Abstract</h4>
  <table class="govuk-table">
	<thead class="govuk-table__head">
	  <tr class="govuk-table__row">
		<th scope="col" class="govuk-table__header">Case manager</th>
		<th scope="col" class="govuk-table__header">Cases opened</th>
		<th scope="col" class="govuk-table__header">Cases closed</th>
	  </tr>
	</thead>
	<tbody class="govuk-table__body">
	  <tr class="govuk-table__row">
		<td class="govuk-table__cell">David Francis</td>
		<td class="govuk-table__cell">1380</td>
		<td class="govuk-table__cell">1472</td>
	  </tr>
	  <tr class="govuk-table__row">
		<td class="govuk-table__cell">Paul Farmer</td>
		<td class="govuk-table__cell">1129</td>
		<td class="govuk-table__cell">1083</td>
	  </tr>
	  <tr class="govuk-table__row">
		<td class="govuk-table__cell">Rita Patel</td>
		<td class="govuk-table__cell">1539</td>
		<td class="govuk-table__cell">1265</td>
	  </tr>
	</tbody>
  </table>
  <button class="govuk-button" data-module="govuk-button"> Start motivation assessment</button>
</div>

		</div>

    </div>
    <div class="govuk-grid-row govuk-!-margin-top-5">
      
		
		
		
		
		
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Next steps</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
    </div>
  </div>
</div>
{% endblock %} 