{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Working with numbers
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}


{% endblock %}
  {% block content %}
<div class="govuk-width-container">
  <div class="govuk-width-container" wiid="C321">
    <div class="breadcrumbs" wiid="C321">
      <ol wiid="C322">
        <li wiid="C323"><a href="/" wiid="C324">Home</a></li>
        <li wiid="C325"><a href="../../../sprint41/homepage" wiid="C326">Skills assessment</a></li>
        <li wiid="C325"><a href="../../../sprint41/skills-assessment/skills-health-check/homepage" wiid="C326">Skills health check</a></li>
        <li wiid="C325">Your skills</li>
      </ol>
    </div>
    <div class="govuk-grid-row" wiid="C323">
      <div class="sf_colsIn column-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
        <h1 class="heading-xlarge"> <span class="heading-secondary"> Question 2 out of 12</span> Working with numbers </h1>
        <p class="passageHdr">Table showing use of fossil fuels for different purposes by Countries X and Y each year for three years.</p>
        <table class="govuk-table questionTbl responsive-table tablet-mode" role="table">
          <caption class="govuk-table__caption">
          	Fossil Fuels Consumption (in million tonnes)
          </caption>
          <thead class="govuk-table__head" role="rowgroup">
            <tr role="row" class="govuk-table__row">
              <th rowspan="2" role="columnheader" scope="rowgroup">Types of Fuel Consumption</th>
              <th colspan="2" role="columnheader" scope="colgroup">Year 1</th>
              <th colspan="2" role="columnheader" scope="colgroup">Year 2</th>
              <th colspan="2" role="columnheader" scope="colgroup">Year 3</th>
            </tr>
            <tr role="row" class="govuk-table__row">
              <th role="columnheader" scope="col" class="govuk-table__header">Country X</th>
              <th role="columnheader" scope="col" class="govuk-table__header">Country Y</th>
              <th role="columnheader" scope="col" class="govuk-table__header">Country X</th>
              <th role="columnheader" scope="col" class="govuk-table__header">Country Y</th>
			  <th role="columnheader" scope="col" class="govuk-table__header">Country X</th>
			  <th role="columnheader" scope="col" class="govuk-table__header">Country Y</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold"><span class="table-heading">Types of Fuel Consumption</span>Manufacturing</th>
              <td role="cell" class="govuk-table__cell table-heading table-heading-bold"><span class="table-heading">Year 1</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>22</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>19</td>
              <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 2</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>23</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>19</td>
			  <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 3</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>25</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>18</td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold"><span class="table-heading">Types of Fuel Consumption</span>Electricity, Gas and Water</th>
              <td role="cell" class="govuk-table__cell table-heading table-heading-bold"><span class="table-heading">Year 1</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>22</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>19</td>
              <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 2</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>23</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>19</td>
			  <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 3</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>25</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>18</td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold"><span class="table-heading">Types of Fuel Consumption</span>Transport and Communication	</th>
              <td role="cell" class="govuk-table__cell table-heading table-heading-bold"><span class="table-heading">Year 1</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>12</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>11</td>
              <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 2</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>10</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>11</td>
			  <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 3</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>11</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>13</td>
            </tr>
            <tr class="govuk-table__row" role="row">
			  <th role="cell" scope="row" class="govuk-table__cell table-heading-bold"><span class="table-heading">Types of Fuel Consumption</span>Domestic</th>
              <td role="cell" class="govuk-table__cell table-heading table-heading-bold"><span class="table-heading">Year 1</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>26</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>28</td>
              <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 2</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>24</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>23</td>
			  <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 3</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>24</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>21</td>
            </tr>
            <tr class="govuk-table__row" role="row">
			  <th role="cell" scope="row" class="govuk-table__cell table-heading-bold"><span class="table-heading">Types of Fuel Consumption</span>Mining and Quarrying</th>
              <td role="cell" class="govuk-table__cell table-heading table-heading-bold"><span class="table-heading">Year 1</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>4</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>4</td>
              <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 2</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>4</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>3</td>
			  <td role="cell" class="govuk-table__cell table-heading-bold table-heading"><span class="table-heading">Year 3</span></td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Saturday</span>3</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Sunday</span>4</td>
            </tr>
          </tbody>
        </table>
		  
        <h3 class="heading-medium"> Which sector consumed the most fossil fuels in Country Y over the three year period? </h3>
        <form action="question-numeric-3" class="form" id="skillsForm" method="post" novalidate="novalidate">
          <div class="form-group ">
            <fieldset>
              <legend class="visuallyhidden">
              <p class="passageHdr">Table showing use of fossil fuels for different purposes by Countries X and Y each year for three years.</p>
              <table class="questionTbl">
                <caption>
                Fossil Fuels Consumption (in million tonnes)
                </caption>
                <thead>
                  <tr>
                    <th rowspan="2">Types of Fuel Consumption</th>
                    <th colspan="2">Year 1</th>
                    <th colspan="2">Year 2</th>
                    <th colspan="2">Year 3</th>
                  </tr>
                  <tr>
                    <th>Country X</th>
                    <th>Country Y</th>
                    <th>Country X</th>
                    <th>Country Y</th>
                    <th>Country X</th>
                    <th>Country Y</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Manufacturing</td>
                    <td>22</td>
                    <td>19</td>
                    <td>23</td>
                    <td>19</td>
                    <td>25</td>
                    <td>18</td>
                  </tr>
                  <tr>
                    <td>Electricity, Gas and Water</td>
                    <td>27</td>
                    <td>25</td>
                    <td>28</td>
                    <td>26</td>
                    <td>30</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <td>Transport and Communication</td>
                    <td>12</td>
                    <td>11</td>
                    <td>10</td>
                    <td>11</td>
                    <td>11</td>
                    <td>13</td>
                  </tr>
                  <tr>
                    <td>Domestic</td>
                    <td>26</td>
                    <td>28</td>
                    <td>24</td>
                    <td>23</td>
                    <td>24</td>
                    <td>21</td>
                  </tr>
                  <tr>
                    <td>Mining and Quarrying</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>3</td>
                    <td>3</td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
              </legend>
              <span class="error-message"><span class="field-validation-valid" data-valmsg-for="QuestionAnswer" data-valmsg-replace="true"></span></span>
              <label class="block-label" for="radio-A                                                 ">
                <input data-val="true" data-val-required="Choose an answer" id="radio-A                                                 " name="QuestionAnswer" type="radio" value="A                                                 ">
                Manufacturing </label>
              <label class="block-label" for="radio-B                                                 ">
                <input id="radio-B                                                 " name="QuestionAnswer" type="radio" value="B                                                 ">
                Electricity, Gas and Water </label>
              <label class="block-label" for="radio-C                                                 ">
                <input id="radio-C                                                 " name="QuestionAnswer" type="radio" value="C                                                 ">
                Transport and Communication </label>
              <label class="block-label" for="radio-D                                                 ">
                <input id="radio-D                                                 " name="QuestionAnswer" type="radio" value="D                                                 ">
                Domestic </label>
              <label class="block-label" for="radio-E                                                 ">
                <input id="radio-E                                                 " name="QuestionAnswer" type="radio" value="E                                                 ">
                Mining and Quarrying </label>
            </fieldset>
          </div>
          <p>You must select an answer to continue.</p>
          <div class="form-group">
            <input class="button" type="submit" name="answerAction" value="Continue">
          </div>
          <input data-val="true" data-val-required="The AssessmentType field is required." id="Question_AssessmentType" name="Question.AssessmentType" type="hidden" value="Numeric">
          <input data-val="true" data-val-number="The field QuestionNumber must be a number." data-val-required="The QuestionNumber field is required." id="Question_QuestionNumber" name="Question.QuestionNumber" type="hidden" value="2">
          <input data-val="true" data-val-number="The field TotalQuestionNumber must be a number." data-val-required="The TotalQuestionNumber field is required." id="Question_TotalQuestionNumber" name="Question.TotalQuestionNumber" type="hidden" value="10">
          <input data-val="true" data-val-number="The field NextQuestionNumber must be a number." id="Question_NextQuestionNumber" name="Question.NextQuestionNumber" type="hidden" value="3">
        </form>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container" wiid="C339">
        <div class="app-sidebar app-resume-panel app-related-items" wiid="C301">
          <h2 class="govuk-heading-m" wiid="C302">Return to this later</h2>
          <p class="govuk-body" wiid="C304"><a href="../../../sprint41/skills-assessment/skills-health-check/save-my-progress" class="govuk-link govuk-link--no-visited-state">Save my progress</a></p>
        </div>
        <div wiid="C340">
          <div class="sfContentBlock sf-Long-text" wiid="C341">
            <div class="app-related-items" wiid="C342">
              <h2 class="govuk-heading-m" wiid="C343">Want to speak to an adviser?</h2>
              <p class="govuk-body-m" style="margin-bottom:0px;" wiid="C344"><span class="govuk-body govuk-!-font-weight-bold" wiid="C345">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'" wiid="C346">use webchat</a></p>
              <p class="govuk-caption-m" wiid="C347">8am to 10pm, 7 days a week</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 