{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Working with numbers
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}


{% endblock %}
  {% block content %}
<div class="govuk-width-container">
  <div class="govuk-width-container" wiid="C321">
    <div class="breadcrumbs" wiid="C321">
      <ol wiid="C322">
        <li wiid="C323"><a href="/" wiid="C324">Home</a></li>
        <li wiid="C325"><a href="../../../sprint41/homepage" wiid="C326">Skills assessment</a></li>
        <li wiid="C325"><a href="../../../sprint41/skills-assessment/skills-health-check/homepage" wiid="C326">Skills health check</a></li>
        <li wiid="C325">Your skills</li>
      </ol>
    </div>
    <div class="govuk-grid-row" wiid="C323">
      <div class="sf_colsIn column-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
        <h1 class="heading-xlarge"> <span class="heading-secondary"> Question 10 out of 12</span> Working with numbers </h1>
        <p class="passageHdr">Table showing profits in two different shipping companies across ten years.</p>
        <table class="govuk-table questionTbl responsive-table tablet-mode" role="table">
          <caption class="govuk-table__caption">
          Shipping Company Profits
          </caption>
          <thead class="govuk-table__head" role="rowgroup">
            <tr role="row" class="govuk-table__row">
              <th role="columnheader" scope="col" class="govuk-table__header" aria-hidden="true"></th>
              <th role="columnheader" scope="col" class="govuk-table__header">Profits in Company 1 (£)</th>
              <th role="columnheader" scope="col" class="govuk-table__header">Profits in Company 2 (£)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 1</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span>207,934</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>202,239</td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 2</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span>279,182</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>218,992</td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 3</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span>299,734</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>231,674</td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 4</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span>329,722</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>249,747</td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 5</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span> 330,571</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>255,964 </td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 6</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span> 367,942</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>269,827 </td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 7</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span>368,794</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>275,662</td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 8</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span>348,371</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>280,086</td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 9</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span>334,791</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>289,163</td>
            </tr>
            <tr class="govuk-table__row" role="row">
              <th role="cell" scope="row" class="govuk-table__cell table-heading-bold">Year 10</th>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 1 (£)</span>317,946</td>
              <td role="cell" class="govuk-table__cell" ><span class="table-cell">Profits in Company 2 (£)</span>317,946</td>
            </tr>
          </tbody>
        </table>
        <p class="passageFtr">Profits = Revenue - Costs</p>
        <h3 class="heading-medium"> If Company 1 aims to increase profits to £350,000 by Year 12, and assuming a constant rate of increase after Year 10, approximately, what is the percentage increase in profits each year to reach this target? </h3>
        <form action="/skills-health-check/question/AnswerQuestion/" class="form" id="skillsForm" method="post" novalidate="novalidate">
          <div class="form-group ">
            <fieldset>
              <legend class="visuallyhidden">
              
              <p class="passageFtr">Profits = Revenue - Costs</p>
              </legend>
              <span class="error-message"><span class="field-validation-valid" data-valmsg-for="QuestionAnswer" data-valmsg-replace="true"></span></span>
              <label class="block-label" for="radio-A                                                 ">
                <input data-val="true" data-val-required="Choose an answer" id="radio-A                                                 " name="QuestionAnswer" type="radio" value="A                                                 ">
                4% </label>
              <label class="block-label" for="radio-B                                                 ">
                <input id="radio-B                                                 " name="QuestionAnswer" type="radio" value="B                                                 ">
                5% </label>
              <label class="block-label" for="radio-C                                                 ">
                <input id="radio-C                                                 " name="QuestionAnswer" type="radio" value="C                                                 ">
                6% </label>
              <label class="block-label" for="radio-D                                                 ">
                <input id="radio-D                                                 " name="QuestionAnswer" type="radio" value="D                                                 ">
                7% </label>
              <label class="block-label" for="radio-E                                                 ">
                <input id="radio-E                                                 " name="QuestionAnswer" type="radio" value="E                                                 ">
                8% </label>
            </fieldset>
          </div>
          <p>You must select an answer to continue.</p>
          <div class="form-group">
            <input class="button" type="submit" name="answerAction" value="Continue">
          </div>
          <input data-val="true" data-val-required="The AssessmentType field is required." id="Question_AssessmentType" name="Question.AssessmentType" type="hidden" value="Numeric">
          <input data-val="true" data-val-number="The field QuestionNumber must be a number." data-val-required="The QuestionNumber field is required." id="Question_QuestionNumber" name="Question.QuestionNumber" type="hidden" value="10">
          <input data-val="true" data-val-number="The field TotalQuestionNumber must be a number." data-val-required="The TotalQuestionNumber field is required." id="Question_TotalQuestionNumber" name="Question.TotalQuestionNumber" type="hidden" value="10">
          <input data-val="true" data-val-number="The field NextQuestionNumber must be a number." id="Question_NextQuestionNumber" name="Question.NextQuestionNumber" type="hidden" value="-1">
        </form>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container" wiid="C339">
        <div class="app-sidebar app-resume-panel app-related-items" wiid="C301">
          <h2 class="govuk-heading-m" wiid="C302">Return to this later</h2>
          <p class="govuk-body" wiid="C304"><a href="../../../sprint41/skills-assessment/skills-health-check/save-my-progress" class="govuk-link govuk-link--no-visited-state">Save my progress</a></p>
        </div>
        <div wiid="C340">
          <div class="sfContentBlock sf-Long-text" wiid="C341">
            <div class="app-related-items" wiid="C342">
              <h2 class="govuk-heading-m" wiid="C343">Want to speak to an adviser?</h2>
              <p class="govuk-body-m" style="margin-bottom:0px;" wiid="C344"><span class="govuk-body govuk-!-font-weight-bold" wiid="C345">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'" wiid="C346">use webchat</a></p>
              <p class="govuk-caption-m" wiid="C347">8am to 10pm, 7 days a week</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 