{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="header"><div class="govuk-header__container govuk-width-container"><a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
</a>
    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button><nav><ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li><li class="govuk-header__navigation-item govuk-header__navigation-item--active"><a href="https://nationalcareersservice.direct.gov.uk/skills-health-check" id="nav-SHC" class="govuk-header__link" target="_self">Skills tests</a>
    </li><li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
    </li><li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
    </li><li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
    </li><li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
    </li></ul></nav></div></header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
    <div class="PROD_full-page-width-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Skills tests</h1>
                <p class="govuk-body-lead">Take our assessments to find out more about yourself, and what jobs might suit you</p>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</header>
<div class="govuk-width-container">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Discover your skills and careers</h2>
            <p class="govuk-body">You can take this assessment to learn about your skills and which groups of jobs might suit you. For instance, creative and media, or retail and sales.</p>
            <p class="govuk-body"><a class="govuk-link" href="https://discover-skills-careers-dev.nationalcareersservice.org.uk/">
                Start or resume a Discover your Skills and Careers assessment
            </a></p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-l">Skills health check</h2>
            <p class="govuk-body-m">The skills health check is a set of quizzes, questions and activities, designed to help you learn more about your skills, interests and motivations.</p>
            <p class="govuk-body-m"><a class="govuk-link" href="https://nationalcareersservice.direct.gov.uk/skills-health-check/home">Start or resume a Skills Health Check</a></p>
 </div>

        <div class="govuk-grid-column-one-third">
            <div class="app-related-items">
                <h3 class="govuk-heading-m">Want to speak to an adviser?</h3>
                <p class="govuk-body"><b>Call</b> <a href="tel:+44800100900" class="govuk-link govuk-link--no-visited-state">0800 100 900</a> or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
                <p class="govuk-hint">8am to 10pm, 7 days a week</p>
            </div>
        </div>

    </div>
    {% endblock %}
