{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
    <div class="PROD_full-page-width-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Assess yourself</h1>
                <p class="govuk-body-lead">Take our assessments to find out more about yourself, and what jobs might suit you</p>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</header>
<div class="govuk-width-container">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l">Discover your skills and careers</h2>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-body">You can take this assessment to learn about your skills and which groups of jobs might suit you. For instance, creative and media, or retail and sales.</p>
            <p class="govuk-body">Answer a few more questions to find out more about particularjob roles that might interest you. For example, animator or florist.</p>
            <p class="govuk-body">
                This assessment will take about 5 to 10 minutes. It may take longer if you’re using assistive technologies, like a screen reader or screen magnifier.
            </p>
            <p class="govuk-body">You can save your assessment at any point and come back tofinish it another time.</p>
            <a href="https://discover-skills-careers-dev.nationalcareersservice.org.uk/assessment/short/" role="button" draggable="false" class="govuk-button govuk-button--start">
                Start a new assessment
            </a>
            </div>

        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l">Skills health check</h2>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-body-m">The skills health check is a set of quizzes, questions and activities, designed to help you learn more about your skills, interests and motivations.</p>
            <p class="govuk-body-m">You can do up to 4 personal skills assessments, and 6 activity assessments to get a report. This report can help you to think about the types of jobs that might be right for you.</p>
            <p class="govuk-body-m">It will take you around 3 hours to complete all of the assessments.</p>
            <p class="govuk-body-m">You'll be able to save and download your report once you've completed at least one assessment. You can come back to it and do more assessments at any time.</p>
            <p class="govuk-body-m"><a class="govuk-link" href="https://nationalcareersservice.direct.gov.uk/skills-health-check/home">Start or resume a Skills Health Check</a></p>

        </div>
        </div>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m">Return to an assessment</h3>
        <form method="post" action="https://discover-skills-careers-dev.nationalcareersservice.org.uk/assessment/short/reload">

            <div class="app-resume-panel__input govuk-form-group ">
                <label class="govuk-label" for="code">Enter your reference</label>
                <input class="govuk-input " id="code" name="code" type="text">
            </div>
            <button type="submit" class="govuk-button app-button">
                Continue
            </button>
        </form>
        </div>

        <div class="govuk-grid-column-one-half">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m">Want to speak to an adviser?</h3>
        <p class="govuk-body"><b>Call</b> <a href="tel:+44800100900" class="govuk-link govuk-link--no-visited-state">0800 100 900</a> or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
        <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>

</div>

    {% endblock %}
