{% extends "layout_ncs_sprint47.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="ec-hero">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">National Careers Service</h1>
          <p class="govuk-body-lead">We provide careers information, advice and guidance. We can help you to make decisions on learning, training and work at all stages in your career.</p>
          <p class="govuk-body-lead">This service is available to people who live in England.</p>
        </div>
        <div class="govuk-grid-column-one-third"> </div>
      </div>
    </div>
  </div>
  <div class="secondary-hero">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third card">
          <h2 class="govuk-heading-m">Skills assessment</h2>
          <p class="govuk-body-m">Learn more about your skills and match them to potential new careers.</p>
          <a class="govuk-link govuk-button" role="button" href="../sprint43/skills-assessment/skills-health-check/skills-health-check">Assess your skills</a> </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Explore Careers</h2>
          <p class="govuk-body-m">Choose from over 800 career profiles to discover what a job involves.</p>
          <a class="govuk-link govuk-button" role="button" href="explorecareers">Search job profiles</a> </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Find a course</h2>
          <p class="govuk-body-m">Look for learning and training opportunities local to you.</p>
          <a class="govuk-link govuk-button" role="button" href="find-course">Look for courses</a> </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="wrapper" id="wrapper">
<section class="brand--ncs brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom" id="featured-documents">
	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-top-5">Careers advice</h2>
    </div>
  </div>
  <div class="govuk-width-container">
    <div class="govuk-grid-row card-group">
      <div class="govuk-grid-column-one-third  govuk-!-padding-right-0">
		  <a class="cards-link" href="careers-advice#finding-job-opportunities"><div class="card">
		  	<h3 class="govuk-heading-s">Help finding a job</h3>
        	<p class="govuk-body-m">Tips on how to search for job vacancies using recruitment agencies, social media sites and networking.</p>
		  </div></a>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
          <a class="cards-link" href="careers-advice#how-to-get-the-job-you-want"><div class="card"><h3 class="govuk-heading-s">Help applying for a jobs</h3>
		  <p class="govuk-body-m">Tips on how to write a successful CV, cover letter and application form.</p></div></a>
      </div>
      <div class="govuk-grid-column-one-third">
		<a class="cards-link" href="careers-advice#interview-advice"><div class="card"><h3 class="govuk-heading-s">Help with interviews</h3>
        <p class="govuk-body-m">Tips to help you with your interview, from what to wear to answering tough questions.</p></div></a>
      </div>
	</div>
	<div class="govuk-grid-row card-group">
      <div class="govuk-grid-column-one-third  govuk-!-padding-right-0">
		<a class="cards-link" href="careers-advice#coping-with-change"><div class="card"><h3 class="govuk-heading-s">Help coping with change</h3>
        <p class="govuk-body-m">Tips on how to search for job vacancies using recruitment agencies, social media sites and networking.</p></div></a>
      </div>
      <div class="govuk-grid-column-one-third  govuk-!-padding-right-0">
		<a class="cards-link" href="careers-advice#how-to-get-the-job-you-want"><div class="card"><h3 class="govuk-heading-s">Help based on your situation</h3>
        <p class="govuk-body-m">Tips on how to write a successful CV, cover letter and application form.</p></div></a>
      </div>
      <div class="govuk-grid-column-one-third">
		<a class="cards-link" href="careers-advice#learn-about-the-world-of-work"><div class="card"><h3 class="govuk-heading-s">Trends in the job market</h3>
        <p class="govuk-body-m">Information about job market to make informed careers decisions.</p></div></a> 
      </div>
    </div>
  </div>
</section>
<section class="organisation__section-wrap organisation__margin-bottom" id="featured-documents">

	<div class="govuk-grid-row">
	 <div class="govuk-grid-column-one-half" style="margin-top: 1em;">
		 <div>
			 <h2 class="govuk-heading-m">About us</h2>
			 <p class="govuk-body-m">The National Careers Service can help you with your career, learning and training choices. <a href="https://nationalcareersservice.direct.gov.uk/about-us/home">Find out more</a> about the different ways we can support you.</p>

		 </div>
	 </div>
	 <div class="govuk-grid-column-one-half" style="margin-top: 1em;">

		<h2 class="govuk-heading-m">Contact us</h2>
		<p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a>.</p>
		<p class="govuk-body-m">You can also contact us <a href="https://nationalcareers.service.gov.uk/contact-us">in other ways</a>, including sending us an online message or post.</p>
	 </div>
 	</div>
</section>
</div>
{% endblock %} 