{% extends "layout_ncs_sprint50.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs "> <a href="qualifications" class="govuk-back-link">Back</a> </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row  govuk-!-margin-top-9">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text"> <span class="govuk-caption-xl">Step 2 of 5</span>
          <h1 class="govuk-heading-xl">Skills</h1>
          <p class="govuk-body">Select all of the skills that you have achieved from previous job roles and work experience</p>
          <p class="govuk-body govuk-!-margin-bottom-6">If you do not want to filter by skills, please <a href="skills">skip this step</a> </p>
          <div class="banner-message">
            <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">We have found 25 career matches based on your selection. <a href="matched-results">View</a> </p>
          </div>
          <p class="govuk-body search-title govuk-!-margin-top-9 govuk-!-margin-bottom-0" id="count"><span class="govuk-!-font-weight-bold ">0</span> skills selected </p>
          <form action="job-sectors" class="js-live-search-form" id="psf-skills" method="post">
            <div class="govuk-accordion govuk-!-margin-bottom-9" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-1"> Skills <strong class="govuk-tag govuk-tag--green section-count"> </strong></span> </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full-width">
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-grid-column-one-half">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation"> Active learning </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Active listening </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Critical thinking </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Decision making </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Design and technology </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Empathy </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Equipment Maintenance </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Equipment Selection </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Excellent verbal communication </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Excellent verbal communication </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Helping people </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Installing equipment </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Leadership </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Learning strategy </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Manage finances </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Manage staff </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Monitoring equipment </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Monitoring performance </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Negotiation </label>
                          </div>
                        </div>
                        <div class="govuk-grid-column-one-half">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Negotiation skills </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Operating equipment </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Operations analysis </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Persuasion </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Problem solving </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Programming </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Quality control </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Reading </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Repairing machines </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Science </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Social Skills </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Speaking </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Systems Skills </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Teaching </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Teamwork </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Technical skills </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Time management </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Troubleshooting </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3"> Writing </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-2"> Work style <strong class="govuk-tag govuk-tag--green section-count"> </strong></span> </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Ambition</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Attention to detail</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Enjoy working with others</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Initiative</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Innovation</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Open to change</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Self control</label>
                        </div>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Analytical thinking</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Empathy</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Influencing</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Initiative</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Leadship</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Persistence</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="complex-problem-solving-skills-1" name="complex-problem-solving-skills" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="complex-problem-solving-skills-1"> Working under pressure</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-4"> Knowledge <strong class="govuk-tag govuk-tag--green section-count"> </strong></span> </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Admin</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Biology</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Chemistry</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Computers and I.T.</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Design</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Education and training</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> English Language</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Food Production</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Geography</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Law and government</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Mechanical</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Medicine and Dentistry</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Philosophy and Religion</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Production and Processing</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Public safety and security</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Sociology and Anthropology</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills"> Therapy and counseling</label>
                        </div>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3">Administration and Management</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Building and construction</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Communication</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Customer service</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Economics and Accounting</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Engineering and Technology</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Fine Arts</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Foreign Language</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> History and Archeology</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Maths</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Media production</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Personnel and Human Resources</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Physics</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Psychology</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Sales and Marketing</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Telecommunications</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="resource-management-skills-3" name="organisation" type="checkbox" value="employment-tribunal">
                          <label class="govuk-label govuk-checkboxes__label" for="resource-management-skills-3"> Transport</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-4"> Ability <strong class="govuk-tag govuk-tag--green section-count"> </strong></span> </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="the-ability-to-work-on-your-own" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="the-ability-to-work-on-your-own"> Work well with your hands</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="the-ability-to-work-on-your-own" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="the-ability-to-work-on-your-own"> Thinking and reasoning</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="the-ability-to-work-on-your-own" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="the-ability-to-work-on-your-own"> Memory</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="the-ability-to-work-on-your-own" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="the-ability-to-work-on-your-own"> Maths skills</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="the-ability-to-work-on-your-own" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="the-ability-to-work-on-your-own"> Speaking</label>
                        </div>
                        
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="the-ability-to-work-on-your-own" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="the-ability-to-work-on-your-own"> Thinking and reasoning</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="the-ability-to-work-on-your-own" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="the-ability-to-work-on-your-own"> Memory</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="the-ability-to-work-on-your-own" name="organisation" type="checkbox" value="hmrc">
                          <label class="govuk-label govuk-checkboxes__label" for="the-ability-to-work-on-your-own"> Maths skills</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <a href="job-sectors" class="govuk-link govuk-!-margin-left-5">Skip this step</a>
          </form>
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sf-Long-text">
          <div class="app-related-items">
            <h2 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="287" data-gtm-vis-first-on-screen-8675592_194="287" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Want to speak to an adviser?</h2>
            <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 </p>
            <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 