{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Homepage
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Skills assessment</h1>
        <p class="govuk-body-lead">Find out about careers that might be right for you by taking one of our assessments</p>
      </div>
      <div class="govuk-grid-column-one-third"> </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
          <div>
            <div class="sfContentBlock sf-Long-text">
              <h2 class="govuk-heading-l" >Discover your skills and careers</h2>
              <p class="govuk-body">Take a 5 to 10 minute assessment to find out what job categories, and which particular job roles, might suit you.</p>
              <p class="govuk-body" >You do not need to sign in or create an account to save your assessment. You can also complete it later and look at your results again at any time.</p>
              <p class="govuk-body"><a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="https://beta.nationalcareers.service.gov.uk/" >Go to discover your skills and careers</a></p>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
              <h2 class="govuk-heading-l">Skills health check</h2>
              <p class="govuk-body-m">You can choose to do a number of assessments to help you decide which types of jobs might be right for you. You'll find these useful for preparing your CV, applications and interviews.</p>
              <p class="govuk-body-m">There are 4 assessments covering personal skills and 6 on work activities. Each one can take between 15 and 30 minutes. You must do at least one assessment to get a report.</p>
              <p class="govuk-body-m">You do not need to sign in or create an account to save your assessment. You can also complete it later and look at your results again at any time. </p>
              <p class="govuk-body-m"><a class="govuk-link govuk-button" href="../sprint41/skills-assessment/skills-health-check/skills-health-check" >Go to skills health check</a></p>
            </div>
          </div>
        </div>
        <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container" >
          <div >
            <div class="sfContentBlock sf-Long-text">
              <div class="app-related-items">
                <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
                <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
                <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %} 