{% extends "layout_ncs_sprint50.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
<div class="sfPublicWrapper" id="PublicWrapper">
  <header class="job-profile-hero">
    <div data-sf-element="Row">
      <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
        <div class="govuk-width-container ">
          <div class="breadcrumbs govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="../explorecareers">Home: Explore careers</a></li>
              <li class="govuk-breadcrumbs__list-item">Production worker (manufacturing) </li>
            </ol>
          </div>
        </div>
        <div class="govuk-width-container">
          <div class="grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1>Production worker (manufacturing)</h1>
				<h2 class="govuk-!-margin-top-5 govuk-!-margin-bottom-3"><span class="sr-hidden">Alternative titles for this job include </span>Process operative, factory worker</h2>

              <p>Production workers manufacture goods and parts in industries like pharmaceuticals, food and drink, construction and engineering.</p>
            </div>
          </div>
          <div class="grid-row">
            <div id="Salary" class="column-40 job-profile-heroblock">
              <h2> Average salary <span>(a year)</span> </h2>
              <div class="job-profile-salary job-profile-heroblock-content">
                <p class="dfc-code-jpsstarter">£14,000 <span>Starter</span></p>
                <i class="sr-hidden">to</i>
                <p class="dfc-code-jpsexperienced">£20,000 <span>Experienced</span></p>
              </div>
            </div>
            <div id="WorkingHours" class="column-30 job-profile-heroblock">
              <h2>Typical hours <span>(a week)</span></h2>
              <div class="job-profile-hours job-profile-heroblock-content">
                <p class="dfc-code-jphours"> 37 to 42 <span class="dfc-code-jpwhoursdetail">a week</span> </p>
              </div>
            </div>
            <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
              <h2> You could work </h2>
              <div class="job-profile-pattern job-profile-heroblock-content">
                <p class="dfc-code-jpwpattern"> evenings / weekends / bank holidays<span class="dfc-code-jpwpatterndetail">on shifts</span> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="govuk-width-container">
    <div id="MainContentTop_T41A29498003_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Full Width Container"> <script language="JavaScript">
        var vocCookie = "vocPersonalisation=admin-assistant; path=/";

        if (document.location.protocol === "https:") {
            vocCookie += "; Secure";
        }

        document.cookie = vocCookie;
    </script> 
    </div>
  </div>
  <div class="govuk-width-container">
    <div class="grid-row" data-sf-element="Row">
      <div id="MainContent_T41A29498001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
        
		  
		  
		  
		  
		  <div class="job-profile-sections">
            <nav class="jump-links" role="navigation" aria-label="skip to your documents">
    <ol class="list list-number">
        <li>
            <a href="#HowToBecome">How to become</a>
        </li>
        <li>
            <a href="#WhatItTakes">What it takes</a>
        </li>
        <li>
            <a href="#WhatYouWillDo">What you'll do</a>
        </li>
        <li>
            <a href="#CareerPathAndProgression">Career path and progression</a>
        </li>
        <li>
            <a href="#CurrentOpportunities">Current opportunities</a>
        </li>
    </ol>
</nav>
            

<section id="HowToBecome" data-gtm-vis-recent-on-screen-8675592_54="107" data-gtm-vis-first-on-screen-8675592_54="107" data-gtm-vis-total-visible-time-8675592_54="100" data-gtm-vis-has-fired-8675592_54="1" data-gtm-vis-recent-on-screen-8675592_270="122" data-gtm-vis-first-on-screen-8675592_270="122" data-gtm-vis-total-visible-time-8675592_270="100" data-gtm-vis-has-fired-8675592_270="1">
    <h2 class="job-profile-heading">How to become a production worker (manufacturing)</h2>

    <p>You can get into this job through:</p>
<ul>
    <li>an apprenticeship</li>
    <li>applying directly</li>
</ul>

        
        
                <section class="job-profile-subsection" id="Apprenticeship">
            <h3>Apprenticeship</h3>
            <div class="job-profile-subsection-content">

                <p>You could take an intermediate apprenticeship in lean manufacturing.</p>

                

                    <h4>Entry requirements</h4>
                    <p>You'll usually need:</p>
                    <ul class="list-reqs">
                            <li>some GCSEs, usually including English and maths, or equivalent, for an intermediate apprenticeship</li>
                    </ul>

                    <h4>More Information</h4>
                    <ul class="list-link">
                            <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                            <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
                    </ul>
            </div>
        </section>

    

    <section class="job-profile-subsection" id="directapplication">
        <h3>Direct Application</h3>
        <div class="job-profile-subsection-content">
            <p>You could apply for production jobs directly. Some employers may expect you to have GCSEs
at grades 9 to 3 (A* to D), or equivalent qualifications. Experience of production line work would be useful.</p>
<p>You may have to take a test at interview to assess your practical skills.</p>
        </div>
    </section>


        <section class="job-profile-subsection" id="moreinfo">
        <h3>More Information</h3>
        <div class="job-profile-subsection-content">

                <h4>Career tips</h4>
<p>A forklift truck training certificate could be useful for some jobs.</p>        </div>
    </section>

</section>
            
<section id="WhatItTakes">
    <h2 class="job-profile-headings">What it takes</h2>

        <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                        <li>
                            to be thorough and pay attention to detail
                        </li>
                        <li>
                            the ability to work well with others
                        </li>
                        <li>
                            patience and the ability to remain calm in stressful situations
                        </li>
                        <li>
                            the ability to accept criticism and work well under pressure
                        </li>
                        <li>
                            to be flexible and open to change
                        </li>
                        <li>
                            physical skills like movement, coordination, dexterity and grace
                        </li>
                        <li>
                            the ability to work well with your hands
                        </li>
                        <li>
                            excellent verbal communication skills
                        </li>
                    <li>to be able to carry out basic tasks on a computer or hand-held device</li>
            </ul>
        </div>
    </section>

    

</section>
            
<section id="WhatYouWillDo">
    <h2 class="job-profile-heading">What you'll do</h2>
    <section class="job-profile-subsection">
        <h3>Day-to-day tasks</h3>
        <div class="job-profile-subsection-content">
            <p>Your day-to-day tasks may include:</p>
<ul>
    <li>measuring, grading and feeding batches of raw materials into production machinery</li>
    <li>operating production line equipment, like a conveyor line in a canning factory</li>
    <li>assembling goods on a production line, like fitting circuit boards into computers</li>
    <li>reporting equipment faults to maintenance staff</li>
    <li>finishing products, for example applying protective coatings</li>
    <li>monitoring the production process and carrying out basic testing and quality checks</li>
    <li>storing goods and raw materials in the factory or warehouse</li>
    <li>using lifting equipment and forklift trucks</li>
    <li>packing goods ready for shipment</li>
    <li>cleaning and maintaining work areas and machinery</li>
</ul>
        </div>
    </section>
    <section class="job-profile-subsection" id="workingenvironment">
        <h3>Working environment</h3>
        <div class="job-profile-subsection-content">

                <p>
                    You could work in a factory.
                </p>


                <p>
                    You may need to wear protective clothing.
                </p>
        </div>
    </section>
</section>
            
    <section id="CareerPathAndProgression">
        <h2 class="job-profile-heading">Career path and progression</h2>
        <p>With experience, you could be promoted to shift supervisor or move into quality control.</p>
    </section>
 
            
<section id="CurrentOpportunities">
    <h2 class="job-profile-headings">Current opportunities</h2>
    <div class="govuk-grid-row" id="appGeneric">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">
                Apprenticeships
                <span class="govuk-caption-m">In England</span>
            </h3>
        </div>
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1661515">Lean Manufacturing Operative Apprentice</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £146.25 <span class="govuk-body-s govuk-secondary-colour">Weekly</span></li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Washington </li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1661501">Manufacturing Operative Apprentice</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £156.00 <span class="govuk-body-s govuk-secondary-colour">Weekly</span></li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Stockton-On-Tees </li>
                        </ul>
                    </div>
                </div>
            <div class="govuk-grid-column-full govuk-body-m dfc-code-jp-vacancyText">
                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
            </div>
    </div>
    <div class="govuk-grid-row dfc-code-jp-trainingCourse">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">
                Courses
                <span class="govuk-caption-m">In England</span>
            </h3>
        </div>
            <div class="govuk-grid-column-full dfc-code-jp-NoTrainingCoursesText">
                <p>Are you interested in becoming a production worker (manufacturing)?</p>
                <p>Search for <a href="/find-a-course/search">training courses near you</a>.</p>
            </div>
    </div>
    <div>
        <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1">
            Jobs
            <span class="govuk-caption-m">In the United Kingdom</span>
        </h3>
        <p>The <a href="https://findajob.dwp.gov.uk">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
    </div>
</section>
        </div>
      </div>
      <div id="MainContent_T41A29498001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
        <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar govuk-!-margin-bottom-3" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container"> 
          
          <!--
            <div class="job-profile-related">
              <h2 class="heading-medium">Jobs in this group</h2>
              <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
				<p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore job prospects for this group</a></p>
            </div>
-->
			<div>
            <div class="sf-Long-text">
              <h2 class="govuk-heading-m" id="job-profile-search">Not what you're looking for?</h2>
            </div>
          </div>
          <div class="job-profile-search">
            <h3 class="heading-small">Search further careers</h3>
            <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
              <div class="job-profile-search-content">
                <label for="search-main"> Enter a job title</label>
                <div class="search-input-wrapper">
                  <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                </div>
                <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
              </div>
              <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
              <ul wiid="N81" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
              </ul>
            </form>
          </div>
          <div class="job-profile-related">
    <h3 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="50" data-gtm-vis-first-on-screen-8675592_194="50" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Related careers</h3>
    <ul class="list list-big govuk-!-margin-bottom-0">
            <li><a href="/job-profiles/local-government-administrative-assistant">Local government administrative assistant</a></li>
            <li><a href="/job-profiles/civil-service-administrative-officer">Civil Service administrative officer</a></li>
            <li><a href="/job-profiles/data-entry-clerk">Data entry clerk</a></li>
            <li><a href="/job-profiles/personal-assistant">Personal assistant</a></li>
            <li><a href="/job-profiles/health-records-clerk">Health records clerk</a></li>
    </ul>
</div>
          
        </aside>
        <div>
          <div class="sf-Long-text">
            <h2 class="govuk-heading-m">Filter your careers search</h2>
			  <p>This tool helps you <a href="/sprint50/skills">filter your careers search</a> based on your selection.</p>
          </div>
        </div>
		  <div>
          <div class="sf-Long-text">
            <h2 class="govuk-heading-m">Skills assessment</h2>
            <p><a href="/sprint43/homepage">Take an assessment</a>  to learn more about your skills and the careers that might suit you.</p>
          </div>
        </div>
        <div>
          <div class="sf-Long-text">
            <h2 class="govuk-heading-m">Get help using this service</h2>
            <p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="https://nationalcareers.service.gov.uk/webchat/chat/" target="'_blank'">use webchat</a></p>
            <p class="grey font-xsmall">8am to 10pm, 7 days a week<br>
            </p>
            <p>More ways to <a href="/contact-us">contact us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="job-profile-feedback govuk-width-container js-visible">
    <div class="job-profile-feedback-start">
      <p>Is this page useful?</p>
      <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
    <div class="job-profile-feedback-end-yes hidden">
      <p>Thank you for your feedback.</p>
    </div>
    <div class="job-profile-feedback-end-no hidden">
      <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
    </div>
  </div>
</div>
{% endblock %} 