{% extends "layout_ncs_new.html" %}
<link href="/public/stylesheets/sfa.min.css" media="all" rel="stylesheet" type="text/css" />
{% block header %}

{% endblock %}

{% block pageTitle %}
Skills Health Check
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="govuk-width-container">
  <div class="account-info" wiid="C295"> <a class="account-link" href="/your-account/home/signin" id="signin-link" wiid="C296">Sign in</a> </div>
  <div class="breadcrumbs" wiid="C298">
    <ol wiid="C299">
      <li wiid="C300"><a href="/" wiid="C301">Home</a></li>
      <li wiid="C300"><a href="../homepage" wiid="C301">Skills assessment</a></li>
      <li wiid="C300">Skills Health Check</li>
    </ol>
  </div>
</div>
{% endblock %}
  {% block content %}
<div class="govuk-width-container" id="shc">
  <div class="govuk-width-container" wiid="C321">
    <div class="govuk-grid-row" wiid="C323">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container" wiid="C324">
        <div wiid="C325">
          <div class="sfContentBlock sf-Long-text" wiid="C326">
			  
            <h1 class="govuk-heading-xl">Skills Health Check</h1>
			  {% include "includes/shc-warning.html" %}
            <p class="govuk-body">The Skills Health Check is a set of quizzes and activities designed to help you explore your skills, interests and motivations.</p>
            <p>Working through the Skills Health Check can help you decide what kind of jobs might be right for you. </p>
            <p>You'll be able to download your report once you've completed at least one assessment. </p>
            
            <div class="govuk-box-border-yellow" wiid="C310">
              <h2 class="heading-large">Save your progress</h2>
              <h2 class="heading-medium" wiid="C311"></h2>
              <p wiid="C312"> You can save your progress and come back to them to complete assessments or download your report at any time <a href="/your-account/home/signin">sign in</a> by before you start or generate a unique reference code. </p>
              <p wiid="C320">We won't save any information unless you're signed in. Any work you carry out before signing in will be lost if:</p>
              <ul class="list list-bullet" wiid="C321">
                <li wiid="C322">your internet connection is lost</li>
                <li wiid="C323">you leave your internet browser</li>
                <li wiid="C324">your session times out</li>
              </ul>
            </div>
            <form action="homepage" class="form" method="post" wiid="C331">        
				<input class="button button-start" type="submit" value="Start a new Skills Health Check" wiid="C332">
<input id="ListTypeFieldsString" name="ListTypeFieldsString" type="hidden" value="Numeric.Type,Numeric.Answers,Numeric.Complete,Numeric.Ease,Numeric.Timing,Verbal.Type,Verbal.Answers,Verbal.Complete,Verbal.Ease,Verbal.Timing,Motivation.Type,Motivation.Answers,Motivation.Complete,Personal.Type,Personal.Answers,Personal.Complete,SkillAreas.Type,SkillAreas.Answers,SkillAreas.Complete,SkillAreas.ExcludedJobFamilies1,SkillAreas.ExcludedJobFamilies2,SkillAreas.ExcludedJobFamilies3,Mechanical.Type,Mechanical.Answers,Mechanical.Complete,Mechanical.Ease,Mechanical.Timing,Mechanical.Enjoyment,Checking.Type,Checking.Answers,Checking.Complete,Checking.Ease,Checking.Timing,Checking.Enjoyment,Qualification.Level,Interest.Type,Interest.Answers,Interest.Complete,Spatial.Type,Spatial.Answers,Spatial.Complete,Spatial.Ease,Spatial.Timing,Spatial.Enjoyment,Abstract.Type,Abstract.Answers,Abstract.Complete,Abstract.Ease,Abstract.Timing,Abstract.Enjoyment,CandidateFullName" wiid="C333"></form>
          </div>
        </div>
      </div>
      <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container" wiid="C339">
        <div class="app-sidebar app-resume-panel app-related-items" wiid="C301">
          <h2 class="govuk-heading-m" wiid="C302">Return to an assessment</h2>
          <form method="post" action="../../../sprint41/skills-assessment/skills-health-check/homepage-returned" wiid="C303">
            <div class="app-resume-panel__input govuk-form-group " wiid="C304">
              <label class="govuk-label" for="code" wiid="C305">Enter your reference</label>
              <input class="govuk-input " id="code" name="code" type="text" wiid="C306">
            </div>
            <button type="submit" class="govuk-button app-button" wiid="C307"> Continue </button>
          </form>
        </div>
        <div wiid="C340">
          <div class="sfContentBlock sf-Long-text" wiid="C341">
            <div class="app-related-items" wiid="C342">
              <h2 class="govuk-heading-m" wiid="C343">Want to speak to an adviser?</h2>
              <p class="govuk-body-m" style="margin-bottom:0px;" wiid="C344"><span class="govuk-body govuk-!-font-weight-bold" wiid="C345">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'" wiid="C346">use webchat</a></p>
              <p class="govuk-caption-m" wiid="C347">8am to 10pm, 7 days a week</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 