{% extends "layout_ncs_changelogs.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Change logs
{% endblock %}

{% block beforeContent %}

</div>

{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <a href="../index" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Ravenclaw sprint 5 changes<span class="govuk-caption-xl">Changes from previous prototype versions</span></h1>
        <h2 class="govuk-heading-s">LMI</h2>
        <p class="govuk-body">Updated reference to source on all LMI measures as follows as part of JIRA Ticket <a href="https://skillsfundingagency.atlassian.net/browse/FT1-206" class="govuk-link" target="_blank">FT1-206</a></p>
        <p class="govuk-body"><a href="../index.html#accordion-default-heading-33" class="govuk-link" target="_blank">Previous version - V3</a> </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version 3</th>
              <th scope="col" class="govuk-table__header">Version 4</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Source: Working futures 2019</td>
              <td class="govuk-table__cell">LMI 4 All - Working Futures dataset</td>
            </tr>
          </tbody>
        </table>
        <p class="govuk-body">Qualification level content updated </p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version 3</th>
              <th scope="col" class="govuk-table__header">Version 4</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
              <td class="govuk-table__cell">Updated content for all levels - Level 1 to 8. Pls refer prototypes for qualification level content
                <ul class="govuk-list govuk-!-margin-top-3">
                  <li><a class="govuk-link" href="V4/job-group-lmi-ql-1">LMI Qualification level 1</a></li>
                  <li><a class="govuk-link" href="V4/job-group-lmi-ql-2">LMI Qualification level 2</a></li>
                  <li><a class="govuk-link" href="V4/job-group-lmi-ql-3">LMI Qualification level 3</a></li>
                  <li><a class="govuk-link" href="V4/job-group-lmi-ql-4">LMI Qualification level 4</a></li>
                  <li><a class="govuk-link" href="V4/job-group-lmi-ql-5">LMI Qualification level 5</a></li>
                  <li><a class="govuk-link" href="V4/job-group-lmi-ql-6">LMI Qualification level 6</a></li>
                  <li><a class="govuk-link" href="V4/job-group-lmi-ql-7">LMI Qualification level 7</a></li>
                  <li><a class="govuk-link" href="V4/job-group-lmi-ql-8">LMI Qualification level 8</a></li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">-12.7% Job decline is not bolded</td>
              <td class="govuk-table__cell">-12.7% Job decline is now <span class="govuk-!-font-weight-bold">bolded</span></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Label <span class="">"Leading to:" is not bolded</span></td>
              <td class="govuk-table__cell">Bolded <span class="govuk-!-font-weight-bold">Leading to:</span> to distinguish the label from the information</td>
            </tr>
          </tbody>
        </table>

        <p class="govuk-body">Source information updated </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version 4</th>
              <th scope="col" class="govuk-table__header">Version 5</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Source: LMI 4 All. For more information about the labour market information we use, you can check our information sources.</td>
              <td class="govuk-table__cell">Source: LMI for all – last updated 1 January 2021. To learn more about the labour market information we use, you can check our information sources.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">

    </div>
  </div>
</div>
{% endblock %}
