{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="breadcrumbs govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="/help">Help</a> </li>
        <li class="govuk-breadcrumbs__list-item">Information sources </li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div class="sfContentBlock sf-Long-text">
        <h1 class="govuk-heading-xl">Information sources </h1>
        <h2 class="govuk-heading-l govuk-!-margin-top-5">Skills assessments</h2>
        <p>The National Careers Service worked with occupational psychology subject matter experts, SHL Group Limited, to create the ‘Discover your skills and careers’ and ‘Skills health check’ assessment tools.</p>
        <h2 class="govuk-heading-l govuk-!-margin-top-5">Skills and working environment information</h2>
        <p style="text-align:left;"><a href="https://www.onetonline.org/"><img alt="O*NET in-it" height="60" src="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/onet-in-it.svg"></a></p>
        <p>This website includes information from <a href="https://www.onetonline.org/">O*NET OnLine</a> by the U.S. Department of Labor, Employment and Training Administration (USDOL/ETA). Used under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license. O*NET® is a trademark of USDOL/ETA. The National Careers Service has modified all or some of this information. USDOL/ETA has not approved, endorsed, or tested these modifications.</p>
        <div>
          <h2 class="govuk-heading-l govuk-!-margin-top-5">Our career adviser subject matter experts </h2>
          <p>Our subject matter experts use content from LMI, ONET and their own experience to create our job profiles.</p>
          <p>We're constantly working to improve our information and your feedback is important to us. Please <a href="/contact-us">contact us</a> with your feedback.</p>
        </div>
        <div>
          <h2 class="govuk-heading-l govuk-!-margin-top-5">Labour market information </h2>
          <p>This website uses data from <a href="https://www.lmiforall.org.uk/">LMI for all</a> to show labour market information for different job profiles and groups. This includes information on salaries, working hours and the number of jobs in different sectors.</p>
          <p>LMI for all is funded by the Department for Education.</p>
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">

    </div>
  </div>
</div>
{% endblock %}
