<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Page-hiding snippet (recommended)  -->
<style>
.async-hide {
    opacity: 0 !important
}

@media (min-width: 750px) {
.job-profile-hero .column-60, .secondary-hero .column-40 {
    width: 70%;
    padding: 25px;
    box-sizing: border-box;
    float: left
}
}
	.govuk-caption-m {
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    color: #626a6e
}

@media (min-width: 40.0625em) {
    .govuk-caption-m {
        font-size:1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .govuk-caption-m {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.15
    }
}
.opportunity-item {
    border-color: #207e77;
    padding: .7894736842em;
    margin-top: 0;
    margin-bottom: .7894736842em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    border-left-style: solid;
    border-left-width: 5px
}
	.govuk-grid-column-one-half {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-one-half {
        width:50%;
        float: left
    }
}

.govuk-grid-column-two-thirds {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-two-thirds {
        width:66.6666%;
        float: left
    }
}

.govuk-grid-column-three-quarters {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-three-quarters {
        width:75%;
        float: left
    }

    .govuk-grid-column-full {
        width: 100%;
        float: left
    }
}
</style>
<script>
    (function (a, s, y, n, c, h, i, d, e) {
        s.className += ' ' + y; h.start = 1 * new Date;
        h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
        (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
    })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
        { 'GTM-554PPX9': true });</script> <!-- Google Tag Manager --> <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-554PPX9');
</script> <!-- End Google Tag Manager -->
<link href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/css/govuk-template.min.css?BjfSg1dcA4OmLlo2jSooBQ==" rel="stylesheet" type="text/css" />
<link href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/css/fonts.min.css?slmQTlfFDt4cZoFimwxKWg==" rel="stylesheet" type="text/css" />
<link href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/css/govuk.min.css?lnWH1h2sgwS/hK3y58wsgA==" rel="stylesheet" type="text/css" />
<link href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/css/main.min.css?mMnp1cLKes1j+WA/vJCTug==" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/images/favicon.ico?922b6f2VOn2Ys5N0e3sUVw==" type="image/x-icon" />
<link rel="mask-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/images/gov.uk_logotype_crown.svg?Kv0SWx25YQk4jUoHJzEvPg==" color="#0b0c0c">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/images/apple-touch-icon-152x152.png?QIRtRqo3Iy4rNQZXac5WfA==">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/images/apple-touch-icon-167x167.png?9jbLfUcfxiOdIkHXXL2ryw==">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/images/apple-touch-icon-180x180.png?oPfhtyikIBayR9xU7kDQVQ==">
<!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/js/selectivizr.min.js?7OY9/at3nUoZOV0SEFUUqQ=="></script>
<![endif]--> <!--[if lt IE 9]>
    <script type="text/javascript" src="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/js/ie8bundle.min.js?FB7S8BgAcSecu4LK+fbB1w=="></script>
    <link href="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/css/ie.min.css?Mf/HCpdPSZC8VK5979Ho4Q==" rel="stylesheet" type="text/css" />
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/images/opengraph-image.png?+G8dDdEGv7zYrR7l6mjnXg==">
<meta name="msapplication-config" content="none" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<script type="text/javascript">var sf_appPath='/';</script>
<title> Admin assistant | Explore careers </title>
<meta name="Generator" content="Sitefinity 11.2.6921.0 PU" />
<link rel="canonical" href="https://nationalcareers.service.gov.uk/job-profiles/admin-assistant" />
<meta name="description" content="Admin assistants give support to offices by organising meetings, typing documents and updating computer records." />
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-554PPX9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) --> 
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<div >
  <div class="sf-Long-text" >
    <header class="with-proposition" id="global-header" role="banner">
      <div class="header-wrapper">
        <div class="header-proposition">
          <div class="content"><a class="js-header-toggle menu" href="#proposition-links">Menu</a>
            <nav id="proposition-menu"><a href="/sprint46/homepage-LMI" id="proposition-name">National Careers Service</a>
              <ul id="proposition-links">
                <li class="active"><a href="/" id="nav-EC" target="_self">Explore careers</a> </li>
                <li><a href="https://dfcdigital.herokuapp.com/sprint11/assess-yourself/index-2" id="nav-SHC" target="_self">Assess your skills</a> </li>
                <li><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" target="_self">Find a course</a> </li>
                <li><a href="/contact-us" id="nav-CA" target="_self">Contact us</a> </li>
                <li><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" target="_self">About us</a> </li>
                <li><a href="careers-advice" id="nav-HTG" target="_self">Careers advice</a> </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
<div >
  <div class="sf-Long-text" >
    <div class="content-container">
      <div class="phase-banner">
        <p><strong class="phase-tag">BETA</strong> <span>This is a new service &ndash; your <a href="/feedback-survey">feedback</a> will help us to improve it.</span> </p>
      </div>
    </div>
  </div>
</div>
<main role="main">
  <div class="content-container"> </div>
  <div class="sfPublicWrapper" id="PublicWrapper">
    <header class="job-profile-hero">
      <div data-sf-element="Row">
        <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
          <div class="content-container">
            <div class="breadcrumbs govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
                <li class="govuk-breadcrumbs__list-item">Education welfare officer</li>
              </ol>
            </div>
          </div>
          <div class="content-container">
            <div class="grid-row">
              <div class="column-desktop-two-thirds">
                <h1 class="heading-xlarge">Education welfare officer</h1>
                <h2 class="govuk-!-margin-top-5 govuk-!-margin-bottom-3" wiid="C128"><span class="sr-hidden" wiid="C129">Alternative titles for this job include </span>School welfare officer, school attendance officer</h2>
                <p>Education welfare officers make sure that children attend school and get the support they need.</p>
              </div>
            </div>
            <div class="grid-row">
              <div id="Salary" class="column-40 job-profile-heroblock">
                <h2> Average salary <span>(a year)</span> </h2>
                <div class="job-profile-salary job-profile-heroblock-content">
                  <p class="dfc-code-jpsstarter">&#163;19,554 <span>Starter</span></p>
                  <i class="sr-hidden">to</i>
                  <p class="dfc-code-jpsexperienced">&#163;31,371 <span>Experienced</span></p>
                </div>
              </div>
              <div id="WorkingHours" class="column-30 job-profile-heroblock">
                <h2>Typical hours <span>(a week)</span></h2>
                <div class="job-profile-hours job-profile-heroblock-content">
                  <p class="dfc-code-jphours"> 36 to 38 <span  class="dfc-code-jpwhoursdetail">a week</span> </p>
                </div>
              </div>
              <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
                <h2> You could work </h2>
                <div class="job-profile-pattern job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern"> evenings<span  class="dfc-code-jpwhoursdetail">attending events or appointments </span> </p>
                </div>
              </div>
            </div>
            <!--
            <div class="grid-row">
              <div class="column-60 job-profile-heroblock govuk-grid-column-one-third">
                <h2> Find out more about jobs in this group</h2>
                <p class="dfc-code-jpwpattern">See which sectors you’ll find this job in, what qualifications you need to work in this area and if these types of jobs are going up or going down. This information can help you make good career decisions.</p>
				  
				 <p class="dfc-code-jpwpattern"> <a href="job-group-lmi" class="govuk-link">Explore your job prospects</a> in this job group.</p>
              </div>
            </div>
--> 
          </div>
        </div>
      </div>
    </header>
    <div class="content-container">
      <div id="MainContentTop_T41A29498003_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Full Width Container"> <script language="JavaScript">
        var vocCookie = "vocPersonalisation=admin-assistant; path=/";

        if (document.location.protocol === "https:") {
            vocCookie += "; Secure";
        }

        document.cookie = vocCookie;
    </script> 
      </div>
    </div>
    <div class="content-container">
      <div class="grid-row" data-sf-element="Row">
        <div id="MainContent_T41A29498001_Col00" class="sf_colsIn column-desktop-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
          <div class="job-profile-sections" wiid="C158">
            <nav class="jump-links" role="navigation" aria-label="skip to your documents" wiid="C159">
              <ol class="list list-number" wiid="C160">
                <li wiid="C161"> <a href="#HowToBecome" wiid="C162">How to become</a> </li>
                <li wiid="C163"> <a href="#WhatItTakes" wiid="C164">What it takes</a> </li>
                <li wiid="C165"> <a href="#WhatYouWillDo" wiid="C166">What you'll do</a> </li>
                <li wiid="C167"> <a href="#CareerPathAndProgression" wiid="C168">Career path and progression</a> </li>
                <li wiid="C169"> <a href="#CurrentOpportunities" wiid="C170">Current opportunities</a> </li>
              </ol>
            </nav>
            <section id="HowToBecome" wiid="C171" data-gtm-vis-recent-on-screen-8675592_54="108592" data-gtm-vis-first-on-screen-8675592_54="108592" data-gtm-vis-total-visible-time-8675592_54="100" data-gtm-vis-has-fired-8675592_54="1">
              <h2 class="job-profile-heading" wiid="C172">How to become an education welfare officer</h2>
              <p wiid="C173">You can get into this job through:</p>
              <ul wiid="C174">
                <li wiid="C175">a university course</li>
                <li wiid="C176">working towards this role</li>
                <li wiid="C177">applying directly</li>
              </ul>
              <section class="job-profile-subsection" id="University" wiid="C178">
                <h3 wiid="C179">University</h3>
                <div class="job-profile-subsection-content" wiid="C180">
                  <p wiid="C181">You could do a degree in social and human sciences, social work or education.</p>
                  <h4 wiid="C182">Entry requirements</h4>
                  <p wiid="C183">You'll usually need:</p>
                  <ul class="list-reqs" wiid="C184">
                    <li wiid="C185">2 to 3 A levels, or equivalent, for a degree</li>
                  </ul>
                  <h4 wiid="C186">More Information</h4>
                  <ul class="list-link" wiid="C187">
                    <li wiid="C188"><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" wiid="C189">equivalent entry requirements</a></li>
                    <li wiid="C190"><a class="htb-feature" href="https://www.gov.uk/student-finance" wiid="C191">student finance for fees and living costs</a></li>
                    <li wiid="C192"><a class="htb-feature" href="https://www.ucas.com/" wiid="C193">university courses and entry requirements</a></li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="work" wiid="C194">
                <h3 wiid="C195">Work</h3>
                <div class="job-profile-subsection-content" wiid="C196">
                  <p wiid="C197">You may be able to work as an assistant welfare officer with a local authority and do training on the job to qualify. For this you'll usually need:</p>
                  <ul wiid="C198">
                    <li wiid="C199">experience working with children or young people</li>
                    <li wiid="C200">GCSEs at grades 9 to 4 (A* to C) in English and maths</li>
                    <li wiid="C201">1 or 2 A levels, or equivalent</li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="volunteering" wiid="C202">
                <h3 wiid="C203">Volunteering</h3>
                <div class="job-profile-subsection-content" wiid="C204">
                  <p wiid="C205">You can get experience of working with young people, which could help when you apply for jobs. Examples include mentoring and youth work.</p>
                  <p wiid="C206">You can find opportunities through <a href="https://volunteeringmatters.org.uk/" wiid="C207">Volunteering Matters</a>.</p>
                </div>
              </section>
              <section class="job-profile-subsection" id="directapplication" wiid="C208">
                <h3 wiid="C209">Direct Application</h3>
                <div class="job-profile-subsection-content" wiid="C210">
                  <p wiid="C211">You can apply directly to become an education welfare officer if you've got relevant experience and qualifications.</p>
                  <p wiid="C212">Employers usually look for people who have a background in:</p>
                  <ul wiid="C213">
                    <li wiid="C214">social work</li>
                    <li wiid="C215">teaching</li>
                    <li wiid="C216">youth and community work</li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="moreinfo" wiid="C217">
                <h3 wiid="C218">More Information</h3>
                <div class="job-profile-subsection-content" wiid="C219">
                  <h4 wiid="C220">Further information</h4>
                  <p wiid="C221">You'll find more details about working in education welfare through the education welfare service of your <a href="https://www.gov.uk/find-local-council" wiid="C222">local council</a>.</p>
                </div>
              </section>
            </section>
            <section id="WhatItTakes" wiid="C223">
              <h2 class="job-profile-headings" wiid="C224">What it takes</h2>
              <section class="job-profile-subsection" wiid="C225">
                <h3 wiid="C226">Skills and knowledge</h3>
                <div class="job-profile-subsection-content" wiid="C227">
                  <p wiid="C228">You'll need:</p>
                  <ul wiid="C229">
                    <li wiid="C230"> counselling skills including active listening and a non-judgemental approach </li>
                    <li wiid="C231"> knowledge of psychology </li>
                    <li wiid="C232"> knowledge of teaching and the  ability to design courses </li>
                    <li wiid="C233"> sensitivity and understanding </li>
                    <li wiid="C234"> customer service skills </li>
                    <li wiid="C235"> patience and the ability to remain calm in stressful situations </li>
                    <li wiid="C236"> the ability to work well with others </li>
                    <li wiid="C237"> knowledge of English language </li>
                    <li wiid="C238">to be able to use a computer and the main software packages competently</li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="restrictions" wiid="C239">
                <h3 wiid="C240">Restrictions and Requirements</h3>
                <div class="job-profile-subsection-content" wiid="C241">
                  <p wiid="C242">You'll need to:</p>
                  <ul wiid="C243">
                    <li wiid="C244">pass <a href="https://www.gov.uk/criminal-record-checks-apply-role" wiid="C245">enhanced background checks</a></li>
                    <li wiid="C246">have a full driving licence</li>
                  </ul>
                </div>
              </section>
            </section>
            <section id="WhatYouWillDo" wiid="C247">
              <h2 class="job-profile-heading" wiid="C248">What you'll do</h2>
              <section class="job-profile-subsection" wiid="C249">
                <h3 wiid="C250">Day-to-day tasks</h3>
                <div class="job-profile-subsection-content" wiid="C251">
                  <p wiid="C252"> In your day-to-day tasks you will:</p>
                  <ul wiid="C253">
                    <li wiid="C254">work closely with key staff in schools to identify and resolve attendance problems</li>
                    <li wiid="C255">meet parents and pupils at school or home to explain legal responsibilities</li>
                    <li wiid="C256">help families get benefits for school meals, transport or clothing</li>
                    <li wiid="C257">take necessary action through the magistrates' court</li>
                    <li wiid="C258">arrange education for pupils who are excluded</li>
                    <li wiid="C259">write case notes and letters to parents</li>
                    <li wiid="C260">update computerised school records</li>
                    <li wiid="C261">handle sensitive information</li>
                    <li wiid="C262">keep to deadlines and targets</li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="workingenvironment" wiid="C263">
                <h3 wiid="C264">Working environment</h3>
                <div class="job-profile-subsection-content" wiid="C265">
                  <p wiid="C266"> You could work at a school or from home. </p>
                  <p wiid="C267"> Your working environment may be emotionally demanding and you'll travel often. </p>
                </div>
              </section>
            </section>
            <section id="CareerPathAndProgression" wiid="C268">
              <h2 class="job-profile-heading" wiid="C269">Career path and progression</h2>
              <p wiid="C270"> With experience and training you could become a team leader, senior education welfare officer or a head of service. </p>
              <p wiid="C271"> You could also train for a career in social services, the probation service, youth work or pastoral care. </p>
            </section>
            <section id="CurrentOpportunities" wiid="C272">
              <h2 class="job-profile-headings" wiid="C273">Current opportunities</h2>
              <div class="govuk-grid-row" id="appGeneric" wiid="C274">
                <div class="govuk-grid-column-full" wiid="C275">
                  <h3 class="govuk-heading-m" wiid="C276"> Apprenticeships <span class="govuk-caption-m" wiid="C277">In England</span> </h3>
                </div>
                <div class="govuk-grid-column-full govuk-body dfc-code-jp-novacancyText" wiid="C278">
                  <p wiid="C279">We can't find any apprenticeship vacancies in England for an education welfare officer right now.</p>
                  <p wiid="C280">The <a href="https://www.gov.uk/apply-apprenticeship" wiid="C281">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
                </div>
              </div>
              <div class="govuk-grid-row dfc-code-jp-trainingCourse" wiid="C282">
                <div class="govuk-grid-column-full" wiid="C283">
                  <h3 class="govuk-heading-m" wiid="C284"> Courses <span class="govuk-caption-m" wiid="C285">In England</span> </h3>
                </div>
                <div class="govuk-grid-column-one-half" wiid="C286">
                  <div class="opportunity-item" wiid="C287">
                    <h4 class="govuk-heading-s" wiid="C288"> <a href="/find-a-course/course-details?courseid=1ba04b25-8d9c-48b3-94af-b37868827ce6&amp;r=45ee0cd2-20d5-409a-aefc-a6a018fe757e" wiid="C289">Diploma in H&amp;SC and C&amp;YP services Level 5</a> </h4>
                    <ul class="govuk-list" wiid="C290">
                      <li wiid="C291"><span class="govuk-body govuk-!-font-weight-bold" wiid="C292">Provider:</span> VOCATIONAL TRAINING SERVICES CARE SECTOR LIMITED</li>
                      <li wiid="C293"><span class="govuk-body govuk-!-font-weight-bold" wiid="C294">Start date:</span> 01 October 2020</li>
                      <li wiid="C295"><span class="govuk-body govuk-!-font-weight-bold" wiid="C296">Location:</span> </li>
                    </ul>
                  </div>
                </div>
                <div class="govuk-grid-column-one-half" wiid="C297">
                  <div class="opportunity-item" wiid="C298">
                    <h4 class="govuk-heading-s" wiid="C299"> <a href="/find-a-course/course-details?courseid=fcc1caf8-817c-4409-97a9-0a5f1da5459d&amp;r=866d1473-487c-4fde-9566-534b9a4a6dd8" wiid="C300">Health and Social Care</a> </h4>
                    <ul class="govuk-list" wiid="C301">
                      <li wiid="C302"><span class="govuk-body govuk-!-font-weight-bold" wiid="C303">Provider:</span> BURY ST EDMUNDS COUNTY UPPER SCHOOL</li>
                      <li wiid="C304"><span class="govuk-body govuk-!-font-weight-bold" wiid="C305">Start date:</span> 01 September 2020</li>
                      <li wiid="C306"><span class="govuk-body govuk-!-font-weight-bold" wiid="C307">Location:</span> Bury St Edmunds</li>
                    </ul>
                  </div>
                </div>
                <div class="govuk-grid-column-full govuk-body dfc-code-jp-TrainingCoursesText" wiid="C308"> <a href="/find-a-course/search" wiid="C309">Find courses near you</a> </div>
              </div>
              <div wiid="C310">
                <h3 class="govuk-heading-m" wiid="C311"> Jobs <span class="govuk-caption-m" wiid="C312">In the United Kingdom</span> </h3>
                <p wiid="C313">The <a href="https://findajob.dwp.gov.uk" wiid="C314">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
              </div>
            </section>
          </div>
        </div>
        <div id="MainContent_T41A29498001_Col01" class="sf_colsIn column-desktop-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
          <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container">
            <div class="job-profile-related">
              <h2 class="heading-medium">More about jobs in this group</h2>
              <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
              <p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore facts about jobs in this group</a></p>
            </div>
            <div class="job-profile-related">
              <h2 class="heading-medium">Related careers</h2>
              <ul class="list list-big">
                <li wiid="C346"><a href="community-development-worker" wiid="C347">Community development worker</a></li>
                <li wiid="C348"><a href="community-arts-worker" wiid="C349">Community arts worker</a></li>
                <li wiid="C350"><a href="education-welfare-officer" wiid="C351">Education welfare officer</a></li>
              </ul>
            </div>
            <div >
              <div class="sf-Long-text" >
                <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
              </div>
            </div>
            <div class="job-profile-search">
              <h3 class="heading-small">Search further careers</h3>
              <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
                <div class="job-profile-search-content">
                  <label for="search-main"> Enter a job title</label>
                  <div class="search-input-wrapper">
                    <input class="search-input js-search-focus js-autocomplete" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" />
                  </div>
                  <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
                </div>
                <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant" />
              </form>
            </div>
          </aside>
          <div >
            <div class="sf-Long-text" >
              <h2 class="heading-medium">Skills assessment</h2>
              <p><a href="/sprint43/homepage">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
            </div>
          </div>
          <div >
            <div class="sf-Long-text" >
              <h2 class="heading-medium">Get help using this service</h2>
              <p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="https://nationalcareers.service.gov.uk/webchat/chat/" target="'_blank'">use webchat</a></p>
              <p class="grey font-xsmall">8am to 10pm, 7 days a week<br />
              </p>
              <p>More ways to <a href="/contact-us">contact us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-profile-feedback content-container ">
      <div class="job-profile-feedback-start">
        <p>Is this page useful?</p>
        <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
      <div class="job-profile-feedback-end-yes hidden">
        <p>Thank you for your feedback.</p>
      </div>
      <div class="job-profile-feedback-end-no hidden">
        <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
      </div>
    </div>
  </div>
</main>
<div >
  <div class="sf-Long-text" >
    <footer class="group js-footer" id="footer" role="contentinfo">
      <div class="footer-wrapper">
        <div class="footer-meta">
          <div class="footer-meta-inner">
            <ul>
              <li><a href="/help">Help</a></li>
              <li><a href="/help/cookies">Privacy and cookies</a></li>
              <li><a href="/help/terms-and-conditions">Terms and conditions</a></li>
              <li><a href="/help/information-sources">Information sources</a></li>
            </ul>
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>
          <div class="copyright"><a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a> </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/js/jquerybundle.min.js?T9uNGOnfHvqGd8iYpdzXjQ==" type="text/javascript"></script><script src="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/js/govuksel.min.js?nn/aKKqWdkhMjmZQU30VOA==" type="text/javascript"></script><script src="https://cdn.nationalcareers.service.gov.uk/gds_toolkit/js/dfcdigital.min.js?5B0BBt7lkLHSJQl3FIykcA==" type="text/javascript"></script> <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
            instrumentationKey: "e58aada6-acf8-4d23-b0f6-334acb9fd45e"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
</body>
</html>
