{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="#">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="careers-advice">Careers advice</a> </li>
        <li class="govuk-breadcrumbs__list-item">Take a skills quiz</li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-full-width" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <h1 class="govuk-heading-xl">Take a skills quiz</h1>
			<div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
	  <div class="govuk-inset-text">
  This tool is not suitable for users with screen readers. We are not able to make this tool accessible as the Careerometer is supplied directly from <a href="#">LMI for all</a>. If you would prefer to use the tool with the help of one of our career advisers, please <a href="#">contact us</a>.

</div>
	  </div>
          
			
		<iframe src="//www.lmiforall.org.uk/cm3/widget.html" height="310" width="100%" scrolling="no" frameborder="0"></iframe>
			
        </div>
      </div>
    </div>
	  <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
	  <h2 class="govuk-heading-m">Next steps</h2>
			<p class="govuk-body">Now that you've received some career suggestions, you might want to:</p>
			<ul class="govuk-list govuk-list--bullet">
			  <li>take a more in-depth <a href="https://nationalcareers.service.gov.uk/skills-assessment" class="govuk-link">skills assessment</a> </li>
			  <li><a href="https://nationalcareers.service.gov.uk/explore-careers" class="govuk-link">explore careers</a> based on your Skillsometer recommendations</li>
			</ul>
			<p class="govuk-body">You can also <a href="https://nationalcareers.service.gov.uk/contact-us" class="govuk-link">speak to an adviser</a> about your next steps by phone, email or webchat if you want more support with your career decisions.</p>
	  </div>
	
   </div>
</div>
{% endblock %} 