{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Homepage
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Skills assessment</h1>
        <p class="govuk-body-lead">Find out about careers that might be right for you by taking one of our assessments</p>
      </div>
      <div class="govuk-grid-column-one-third"> </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-width-container" wiid="C321">
    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main" wiid="C322">
      <div class="govuk-grid-row" wiid="C323">
        <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container" wiid="C324">
          <div wiid="C325">
            <div class="sfContentBlock sf-Long-text" wiid="C326">
              <h2 class="govuk-heading-l" wiid="C327">Discover your skills and careers</h2>
              <p class="govuk-body" wiid="C328">Take a 5 to 10 minute assessment to find out what job categories, and which particular job roles, might suit you.</p>
              <p class="govuk-body" wiid="C329">You do not need to sign in or create an account to save your assessment. You can also complete it later and look at your results again at any time.</p>
              <p class="govuk-body" wiid="C330"><a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="https://beta.nationalcareers.service.gov.uk/" wiid="C331">Go to discover your skills and careers</a></p>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" wiid="C332">
              <h2 class="govuk-heading-l" wiid="C333">Skills health check</h2>
              <p class="govuk-body-m" wiid="C334">You can choose to do a number of assessments to help you decide which types of jobs might be right for you. You'll find these useful for preparing your CV, applications and interviews.</p>
              <p class="govuk-body-m" wiid="C335">There are 4 assessments covering personal skills and 6 on work activities. Each one can take between 15 and 30 minutes. You must do at least one assessment to get a report.</p>
              <p class="govuk-body-m" wiid="C336">You'll need to sign in or create an account to save your assessments. You'll also need to do this to finish them later or to look at your results another time.</p>
              <p class="govuk-body-m" wiid="C337"><a class="govuk-link govuk-button" href="skills-assessment/skills-health-check/homepage" wiid="C338">Go to skills health check</a></p>
            </div>
          </div>
        </div>
        <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container" wiid="C339">
          <div wiid="C340">
            <div class="sfContentBlock sf-Long-text" wiid="C341">
              <div class="app-related-items" wiid="C342">
                <h2 class="govuk-heading-m" wiid="C343">Want to speak to an adviser?</h2>
                <p class="govuk-body-m" style="margin-bottom:0px;" wiid="C344"><span class="govuk-body govuk-!-font-weight-bold" wiid="C345">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'" wiid="C346">use webchat</a></p>
                <p class="govuk-caption-m" wiid="C347">8am to 10pm, 7 days a week</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %} 