{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Help to get a job</h1>
        <p class="govuk-body-m">The prototype linked below are for test purposes.</p>

      </div>
    </div>
  </div>
</header>
<div class="govuk-width-container">
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    
      
           <h4 class="govuk-heading-m"> <a class="govuk-link" href="https://lab.nationalcareersservice.org.uk/"> Click here when instructed to do so </a> </h4>
          
          
        </div>
		
</main>
{% endblock %} 