{% extends "layout_ncs.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Beta prototypes</h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="sprint9/contact-an-adviser/index">Sprint 9 & 10 - 'contact us' flow</a> - see example of <a href="sprint9/contact-an-adviser/error/contact-an-adviser.html">error validation</a>
        </li>
        <li><span class="govuk-!-font-weight-bold">Work in progress: </span><a class="govuk-link" href="sprint10/help-to-get-a-job/get-a-job">Sprint 10 - 'help to find a job'</a></li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
