{% extends "layout.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Prototypes and mockups</h1>
        <p class="govuk-body-m">The mockups linked below are for test purposes.</p>
        <p class="govuk-body-m">They should not be recreated into production code unless the design has been validated by user research and stakeholders.</p>
      </div>
    </div>
  </div>
</header>
<div class="govuk-width-container">
  {% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-accordion" data-module="accordion" id="accordion-default">

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Sprint 9
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'><a class="govuk-link" href="sprint9/contact-an-adviser/index">'Contact us' flow</a> - see example of <a href="sprint9/contact-an-adviser/error/contact-an-adviser.html">error validation</a>
            </p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Sprint 10
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'><a class="govuk-link" href="sprint10/get-a-job/">'Help to find a job'</a></p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Sprint 11
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint11/homepage/index">Generic NCS landing page - v1</a></li>
                <li><a class="govuk-link" href="sprint11/homepage/index-2">Generic NCS landing page - v2</a></li>
                <li><a class="govuk-link" href="sprint11/homepage/index-3">Generic NCS landing page - v3</a></li>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <li><a class="govuk-link" href="sprint11/assess-yourself/index">New skills tests landing page - v1</a></li>
                <li><a class="govuk-link" href="sprint11/assess-yourself/index-2">New skills tests landing page - v2</a></li>
                <li><a class="govuk-link" href="sprint11/assess-yourself/job-profile">Job profile with side navigation to assessments - v1</a></li>
                <li><a class="govuk-link" href="sprint11/assess-yourself/job-profile-2">Job profile with side navigation to assessments - v2</a></li>
              </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Sprint 13
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint13/jp/admin-assistant">Job profile with find a job box - showing vacancies</a></li>
              </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
{% endblock %}
