{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
{% endblock %}
{% block content %}
<div class="sfPublicWrapper" id="PublicWrapper">
  <header class="job-profile-hero">
    <div data-sf-element="Row">
      <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
        <div class="govuk-width-container ">
          <div class="breadcrumbs govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="explorecareers">Home: Explore careers</a></li>
              <li class="govuk-breadcrumbs__list-item">Youth worker </li>
            </ol>
          </div>
        </div>
        <div class="govuk-width-container">
          <div class="grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="heading-xlarge"> Youth worker</h1>
              <p>Youth workers guide and support young people aged 11 to 25. They organise activities to help with personal and social development.</p>
            </div>
          </div>
          <div class="grid-row">
            <div id="Salary" class="column-40 job-profile-heroblock">
              <h2> Average salary <span>(a year)</span> </h2>
              <div class="job-profile-salary job-profile-heroblock-content">
                <p class="dfc-code-jpsstarter">£23,250 <span>Starter</span></p>
                <i class="sr-hidden">to</i>
                <p class="dfc-code-jpsexperienced">£37,500 <span>Experienced</span></p>
              </div>
            </div>
            <div id="WorkingHours" class="column-30 job-profile-heroblock">
              <h2>Typical hours <span>(a week)</span></h2>
              <div class="job-profile-hours job-profile-heroblock-content">
                <p class="dfc-code-jphours"> 37 to 39 <span class="dfc-code-jpwhoursdetail">a week</span> </p>
              </div>
            </div>
            <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
              <h2> You could work </h2>
              <div class="job-profile-pattern job-profile-heroblock-content">
                <p class="dfc-code-jpwpattern"> evenings / weekends<span class="dfc-code-jpwhoursdetail">on a rota</span> </p>
              </div>
            </div>
          </div>
          <div class="grid-row">
            <div class="column-60 job-profile-heroblock govuk-grid-column-two-thirds">
              <h2> Find out more about jobs in this group</h2>
              <div class="job-profile-group job-profile-heroblock-content">
                <p class="dfc-code-jpwpattern">See which sectors you’ll find this job in, what qualifications you need to work in this area and if these types of jobs are going up or going down. This information can help you make good career decisions.</p>
                <p class="dfc-code-jpwpattern govuk-!-padding-top-5"> <a href="job-group-lmi" class="govuk-link">Explore job trends for this group</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="govuk-width-container">
    <div class="grid-row" data-sf-element="Row">
      <div id="MainContent_T41A29498001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="howtobecome"> How to become </span> </h2>
              <!-- <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1"> Explore the different ways to get into this role. </div> -->
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="howtobecome">
              <div class="job-profile-sections">
                <section id="HowToBecome" class="job-profile-subsection no-grey">
                  <p>You can get into this job through:</p>
                  <ul>
                    <li>a university course </li>
                    <li>a college course</li>
                    <li>an apprenticeship</li>
                    <li>working towards this role</li>
                    <li>volunteering</li>
                    <li>applying directly</li>
                  </ul>
                  <section class="job-profile-subsection" id="University">
                    <h3>University</h3>
                    <div class="job-profile-subsection-content">
                      <p>You can do a professional youth work qualification, like a degree that is recognised by the <a href="https://nya.org.uk/resource/current-youth-work-courses/">National Youth Agency</a>.</p>
                      <p>Subjects include:</p>
                      <ul>
                        <li>youth and community</li>
                        <li>community and youth studies</li>
                        <li>youth and theology</li>
                        <li>informal and community education</li>
                      </ul>
                      <p>If you have a degree in another subject, you can take a postgraduate qualification to give you professional youth worker status.</p>
                      <p>You'll also need relevant experience to get on to a degree or postgraduate course.</p>
                      <h4>Entry requirements</h4>
                      <p>You'll usually need:</p>
                      <ul class="list-reqs">
                        <li>2 to 3 A levels, or equivalent, for a degree</li>
                        <li>a degree in any subject for a postgraduate course</li>
                      </ul>
                      <h4>More Information</h4>
                      <ul class="list-link">
                        <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                        <li><a class="htb-feature" href="https://www.gov.uk/student-finance">student finance for fees and living costs</a></li>
                        <li><a class="htb-feature" href="https://www.gov.uk/funding-for-postgraduate-study">finance for postgraduate courses</a></li>
                        <li><a class="htb-feature" href="https://www.ucas.com/">university courses and entry requirements</a></li>
                      </ul>
                    </div>
                  </section>
                  <section class="job-profile-subsection" id="College">
                    <h3>College</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could do a course like a Level 2 or 3 Diploma in Youth Work Practice. This would give you an advantage when you apply for a job as a youth support worker. You would then take further training on the job.</p>
                      <p>The level 2 qualification is required to work with the 16+ age group.</p>
                      <p>The level 3 qualification is required to work with the 18+ age group.</p>
                      <h4>Entry requirements</h4>
                      <p>You'll usually need:</p>
                      <ul class="list-reqs">
                        <li>4 or 5 GCSEs at grades 9 to 4 (A* to C), or equivalent, and work experience</li>
                      </ul>
                      <h4>More Information</h4>
                      <ul class="list-link">
                        <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                        <li><a class="htb-feature" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                        <li><a class="htb-feature" href="/find-a-course">search for courses</a></li>
                      </ul>
                    </div>
                  </section>
                  <section class="job-profile-subsection" id="Apprenticeship">
                    <h3>Apprenticeship</h3>
                    <div class="job-profile-subsection-content">
                      <p>Apprenticeships relevant to this role include:</p>
                      <ul>
                        <li>Level 3 Youth support worker</li>
                      </ul>
                      <p>You would be supported through management and supervision, to develop towards the role of youth support worker by a qualified youth worker or other professional.</p>
                      <p>You would also work towards gaining the Level 2 or Level 3 certificate in youth work practice as part of completing the apprenticeship.</p>
                      <p>The level 2 qualification is required to work with the 16+ age group.</p>
                      <p>The level 3 qualification is required to work with the 18+ age group.</p>
                      <h4>Entry requirements</h4>
                      <p>You'll usually need:</p>
                      <ul class="list-reqs">
                        <li>5 GCSEs at grades 9 to 4 (A* to C), or equivalent, including English and maths, for an advanced apprenticeship</li>
                      </ul>
                      <h4>More Information</h4>
                      <ul class="list-link">
                        <li><a class="htb-feature" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                        <li><a class="htb-feature" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
                      </ul>
                    </div>
                  </section>
                  <section class="job-profile-subsection" id="work">
                    <h3>Work</h3>
                    <div class="job-profile-subsection-content">
                      <p>You could start as a part-time or volunteer youth support worker and complete on-the-job training to use as entry on to a degree course to get professionally qualified.</p>
                    </div>
                  </section>
                  <section class="job-profile-subsection" id="volunteering">
                    <h3>Volunteering</h3>
                    <div class="job-profile-subsection-content">
                      <p>It's important that you get experience of paid or unpaid work with young people. You'll often need at least 1 year's experience to apply for professional youth work courses and jobs.</p>
                      <p> Find out about local opportunities for voluntary or part-time youth work through the <a href="https://www.ncvo.org.uk/ncvo-volunteering">National Council for Voluntary Organisations</a> or by contacting your local authority youth service. </p>
                    </div>
                  </section>
                  <section class="job-profile-subsection" id="directapplication">
                    <h3>Direct Application</h3>
                    <div class="job-profile-subsection-content">
                      <p>You can apply for youth work jobs if you've got relevant experience and qualifications, for example in teaching, careers guidance, probation or community development.</p>
                      <p>You'll be expected to complete a postgraduate award in youth work while you're working.</p>
                    </div>
                  </section>
                  <section class="job-profile-subsection" id="moreinfo">
                    <h3>More Information</h3>
                    <div class="job-profile-subsection-content">
                      <h4>Further information</h4>
                      <p>You can get more advice on careers and training in youth work from the <a href="https://nya.org.uk/careers-youth-work/">National Youth Agency</a>.</p>
                    </div>
                  </section>
                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whatittakes"> What it takes </span> </h2>
              <!-- <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1"> Find out what skills you’ll use in this role. </div> -->
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="whatittakes">
              <div class="job-profile-sections">
                <section class="job-profile-subsection no-grey">
                  <h3>Skills and knowledge</h3>
                  <div class="job-profile-subsection-content">
                    <p>You'll need:</p>
                    <ul>
                      <li> excellent verbal communication skills </li>
                      <li> sensitivity and understanding </li>
                      <li> the ability to work well with others </li>
                      <li> customer service skills </li>
                      <li> patience and the ability to remain calm in stressful situations </li>
                      <li> to be thorough and pay attention to detail </li>
                      <li> counselling skills including active listening and a non-judgemental approach </li>
                      <li> knowledge of psychology </li>
                      <li>to be able to carry out basic tasks on a computer or hand-held device</li>
                    </ul>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="whatyoulldo"> What you’ll do </span> </h2>
              <!-- <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1"> Discover the day to day tasks you’ll do in this role. </div> -->
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="whatyoulldo">
              <div class="job-profile-sections">
                <section id="WhatYouWillDo" class="job-profile-subsection no-grey">
                  <section>
                    <h3>Day-to-day tasks</h3>
                    <div class="job-profile-subsection-content">
                      <p>You may:</p>
                      <ul>
                        <li>organise sports, arts, education and drama activities</li>
                        <li>counsel, coach and mentor young people</li>
                        <li>work with young carers or those at risk of offending</li>
                        <li>assess needs and run projects that deal with issues like health, bullying, crime or drugs</li>
                        <li>manage volunteers and part-time workers</li>
                        <li>keep confidential records </li>
                        <li>control budgets and apply for grants and funding </li>
                        <li>work with social workers, teachers, probation officers and the police</li>
                      </ul>
                    </div>
                  </section>
                  <section class="job-profile-subsection" id="workingenvironment">
                    <h3>Working environment</h3>
                    <div class="job-profile-subsection-content">
                      <p> You could work in the community, at an outreach centre, at a college, in an office or at a school. </p>
                      <p> Your working environment may be physically and emotionally demanding and outdoors some of the time. </p>
                    </div>
                  </section>
                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="careerpath"> Career path and progression </span> </h2>
              <!-- <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
          Look at progression in this role and similar opportunities.
        </div> -->
            </div>
            <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="careerpath">
              <div class="job-profile-sections">
                <section id="CareerPathAndProgression" class="job-profile-subsection no-grey">
                  <p>With experience, you could take on a more specialist role in an area like mental health. You could also become a team leader or manager. </p>
                  <p>Other options are to gain further qualifications and move into social work, teaching, community development or counselling.</p>
                </section>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="currentopps"> Current opportunities </span> </h2>
              <!-- <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
         Find apprenticeships, courses and jobs available near you.
        </div> -->
            </div>
            <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="currentopps">
              <div class="job-profile-sections">
                <section id="CurrentOpportunities">
                  <div class="govuk-grid-row" id="appGeneric">
                    <div class="govuk-grid-column-full">
                      <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="33620" data-gtm-vis-first-on-screen-8675592_194="33620" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1"> Apprenticeships <span class="govuk-caption-m">In England</span> </h3>
                    </div>
                    <div class="govuk-grid-column-full govuk-body dfc-code-jp-novacancyText">
                      <p>We can't find any apprenticeship vacancies in England for a youth worker right now.</p>
                      <p>The <a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship service</a> can help you with your search, send alerts when new apprenticeships become available and has advice on how to apply.</p>
                    </div>
                  </div>
                  <div class="govuk-grid-row dfc-code-jp-trainingCourse">
                    <div class="govuk-grid-column-full">
                      <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="33621" data-gtm-vis-first-on-screen-8675592_194="33621" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1"> Courses <span class="govuk-caption-m">In England</span> </h3>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <div class="opportunity-item">
                        <h4 class="govuk-heading-s"> <a href="/find-a-course/course-details?courseid=b2a71943-84b7-4a49-82b3-f45b579af830&amp;r=4d2c61a5-c5de-4d5c-8dbb-6092036df83b">Level 3 Diploma in Youth Work Practice</a> </h4>
                        <ul class="govuk-list">
                          <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> WAKEFIELD COLLEGE</li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Start date:</span> 01 September 2021</li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Wakefield</li>
                        </ul>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <div class="opportunity-item">
                        <h4 class="govuk-heading-s"> <a href="/find-a-course/course-details?courseid=50b8382c-09d6-401c-bb64-7dd493edf715&amp;r=5a548a9a-edc2-4afc-a4b6-ac31984c6f3f">Diploma in Youth Work Practice (QCF)</a> </h4>
                        <ul class="govuk-list">
                          <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> NORTH OXFORDSHIRE ACADEMY</li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Start date:</span> 01 September 2021</li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Banbury</li>
                        </ul>
                      </div>
                    </div>
                    <div class="govuk-grid-column-full govuk-body dfc-code-jp-TrainingCoursesText"> <a href="/find-a-course/search">Find courses near you</a> </div>
                  </div>
                  <div>
                    <h3 class="govuk-heading-m" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="33622" data-gtm-vis-first-on-screen-8675592_194="33622" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1"> Jobs <span class="govuk-caption-m">In the United Kingdom</span> </h3>
                    <p>The <a href="https://findajob.dwp.gov.uk">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="MainContent_T41A29498001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
        <aside id="MainContent_T41A29498006_Col00" class="sf_colsIn job-profile-sidebar" data-sf-element="Container" data-placeholder-label="Job Profile Sidebar Container">

          <!--
              <div class="job-profile-related">
                <h2 class="heading-medium">Jobs in this group</h2>
                <p class="govuk-body">See which sectors you'll find this job in, typical levels of qualification held by people in the workforce and if demand for the job is going up.</p>
  				<p class="govuk-body"> <a href="job-group-lmi" class="govuk-link">Explore job prospects for this group</a></p>
              </div>
  -->
          <div>
            <div class="sf-Long-text">
              <h2 class="heading-medium" id="job-profile-search">Not what you're looking for?</h2>
            </div>
          </div>
          <div class="job-profile-search">
            <h3 class="heading-small">Search further careers</h3>
            <form action="career-search" class="js-live-search-form site-search  ui-front" id="job-profile-search-box" method="post">
              <div class="job-profile-search-content">
                <label for="search-main"> Enter a job title</label>
                <div class="search-input-wrapper">
                  <input class="search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                </div>
                <button data-module="govuk-button" class="submit" type="submit" value="Search">Search</button>
              </div>
              <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
              <ul wiid="N81" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
              </ul>
            </form>
          </div>
          <div class="job-profile-related">
            <h3 class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_194="50" data-gtm-vis-first-on-screen-8675592_194="50" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Related careers</h3>
            <ul class="list list-big">
              <li><a href="/job-profiles/local-government-administrative-assistant">Local government administrative assistant</a></li>
              <li><a href="/job-profiles/civil-service-administrative-officer">Civil Service administrative officer</a></li>
              <li><a href="/job-profiles/data-entry-clerk">Data entry clerk</a></li>
              <li><a href="/job-profiles/personal-assistant">Personal assistant</a></li>
              <li><a href="/job-profiles/health-records-clerk">Health records clerk</a></li>
            </ul>
          </div>
        </aside>
        <div>
          <div class="sf-Long-text">
            <h2 class="heading-medium">Skills assessment</h2>
            <p><a href="/sprint43/homepage">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
          </div>
        </div>
        <div>
          <div class="sf-Long-text">
            <h2 class="heading-medium">Get help using this service</h2>
            <p class="font-small" style="margin-bottom:0px;"><span class="bold-small">Call&nbsp;</span>0800 100 900 or <a style="white-space:nowrap;" href="https://nationalcareers.service.gov.uk/webchat/chat/" target="'_blank'">use webchat</a></p>
            <p class="grey font-xsmall">8am to 10pm, 7 days a week<br>
            </p>
            <p>More ways to <a href="/contact-us">contact us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="job-profile-feedback govuk-width-container js-visible">
    <div class="job-profile-feedback-start">
      <p>Is this page useful?</p>
      <a class="yes" href="javascript:;" id="jp-feedback-yes">Yes</a> <a class="no" href="javascript:;" id="jp-feedback-no">No</a> </div>
    <div class="job-profile-feedback-end-yes hidden">
      <p>Thank you for your feedback.</p>
    </div>
    <div class="job-profile-feedback-end-no hidden">
      <p>Thank you for your feedback. <a id="job-profile-feedback-survey" href="https://www.smartsurvey.co.uk/s/ExploreCareersJobProfileFeedback/">Click here</a> if you'd like to let us know how we can improve the service.</p>
    </div>
  </div>
</div>
{% endblock %}
