{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="homepage-top">
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="sprint46/homepage-LMI">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item"> Search results </li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form action="career-search" class="js-live-search-form" id="header-search" method="post">
          <div class="search-header">
            <div class="searchfield">
              <div class="search-input ui-front">
                <h1 class="search-title"> Search results for <span class="visuallyhidden">Youth worker</span> </h1>
                <label class="visuallyhidden" for="search-main">Search </label>
                <input placeholder="Enter a job title" class="search-input js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="Youth worker" autocomplete="off">
                <ul wiid="N15" id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;">
                </ul>
              </div>
              <div class="search-submit">
                <button type="submit" class="button">Search</button>
              </div>
            </div>
            <div class="search-dym"> </div>
            <div> </div>
          </div>
        </form>
        <div id="results">
          <div class="results-block">
            <div class="inner-block">
              <div class="result-count"> 108 results found </div>
              <ol class="results-list">
                <li class="dfc-code-search-resultitem" data-ga-rank="1">
                  <h3><a class="dfc-code-search-jpTitle" href="job-profile-2">Youth worker</a></h3>
                  <p class="result-description dfc-code-search-jpOverview">Youth workers guide and support young people aged 11 to 25. They organise activities to help with personal and social development.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> £23,250 to £37,500 </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/social-care">Social care</a> <a href="/job-categories/teaching-and-education">Teaching and education</a> </p>
                </li>
                <li class="dfc-code-search-resultitem" data-ga-rank="2">
                  <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/youth-offending-team-officer">Youth offending team officer</a></h3>
                  <p class="meta dfc-code-search-jpAltTitle"><span class="sr-hidden">Alternative titles for this job include </span>Youth offending service officer</p>
                  <p class="result-description dfc-code-search-jpOverview">Youth offending team officers work to prevent children and young people under 18 from offending and reoffending.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> £20,000 to £38,000 </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/social-care">Social care</a> </p>
                </li>
                <li class="dfc-code-search-resultitem" data-ga-rank="3">
                  <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/meat-process-worker">Meat process worker</a></h3>
                  <p class="meta dfc-code-search-jpAltTitle"><span class="sr-hidden">Alternative titles for this job include </span>Meat factory worker, abattoir worker, slaughterhouse worker</p>
                  <p class="result-description dfc-code-search-jpOverview">Meat process workers produce meat products for the food manufacturing, catering and food retail industries.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> £13,500 to £21,000 </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/hospitality-and-food">Hospitality and food</a> <a href="/job-categories/manufacturing">Manufacturing</a> </p>
                </li>
                <li class="dfc-code-search-resultitem" data-ga-rank="4">
                  <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/care-worker">Care worker</a></h3>
                  <p class="meta dfc-code-search-jpAltTitle"><span class="sr-hidden">Alternative titles for this job include </span>Care assistant, support worker, nursing home assistant</p>
                  <p class="result-description dfc-code-search-jpOverview">Care workers help vulnerable people to manage their daily activities and to live as independently as possible.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> £12,500 to £25,000 </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/healthcare">Healthcare</a> <a href="/job-categories/home-services">Home services</a> <a href="/job-categories/social-care">Social care</a> </p>
                </li>
                <li class="dfc-code-search-resultitem" data-ga-rank="5">
                  <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/aid-worker">Aid worker</a></h3>
                  <p class="meta dfc-code-search-jpAltTitle"><span class="sr-hidden">Alternative titles for this job include </span>Development worker, humanitarian aid worker, relief worker</p>
                  <p class="result-description dfc-code-search-jpOverview">Aid workers help people in overseas countries affected by man-made and natural disasters like wars, outbreaks of disease and earthquakes.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> £17,000 to £29,000 </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/emergency-and-uniform-services">Emergency and uniform services</a> <a href="/job-categories/social-care">Social care</a> </p>
                </li>
                <li class="dfc-code-search-resultitem" data-ga-rank="6">
                  <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/electricity-generation-worker">Electricity generation worker</a></h3>
                  <p class="meta dfc-code-search-jpAltTitle"><span class="sr-hidden">Alternative titles for this job include </span>Power station worker</p>
                  <p class="result-description dfc-code-search-jpOverview">Electricity generation workers operate and maintain equipment in power stations.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> £18,000 to £35,000 </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/engineering-and-maintenance">Engineering and maintenance</a> </p>
                </li>
                <li class="dfc-code-search-resultitem" data-ga-rank="7">
                  <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/rail-track-maintenance-worker">Rail track maintenance worker</a></h3>
                  <p class="meta dfc-code-search-jpAltTitle"><span class="sr-hidden">Alternative titles for this job include </span>Railway worker</p>
                  <p class="result-description dfc-code-search-jpOverview">Rail track maintenance workers inspect and repair railway tracks, bridges, tunnels and viaducts.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> £18,000 to £34,000 </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/engineering-and-maintenance">Engineering and maintenance</a> <a href="/job-categories/transport">Transport</a> </p>
                </li>
                <li class="dfc-code-search-resultitem" data-ga-rank="8">
                  <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/electricity-distribution-worker">Electricity distribution worker</a></h3>
                  <p class="meta dfc-code-search-jpAltTitle"><span class="sr-hidden">Alternative titles for this job include </span>Transmission worker</p>
                  <p class="result-description dfc-code-search-jpOverview">Electricity distribution workers maintain and repair the power lines that connect homes and businesses to the national grid.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> £16,000 to £35,000 </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/construction-and-trades">Construction and trades</a> <a href="/job-categories/engineering-and-maintenance">Engineering and maintenance</a> </p>
                </li>
                <li class="dfc-code-search-resultitem" data-ga-rank="9">
                  <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/quarry-worker">Quarry worker</a></h3>
                  <p class="meta dfc-code-search-jpAltTitle"><span class="sr-hidden">Alternative titles for this job include </span>Quarry operative, opencast mine worker, opencast miner</p>
                  <p class="result-description dfc-code-search-jpOverview">Quarry workers dig out and process rock, slate, gravel and sand from quarries or mines.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> £16,000 to £25,000 </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/construction-and-trades">Construction and trades</a> <a href="/job-categories/engineering-and-maintenance">Engineering and maintenance</a> <a href="/job-categories/manufacturing">Manufacturing</a> </p>
                </li>
                <li class="dfc-code-search-resultitem" data-ga-rank="10">
                  <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/search-and-rescue-worker">Search and rescue worker</a></h3>
                  <p class="meta dfc-code-search-jpAltTitle"><span class="sr-hidden">Alternative titles for this job include </span>Mountain rescue worker, cave rescue worker</p>
                  <p class="result-description dfc-code-search-jpOverview">Search and rescue workers are volunteers who help lost and injured people to safety from mountains, rivers, caves and coastal areas.</p>
                  <p class="results-salary"> Salary: <span class="dfc-code-search-jpSalary"> Variable </span> </p>
                  <p class="results-categories"> Found in: <a href="/job-categories/emergency-and-uniform-services">Emergency and uniform services</a> </p>
                </li>
              </ol>
              <ul class="previous-next-navigation">
                <li class="dfc-code-search-next next"> <a class="dfc-code-search-nextlink" href="/search-results?searchTerm=Youth+worker&amp;page=2" id="nextBtn"> <span class="pagination-label">Next</span> <span class="visuallyhidden">page</span> <span class="page-numbers">2 of 11</span> </a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} 