{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="homepage-LMI">Home</a> </li>
        <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="careers-advice">Careers advice</a> </li>
        <li class="govuk-breadcrumbs__list-item">The world of work is changing</li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="sfContentBlock sf-Long-text">
          <h1 class="govuk-heading-xl">The world of work is changing</h1>
          <p class="govuk-body">Keep up to date with the changes to make the right career decisions for you.</p>
          <h2 class="govuk-heading-m">The impact of Covid-19 on jobs</h2>
          <p class="govuk-body">Around 8 million people in the UK are now working from home. Businesses in sectors like accommodation, food services and construction have furloughed a large number of their employees. The creative arts, tourism, leisure and non- food retail are all facing challenges. People in all sectors, on the lowest incomes are the most at risk of becoming unemployed. </p>
          <p class="govuk-body">There is a growing demand for people to work in sectors like IT, logistics and food sales. Employers are also looking for workers with good digital skills. The more transferable your skills, the higher your level of education the more likely it is that you will bounce back from any setbacks in the labour market.</p>
          <h3 class="govuk-heading-m">How Covid-19 is affecting recruitment and career development</h3>
          <p class="govuk-body">To get a new job, you’ll need to know more about virtual recruitment methods. This includes things like <a href="https://nationalcareers.service.gov.uk/careers-advice/application-forms" class="govuk-link">online applications</a>, video and telephone interviews. If you're in a job already, you might need to <a href="https://nationalcareers.service.gov.uk/find-a-course" class="govuk-link">learn new skills</a> like remote team leading, or how to work with others online. You may have to get to grips with digital tools like video conferencing or online sales. </p>
          <h3 class="govuk-heading-m">Coping with change</h3>
          <p class="govuk-body">As a <a href="https://nationalcareers.service.gov.uk/careers-advice/career-choices-at-16" class="govuk-link">school leaver at 16</a> or <a href="https://nationalcareers.service.gov.uk/careers-advice/career-choices-at-18" class="govuk-link">young person at 18</a> you may have to rethink your next steps. If you’re an experienced worker you might be <a href="https://nationalcareers.service.gov.uk/careers-advice/advice-for-if-you-lose-your-job" class="govuk-link">facing redundancy</a> or thinking about a career change.</p>
          <p class="govuk-body">Sudden changes can be unsettling. We can help you understand what’s going on in the labour market. This in turn can help you to think about what might lie ahead and plan for your future.</p>
          <h3 class="govuk-heading-m">Helping you to take your next steps</h3>
          <p class="govuk-body">The National Careers Service can support you to put the skills you have to good use. We can also help you gain new skills to begin or get on in your career. With our advice you can make an action plan to guide you through your next steps.</p>
          <p class="govuk-body">Our support is available to you at any age or stage of your career. You can use our online resources or <a href="https://nationalcareers.service.gov.uk/contact-us" class="govuk-link">speak to our advisers</a>.</p>
        </div>
      </div>
    </div>
    <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container">
      <div>
        <div class="app-related-items">
          <div class="gem-c-related-navigation">
            <h2 class="govuk-heading-m"> Related content </h2>
            <ul class="govuk-list">
              <li> <a href="informed-career-decisions" class="govuk-link">Make informed career decisions</a></li>
              <li> <a href="understanding-world-of-work" class="govuk-link">Understand the world of work</a></li>
            </ul>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-6" data-gtm-vis-recent-on-screen-8675592_194="287" data-gtm-vis-first-on-screen-8675592_194="287" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Want to speak to an adviser?</h2>
          <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 </p>
          <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 