{% extends "layout_ncs_sprint47.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Careers advice - job profiles, information and resources | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header>
  <div class="govuk-width-container">
    <div class="breadcrumbs govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/explore-careers">Home: Explore careers</a></li>
        <li class="govuk-breadcrumbs__list-item">Administration </li>
      </ol>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div id="MainContent_T447555DF001_Col00" class="govuk-grid-column-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
      <h1 class="heading-xlarge">Administration</h1>
      <ul class="job-categories_items">
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/accounting-technician">Accounting technician</a></h2>
                <p class="dfc-code-search-jpOverview">Accounting technicians handle day-to-day financial matters in all types of business.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/admin-assistant">Admin assistant</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Office administrator, clerical assistant, administrative assistant</h3>
                <p class="dfc-code-search-jpOverview">Admin assistants give support to offices by organising meetings, typing documents and updating computer records.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/arts-administrator">Arts administrator</a></h2>
                <p class="dfc-code-search-jpOverview">Arts administrators help to organise events and exhibitions, manage staff, and look after buildings like theatres or museums.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/assistant-immigration-officer">Assistant immigration officer</a></h2>
                <p class="dfc-code-search-jpOverview">Assistant immigration officers check that people have the right to visit or stay in the UK.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/auditor">Auditor</a></h2>
                <p class="dfc-code-search-jpOverview">Internal and external auditors check organisations' financial records and procedures to make sure they are accurate and efficient.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/bid-writer">Bid writer</a></h2>
                <p class="dfc-code-search-jpOverview">Bid writers prepare documents used to pitch for contracts to provide services, or to apply for project funding.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/bilingual-secretary">Bilingual secretary</a></h2>
                <p class="dfc-code-search-jpOverview">Bilingual secretaries provide administrative services in English and one or more foreign languages.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/bookkeeper">Bookkeeper</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Accounts clerk</h3>
                <p class="dfc-code-search-jpOverview">Bookkeepers keep financial records up to date and help prepare accounts.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/border-force-officer">Border Force officer</a></h2>
                <p class="dfc-code-search-jpOverview">Border Force officers protect UK border entry points like ports and airports, by enforcing immigration and customs regulations.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/car-rental-agent">Car rental agent</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Car rental assistant, vehicle reservation agent</h3>
                <p class="dfc-code-search-jpOverview">Car rental agents hire out and lease vehicles to businesses and the public.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/charity-fundraiser">Charity fundraiser</a></h2>
                <p class="dfc-code-search-jpOverview">Charity fundraisers organise events and activities to encourage people to donate to causes and organisations.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/civil-service-administrative-officer">Civil Service administrative officer</a></h2>
                <p class="dfc-code-search-jpOverview">Civil Service administrative officers work in government departments, carrying out policies and running services for the public.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/civil-service-executive-officer">Civil Service executive officer</a></h2>
                <p class="dfc-code-search-jpOverview">Civil Service executive officers work in government departments that develop policies and provide services to the public.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/conference-and-exhibition-manager">Conference and exhibition manager</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Conference organiser</h3>
                <p class="dfc-code-search-jpOverview">Conference and exhibition managers plan and run events like trade shows, conferences and exhibitions.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/credit-controller">Credit controller</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Debt collection agent</h3>
                <p class="dfc-code-search-jpOverview">Credit controllers help firms get the money they are owed from businesses and individuals.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/data-entry-clerk">Data entry clerk</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Audio typist, copy typist</h3>
                <p class="dfc-code-search-jpOverview">Data entry clerks type information into databases and systems and create letters, reports and other documents.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/diplomatic-service-officer">Diplomatic Service officer</a></h2>
                <p class="dfc-code-search-jpOverview">Diplomatic Service officers help to promote and protect British interests, businesses and citizens overseas.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/estates-officer">Estates officer</a></h2>
                <p class="dfc-code-search-jpOverview">Estates officers are responsible for the management and upkeep of land and property belonging to local councils and public bodies.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/european-union-official">European Union official</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">EU official</h3>
                <p class="dfc-code-search-jpOverview">European Union (EU) officials work for institutions like the European Commission or the European Parliament.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/farm-secretary">Farm secretary</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Agricultural business administrator, rural business administrator</h3>
                <p class="dfc-code-search-jpOverview">Farm secretaries are responsible for the day-to-day running of the business side of farms.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/finance-officer">Finance officer</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Financial officer, finance clerk, treasurer</h3>
                <p class="dfc-code-search-jpOverview">Finance officers help to manage the finances of an organisation by keeping track of its income and controlling its spending.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/financial-services-customer-adviser">Financial services customer adviser</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Sales adviser, contact centre agent</h3>
                <p class="dfc-code-search-jpOverview">Financial services customer advisers work in contact centres for banks, insurance, investment and credit companies.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/gp-practice-manager">GP practice manager</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">GP surgery manager, general practitioner practice manager</h3>
                <p class="dfc-code-search-jpOverview">GP practice managers run the business side of doctors' surgeries and health centres.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/health-and-safety-adviser">Health and safety adviser</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Health and safety officer</h3>
                <p class="dfc-code-search-jpOverview">Health and safety advisers work to reduce accidents, injury and health problems in the workplace.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/health-records-clerk">Health records clerk</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Medical records clerk</h3>
                <p class="dfc-code-search-jpOverview">Health records clerks keep people's medical records up to date.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/health-service-manager">Health service manager</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Hospital manager, NHS hospital manager</h3>
                <p class="dfc-code-search-jpOverview">Health service managers run local healthcare services like hospitals, GP practices and community health services.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/hotel-receptionist">Hotel receptionist</a></h2>
                <p class="dfc-code-search-jpOverview">Hotel receptionists make guests feel welcome, manage new room bookings and reservations, and deal with requests from guests.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/human-resources-assistant">Human resources assistant</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">HR assistant, personnel assistant</h3>
                <p class="dfc-code-search-jpOverview">Human resources (HR) assistants provide admin support to the HR team in a company or organisation.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/human-resources-manager">Human resources manager</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">HR manager, personnel manager, HR director</h3>
                <p class="dfc-code-search-jpOverview">Human resources (HR) managers develop, deliver and manage HR policies and plans.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/human-resources-officer">Human resources officer</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Personnel officer, HR officer</h3>
                <p class="dfc-code-search-jpOverview">Human resources (HR) officers hire employees and help develop their careers, and look after employee relations, benefits and welfare.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/immigration-officer">Immigration officer</a></h2>
                <p class="dfc-code-search-jpOverview">Immigration officers make decisions on whether people have the right to visit or stay in the UK.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/import-export-clerk">Import-export clerk</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Shipping agent, freight forwarder, import-export agent</h3>
                <p class="dfc-code-search-jpOverview">Import-export clerks ship goods to and from the UK by road, rail, air and sea.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/insurance-broker">Insurance broker</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Insurance agent</h3>
                <p class="dfc-code-search-jpOverview">Insurance brokers use their knowledge of the insurance market to help find the right cover, at the best price, for their customers.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/insurance-technician">Insurance technician</a></h2>
                <p class="dfc-code-search-jpOverview">Insurance technicians give administrative support in all types of insurance work.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/interpreter">Interpreter</a></h2>
                <p class="dfc-code-search-jpOverview">Interpreters convert the spoken word from one language into another, either face-to-face or remotely.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/local-government-administrative-assistant">Local government administrative assistant</a></h2>
                <p class="dfc-code-search-jpOverview">Local government administrative assistants provide clerical support in council departments and give information to the public.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/local-government-officer">Local government officer</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Best value officer, external funding officer, policy officer, democratic services officer</h3>
                <p class="dfc-code-search-jpOverview">Local government officers put council policies into practice and deliver local services.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/local-government-revenues-officer">Local government revenues officer</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Benefits officer</h3>
                <p class="dfc-code-search-jpOverview">Revenues and benefits officers work for local councils and deal with housing benefits, rents, council tax and business rates.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/mp">MP</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Member of Parliament, elected representative, constituency representative, politician</h3>
                <p class="dfc-code-search-jpOverview">MPs represent people's concerns and interests in the House of Commons.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/medical-secretary">Medical secretary</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Medical personal assistant</h3>
                <p class="dfc-code-search-jpOverview">Medical secretaries provide office support in hospitals, GP surgeries, private clinics and universities.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/office-manager">Office manager</a></h2>
                <p class="dfc-code-search-jpOverview">Office managers oversee the day-to-day running of an office or department.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/payroll-administrator">Payroll administrator</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Payroll clerk</h3>
                <p class="dfc-code-search-jpOverview">Payroll administrators make sure employees get paid the right amount on the right date.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/personal-assistant">Personal assistant</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">PA, executive secretary, executive assistant</h3>
                <p class="dfc-code-search-jpOverview">Personal assistants carry out support tasks for individuals and managers including administration, diary management and event planning.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/post-office-customer-service-assistant">Post Office customer service assistant</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Post Office counter clerk</h3>
                <p class="dfc-code-search-jpOverview">Post Office customer service assistants help customers in post offices and at counters in shops.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/proofreader">Proofreader</a></h2>
                <p class="dfc-code-search-jpOverview">Proofreaders check text before it's printed or published to make sure it's correct and complete.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/purchasing-manager">Purchasing manager</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Procurement manager</h3>
                <p class="dfc-code-search-jpOverview">Purchasing managers buy equipment, goods and services for their company.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/quality-control-assistant">Quality control assistant</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Quality control technician, quality assurance inspector</h3>
                <p class="dfc-code-search-jpOverview">Quality control assistants check that control systems and products meet recognised standards.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/receptionist">Receptionist</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Medical receptionist, front of house, doctor's receptionist</h3>
                <p class="dfc-code-search-jpOverview">Receptionists are the first point of contact for visitors to organisations.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/recruitment-consultant">Recruitment consultant</a></h2>
                <p class="dfc-code-search-jpOverview">Recruitment consultants help employers find suitable staff, and match people to permanent and temporary jobs.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/registrar-of-births-deaths-marriages-and-civil-partnerships">Registrar of births, deaths, marriages and civil partnerships</a></h2>
                <p class="dfc-code-search-jpOverview">Registrars collect and record details of all births, deaths, marriages and civil partnerships.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/reprographic-assistant">Reprographic assistant</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Print room operator</h3>
                <p class="dfc-code-search-jpOverview">Reprographic assistants use photocopiers and printers to make documents, brochures, leaflets and pictures.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/sales-administrator">Sales administrator</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Sales administration assistant, sales office clerk</h3>
                <p class="dfc-code-search-jpOverview">Sales administrators process sales orders and payments, arrange deliveries and offer after-sales support.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/school-business-manager">School business manager</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">School business professional</h3>
                <p class="dfc-code-search-jpOverview">School business managers are responsible for both the day-to-day and strategic running of a school.  </p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/school-secretary">School secretary</a></h2>
                <p class="dfc-code-search-jpOverview">School secretaries provide administrative support in schools.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/secretary">Secretary</a></h2>
                <p class="dfc-code-search-jpOverview">Secretaries provide administrative support for all types of organisations.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/security-service-personnel">Security Service personnel</a></h2>
                <p class="dfc-code-search-jpOverview">Security Service personnel protect the UK against threats to national security.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/sports-development-officer">Sports development officer</a></h2>
                <p class="dfc-code-search-jpOverview">Sports development officers organise projects and training to encourage people to take part in sport and have a healthier lifestyle.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/supervisor">Supervisor</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Team leader, first line manager</h3>
                <p class="dfc-code-search-jpOverview">Supervisors manage teams of staff and organise their workload.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/telephonist">Telephonist</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Switchboard operator</h3>
                <p class="dfc-code-search-jpOverview">Telephonists, or switchboard operators, answer and connect calls and take messages.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/town-planning-assistant">Town planning assistant</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Town planning technician</h3>
                <p class="dfc-code-search-jpOverview">Town planning assistants process applications, give advice about regulations and carry out design work and office administration.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/trade-union-official">Trade union official</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">Trade union officer</h3>
                <p class="dfc-code-search-jpOverview">Trade union officials represent, train and advise union members, carry out research and develop policy.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/trading-standards-officer">Trading standards officer</a></h2>
                <h3 class="text-secondary font-xsmall meta dfc-code-search-jpAltTitle">TSO</h3>
                <p class="dfc-code-search-jpOverview">Trading standards officers (TSOs) protect consumers and businesses by promoting a safe and fair trading environment.</p>
            </li>
            <li class="job-categories_item">
                <h2 class="heading-medium"><a class="dfc-code-search-jpTitle" href="jp/typist">Typist</a></h2>
                <p class="dfc-code-search-jpOverview">Typists use a computer to produce letters, reports and other documents.</p>
            </li>
    </ul>
    </div>
    <div id="MainContent_T447555DF001_Col01" class="govuk-grid-column-one-third" data-sf-element="Column 2" data-placeholder-label="Right One Third Column">
      <aside class="govuk-related-items job-categories_list">
        <h2 class="heading-medium">Other job categories</h2>
        <ul class="font-xsmall">
          <li><a href="/job-categories/administration">Administration</a></li>
          <li><a href="/job-categories/animal-care">Animal care</a></li>
          <li><a href="/job-categories/beauty-and-wellbeing">Beauty and wellbeing</a></li>
          <li><a href="/job-categories/business-and-finance">Business and finance</a></li>
          <li><a href="/job-categories/computing-technology-and-digital">Computing, technology and digital</a></li>
          <li><a href="/job-categories/construction-and-trades">Construction and trades</a></li>
          <li><a href="/job-categories/creative-and-media">Creative and media</a></li>
          <li><a href="/job-categories/delivery-and-storage">Delivery and storage</a></li>
          <li><a href="/job-categories/emergency-and-uniform-services">Emergency and uniform services</a></li>
          <li><a href="/job-categories/engineering-and-maintenance">Engineering and maintenance</a></li>
          <li><a href="/job-categories/environment-and-land">Environment and land</a></li>
          <li><a href="/job-categories/government-services">Government services</a></li>
          <li><a href="/job-categories/healthcare">Healthcare</a></li>
          <li><a href="/job-categories/home-services">Home services</a></li>
          <li><a href="/job-categories/hospitality-and-food">Hospitality and food</a></li>
          <li><a href="/job-categories/law-and-legal">Law and legal</a></li>
          <li><a href="/job-categories/managerial">Managerial</a></li>
          <li><a href="/job-categories/manufacturing">Manufacturing</a></li>
          <li><a href="/job-categories/retail-and-sales">Retail and sales</a></li>
          <li><a href="/job-categories/science-and-research">Science and research</a></li>
          <li><a href="/job-categories/sports-and-leisure">Sports and leisure</a></li>
          <li><a href="/job-categories/teaching-and-education">Teaching and education</a></li>
          <li><a href="/job-categories/transport">Transport</a></li>
          <li><a href="/job-categories/travel-and-tourism">Travel and tourism</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
{% endblock %} 