{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Online courses
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="homepage" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active"><a href="landing" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online courses for furlough workers</h1>
        <p class="govuk-body-lead">Explore courses to help you improve your current skills or gain new ones.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header>
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Heading</h2>
      <p class="govuk-body">Eu reprehenderit ullamco eiusmod consequat officia laboris nulla ipsum. Fugiat incididunt aliquip nostrud cupidatat veniam sit exercitation pariatur laborum quis. Mollit eiusmod labore quis culpa ea non dolore. Culpa anim proident tempor minim eu cupidatat minim ipsum sunt. Aliquip ea laborum consequat culpa excepteur ullamco culpa esse do velit.</p>
      <!-- <p class="govuk-body">The Education and Skills Funding Agency (ESFA) are offering free online learning courses with their providers to give furlough workers in England the opportunity to improve existing skills or explore new ones.</p>
      <p class="govuk-body">Whether you are looking to progress your career or looking for a good use of your time during furlough, there are many benefits to learning online. An online course can help you develop a skill or interest you have. </p>
      <p class="govuk-body">The online courses range in topic and from <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link">levels 1 to 5 qualifications</a>, see our qualification
        guidance if you’re unsure what course is best suited to you.</p> -->
        <p class="govuk-body"><a class="govuk-link govuk-button govuk-!-margin-bottom-0" href="courses">Explore online courses</a></p>

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
      <h2 class="govuk-heading-l">Heading</h2>
      <p class="govuk-body">Eu reprehenderit ullamco eiusmod consequat officia laboris nulla ipsum. Fugiat incididunt aliquip nostrud cupidatat veniam sit exercitation pariatur laborum quis. Mollit eiusmod labore quis culpa ea non dolore. Culpa anim proident tempor minim eu cupidatat minim ipsum sunt. Aliquip ea laborum consequat culpa excepteur ullamco culpa esse do velit.</p>
      <h3 class="govuk-heading-m">Sub heading</h3>
      <p class="govuk-body">Example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>list item 1</li>
          <li>list item 2</li>
          <li>list item 3</li>
        </ul>

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
      <h2 class="govuk-heading-l">Heading</h2>
      <p class="govuk-body">Eu reprehenderit ullamco eiusmod consequat officia laboris nulla ipsum. Fugiat incididunt aliquip nostrud cupidatat veniam sit exercitation pariatur laborum quis. Mollit eiusmod labore quis culpa ea non dolore. Culpa anim proident tempor minim eu cupidatat minim ipsum sunt. Aliquip ea laborum consequat culpa excepteur ullamco culpa esse do velit.</p>

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
      <h2 class="govuk-heading-l">Heading</h2>
      <p class="govuk-body">Eu reprehenderit ullamco eiusmod consequat officia laboris nulla ipsum. Fugiat incididunt aliquip nostrud cupidatat veniam sit exercitation pariatur laborum quis. Mollit eiusmod labore quis culpa ea non dolore. Culpa anim proident tempor minim eu cupidatat minim ipsum sunt. Aliquip ea laborum consequat culpa excepteur ullamco culpa esse do velit.</p>


      <h2 class="govuk-heading-l">Not in England header</h2>
      <p class="govuk-body">The National Careers Service offers advice about careers and skills in England.</p>

      <p class="govuk-body">For careers advice in other parts of the UK visit:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - My World of Work</a></li>
        <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li>
        <li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
      </ul>



    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items">
        <div class="">
          <h2 class="govuk-heading-m">Advice on online learning</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="#" target="_blank">Choosing an online course</a></li>
            <li><a class="govuk-link" href="#" target="_blank">The benefits to learning online</a></li>
            <li><a class="govuk-link" href="#" target="_blank">Where to find free online learning courses</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank">What qualification levels mean</a></li>
          </ul>
        </div>



        <div class="govuk-!-margin-top-7">
          <h2 class="govuk-heading-m">Skills assessment</h2>
          <p><a href="https://beta.nationalcareers.service.gov.uk/" class="govuk-link" target="_blank">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
        </div>


        <div class="govuk-!-margin-top-7">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="https://nationalcareers.service.gov.uk/webchat/chat/" target="_blank" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
        </div>


        <!-- <div class="govuk-!-margin-top-7">
          <h2 class="govuk-heading-m">Not in England header</h2>
          <p class="govuk-body-m">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - <br>My World of Work</a></li>
            <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li>
            <li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
          </ul>
        </div> -->

      </aside>

    </div>

  </div>
  {% endblock %}
